[2016-01-22 17:55] twiro commented on #2542
That's great @andrewminton ! I'm about to update an older site that makes heavy use of this extension and wasn't sure if that would work. Great to know it does :)

On another note: I recently contacted [Twisted Interactive](https://github.com/TwistedInteractive) regarding maintenance/ownership of one of their long unmaintained extensions ([reflected upload field](https://github.com/TwistedInteract

[2016-01-22 18:17] munki-boy commented on #2542
@twiro Maybe mention Import CSV on Gitter because me and @animaux were just using Remote DS and XML Importer.  I'm a bit behind on my job and didn't get everything working yet but I think the integration branch of XML Importer now does everything Import CSV did.  Maybe Import CSV only needs legacy support? @animaux might confirm better.

[2016-01-22 18:26] nitriques commented on #2542
@cmnstmntmn Some nice people will open source a solution I've worked with them that will solve this.

We just need to release [some new delegates](https://github.com/DeuxHuitHuit/symphony-2/tree/authors-del) and this could only be done for 2.7.x ... stay tune!

@twiro I've ask them too, but never got an answer... But I think it would be better to move them under your name ;)

[2016-01-22 18:30] nitriques commented on #2543
There you go guys :+1:

[2016-01-22 18:30] jonmifsud commented on #2542
hah @nitriques looking forward to see what delegates you're adding I've
added a delegate before for membership management let me know when you add
the PR as I might have something different I'd like to add.

On Fri, 22 Jan 2016 at 19:26 Nicolas Brassard <notifications@github.com>
wrote:

[2016-01-22 18:30] nitriques commented on #2541
@brendo How (or where) would you fix it?

[2016-01-22 18:31] nitriques commented on #2542
@jonmifsud Perfect!

[2016-01-22 18:31] nitriques commented on #2540
That's perfect Micheal, thanks!

[2016-01-22 18:33] nitriques commented on #2499
Great! ready to send a PR ?

[2016-01-22 18:46] michael-e commented on #2540
You're welcome!

[2016-01-22 20:53] cmnstmntmn commented on #2542
just great, great, great!

On Fri, Jan 22, 2016 at 8:31 PM, Nicolas Brassard <notifications@github.com>
wrote:

[2016-01-22 20:58] michael-e commented on #2543
Thanks a lot!

[2016-01-22 21:00] michael-e commented on #2543
BTW, I think that many issues will be closed automatically when PRs are accepted. So is it useful to tag others "Fixed in 2.6.x" and leave them open (like this one)?

[2016-01-22 21:14] nitriques commented on #2543
If the commit contains `fixed #issue` or `closes #issue` yes it does, but only when the commit gets pulled into master (not when the PR is merged)

It makes filtering easier for me, that's all ;)

[2016-01-22 21:15] nitriques commented on #2542
:D It's section based AND entries based (meaning some users only see and subset of all entries)

[2016-01-22 21:22] michael-e commented on #2543
Ah, thanks for explaining!

[2016-01-22 21:23] jonmifsud commented on #2542
same here I had something like that... but interested to see what you came
up with :)

On Fri, 22 Jan 2016 at 22:15 Nicolas Brassard <notifications@github.com>
wrote:

[2016-01-22 21:42] nitriques commented on #2543
My pleasure  :)

[2016-01-23 01:49] brendo commented on #2543
From memory you can't actually create or edit dynamic xml data sources anymore from the UI. That's been that way for a little while I think :)

[2016-01-23 06:37] brendo commented on #2543
Yep, we mention it in the [2.6](http://www.getsymphony.com/download/releases/version/2.6.0/) release notes that it's deprecated, so you could definitely update the copy to reflect that it was deprecated in 2.6

[2016-01-23 16:45] nitriques commented on #2543
Thanks @brendo for this rectification. It's been fixed ;)

[2016-01-23 16:57] michael-e opened #2545 "Add delegate to allow manipulations before checking a field's post data"
Several examples of advanced manipulations of post data and/or field behaviour have been disussed in the past. Right now, I have once again worked on the idea of having "conditionally required" fields (depending on the post data of other fields).

My idea is to use a custom extension (which may contain hardcoded rules for a single website, why not...).

I added a delegate in `class.entry.php`:

[c

[2016-01-23 17:08] nitriques commented on #2545
I like it very much.

I would add the $error variable and the $section variable in there too.

[2016-01-23 17:18] michael-e commented on #2545
Yes, you are right. I will prepare something… the delegate needs a comment as well.

[2016-01-23 18:34] nitriques commented on #2545
Indeed. No stress ;)

[2016-01-23 19:25] nitriques commented on #2536
@tigerboy07 I now receives email sent at  team@getsymphony.com Can you send your report for the action[save] problem please ? Thanks.

[2016-01-23 19:25] #2536 closed

[2016-01-23 21:24] michael-e commented on #2545
What about this?

[code]

BTW, to which branch should I send a PR for this?

[2016-01-23 23:19] michael-e commented on #2545
One thing that came to my mind: Passing the complete errors array by reference makes this rather error-prone. Sort of "We hope you know what you do." We might think about passing only the error of the field in question (which is `$errors[$field->get('id')]` in this context, or simply `$errors[$info['id']]`). But on the other hand, this would make it less flexible.

What do you think?

[2016-01-24 08:41] jonmifsud commented on #2545
Quite frankly I hope anyone playing with delegates and creating extensions
knows what they're doing or at least reads some documentation / how the
stuff works. If it's a question of it not being documented I guess we just
make a small note in the wiki at the very least.

On Sun, 24 Jan 2016 at 00:19 michael-e <notifications@github.com> wrote:

[2016-01-24 16:32] twiro opened #2546 "Publish Filtering: Duplicate help texts for default comparison mode "is""
While working on some tweaks for the publish filtering interface i noticed that all core field types had duplicate help texts for the default comparison mode "is" in the html.

As only one help text (per filtering instance) is visible in the publish filtering interface one doesn't notice this until a field has a custom/different help text ([like number field does](https://github.com/symphonycms/nu

[2016-01-25 06:52] tigerboy07 commented on #2536
Hi nitriques,

Submitted detail on team@getsymphony.com .

Thanks.

[2016-01-25 15:39] nitriques commented on #2536
Thanks. We'll continue the follow up over email (I've replied to you)

[2016-01-25 15:44] nitriques commented on #2546
Do as you wish ;) Thanks!

[2016-01-25 15:45] nitriques commented on #2545
I though about the same thing and concluded the same as @jonmifsud did...

Also, `$errors[$field->get('id')]` might not exists so passing null by reference would crash (?)

[2016-01-25 15:54] michael-e commented on #2545
OK, so shall I send a PR? To which branch?

[2016-01-25 15:55] michael-e commented on #2545
Integration, right?

[2016-01-25 19:33] twiro commented on #2546
Submitted a separate PR as the other filtering stuff might take me a few days more before I can submit something!

And sorry for the first PR against the master branch... still a git(hub)-noob!

[2016-01-26 21:34] nitriques commented on #2545
Could you submit it against the newly 2.7.x branch ? I need to rebase integration and update my php setup in order to do so...

[2016-01-26 21:35] nitriques commented on #2546
No worries. Thanks.

[2016-01-26 21:46] michael-e commented on #2545
Sure, I will submit against 2.7.x.

[2016-01-26 21:47] nitriques commented on #2545
Thanks.

[2016-01-26 22:21] michael-e commented on #2545
[Done](https://github.com/symphonycms/symphony-2/pull/2549)

[2016-01-26 22:51] nitriques commented on #2545
Thanks!

[2016-01-27 04:01] johnpuddephatt opened #2550 "Prepopulation not working for create new link in associations drawer"
In 2.6.5, I have a Select Box field with dynamic values and have "Display associations in entries table" enabled.

Clicking "Create New" in the associations drawer (see screenshot below) doesn't work properly – the relevant field isn't pre-populated. Passing the value (e.g 'Percy') in the query string instead of the id (16 in this case) does work – it seems that the prepopulation of the selectbox

[2016-01-27 15:05] nitriques commented on #2550
Hum thanks @johnpuddephatt I'll look it up ASAP.

[2016-02-02 22:20] michael-e opened #2553 "EntryManager::fetchByPage has no param to set sorting"
Sorting of paginated entries is a "global state" for the EntryManager.

When using `EntryManager::fetchByPage`, it's not possible to define a sorting directly in the function call. The sorting of entries will depend on two protected static variables of the EntryManager, `$_fetchSortField` and `$_fetchSortDirection`.

These variables can be set with public methods, e.g.`EntryManager::setFetchSortin

[2016-02-03 10:15] michael-e opened #2554 "TMP dir logic may pollute Apache's error log"
In **certain virtual host environments** the TMP dir logic in `/symphony/lib/boot/defines.php` may pollute Apache's error log with warnings similar to this:

Warning:  is_writable(): open_basedir restriction in effect. File(/tmp) is not
within the allowed path(s): (/srv/www/htdocs/web1234/example.com/:/srv/www/htdocs/tmp/web1234/:/usr/share/php5/) in
/srv/www/htdocs/web1234/example.com/symphony/li

[2016-02-03 10:18] michael-e commented on #2554
Regarding the branch to send the PR to: Will we have another 2.7.x release? (In this case we might add it there as well.)

[2016-02-03 10:46] michael-e commented on #2554
Sorry for spoiling the version numbers. I fixed them in the posts above.

[2016-02-03 16:30] nitriques commented on #2554
Spoiler alert: Yes. So yes please go ahead.

[2016-02-04 13:57] michael-e commented on #2554
PR sent to the 2.6.x branch. I guess you will rebase 2.7.x when the time comes?

[2016-02-04 15:43] nitriques commented on #2554
Thanks!

Yes!

[2016-02-04 22:10] nitriques commented on #1609
I had this bug in a recent project where we do not use Sym's frontend engine. It's this kind of code that I can't live without .. ;)

[2016-02-04 22:27] michael-e commented on #1609
:-)

[2016-02-05 15:37] nitriques opened #2556 "Create 2.6.6 Release"
- [x] Create a new migration for the new version, eg. 2.6.6 which should implement getVersion and getReleaseNotes methods
- Update the version constant in the project:
- [x] package.json
- [x] composer.json
- [x] ~~.htaccess (minor only)~~
- [x] install/index.php
- [x] ~~install/includes/htaccess.txt (minor only)~~
- [x] ~~LICENCE (minor only)~~
- [x] ~~symphony/assets/js/src/symphony.js (minor on

[2016-02-05 18:18] #2543 closed

[2016-02-05 18:18] #2546 closed

[2016-02-05 18:18] #2554 closed

[2016-02-05 18:29] #2535 closed

[2016-02-05 23:14] nitriques commented on #2516
This is done!

[2016-02-05 23:14] #2516 closed

[2016-02-06 14:07] michael-e opened #2557 "2.6.6: Backend entry filtering is broken"
In Symphony 2.6.6, the filtering of entries in the backend is broken completely.

[This line](https://github.com/symphonycms/symphony-2/commit/eec98f8e06af0e1fc1badf3e67f707c0d38dce98?diff=unified#diff-374faaf17dd66381b4bff10a1d7f0326R13) breaks it. :-(

Why? Using `General::intval` is no good idea, because it will return `-1` for empty values. The backend filtering doesn't set `$_GET['limit']`, s

[2016-02-08 15:56] nitriques commented on #2557
Damn. This fix was there to prevent SQL injection... sorry about that.

`General::intval` is way safer then `intval` tho since it checks for validity. We had problems with `intval` that parses string like '1.1' and '1test' as a valid int (when it's not).

[2016-02-08 16:02] nitriques commented on #2557
@michael-e Could you test 291d1f3 before I release 2.6.7 ?

Thanks. And *sourry* again.

[2016-02-08 16:40] #2556 closed

[2016-02-08 17:55] michael-e commented on #2557
Confirmed that https://github.com/symphonycms/symphony-2/commit/291d1f3cedac74899af8af1bdfbdf8a11815e25c fixes this issue.

[2016-02-08 17:57] michael-e commented on #2557
BTW, when have you posted this? I received your email some minutes ago, but Github states that you posted two hours ago. Do they have an email issue?

[2016-02-08 20:02] nitriques commented on #2557
Maybe! I did posted it this morning. I'll release 2.6.7 shortly. Thanks!

[2016-02-08 21:40] nitriques commented on #2557
Yes they do, I experienced the same thing.

[2016-02-08 21:42] nitriques opened #2559 "Create 2.6.7 Release"
- [x] Create a new migration for the new version, eg. 2.6.7 which should implement getVersion and getReleaseNotes methods
- Update the version constant in the project:
   - [x] package.json
   - [x] composer.json
   - [x] ~~.htaccess (minor only)~~
   - [x] install/index.php
   - [x] ~~install/includes/htaccess.txt (minor only)~~
   - [x] ~~LICENCE (minor only)~~
   - [x] ~~symphony/assets/js/src/

[2016-02-08 21:46] #2557 closed

[2016-02-08 22:23] #2559 closed

[2016-02-08 22:26] nitriques commented on #2557
There you go: https://github.com/symphonycms/symphony-2/releases/tag/2.6.7

[2016-02-08 23:44] michael-e commented on #2557
Big thanks! Will update all the systems out there now.

[2016-02-09 00:12] michael-e commented on #2557
Done. All systems are on Sym 2.6.7! :-))

[2016-02-09 14:50] nitriques commented on #2557
:D

[2016-02-10 17:26] nitriques opened #2560 "DataSource::determineFilterType()'s doc is wrong"
[code]

This is plain wrong, since in the code, it's the opposite (by default, it's OR and + and used for AND)

[2016-02-10 19:08] jean-luc opened #2561 "+ operator doesn't work when filtering tag list field"
When filtering a Tag List field it's not possible retrieve entries where 2 tags are present i.e. tag1 AND tag2

I've tried using `tag1+tag2` and `AND:tag1,tag2`.

I understand from @nitriques that this is a bug.

[2016-02-10 20:56] nitriques opened #2562 "Table prefix replacement also happens on the values"
I do not know how to fix it, but any values containing tbl_something will get transformed....

[2016-02-10 21:00] michael-e commented on #2562
Cool find!

[2016-02-10 21:05] nitriques commented on #2562
Indeed. And that's the 2nd today haha

[2016-02-10 21:06] nitriques commented on #2561
Indeed

[2016-02-13 10:11] brendo commented on #2562
The magic all happens on [this line](https://github.com/symphonycms/symphony-2/blob/cd6ee3adf51881f9e540011d806531121111534b/symphony/lib/toolkit/class.mysql.php#L532), so fixing this may be possible by adjusting the regular expression :)

[2016-02-15 22:54] nitriques commented on #2562
I know... but that's going to be pretty hard !

[2016-02-15 22:58] nitriques opened #2563 "Add a delegate to add custom cells in the datasource index"
As per https://github.com/symphonists/cacheabledatasource/issues/20

[2016-02-16 07:21] jonmifsud commented on #2563
@nitriques are you working on the Cachable Datasource? As I might want to share my current state on that so we don't duplicate efforts.

[2016-02-16 14:29] michael-e commented on #784
This is an old thread, but I also experienced a massive performance issue just because one data source was outputting around 1000 IDs (which were added to the parameter XML node). I hacked a solution, but I would like to share some thoughts on this. Please close this issue again if you feel that I am on the wrong track.

The decision to add parameters to page XML was absolutely right (and we shoul

[2016-02-16 16:23] nitriques commented on #784
I do not think that the setting should be on a site basis, but more on the data source level...

Ever went on that path Micheal ?

[2016-02-16 16:24] nitriques commented on #2563
Not at the moment! Please go ahead! I can review code!

[2016-02-16 16:26] jonmifsud commented on #784
Datasource level seems to make most sense to me. I do have datasources
where I don't need this and others where having it would be nice.

On Tue, 16 Feb 2016 at 17:23 Nicolas Brassard <notifications@github.com>
wrote:

[2016-02-16 16:26] jonmifsud commented on #2563
Ok :) I'll see if I can have a look at the code and issue a PR - Client had
no complaints been running for Months. Using Cachable storing stuff in the
database for now. But have a memcached driver which is waiting for a
Sysadmin go-ahead for months...

On Tue, 16 Feb 2016 at 17:24 Nicolas Brassard <notifications@github.com>
wrote:

[2016-02-16 16:28] nitriques commented on #2563
LOL.

[2016-02-16 16:37] jonmifsud commented on #2563
Yeah basically I don't really manage the servers for this client - if I had
someone available with the basics he would probably take over from the
current freelance sys-admins way too slow to respond to stuff. But I don't
have the time to take certain config responsibilities myself in particular
with the time difference...

On Tue, 16 Feb 2016 at 17:28 Nicolas Brassard <notifications@github.com>
w

[2016-02-16 16:40] nitriques commented on #2563
That's true

[2016-02-16 16:43] michael-e commented on #784
Let's assume that a developer must make a decision for every data source. He asks: "Why should I omit/remove these parameters?" You will answer: "It makes your site faster, and you don't really need those parameters, they are intended for internal use." What would the developer say then? "Why do I have to decide this for every data source then?" or maybe: "Why do I have to decide this at all?" He

[2016-02-16 17:01] nitriques commented on #784
Your arguments are indeed right, but I fear that a single on/off switch might not be flexible enough.

The more I think about it, the more I see to separate concerns: XML output params (which I use quite often) and "filtering values" for chaining and filtering.

But now the question is: how to change this ? Are current output parameters only for filtering (and we add the xml param) or the other wa

[2016-02-16 17:28] michael-e commented on #784
DS params don't provide any additional functionality for XSLT templating. Everything can be done with DS output. So we wouldn't compromise flexibility at all.

Exactly! And that is why we should aim to completely remove the "filtering values" from XML on the long run.

I see output parameters as useful for templating. Think of the "standard" parameters like the sitename, for example. The filtering

[2016-02-16 17:42] nitriques commented on #784
Agreed.

Agreed.

I do not agree. It should be output if the DS wants it so. There should also be a dedicated xml node for them (instead of `ds-` prefix)

[2016-02-16 17:48] michael-e commented on #784
Why? As I said, it can't do anything for templating that can not be done with standard DS output. Or am I missing something?

[2016-02-16 18:54] jonmifsud commented on #784
Hmm can't think of a usecase which uses the ds param in xslt that can't be
done with standard output.
On Tue, 16 Feb 2016 at 18:49 michael-e <notifications@github.com> wrote:

[2016-02-16 19:32] nitriques commented on #784
I was thinking about a list of ids. But yeah, I could create an empty DS returning only entry ids so I guess you are right!

[2016-02-16 20:24] michael-e commented on #784
No, you are indeed right. At the moment Symphony outputs an empty DS node (without entry nodes, which means without IDs) if nothing is seleted for output. If you need entry nodes, you have to select a field, or at least the system:pagination element:

[code]

[2016-02-16 20:25] michael-e commented on #784
(Which is fine for me.)

[2016-02-16 21:19] nitriques commented on #784
Would system:id work ?

[2016-02-16 21:26] michael-e commented on #784
Wait, let me test...

[2016-02-16 21:28] michael-e commented on #784
Oh no, it's not selectable at all in "included elements". There's `system: pagination` and `system: date`…

It feels like something's missing. :-(

[2016-02-16 23:40] brendo commented on #784
I actually have one scenario where I use the `/data/params` information, and I'm not too sure how else I can achieve the same result... maybe someone here will know!

When using the Association Field with multiple options, the author is allowed to drag and drop the entries around to form a sort order. As I don't want to incur the performance overhead of including this data inside the datasource, I

[2016-02-16 23:54] munki-boy commented on #784
@brendo Nils once told me there'd be a lot of overhead if you drill down without using a separate DS but I didn't know why. I switched to entry_relationship_field instead because it doesn't seem to have that problem.

[2016-02-17 00:01] michael-e commented on #784
Hi @brendo, I see your point. It would be great to know how big the performance overhead would be if your data currently outputted as (data source) parameters is also included in the standard XML output. I have no idea. Could you maybe test this?

I do have numbers for my situation: I am talking about my "big system" (you may remember that); in the past months I have tuned it with Zend Opcache and

[2016-02-17 00:21] michael-e commented on #784
I did a short test with my setup. I had to include the entry titles in the output in order to get the entry IDs, and this took an extra 0.20 seconds in my case. (Unfortunately, it is not possible to output the IDs only, see above.)

If we fix this (allow to output `system:id` only in data sources), I would assume that the standard output XML wouldn't take any longer than the DS param XML. So you w

[2016-02-17 00:26] michael-e commented on #784
If somebody can tell my how to hack the section data source to include `system:id` only in the output, I can try and verify my above assumption. It would be interesting, because DS output would be `<entry id="123"/>` instead of `<item>123</item>` — shouldn't the first one take longer (which would prove me wrong)?

[2016-02-17 15:29] nitriques commented on #784
@brendo is right: The sort order is lost. I knew I also had something that would need this kind of behavior.

@michael-e can you try to edit the php file of the DS to set it to system:id ?

[2016-02-17 15:32] nitriques commented on #784
@munki-boy

it has other problems tho ;)

[2016-02-17 16:44] michael-e commented on #784
This gets better every day.

* including 1000 entry IDs in the XML params node takes 150ms (as posted above)
* including 1000 entry IDs (<entry id="123"/>) in standard XML output takes no time. At least not notable.

How can that be?

[2016-02-17 16:56] cylkee commented on #2248
If this is to be continued to be forced on the front-end, please could you open up a setting in preferences to simply disable on the front-end, or ideally the ability to specify X-Frame-Options: ALLOW-FROM values, and/or equivalent CSP mode.  Thank you.

[2016-02-17 17:02] nitriques commented on #2248
@cylkee why not override them in your .htaccess file ?

[2016-02-17 17:03] nitriques commented on #784
Wow I seriously do not know...

[2016-02-17 17:03] michael-e commented on #784
The biggest performance hickup in the params in building handles using:

[code]

[2016-02-17 17:04] nitriques commented on #784
Wow ! I did not knew that creating handles was such long!

[2016-02-17 17:05] michael-e commented on #784
It might be the language stuff?

[2016-02-17 17:05] nitriques commented on #784
Regexp... ?

[2016-02-17 17:05] michael-e commented on #784
That would explain it.

Now I will try and find the remaining 25ms.

[2016-02-17 17:08] cylkee commented on #2248
Thanks for the tip, and I'd like to, but I've tried `Header set ...` without success so I'm inclined to think my host has not installed mod_headers.

[2016-02-17 17:12] nitriques commented on #2248
That's sad. But yeah we should provide sensible defaults with a possibility of overriding them.

[2016-02-17 17:12] nitriques commented on #784
;) Thanks Michael!

[2016-02-17 17:36] michael-e commented on #784
I am already down to <10ms difference. :-)) The remaining difference might be caused by a testing hack. I will be back at the keyboard a bit later (2 hours or so).

[2016-02-17 17:52] cylkee commented on #2248
Thanks.

I've tried on a different host with mod_headers installed.  In .htaccess if I try:

`Header set X-Frame-Options "ALLOW-FROM http://www.example.com"`

The header output is:

`X-Frame-Options: SAMEORIGIN, ALLOW-FROM http://www.example.com`

This causes a conflict for a web browser and it falls back to DENY.  To test further I tried:

`Header unset X-Frame-Options`

But the headers still out

[2016-02-17 18:01] nitriques commented on #784
:+1:

[2016-02-17 18:04] nitriques commented on #2248
You could try to build a custom extension and register to `FrontendPreRenderHeaders` delegate and change the value (see #2480)

[2016-02-17 18:04] nitriques commented on #2248
This should take 30 min to do ;)

[2016-02-17 19:49] munki-boy commented on #784
@nitriques They both have problems, you have to pick the one with the least for the project you're working on :)

[2016-02-17 20:17] nitriques commented on #784
@munki-boy Exactly!

[2016-02-17 20:28] michael-e commented on #784
Still Symphony's speed shouldn't be compromised without need. That's why I make all those tests.

[2016-02-17 20:33] nitriques commented on #784
And I am gracefull you do ;)

[2016-02-17 22:43] michael-e commented on #784
It's hard to test page generation differences below 20ms reliably, but I would say:

* it's fastest to not output anything from a datasource (haha)
* it's no big deal (plus 2ms or so) to output 1000 IDs to standard XML (as `<entry id="123"/>`) — currently Symphony is missing the possibility to output IDs only, so this should definitely be added
* it's a bit slower (around 15ms, I couldn't find out

[2016-02-18 00:45] nitriques commented on #784
Thanks a lot Michael.

[2016-02-18 09:58] cylkee commented on #2248
I could, but I think it would take me more than 30 minutes ;)  Instead, from #2480, I learnt I was missing the `always` in:

`Header always set X-Frame-Options "ALLOW-FROM http://www.example.com"`

[2016-02-18 15:35] nitriques commented on #2248
Maybe ;)

[2016-02-18 16:15] cylkee commented on #2248
Subject to testing, yes, thanks.  My loose understanding is that `X-Frame-Options: ALLOW-FROM` support is patchy, back through the browser versions.  If so, I suppose I can just use `always` in:

`Header always unset X-Frame-Options`

[2016-02-18 20:53] nitriques commented on #2248
If you want yes!

[2016-02-18 21:33] michael-e commented on #784
I was looking for a logical explanation, and I found it.

The difference between adding nodes to standard XML output and adding nodes to the param pool is caused by the way DS caching works. (Of course I used DS caching in my tests to get rid of database performance jitter, I think I mentioned that. It would be very hard or even impossible to benchmark these differences if you rely on thousands of

[2016-02-18 21:44] nitriques commented on #784
I've rebased the branch this morning BTW :) I hope to get it out this summer...

I really do not know why. [Here's a good read](https://medium.com/javascript-scene/software-versions-are-broken-3d2dc0da0783#.f6b6nzo7q)

We should also consider renaming the repo to **symphonycms**

Those are breaking changes, so it would be 4! Breaking.Features.Fixes.

But I would very like to include them in 3.0.0.

[2016-02-18 22:02] michael-e commented on #784
I have never really understood the PDO stuff. Will it mean that upgrading will become more difficult if you use a lot of custom queries in your extensions?

Nice explanation!

Still, may I suggest that the last "feature version" of Symphony 2 should get some sort of long term support (e.g. "Sym 2.7 LTS") for those who don't dare to upgrade?

BTW, stopping at 2.7 would be a nice coincidence, becaus

[2016-02-18 22:23] nitriques commented on #784
I do not think it will. Maybe only a problems with backticks...

I'd like to call it with a cooler name :) Polls are open!

This will depend on the code itself!

[2016-02-18 23:04] nitriques commented on #2541
@brendo Ping mate sorry! I would need your help on how to deal with it...

[2016-02-18 23:17] munki-boy commented on #784
"Symphony Classic"

[2016-02-19 00:43] nitriques commented on #2562
Thinking about this, PDO will resolve the problem since values and queries are separated. Postponing to 3.0.0

[2016-02-19 00:45] nitriques commented on #2499
@twiro Ping! ready to send a PR ?

[2016-02-19 00:48] nitriques commented on #2523
@brendo If you'd like to tackle this problem in the `2.7.x` branch, it would be nice!

[2016-02-19 10:03] michael-e commented on #2472
FYI: I have been using the above table locking in a production system since september without issues. It's not my biggest system, but after all it has more than 100 authors working on 100.000 entries (think of it as some kind of web-based address database).

Now I will apply the patch to my "big system" and report back.

[2016-02-19 10:06] jonmifsud commented on #2472
awesome looking forward to results.

On Fri, 19 Feb 2016 at 11:03 michael-e <notifications@github.com> wrote:

[2016-02-19 10:07] michael-e commented on #2472
Hopefully results will be NULL. :-))

[2016-02-19 12:06] twiro opened #2564 "Datasource & Publish Filtering / Tests and Issues"
While fixing a bug regarding the **between**-filter-mode of **number field** in symphony's publish filtering interface I stumbled upon some other issues and started to do a lot of testing and comparing to assure none of them were caused by my changes to the publish filtering interface.

While figuring out the best way to document my test results I stumbled upon [this page in the wiki](https://gith

[2016-02-19 12:09] twiro commented on #2499
I do think so :)

Took some time because of [intense testing](https://github.com/symphonycms/symphony-2/issues/2564), but my fix seems to work just fine!
Should I Submit a PR against the 2.7-branch?

[2016-02-19 14:40] nitriques commented on #2499
Yes please!

[2016-02-19 15:08] nitriques commented on #2564
Yes, I do think so!

Yes it would if there was a way to run the tests automatically... (I'll be working on that...)

[2016-02-19 15:10] nitriques commented on #2472
Can't wait for the results!

But hopefully we would be able to release the PDO implementation, which has transactions ...

[2016-02-19 15:16] nitriques commented on #784
Hum I am more searching for a set of names. Like famous scientists or astral bodies....

[2016-02-19 15:22] michael-e commented on #2472
Locking tables during delete/insert might be interesting for 2.7, though.

[2016-02-19 15:25] michael-e commented on #784
I think that `Symphony 2.7 LTS` sounds pretty cool.

We might add a nickname, like Debian does it. `Symphony 2.7 LTS "Lulu"`, for example.

:-)

[2016-02-19 15:25] nitriques commented on #2472
That's true.

[2016-02-19 15:27] nitriques commented on #784
That's what I am looking for. But dropping the version in the name. LTS version can get more feature so we can go to 2.8, 2.9...

[2016-02-19 15:33] michael-e commented on #784
Ah, you mean s.th. like `Symphony 2 LTS "Albert Einstein"`! :-)

[2016-02-19 15:34] michael-e commented on #784
But wouldn't it mean less hassle to "feature-freeze" an LTS version?

[2016-02-19 15:39] jonmifsud commented on #784
Hmm might - I think the problem was mainly that up till 2.4 or something
like that each update was breaking. Though I think at some point we need to
start looking at features of 3.0 and start looking for that move.

On Fri, 19 Feb 2016 at 16:34 michael-e <notifications@github.com> wrote:

[2016-02-19 15:43] twiro commented on #784
Symphony LTS "Brendan" sounds quite nice to me ;)

Just a noob-question: Facing the fact that Symphony switched to semantic versioning with 2.5 I would have expected the **last** release of the **2.X-branch** to become the LTS-version - wouldn't it get confusing if features were added to 2.7 (LTS) while other (non-breaking?) changes were only added to 2.8 or 2.9...?

[2016-02-19 15:44] munki-boy commented on #784
I think he said without the version number though? So 2.8... would be sort if internal name.

[2016-02-19 15:46] munki-boy commented on #784
Not "Heisenberg" people think Breaking Bad on TV

[2016-02-19 15:47] michael-e commented on #784
That was my thought as well. No new features anymore. "LTS" meaning "don't be afraid to use this and build cool stuff, we will care for bugs (especially security) for quite a while". (I'd say 3 years or so.)

[2016-02-19 15:48] twiro commented on #784
Ah, so 2.8 and 2.9 would be _"inofficial"_ version numbers for updates to Symphony LTS (which would drop the _"offical"_ version numbers) - that would make sense... am I getting this right?

[2016-02-19 15:48] munki-boy commented on #784
That's what I thought - doesn't make it right :)

[2016-02-19 15:49] michael-e commented on #784
@twiro: In this case what does LTS stand for? "It might as well break, because we are still fiddling with the codebase."???

[2016-02-19 15:50] munki-boy commented on #784
Long Term Support - someone will be around to fix it.

[2016-02-19 16:01] twiro commented on #784
I was just trying to understand/interpret what Nicolas wrote:

I have no idea what LTS usually stands for in software development - does it imply "no more features" or simply "non-breaking changes/features might be added but if something breaks it will be fixed asap!"

[2016-02-19 17:14] nitriques commented on #784
Yeah maybe, but I really want the codename to not refer to a particular version. One could want to port some feature to the LTS version. LTS only means we will fix bugs and continue to release new versions of that particular codebase.

It means that version will be maintain for a "long" period of time. I would like to see something in the 2-3 years mark.

No since it will share the same code name.

[2016-02-19 17:15] nitriques commented on #784
Also, maybe or second LTS version would be 3.2 or even 4.1.

[2016-02-19 17:41] michael-e commented on #784
Would that work? It feels like a workaround, invalidating semantic versioning. @nitriques, maybe I just don't get your idea? I thought:

* Release 2.7 as final Symphony 2 version, with LTS support (fixes only)
* Release 3.0 as fast as possible, with just a handful of breaking changes but high code quality from the start (so people *can* move their projects forward).
    (Personally I'd rather push

[2016-02-19 17:57] munki-boy commented on #784
An LTS version provides a stable option for use in less heavy environments while freeing people to innovate more with the big version. Without forcing everyone to have the fast private server with ability to install the latest PHP/SQL etc.

Doing these things with semantic versioning all in one "family" of Symphony might mean selecting an older version of Symphony due to server/hosting requirement

[2016-02-19 19:04] nitriques commented on #784
Yup totally.

That would be the plan, but I do not want to lock that down. LTS release could go to 2.8 if needed.

Also true! But again, it does not lock anything.

It's not! It's even letting us manage versions without regards on what are considered to be LTS versions (which have codenames).

Exactly. But we still allow people to backport new features in LTS releases.

[2016-02-19 19:44] munki-boy commented on #784
No, it doesn't lock anything.  It's like Symphony Lite but we must not say that for it implies the other to be heavy, which it isn't. :)

[2016-02-20 07:07] brendo commented on #2541
Two possible solutions:

- Patch the date field [about here](https://github.com/symphonycms/symphony-2/commit/28afcf4dc95a93ca55cdf9c8d22f3b6dc0a73c74#diff-b6f08cd640a009880b2c2bd30b224783R360) so it'll handle 'yes' => 'now', 'no' => null, otherwise the value of pre_populate.
- Update the existing migration after the table has changed to change all 'yes' values to 'now', and to null any rows that

[2016-02-21 21:36] nitriques commented on #2541
Ok thanks mate.

[2016-02-21 21:57] nitriques commented on #2541
Well, looking at the current code Brendan mention we are ok. [But this would need a fix](https://github.com/symphonycms/symphony-2/blob/master/symphony/lib/toolkit/fields/field.date.php#L529) and [here](https://github.com/symphonycms/symphony-2/blob/master/symphony/lib/toolkit/fields/field.date.php#L610) and multiple other places.

So let's fix the installer in 2.7.0 and change Brendan's line ;) T

[2016-02-23 03:29] nitriques commented on #2433
Merged as 54a9e7d

[2016-02-23 03:35] nitriques commented on #2433
All merged into integration!

[2016-02-23 18:33] michael-e commented on #2472
No known accidents until now. (I would get a call, that's for sure!)

Still we should let this run in my big system another 2 weeks or so, just to be sure.

[2016-02-23 19:08] nitriques commented on #2472
Perfect!

[2016-02-26 08:37] brendo opened #2566 "Change Datasource Filters to work off Handles rather than IDs"
The Datasource class currently uses a mix of handles and ID's when filtering, sorting, including elements and doing parameters.

For filtering, it might look something like this, where the keys are the Field ID's.

[code]

But for included elements, or output parameters, the keys are actually the field handles:

[code]

I suggest that `dsParamFILTERS` is updated to use handles as well. This would

[2016-02-26 08:44] jonmifsud commented on #2566
+1 certainly agree. Along with Scaffolds this could be a massive
time-saver. Currently scaffolds would only take care of sections; this
would pretty much allow a copy/past of datasources across projects. I don't
have the issue across environments as I usually sync-up with CDI so ID's
tend to match.

On Fri, 26 Feb 2016 at 09:37 Brendan Abbott <notifications@github.com>
wrote:

[2016-02-26 08:44] michael-e commented on #2566
+1

[2016-02-26 09:31] brendo commented on #2223
Do you want me to pick this up again and rebase against `integration`? `integration` has 3.0.0 work right?

Probably worth it's own ticket, but should 3.0 enforce developers to use `composer install`? It means we can remove the `/vendor` directory from the project?

[2016-02-26 12:22] andrewminton commented on #2566
+100 this would be awesome!

[2016-02-26 21:27] nitriques commented on #2223
Yes! I've rebased integration on top of `2.6.7`, a.k.a `master` at the moment.

Yes. I'd like to create 2.7.0 before as a LTS version. And it also means that symphony itself should be installable with composer. And extensions... Or maybe this will constitute version 4.

Spoiler: It will be called Symphony CMS Beethoven Edition :P

[2016-02-26 21:28] nitriques commented on #2566
+1000 as @andrewminton already said +100

[2016-02-26 21:29] nitriques commented on #2566
BTW @brendo I ran into this problem almost every week.

[2016-02-29 18:14] nitriques opened #2567 "XSRF: Problem if the token contains the plus sign (+) char"
If the XSRF token contains the `+` character, the servers interprets it like a whitespace.

We have two solutions:
1. Url encode the xsrf parameter in Symphony.Utilities.getXSRF()
2. Never issue xsrf token with unsafe chars.

I would rather see option 2.

@brendo is there a reason on why we would need a + in the xsrf token ?

[2016-03-01 00:22] michael-e commented on #2567
Great find. Solution #2 sounds reasonable to me.

[2016-03-01 00:56] brendo commented on #2567
I work with Symfony2 a lot these days, and Solution 2 is what they also implement:

https://github.com/symfony/security/blob/master/Csrf/TokenGenerator/UriSafeTokenGenerator.php

[2016-03-01 18:55] nitriques commented on #2567
Sold then. Thanks!

[2016-03-03 01:16] nitriques commented on #2533
This should be fixed with #2552 :)

[2016-03-03 04:09] nitriques commented on #2567
@brendo could you do a quick review of the commit please ? Thanks!

[2016-03-08 19:31] neosatus opened #2569 "getenv() not preferred over $_SERVER due to varying host implementations"
I started setting up Symphony for the first time today on my host, NearlyFreeSpeech. Everything went smoothly until it came time to login to the admin panel. First, no CSS was loading and second, upon logging in, the domain dropped off the url and my url bar only held /admin/login. Mousing over the "retrieve password" link verified that the domain variable was null.

The domain variable is set in

[2016-03-08 19:35] michael-e commented on #2569
Thanks for posting. I think we should seriously consider using the `$_SERVER` superglobal everywhere.

[2016-03-08 19:45] nitriques commented on #2569
I do not want to reopen an old debate, but I disagree. $_SERVER and prone to outside manipulation and not getenv().

That's a bullshit reason IMHO. They clearly do not want you top read ENV params since it may leak some of their infos and tell you to use a value that ANYBODY can change...

Yeah cause they are lazy.

---

That being said, we could provide a way to switch to superglobals, at your ow

[2016-03-08 19:46] nitriques commented on #2569
For future readers, here the complete response from the host

These days, PHP rarely runs inside the web server, it runs in its own dedicated process, so any presence of variables in the environment is a compatibility shim for scripts time-traveling from 1999 that should not be relied upon by current code."
"Of the two easiest (and therefore most common) ways of using PHP, one (Apache+mod_php) sti

[2016-03-08 19:48] nitriques commented on #2569
And it's the same batlle as HTTP_HOST vs. SERVER_NAME: should I trust value X or Y ...

[2016-03-08 20:04] neosatus commented on #2569
Here is the full conversation including my posts, I've also directed the guy from the host to this page so he can join the discussion:

[2016-03-08 20:16] nitriques commented on #2569
Thanks!

[2016-03-08 20:16] jdwx commented on #2569
(Lead developer for PHP at the referenced provider here.)

Thank you for that thoughtful and completely incorrect characterization of our position.  You are of course welcome to review the full environment provided by our system for leaks of our infos:  https://php56.nfshost.com/  (Scroll down to the "Environment" section.)

Passing server variables via the environment was the done thing with CGI

[2016-03-08 20:26] nitriques commented on #2569
Thanks for the answers.

Yeah, not. See [this](https://www.drupal.org/node/2221699) about how one can manipulation $_SERVER

Remote manipulation.

I'd like to see the code for that. I do not mind to be wrong (it's really the opposite). I want something secure and reliable, and from what I've seen, `getenv()` saves problems.

Also, why did you deactivate those shims ? and how ? (I am curious I want

[2016-03-08 20:31] nitriques commented on #2569
And sadly, [all anwsers](http://stackoverflow.com/questions/8798294/getenv-vs-env-in-php) tends to vote for `getenv()` .. I can't find any reason to not use it...

[2016-03-08 20:31] jdwx commented on #2569
Also, for your reference, there should not be a "battle" over the use of HTTP_HOST or SERVER_NAME, as the serve very different purposes.

HTTP_HOST contains the value of the HTTP Host: header provided by the client.  SERVER_NAME contains the (hopefully canonical) name configured by the server.

The former is primarily useful if one site is handling multiple names, to differentiate which one is bei

[2016-03-08 20:38] siimsoni commented on #2569
@nitriques The Stack Overflow question is not really related to this topic. The difference between `getenv()` and `$_SERVER[]` is only that the first reads environment variables, and the latter reads an aggregation of values set by the web server. For HTTP_HOST **both get their values from the same source**.

There are some arguments related to portability of `getenv()`, but it's really an argumen

[2016-03-08 20:39] siimsoni commented on #2569
@nitriques The [issue](https://www.drupal.org/node/2221699) you shared is great though, and it seems the agreed upon solution was to have application white-list any safe servers. Perhaps this could be considered for Symphony CMS as well?

[2016-03-08 20:40] jdwx commented on #2569
You have misunderstood the Drupal bug you reference.  It doesn't have anything to do with the $_SERVER variable, it has to do with the fact that the contents of HTTP_HOST (regardless of how they were obtained) are determined by the (potentially hostile) client.

The problem in that bug was that the input was not properly sanitized, not how the input was obtained.  getenv( "HTTP_HOST" ) would have

[2016-03-08 20:54] jdwx commented on #2569
"I'd like to see the code for that. "

The PHP source is available on github.

Look at: https://github.com/php/php-src/blob/PHP-5.6/sapi/apache2handler/sapi_apache2.c

Lines 252-265 show the implementation of getenv().

Lines 267-287 show how $_SERVER is populated.

Note they are both pulling from ctx->r->subprocess_env, which is apache's per-request internal table for passing server values to a s

[2016-03-08 21:13] nitriques commented on #2569
Wow thanks for all those answers :heart:

Many of us do by running custom php scripts from the command line.

Yeah I should have said: I do know if I had the time to look it up. But hey, thanks!

You are right. But again, this takes time. Thanks for sharing yours ;) I now have multiple *other* questions I need to find answers to haha

There was ;)

Yeah the goal was to avoid this...

@michael-e @b

[2016-03-08 21:19] nitriques commented on #2569
@jdwx  how did you deactivate the getenv call ?

[2016-03-08 21:21] jdavidlists commented on #2569
We didn't, it works fine.  Those variables are just not present in the environment on our system.

[2016-03-08 21:21] neosatus commented on #2569
See https://php56.nfshost.com/ for the phpinfo, same as the one I was using while debugging this issue earlier.

[2016-03-08 21:24] jdwx commented on #2569
We didn't disable it, it works fine (as shown in phpinfo).  But ours uses the real getenv() call.  As shown above, those variables aren't ever really present in the real environment anymore and our SAPI is one of the ones that does not use fakery to pretend they are.

[2016-03-08 21:28] nitriques commented on #2569
I meant why won't it return any value

Oh that's how!

So what would you recommend ? Creating a custom shim to check first $_SERVER and fallback to getenv ?

Also, would happen to a server configured with the S in the variables_order ? getenv (if properly faked) would work ?

And do not get me wrong. I am not in love with getenv. I just remember that is solves bugs and I do not want to deal with t

[2016-03-08 21:40] siimsoni commented on #2569
I stand corrected. :)

There seem to be two essential paths here. Either secure the application with trusted hosts, or don't involve the application and assume what you get from the web server is secure.

[2016-03-08 21:41] michael-e commented on #2569
@nitriques: Let me sleep on it. I'll be back.

[2016-03-08 21:41] jdwx commented on #2569
If you're looking for SERVER_NAME, and it is not found in $_SERVER, that server is probably broken.  (HTTP_HOST depends on the presence of a Host: header from the client, so it could conceivably be missing, though if so that client would not be HTTP compliant and is probably a spambot.)

If you create a $_SERVER-then-getenv() shim, I hope you will put some thought into what valid circumstance you

[2016-03-08 21:44] nitriques commented on #2569
Ok thanks a lot @jdwx this has been a real eye opener. I (too often) want to 'fix' things fast to make the phone stop ringing (even tho I know it's not a good practice).

[2016-03-08 21:48] nitriques commented on #2569
@michael-e Thanks. BTW, the switch from $_SERVER to getenv was made a long time ago, in 2009: https://github.com/symphonycms/symphony-2/commit/7a8cee72cf7bf1a84b7c88c4cba518c75b61705e

[2016-03-08 21:49] jdwx commented on #2569
Believe me, I get that.  Those urges are very common.

It may help to keep in mind that often the primary beneficiaries of those urges are attackers.

Given that $_SERVER is the PHP official place that stuff is meant to be obtained, it seems reasonable to have "working PHP" as a system requirement for your app.  But then, I don't answer your phone.

If you do change to $_SERVER and you start getti

[2016-03-08 21:51] jdwx commented on #2569
Alternatively, if you change it, and someone complains, and you tell them their host is wrong and their host shows up and says you're doing it wrong, just tag me in and I'll beat them up for you. :-)

The source is my ally, and a powerful ally it is.

[2016-03-08 21:52] nitriques commented on #2569
Thanks @jdwx :+1:

[2016-03-08 21:54] neosatus commented on #2569
Thanks for the above and beyond tech support, @jdwx.

[2016-03-08 21:55] nitriques commented on #2569
Even if it's on Windows ? hahaha! The more I think about it, the more it looks like it was an Windows issue...

Indeed. I wish I'd met tech support as good as this. (BTW I've added your company back on the compatible hosts since we will fix the issue)

[2016-03-08 21:58] neosatus commented on #2569
From one of the links you posted earlier, it said one of the main reasons for using setenv was because Windows uses 'Path' instead of 'PATH' and setenv would handle that difference while $_SERVER['PATH'] would cause a miss.

This issue was seen on FreeBSD 10.2, however.

[2016-03-08 21:59] jdwx commented on #2569
Really?  At some point getenv() didn't even work with IIS.  But that may even have been a few years before your 2009 switch.

But I'm pretty sure Windows/IIS uses FastCGI these days, so it should be a non-issue.

[2016-03-08 22:00] jdwx commented on #2569
PATH really is an environment variable and should correctly be pulled with getenv() / $_ENV.

[2016-03-08 22:08] nitriques commented on #2569
Wow :spaghetti:

I'll be then carefull when I grep /getenv(/

[2016-03-08 22:21] jdwx commented on #2569
The list of things you should prefer to get from the environment is pretty short:
- USER
- LOGNAME
- TMPDIR
- SHELL
- HOME
- PATH

In most cases you still shouldn't come across these much.  PHP is typically going to intermediate between you and the environment.  E.g. TMPDIR sounds important but you should probably use tempnam()/ tmpfile().  PATH seems important but most (if not all, I just don't w

[2016-03-08 22:23] nitriques commented on #2569
Heheheh thanks!

[2016-03-09 00:11] brendo commented on #2569
Looks like I'm late to the party, but I don't see any reason to prefer `getenv` over `$_SERVER` for [these four definitions](https://github.com/symphonycms/symphony-2/blob/master/symphony/lib/boot/defines.php#L207-L229).

If you need convincing, Symfony's Http component usually builds constructs a `Request` using the `$_SERVER` variables.

Getting things from the environment is usually more useful

[2016-03-09 10:23] michael-e commented on #2569
I am pretty sure that the switch from `$_SERVER` to `getenv` (@nitriques: thanks for finding this) had good reasons – but that was back in 2009.

So, after reading all of the above once again: We should use the `$_SERVER` superglobal. :+1:

In addition to the discussed `defines.php`, there is [one other ocurrence of `getenv`](https://github.com/symphonycms/symphony-2/blob/master/symphony/lib/toolk

[2016-03-09 10:56] michael-e commented on #2569
@jdwx: Thanks for taking the time for this discussion!

[2016-03-09 15:13] nitriques commented on #2569
That's what I am afraid of... so fall backing makes sense, but in the same time it could open security holes.

And reopen the battle over HTTP_HOST vs. SERVER_NAME :P

[2016-03-09 15:25] michael-e commented on #2569
That would be a shame. Using `HTTP_HOST` makes a Symphony installation work on multiple domains!

I suggest to replace `getenv` with `$_SERVER`, erverywhere in the core, and without any fallback. There is no proof that any modern server might need a fallback.

[2016-03-09 16:41] jdwx commented on #2569
You could certainly create an abstraction, so that the decision of how to retrieve a particular value is made from exactly one place in the code.

[2016-03-10 02:21] nitriques opened #2573 "Delete __actionIndex from authors content page"
It does not have any purpose now since we do not even have a with-selected dropdown anymore on the index page.

https://github.com/symphonycms/symphony-2/blob/2.7.x/symphony/content/content.systemauthors.php#L160-L206

[2016-03-10 04:21] nitriques commented on #2569
Yeah but opens a security hole if the server is misconfigured... Thanks everybody for your input!

[2016-03-10 04:28] nitriques commented on #2336
Closed via d68b132606c3aab638e87dd55cfcc68a62741b5a

[2016-03-10 04:28] #2336 closed

[2016-03-10 15:01] animaux opened #2574 "Index filtering on checkbox in localised installation"
`Symphony CMS 2.6.7`

When I try to filter a section by a `checkbox_field` the filter suggests `Ja` and `Nein` on a german localised installation which yields no results. Changing this to `Yes` or `No` manually works.

[2016-03-12 15:05] SebastianKaminski opened #2575 "[PHP7] Symphony Fatal Error: Uncaught TypeError"
I'm getting error when enable PHP7 mode by adding line `AddType application/x-httpd-php70 php` to .htaccess file. I'm using Symphony from 2.7.x branch.

Please see below:

![ss](https://cloud.githubusercontent.com/assets/7227870/13723658/21f7001e-e86c-11e5-9b8d-5f6d17ee807c.jpg)

[2016-03-14 14:51] nitriques commented on #2574
Nice find!

[2016-03-14 14:52] nitriques commented on #2575
`2.6.7` does not supports PHP7.

Can you try the `2.7.x` branch please ?

[2016-03-14 14:55] animaux commented on #2574
My pleasure :·)

[2016-03-14 19:52] SebastianKaminski commented on #2575
Hi @nitriques , I'm afraid that using 2.7.x branch didn't helped.

[2016-03-14 22:10] brendo commented on #2575
Nah @nitriques, there's still a bit to do to make Symphony happy on PHP 7, check out [the migration guide](https://secure.php.net/manual/en/migration70.incompatible.php).

This one is related to the new `Throwable` interface which errors and exceptions extend.

[2016-03-16 01:54] nitriques commented on #2575
Thanks guys

[2016-03-17 10:52] animaux opened #2576 "Remove selectize.js from core?"
Working on the AI-Selector/Editor I tried to fix a problem which is probably rooted in `selectize.js` rather than the AI-interface extensions:

Apparently the **remove** button is not shown on single selects (e. g. selects with only one selection possible). I always found was that was a problem in the current `association_ui_selector` implementation. You have to use backspace to remove a single en

[2016-03-18 07:29] twiro commented on #2499
Finally... https://github.com/symphonycms/symphony-2/pull/2577

My changes are based on 2.6.4... I tried `git merge upstream/master` before submitting my PR, but  as other changes to `content.publish.php` were made in the meantime that obviously didn't work - and beeing a git noob I didn't want to start fiddling around with branches ;)

Is it ok that way or is there anything that needs to be chang

[2016-03-18 08:34] michael-e commented on #2472
Up to now I haven't experienced any problems with [the above code](https://github.com/symphonycms/symphony-2/issues/2472#issuecomment-143007830) running in my two biggest Symphony installations.

[2016-03-21 08:53] animaux commented on #2576
@nitriques @jonmifsud ok, in order to make selectize.js work for single-select-remove-buttons in the AI selector, I need a hack in one of it’s plugins. Since it really looks like it’s not used anywhere else by symphony anymore – should we remove it from the core then?

[2016-03-22 15:10] nitriques commented on #2576
Yes. Will be done in 3.0.0

[2016-03-22 19:42] nitriques opened #2579 "Data Sources: Select all fields with *"
While this can lead to a performance impact, it would speed up iterative development a lot.

comments ?

[2016-03-22 20:17] jonmifsud commented on #2579
@nitriques not sure I follow, you're saying there would be a * option which would mean select all fields? It makes iterative development much quicker, I guess if there are performance issues we can always go back to set the datasources the way they should be.

[2016-03-23 03:06] nitriques commented on #2579
Yes, yes and yes.

[2016-03-23 09:52] michael-e commented on #2579
I am not sure if I would use such an option. If your templates are difficult, it will be hard to see which fields are used in the end. And this means that it's hard to ever go back to a "reasonable" Data Source, (including only the fields which are needed).

(Probably many people would keep the `*` datasource and complain about Symphony being slow…)

[2016-03-23 12:12] brendo commented on #2579
Not fond of the idea, mainly for the reasons @michael-e said

[2016-03-23 14:24] moretaste commented on #2579
The power of Symphony is that you can strip down the data that is needed through the datasources and in that way performance.

Better for me to see a duplicate datasource option

[2016-03-23 23:59] nitriques commented on #2579
Powerful arguments. Would a hidden option work ? (i.e. it's not in the UI be available to folk you edit their data source by hand)

[2016-03-24 04:31] moretaste commented on #2579
An extra parameter that can be added like the non-editable parameter is best of both worlds for the 'power'-user

[2016-03-24 15:24] nitriques commented on #2579
:+1:

As for

This should be easy to do as an extension ;)

[2016-03-28 09:01] Manaus opened #2580 "404 on Mysql regular expression link"
In the Datasources page, clicking on the link in the "Find values that match the given [MySQL regular expressions](http://dev.mysql.com/doc/refman/5.7/en/Regexp.html)" the page returns an old Mysql reference page which has been removed I suppose.

Hth

[2016-03-30 08:45] jonmifsud opened #2581 "Publish Filtering `+` and Date Filtering"
As you're well aware the Publish Filtering setup; was in concept devised to mimic the same filtering which we have available on the frontend. This seems to work just fine except for this 1 use case which I found:

I'm trying to use the Date Filtering whereby I'm looking to get all entries published on a particular date; When a single date is available and you're using the `datetime` field it doesn

[2016-03-31 00:31] nitriques commented on #2581
Well, the code that does the same thing as the line you mention [is this one](https://github.com/symphonycms/symphony-2/blob/master/symphony/lib/toolkit/class.datasource.php#L219) which is in fact different.

But, the thing I would look into would be the fact that the + character is converted to space, since we pass the value in the query string (my test yeilds `?filter[date]=today%20to%20today%20

[2016-03-31 03:41] jonmifsud commented on #2581
@nitriques you're right I've encoded the `+` for testing myself; I was confused regarding the latter that even when encoding the `+` it does not seem to work.

I did manage to get to the line you mention, which is the `determine filter type` however the split seems to happen only on the publish filtering. Maybe it should instead be moved on a per-field level, or maybe it already is? I guess each f

[2016-03-31 08:30] jonmifsud commented on #2581
@nitriques actually if I remove the space and do `+1 day` the filter works. Was doing some testing after looking at the regex properly. However the issue you mentioned to encode `+` to `%2B` still exists, so not going to close this ticket just yet.

[2016-04-07 02:43] orbitroom opened #2583 "Password Hashing"
Im having to integrate a application that is written in python with one that uses symphony 2 and need to know how symphony2 hashes its passwords?

[2016-04-07 06:43] #2583 closed

[2016-04-12 00:04] nitriques commented on #2583
It's pbkdf2 https://github.com/symphonycms/symphony-2/blob/master/symphony/lib/toolkit/cryptography/class.pbkdf2.php

[2016-04-12 01:07] nitriques commented on #2580
Thanks!

[2016-04-12 01:08] nitriques commented on #2581
Ok great! At least we have a "fix" !?!

[2016-04-12 01:10] nitriques commented on #2472
That's great news. Wanna prepare a PR (or is there one already I can't seem to find ?)

[2016-04-12 01:12] nitriques commented on #2499
I'll be able to squash this into a commit so nothing needs to be done on your part. Thanks!

[2016-04-12 07:20] twiro commented on #2499
Perfect - thank you Nicolas!

[2016-04-12 11:55] michael-e commented on #2472
I can send a PR if you like!

[2016-04-15 00:56] nitriques commented on #2472
Yes please! Thanks again!

[2016-04-15 14:15] nitriques opened #2584 "Consider replacing PBKDF2 with password_hash"
Looks like the future of password hashes in php. You do not even have to generate the salt your self.

http://php.net/manual/en/function.password-hash.php

[2016-04-23 06:14] purplechap opened #2587 "Installation error - 1193: Unknown system variable 'storage_engine'"
I am running the Symphony install and receive the error below.

Here is my configuration.
Ubuntu 16.04
Apache 2.4.18
PHP 7.0.4-7
MySQL 5.7.11
Symphony 2.6.7 installed from GitHub

[code]

After some digging around it appears that storage_engine was deprecated in MySQL 5.7.5 [storage_engine](http://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html#sysvar_storage_engine)

If this version

[2016-04-23 15:19] nitriques commented on #2587
PHP7 is not working at the moment. Can you please try with [this tree](https://github.com/symphonycms/symphony-2/tree/0abd8401fd7469d60dc1c1e626622db3118a3ce4) ?

[2016-04-24 10:05] brendo commented on #2587
While PHP 7 support needs to be ironed out (and we can expect a lot more of these reports with Ubuntu 16's release), the fix for MySQL 5.7 has been committed to the 2.7.x branch in [this commit](https://github.com/symphonycms/symphony-2/commit/9363d504eea87579f9825fd42694887b781a1795)

[2016-04-29 20:23] michael-e commented on #2454
Given the nature of the proposed fix (re-reading the above discussion I name it a "maybe breaking bugfix") I suggest to include it in Symphony 2.7.

I can send a PR if desired.

[2016-04-30 18:57] nitriques commented on #2454
Yes please! I presume you've been running it for some time now ?

[2016-04-30 19:05] michael-e commented on #2454
Yep, sure. It's one of the hacks I always add (i.e. rebase) on top of the current Symphony version.

[2016-05-03 16:04] nitriques opened #2591 "Proposition: remove the domain name from the workspace param"
This has been bugging me since a long time. The protocol + domain name part of the parameter should not be there. Any objection ? It should not break anything...

[2016-05-03 16:14] munki-boy commented on #2591
But won't that just leave "workspace"?

[2016-05-03 16:45] michael-e commented on #2591
I hate the `$workspace` parameter. As it is currently, is completely superfluous. You can do anything with the `$root` parameter. I never use `$workspace`.

Keeping the parameter and removing protocol and domain is no good idea, simply because the value will always be `workspace`. The workspace is not configurable, but hardcoded throughout the system. Search Symphony for the word "workspace", and

[2016-05-04 15:32] moretaste commented on #2591
I use $workspace a lot in templates. A configurable option like the admin-path sounds as best of two worlds. But as @michael-e said declaring a variable with $root/workspace or whatever will do the trick also.

Waist of time to spend a lot of attention to this or make it configurable for those who likes to have fancy names for it. Workspace sounds for me good.

[2016-05-04 18:07] munki-boy commented on #2591
I've used it a lot in image templates for no good reason other than I saw it in a template when I was learning. Perhaps make a note for people to grep it out of their templates if they upgrade Sym or my pics for example wouldn't load.

No hassle to find&replace though.

[2016-05-04 23:02] nitriques commented on #2591
I agree with you @michael-e. Let's make it configurable then.

[2016-05-04 23:08] michael-e commented on #2591
Cool.

[2016-05-04 23:12] nitriques commented on #2591
But then again

This is not true if I install symphony in a sub directory. I need /directory/workspace . This is why it's still needed even if not configurable.

That's why I want to go from 'proto://domain.tld/workspace' to '/workspace'

[2016-05-05 00:04] nitriques commented on #2591
We could at least start by with creating a constant named `WORKSPACE_URL` ? and then make it configurable ?

[2016-05-05 00:18] munki-boy commented on #2591
Yep :)

[2016-05-05 12:22] michael-e commented on #2591
No, it is not needed. If you install in a sub directory, you will have something like this in your `<params>`:

[code]

So again, the workspace parameter is superfluous as long as the name of the workspace folder is `workspace`. The value of the workspace parameter can always be written like this:

[code]

I don't see why this would help. All I see is more confusion with the params.

Please think

[2016-05-09 17:43] jensscherbl commented on #2584
I found [this][1] to be a pretty good resource regarding security in PHP. The article and project sums everything up pretty well, but the entire blog is really useful.

[1]: https://paragonie.com/blog/2016/05/keyggdrasil-continuum-cryptography-powering-cms-airship

[2016-05-12 17:36] nitriques opened #2592 "Association Drawer: problem when parent_section_field_id is null"
If you ever get a null in that column in the DB, the drawer will crash since the field manager will return an array of all fields.

[This is the line in question](https://github.com/symphonycms/symphony-2/blob/master/symphony/content/content.publish.php#L1586)

Possible solutions:
1. is_object
2. !is_array
3. if (empty($as['parent_section_field_id'])) { continue; }
4. yours ?

[2016-05-17 19:45] animaux opened #2593 "Date Field: possibility to be empty"
~~I’m often in the position of having a section with an optional `date_field`. It would be easy to trigger something in the front-end by checking whether a date is empty. However, if the value is left empty on entry saving it is filled with the current date, no matter if »select current date« is set or not. This way I need to have an extra-checkbox to achieve that.~~

~~So the essence of my gist:

[2016-05-17 19:47] #2593 closed

[2016-05-19 02:26] nitriques commented on #2584
Thanks Jens!

[2016-05-19 02:33] nitriques commented on #2584
Are you usign this CMS @jensscherbl ? (and yes the whole post is nice)

[2016-05-19 02:43] nitriques commented on #2591
Well said.

current-path does.
And it's a problem, not something I'd like to keep. It's a best practice to use urls that starts with /.

We also have `root` and `root-dir`

I would then propose.

1. Make the workspace folder location configurable
2. Add `workspace-dir` ?

[2016-05-19 09:14] michael-e commented on #2591
You are right, and we have `parent-path` as well starting with a slash.

`root-dir`? Never seen this (Sym 2.6.7)! Is this in 2.7, maybe?

I agree with your proposal, but I am not sure about the naming. We have `parent-path` and `current-path`, so shouldn't we call it `workspace-path`?

Additionally, I suggest to deprecate the `workspace` parameter.

[2016-05-19 11:30] jensscherbl commented on #2584
No, didn't even really look into it, the UI looks just awful.

Only reading the blog for security best practices.

[2016-05-24 02:46] pixelninja opened #2594 "Invalid default value for 'last_seen'"
New installs fail with MySQL 5.7. It returns a fatal error: `Invalid default value for 'last_seen'`

Log:

`05/24/2016 2:30 am > Notice: MYSQL: Establishing Connection`
`05/24/2016 2:30 am > Notice: MYSQL: Importing Table Schema`
`05/24/2016 2:30 am > Fatal Error: There was an error while trying to import data to the database. MySQL returned: 1067: Invalid default value for 'last_seen'`

Fix was t

[2016-05-24 03:11] brendo commented on #2594
Yep, MySQL 5.7 sets the [default SQL Mode](https://dev.mysql.com/doc/refman/5.7/en/sql-mode.html) to enforce [`NO_ZERO_DATE`](https://dev.mysql.com/doc/refman/5.7/en/sql-mode.html#sqlmode_no_zero_date). This can be changed at runtime, so potentially Symphony could detect the MySQL server version and update the SQL Mode to omit this mode, or we could update date fields to set the default to be epoc

[2016-05-24 15:47] Petertron commented on #2594
A month ago I made a pull request on the 2.7.x branch which changed the default value for "last_seen" to "1000-01-01 00:00:00", the lowest value allowed .

[2016-05-24 19:05] nitriques commented on #2594
Yup @brendo, @Petertron already fixed that  error ;) @brendo Do we have to change something else ? Or just to make sure to never insert `0000-00-00` ?

[2016-05-24 19:06] nitriques commented on #2584
It does. I guess security has a cost ;)

Yeah they sure looks like they know what they are talking about. Thanks again for sharing.

[2016-05-24 19:11] nitriques commented on #2591
Yup you are right it's new! (I've been hacking it since a long time!) https://github.com/symphonycms/symphony-2/commit/b35eba86c4f7f42e63c3a5b2ce54a7039d2bd080

Ok! I would rename root-dir to root-path then ?

Agreed. I do not know if I will be able to deprecated in the docs, but at least, in the code and release notes.

[2016-05-24 19:54] michael-e commented on #2591
Hmmm. We must differentiate between a path (as part of a URL) and a `dir` (which is a part of the *file path* on the server).

The following are paths (or can be seen as paths):

* `parent-path` (e.g. `/articles`)
* `current-path` (e.g. `/articles/archive`)
* `workspace-path` (e.g. `/workspace`, **not depending** on Symphony being installed in a subdirectory!)

Regarding the `root-dir`, I am not s

[2016-05-24 20:05] michael-e commented on #2591
Thinking about the above… is it all true? Does somebody have Symphony installed in a sub-directory and can give some quick pointers about the mentioned paths?

[2016-05-24 20:14] pixelninja commented on #2594
Nice work guys

[2016-05-24 20:15] michael-e commented on #2591
OK, I verified it myself. `parent-path` and `current-path` do not include the sub-directory if Symphony is installed in a subdirectory. These paths start from the Symphony "index", e.g. `http://example-com/test`.

I should make it more clear. Example:

* The server's root can be reached using `http://example.com`.
* Symphony is installed in the sub-directory `lulu`.
* Symphony's index page will ha

[2016-05-24 21:05] munki-boy commented on #2591
@michael-e I think @nitriques thought of this above when I asked

    That's why I want to go from 'proto://domain.tld/workspace' to '/workspace' which should not break anything.

Yep :)

[2016-05-24 21:31] nitriques commented on #2591
Yeah the whole point of the discussion is that Symphony (most of the time) includes protocol (http/https) and domain in the path it gives.

I want the same information as we already have, without any of the protocol and domain part.

I do.

Yes, what you say is right. But how can we achieve this ?

That's why I must have named it that way: paths are for symphony.

For root-dir, it's the directory

[2016-05-24 21:57] michael-e commented on #2591
All right, so we should stick to `root-dir` and call the other ones `-path`, as suggested [in my above post](https://github.com/symphonycms/symphony-2/issues/2591#issuecomment-221383300).

But: It doesn't work properly. With the above example sub-directory, I get:

[code]

Note the double-slash (or however this character is called).

[2016-05-24 22:05] nitriques commented on #2591
Ok I'll fix this ;) Thanks!

[2016-05-31 14:44] DavidOliver opened #2596 "Unable to demote developer"
After having promoted an author to developer, I'm unable to demote it back to author or manager.

There are no error messages shown and the 'Authors' page loads successfully after form submission, but the 'User Type' select menu still shows 'Developer'.

By the way, what is the manager type for?

[2016-05-31 15:01] nitriques commented on #2596
They are essentially authors who can create other authors and change their password.

You cannot demote the primary account (the one created on install), but other one should be demotable... I'll see what can be done. Thanks!

[2016-05-31 15:13] DavidOliver commented on #2596
Ah, thanks. Yes, this was not a primary account but a newly-created one.

[2016-05-31 15:16] nitriques commented on #2596
Ok. For now, you can go into the DB and change the value if it's urgent ;)

[2016-05-31 21:05] nitriques commented on #2596
I can not reproduce the issue at the moment, using the latest 2.7.x branch. What version are you running ?

[2016-05-31 21:47] nitriques commented on #2591
@michael-e The issue with the double / should be resolve.

Also, I've kept the `workspace` parameter, since

1. It's used by some templates
1. Will be useful when it's customisable, which I plan do to.

[2016-05-31 22:14] michael-e commented on #2591
Yes, keeping `workspace` is good, but it should be deprecated for 3.0.

There is a bit of a mess now regarding trailing slashed, see https://github.com/symphonycms/symphony-2/commit/b6d9edbb4900bc6d6621fb5ff2492c26d4321c7d#commitcomment-17687348. In fact we never had trailing slashes in parameters, so I wonder why you start using a trailing slash just for a single parameter.

[2016-06-01 00:26] nitriques commented on #2591
Even if the value's configurable ?

How would you deal with root, i.e. `/`, and `/folder` ? doing a xslt choose for this seems counter intuitive. I've made a lot of efforts in order to try to avoid the extra / at the end and it littered the code with `rtrim`. Both `*-dir` parameters and the `DIRROOT` constant are new to `2.7.0` and they deal with urls. It always seem odd that symphony enforces the

[2016-06-01 00:36] nitriques commented on #2591
BTW, I could live with an empty value for `/` and `folder` when there is a folder. But I would still vote for them to always be there, in order to make sense with the redirect rule.

[2016-06-01 00:42] nitriques opened #2598 "Ensure session id is regenerated after each request"
According to https://www.owasp.org/index.php/PHP_Security_Cheat_Sheet#Session_Fixation it would be necessary.

I know work as already been done on session in `3.0.0`, but it can be done for `2.7.0`

@michael-e Do you see anything that could break with this change ?

[2016-06-01 00:59] nitriques commented on #2523
@brendo Ping? Thanks mate.

[2016-06-01 05:08] brendo commented on #2523
Mmm, gonna leave this alone. It'll no doubt happen as I pull things apart to get a CI build going.

[2016-06-01 08:22] michael-e commented on #2598
I am not sure, would browsers handle the session ID correctly across multiple tabs/windows?

[2016-06-01 09:38] DavidOliver commented on #2596
2.7.6.

Enabled extensions:

Association Field
Association Output
Association UI: Editor
Association UI: Selector
Cross-Site Scripting (XSS) Filter
Debug Devkit
Default Event Values
Documenter
Email Template Manager
Entry URL Field
HTML5 Doctype
Incremental Number Field
Just In Time (JIT) Image Manipulation
Limit Section Entries
Markdown Text Formatter
Members
Order Entries
Page HTTP Caching
Refle

[2016-06-01 09:46] munki-boy commented on #2596
I can't replicate the problem

2.6.7
Cross-Site Scripting (XSS) Filter
Debug Devkit
Export Ensemble
Just In Time (JIT) Image Manipulation
Maintenance Mode
Markdown Text Formatter
Members
Profile Devkit
Select Box Link Field

[2016-06-01 09:49] munki-boy commented on #2596
I can't replicate the problem

2.6.7

Cross-Site Scripting (XSS) Filter
Debug Devkit
Export Ensemble
HTML5 Doctype
Just In Time (JIT) Image Manipulation
Maintenance Mode
Markdown Text Formatter
Profile Devkit
Select Box Link Field
Unique Upload Field

[2016-06-01 13:05] michael-e commented on #2591
I wanted to take another look, but unfortunately I can not login to my test instance anymore...

<img width="889" alt="bildschirmfoto 2016-06-01 um 15 03 24" src="https://cloud.githubusercontent.com/assets/40072/15710366/0a1b3086-280a-11e6-849a-7f95a79b2be8.png">

This is the latest 2.7.x code (with the fixed cookie self url creation).

Any ideas?

[2016-06-01 13:10] brendo commented on #2591
`composer dumpautoload -o`

[2016-06-01 13:16] michael-e commented on #2591
Thanks! :-)

[2016-06-01 13:16] brendo commented on #2591
You're welcome :)

[2016-06-01 13:35] michael-e commented on #2591
@nitriques:

Well, it is potentially superfluous, depending an which other parameters will be changed or added.

Honestly, the whole thing feels bad to me. In its current (2.7.x) state the parameter pool is really inconsistent regarding the naming and trailing slashes alike, and I don't think that we should do it like this in Symphony 2.7. Think of somebody who is new to Symphony — don't you think

[2016-06-01 13:37] michael-e commented on #2591
BTW, the `workspace-dir` has no trailing slash, which is probably a mistake.

[2016-06-01 14:46] nitriques commented on #2596
Thanks guys.

[2016-06-01 16:50] nitriques commented on #2591
Yup! Like I've said, I had like 4 different version of it ;)

Would this fix the issue ?

[2016-06-01 16:52] nitriques commented on #2598
Yes: Cookie jars are shared across tabs since they are domain bounds. I've tested it and it works. But it could break other code that simply reads the cookie instead of using the core code.

[2016-06-01 16:52] nitriques commented on #2523
Great!

[2016-06-01 17:09] michael-e commented on #2598
I wouldn't care too much for hardcoded stuff that doesn't use Symphony's public API. :-)

[2016-06-01 17:11] michael-e commented on #2591
I am afraid that I don't get the idea. Do you mean omitting the trailing slash everywhere, but also omitting the `/` ("root slash")?

[2016-06-01 17:13] nitriques commented on #2591
no I mean never trailing slash ever (which leads to an empty value when install at the root)

[2016-06-01 17:17] nitriques commented on #2598
Perf ;)

[2016-06-01 18:31] michael-e commented on #2591
Hmmmm, nope.

Take -NIX systems, for example. Use the `pwd` command to print the working directory:

* `cd / && pwd` will print `/` (so this is no empty response)
* `cd /var/www/ && pwd` will print `/var/www` (without trailing slash!)

See also <https://en.wikipedia.org/wiki/File_URI_scheme>.

Symphony uses trailing slashes for URLs, but this has been questioned several times and might not last fo

[2016-06-01 18:35] nitriques commented on #2591
Because I do not want protocol and domain names in my urls!

I understand your concerns. The unix way is wrong IMHO: we always have to deal with the edge-case that is / (but normally, nobody write to that path on unix, but we are in a different situation)

3.0.0 will be allowed to break things and we will do. I am just trying to find a backward compatible way of doing it.

So what's option C ?

[2016-06-01 18:35] nitriques commented on #2591
what about `url` instead of `dir` ?

[2016-06-01 19:00] michael-e commented on #2591
No, it's just a path.

You want to have `root` and `workspace` just without the protocol/domain part? So it is **not** the **local path** on the server, but the **URL path** of the root and the workspace?

I'd really like to know why! :-)

[2016-06-01 19:42] michael-e commented on #2591
If my above assumption is correct (meaning that you talk about URL paths, not server filesystem paths) it would surely be best to call these parameters `root-path` and `workspace-path`.

Unfortunately Symphony already has `current-path` and `parent-path` parameters using the NIX style that I described above. So if we use the word "path" for the new parameters as well, any inconsistency in the way

[2016-06-01 19:42] nitriques commented on #2591
1. You can waste as much as 5Kb with complete urls. (I do heavy image websites).
2. We make a difference between / and complete url in javascript to let the user choose between target=_blank or not
3. You can create static export without the need to remove the domain part everytime...

Right now, I am substringing it in xslt, and it seems counter intuitive (and everybody needs formation on that to

[2016-06-01 19:43] nitriques commented on #2591
Yes!

[2016-06-01 19:44] nitriques commented on #2591
That's why I went with `dir` ... Also `path` right now are symphony's path, not the complete, actual url (it's a page-path)

[2016-06-01 19:52] michael-e commented on #2591
Thanks for the rationale behind it!

Well, technically especially the new ones are paths (URL paths). Let me think about it tomorrow again! :-)

[2016-06-01 19:58] nitriques commented on #2591
No worries @michael-e it's always a pleasure to argue with you ;)

[2016-06-02 17:11] nitriques commented on #2591
@michael-e I did some research, and sadly, the part of the url I want is called the `path` as per the spec....

So... Could it be `root-url` + `root-url-path` but `workspace` + `workspace-url-path` ? Or deprecated `workspace` and add `workspace-url` ? Those name will be pretty accurate and self describing

[2016-06-02 17:43] michael-e commented on #2591
Yes, that is the problem: the two new parameters *are* paths, technically. So we should *call them* paths. The implications of this are in my [comment above](https://github.com/symphonycms/symphony-2/issues/2591#issuecomment-223102512), and — after discussing the whole thing with a friend – today I am even more convinced of what I wrote yesterday. Please don't add inconsistency. Think about my pro

[2016-06-02 17:58] nitriques commented on #2591
Yeah that's right.

I'll add the `workspace-path` parameter, but will remove the root-path since it won't solve the problem I am trying to solve, which is to remove parsing it in xslt.

I hate exceptions. '/' is a exception, since it both begins with and ends with '/'.

[2016-06-02 18:25] michael-e commented on #2591
Well, paths are, hmmm, what can I say…? <https://tools.ietf.org/html/rfc3986#section-3.3> At least the say:

So we can re-visit this discussion for Symphony 3! :-))

[2016-06-02 18:30] nitriques commented on #2591
Wow. Both of our suggestions match the spec, that a good start.

At least, we have a valid plan for now ;)

[2016-06-02 18:52] michael-e commented on #2591
A friend of mine says:

Nevertheless I like our valid plan!

[2016-06-02 18:54] nitriques commented on #2591
Hahaha, nice quote ;) And I like to make god laugh ;)

[2016-06-04 18:28] nitriques commented on #2591
@brendo @michael-e Could you review e23f2f2 and please 72801b4 ? Thanks!

[2016-06-04 19:11] michael-e commented on #2591
Nearly everything looks good to me, except one strange thing: Although the `__SYM_COOKIE_PATH__` constant has the correct value (.e.g. `/lulu`, if Symphony is installed in the "lulu" folder), the path of the cookie in the browser will have a trailing slash (`/lulu/`). This is not the case with Symphony 2.6.7.

Has anything else changed regarding Cookies?

Here is the corresponding response header:

[2016-06-04 19:21] nitriques commented on #2591
Good find! I forgot to patch this new function `createCookieSafePath()` accordingly.

Can you test again please ? a58ff6b should address this

[2016-06-04 19:36] nitriques commented on #2567
See also d6118c0ed35497406cf0d24304d5f9a7407bbb55

[2016-06-04 19:48] nitriques commented on #2598
cc @hyp3rlinx

[2016-06-04 20:52] michael-e commented on #2591
Yep, looks good now.

[2016-06-04 20:53] nitriques commented on #2591
Awesome.  Thanks again @michael-e for all of this.

[2016-06-04 21:00] michael-e commented on #2591
I am happy that people like it. I mean: "me breaking things". :-)

[2016-06-06 19:46] nitriques commented on #2499
Merged!

[2016-06-07 11:27] nilshoerrmann opened #2600 "2.7.0 Migration"
Accessing the backend for the first time after upgrading to the current `2.7.0` codebase (`2.7.x` branch) results in the following error, if not logged-in already:

It's not possible to log in. Using the same install with an active session works without throwing an error.

[2016-06-07 11:29] nilshoerrmann commented on #2600
A file of the name `2.7.0.php` does exist in the `migrations` folder.

[2016-06-07 11:36] brendo commented on #2600
Try `composer dumpautoload -o`

[2016-06-07 11:38] nilshoerrmann commented on #2600
Removing that migration file resolves the login problem but something seems to be wrong here.

Some background information:

This is a Symphony install that exists on a remote and a local server. Both installs share the same database. I first accessed the site on the server after upgrading while having an active session – everything is fine there. The error above occured on the local server after

[2016-06-07 11:42] nilshoerrmann commented on #2600
I have to install this to do so, right?
https://getcomposer.org/

[2016-06-07 11:47] nilshoerrmann commented on #2600
That worked.
What does this command do and why was it needed?

[2016-06-07 11:47] #2600 closed

[2016-06-07 14:22] nitriques commented on #2600
Hey Nils, `2.7.0` is not super stable these days. I've fixed this yesterday tho via 581c99c

[2016-06-07 14:28] nilshoerrmann commented on #2600
Thanks for the info, Nicolas. Is there an ETA already?
(By the way, from what I see, it really _is_ quite stable.)

[2016-06-07 14:35] nitriques commented on #2600
No ETA sadly. There's still 15 issues left.

I do not want to rush anything: I'd rather ship when things are really stable (meaning I have a couple in staging working well)

[2016-06-07 14:58] nilshoerrmann commented on #2600
No hurry, for an unreleased version it really works well so far.

[2016-06-07 15:22] nitriques commented on #2600
Awesome. Please report any bugs or incongruities you may find!

[2016-06-07 23:26] brendo commented on #2600
You may notice through the codebase these days there are very few `require` or `include` statements. This is because we are making use of Composer's autoloading capabilities to load classes JIT using [`spl_autoload`](http://php.net/spl_autoload).

`composer dumpautoload -o` will regenerate the autoloading mapping from the codebase so that when a new class is referenced, Composer knows where to fin

[2016-06-08 10:48] DavidOliver commented on #2596
This is now working for me in both a 2.7.x branch install and the 2.6.7 install in which I found it wasn't working. Not sure what happened there.

[2016-06-08 10:48] #2596 closed

[2016-06-10 00:25] nitriques commented on #2596
Please re-open if you encounter it again!

[2016-06-15 14:46] nitriques commented on #2524
Hum I do not think it's duplicate. @cmnstmntmn are you saying that the XSRF token is not generated in the backend (admin) ?

[2016-06-15 15:34] cmnstmntmn commented on #2524
@nitriques nope, on the frontend, only in incognito window, i dont't get any token

<img width="1440" alt="screen shot 2016-06-15 at 18 33 00" src="https://cloud.githubusercontent.com/assets/2312755/16086297/b740fa20-3327-11e6-9942-a5e778594030.png">
<img width="873" alt="screen shot 2016-06-15 at 18 33 21" src="https://cloud.githubusercontent.com/assets/2312755/16086310/c25cc5ce-3327-11e6-9f05-de

[2016-06-15 21:58] nitriques commented on #2524
Hum this is weird. I mean, it's normal that the token may not be there all the time... But should the variable should always be there.

Also, it's better to use the complete xpath query, i.e. `/data/params/node` rather than their variable `$node` counter-parts, since it won't crash the XSLT parser.

I will investigate more.

[2016-06-15 22:07] nitriques commented on #2524
@cmnstmntmn Can you confirm that you can reproduce this ?

1. Open private nav, go to home page. crash
2. Type in the symphony's admin url (`/symphony/`). You see the login page.
3. Type in the home page address: not crash since the session has been started.

@michael-e Since we still support the node to variable translation, I think we should always set it (with an empty value). Yea or Nay ?

[2016-06-16 13:35] cmnstmntmn commented on #2524
@nitriques yes, i confirm that!

it't works after i hit `/symphony` and i return

[2016-06-17 02:40] nitriques commented on #2524
@cmnstmntmn Thanks.

[2016-06-17 17:16] nitriques opened #2603 "Weird alignment on author page"
![image](https://cloud.githubusercontent.com/assets/771169/16158892/a7206272-348d-11e6-90f7-0db07654d614.png)

I think the fields should be properly aligned.

cc @nilshoerrmann

[2016-06-19 06:34] findborg commented on #2587
I am having the same problem

[2016-06-20 07:53] nilshoerrmann commented on #2603
It should look like this:

![bildschirmfoto am 2016-06-20 um 09 53 27](https://cloud.githubusercontent.com/assets/25466/16186800/e0a3a284-36cc-11e6-9315-10a52cd3712d.png)

[2016-06-20 10:24] johnpuddephatt commented on #2603
Adding `display: block` to  `#password legend` should sort this.

![screen shot 2016-06-20 at 11 23 26](https://cloud.githubusercontent.com/assets/8030910/16190896/74454040-36d9-11e6-8711-e049b1fb6633.png)

[2016-06-20 21:21] nitriques commented on #2603
Thanks guys.

[2016-06-20 21:22] nitriques commented on #2587
@findborg even with the `2.7.x` branch ?

[2016-06-21 07:37] DavidOliver commented on #2204
Update on this: after installing from the 2.7.x branch I didn't seem to have this issue this time. I then ran the '2.7.0.beta1' update Symphony was telling me about from the admin area, which reported success, but then instead of the admin page I got 'Request was rejected for having an invalid cross-site request forgery token.'

Re-accessing the page by re-requesting the admin page (not refreshing

[2016-06-21 08:19] findborg commented on #2587
Yes, here is my local setup.
Windows 10 using wamp64
Server: Local Databases (#### via TCP/IP)
Server type: MySQL
Server version: 5.7.9 - MySQL Community Server (GPL)
Protocol version: 10
User: root@localhost
Server charset: UTF-8 Unicode (utf8)
Apache/2.4.17 (Win64) PHP/5.6.16
Database client version: libmysql - mysqlnd 5.0.11-dev - 20120503 - $Id: #### $
PHP extension: mysqli Documentation
PHP v

[2016-06-21 08:24] findborg commented on #2587
Here is the log:
Log Created: 2016-06-21T08:22:25+00:00
============================================
Symphony Log
Opened:  2016-06-21T08:22:25+00:00
Version: 2.6.5
Domain:  localhost/blogger
--------------------------------------------

============================================
INSTALLATION PROCESS STARTED (2016-06-21T08:23:38+00:00)
============================================
06/21/2016 8:23

[2016-06-21 08:27] brendo commented on #2587
@findborg The fix should be this commit, could you apply it and try again? https://github.com/symphonycms/symphony-2/commit/9363d504eea87579f9825fd42694887b781a1795

Based off the log, you are using 2.6.5, not 2.7.x

[2016-06-21 08:28] findborg commented on #2587
Just noticed that myself,  give me a sec ant I will try your link

[2016-06-21 08:33] findborg commented on #2587
Ok now this is the result:

============================================
INSTALLATION PROCESS STARTED (2016-06-21T08:32:23+00:00)
============================================
06/21/2016 8:32 am > Notice: MYSQL: Establishing Connection
06/21/2016 8:32 am > Notice: MYSQL: Importing Table Schema
06/21/2016 8:32 am > Fatal Error: There was an error while trying to import data to the database. MySQL re

[2016-06-21 08:35] brendo commented on #2587
Heh, nice, this is now #2594, and I believe this comment will be useful to you, https://github.com/symphonycms/symphony-2/issues/2594#issuecomment-221155459

[2016-06-21 08:36] findborg commented on #2587
I have gotten this far before,  I can do a manual sql query on the sql file and all the tables are created,  but when I try with the installer it errors out straight off
I will try 2594

[2016-06-21 08:37] brendo commented on #2587
This is the actual commit that fixes it, https://github.com/symphonycms/symphony-2/commit/db403c3d9865d363b79199c5671ac75bf3396d2d

Sorry for the commits, we're working on MySQL 5.7 strict mode support in the 2.7.x branch which is not released yet!

[2016-06-21 08:39] findborg commented on #2587
The floor is yours

[2016-06-22 01:24] nitriques commented on #2603
![screen shot 2016-06-21 at 9 23 55 pm](https://cloud.githubusercontent.com/assets/771169/16251728/8cd31088-37f6-11e6-90a3-c82c41e3472f.png)

[2016-06-22 20:01] nitriques commented on #2587
:+1:

[2016-06-22 20:02] nitriques commented on #2587
Sorry to not have edited the commit message and linked to here :-1:

[2016-06-23 00:53] nitriques commented on #2204
Ok thanks, I'll try to reproduce.

[2016-07-01 06:35] pointybeard opened #2605 "No way to subvert behaviour of GenericExceptionHandler::shutdown"
Once a shutdown method, in this case `GenericExceptionHandler::shutdown` (https://github.com/symphonycms/symphony-2/blob/integration/symphony/lib/core/class.genericexceptionhandler.php#L288), as been set using `register_shutdown_function`, it cannot be removed.

This is problematic as whenever there is a fatal error, this method is called and sometimes Symphony is not being used in the browser (e.

[2016-07-04 14:50] nitriques commented on #2605
@pointybeard I've already started to work on that. See https://github.com/DeuxHuitHuit/symphony-2/tree/errorhandler

The biggest problem is that Symphony treats the uninitialized state wrongly.

[2016-07-05 22:42] pointybeard commented on #2605
Agreed. I think there is 2 problems.

First, as you say, Symphony is not treating the uninitialised state correctly. I see you've made good progress on this.

And secondly, currently the shutdown method being set with `register_shutdown_function` forces HTML output, regardless of context, when there is an `E_ERROR`. This wouldn't be such a problem if there was a way to remove methods added this wa

[2016-07-06 02:14] nitriques commented on #2605
Thanks Alistair!

[2016-07-20 20:50] nitriques opened #2607 "Remove associated count with the section handle only"
Keep only the one with the section handle + field handle.

Same should be done for ds output parameters

[2016-07-20 20:50] nitriques commented on #2607
cc @ChoboHub

[2016-07-20 20:51] nitriques commented on #2607
cc @beaubbe

[2016-07-21 14:33] nitriques commented on #2204
I do not seem to be able to reproduce. I've tested it with PHP 7 and 5.6, and it works..

[2016-07-22 11:30] cmnstmntmn commented on #2204
@nitriques might have something to do with this #2524

[2016-07-22 14:24] nitriques commented on #2204
Ok thanks. Still pretty weird.

[2016-07-27 19:50] nitriques commented on #2575
This should be fixed 6f42cbd76f25c86a78626d2e7dc0354ba2000186 and 28c21343759cc7fcd99511ac96fb3c7374ca6f32

@SebastianKaminski would you mind testing the `2.7.x` branch again ?

[2016-07-29 09:57] reygoch opened #2616 "Filtering not working for multi value URL parameters (GET request)"
Let's say I have a section with tags, and another section with multiple select box that selects from tags.

If I want to filter that section by multiple tags, I'd do something like this :

    ?tags[]=blue&tags[]=green&tags[]=red

This gives me following nodes :

    <url-tags.1>blue</url-tags.1>
    <url-tags.2>green</url-tags.2>
    <url-tags.3>red</url-tags.3>

And following parameters :

    $

[2016-07-29 10:06] johnpuddephatt commented on #2616
I think this is closely related to #1807 and  #2484 ?

[2016-07-29 10:06] reygoch commented on #2616
Also, following parameters should be created :

[code]

[2016-07-29 10:17] reygoch commented on #2616
@johnpuddephatt yes, but the seem kind of forgotten ;D

[2016-07-29 14:12] nitriques commented on #2616
Where does the `-and` part comes from ?

You shoud use `tag=1,2,3` instead of php's array syntax...

[2016-07-29 14:18] reygoch commented on #2616
@nitriques comma separated values are treated as `OR` while plus separated values are treated as `AND`. It would be practical to have both of them to allow us for better filtering.

I'm not sure what you mean by php array syntax. This maybe `tags[]=value`? This is part of URL that form generates once you have submitted value from multi select box.

Forms don't generate URLs with comma separated va

[2016-07-29 14:36] nitriques commented on #2616
You only need one at the time, I do not see why both are needed. You can url-encode the `+` sign to get the AND.

Yup

Only if the field name contains `[]`, which you can remove.

Symphony generated forms are meant to save data into sections, not do filtering. I guess that you need to do some javascript to make it work.

I'd like to get @brendo's feedback on this, as I am not well placed to discus

[2016-07-29 14:40] reygoch commented on #2616
no, no, no... I think we have a misunderstanding here :D @nitriques

I'm talking about getting adhoc parameters, not section events or page parameters. And `[]` is kind of a standard notation for fields with multiple values so I just put them there so that people can understand what's going on there.

[2016-07-29 14:44] nitriques commented on #2616
Maybe, please explain ;)

I agree. But right now, data sources are not meant to work with this...

[2016-07-29 14:48] michael-e commented on #2616
I remember a discussion (long time ago) about this, and a simple solution: Add an event to your page to manipulate the form data. Here is an example event:

[code]

[2016-07-29 14:55] johnpuddephatt commented on #2616
[only three years](https://github.com/symphonycms/symphony-2/issues/1807#issuecomment-23156310) ;)

It does look like some changes were agreed in #1807 and #2484 but never happened.

[2016-07-29 14:57] reygoch commented on #2616
@nitriques well... yes, currently data sources don't work with that and this is exactly what I'm talking about :D

[2016-07-29 15:41] reygoch commented on #2616
@nitriques no, because html forms don't generate comma separated values on multiselect fields. I can do it with JavaScript but it should be possible with vanilla symphony setup.

[2016-07-29 15:47] nitriques commented on #2616
Right now, it's not. Like I've said, if you want to make it work right now, you must do js.

We'll work on making it possible tho, but that could take a long time.

[2016-07-29 15:50] reygoch commented on #2616
@nitriques as I said, I know that :D

[2016-07-29 15:52] nitriques commented on #2616
Ok perfect ;) I am not an native English speaker so I tend to repeat myself ;)

[2016-07-29 22:02] jensscherbl commented on #2616
<url-tags>
        <value>tag01</value>
        <value>tag02</value>
    </url-tags>

If you still need it, I have an unreleased extension for this. Not sure if it works with your more complex example, though.

[2016-07-29 22:08] jensscherbl commented on #2484
@nitriques This would be a breaking change.

[2016-07-30 09:59] reygoch commented on #2616
@jensscherbl thanks, although I'm kind of in the middle of making a little promo / tutorial for symphony and this doesn't look very good :D

[2016-07-30 12:28] jensscherbl commented on #2616
Agreed. It's already on the list for the `3.0.0` release.

[2016-08-01 15:10] nitriques commented on #2484
Thanks Jens!

[2016-08-13 13:41] michael-e opened #2618 "General::checkFile() produces "false negatives""
When attemtping to update the JIT Image Manipulation extension to a recent version, I received the error: `.htaccess exists but is not writable.`. Looking into it, I noticed that the extension uses `General::checkFile()` to see if the `.htaccess` file is writable.

There we find:

[code]

Now if a file already exists, it **will** be writable even if the directory is readable but not writable. The

[2016-08-13 13:44] michael-e commented on #2618
To make this more clear (from the top of my head, I hope that I will not be proven wrong):

* Creating a file **requires** write permissions on the directory.
* Writing to an existing file **does not require** write permissions on the directory.
* Deleting a file **requires** write permissions on the directory.

[2016-08-15 00:25] nitriques commented on #2598
Pushed down to 2.8.0

[2016-08-15 00:26] nitriques commented on #2560
cc @ChoboHub

[2016-08-15 00:42] nitriques commented on #2078
There is really nothing we can do except ignore it... All other patches are too hackish and we've tried to supress any errors chmod could create since 2011.

[2016-08-15 00:44] nitriques commented on #2607
This is a breaking change so target is now 3.0.0

[2016-08-15 00:53] nitriques commented on #2173
This is the way to go. I've postpone this issue to 2.8.0, but in fact, I agree with @jensscherbl on this. A event is exactly what you need. I even question the whole presence of the `cookie-*` values in the parameters.

[2016-08-15 00:54] nitriques commented on #2524
After review, yeah, it's  "... a duplicate of #2173."

[2016-08-15 00:54] #2524 closed

[2016-08-15 00:55] nitriques commented on #2204
@DavidOliver Ever had the "luck" to get that bug again ?

[2016-08-15 10:07] michael-e commented on #2173
I am not sure.

1. We already have an event to validate the token. It's provided by the Cross-Site Scripting (XSS) Filter extension. So this event could be moved to a new extension. But it must be noted that XSRF protection may be circumvented by XSS attacks. [Wikipedia](https://en.wikipedia.org/wiki/Cross-site_request_forgery) says:

    That might give a reason to keep the event in the XSS exten

[2016-08-15 10:21] rc1 commented on #2533
While Symphony 2.6.7 is the download on the website, changing the text on the website saying "PHP 5.3 or above" would be a help for everyone

[2016-08-15 10:24] DavidOliver commented on #2204
@nitriques, I haven't done any new installations since June. I can try again if you like. If so, which branch should I test?

[2016-08-16 02:27] nitriques opened #2621 "Prevent the user from setting mode and symphony-page query strings"
I propose the following, to make sure no user can set those values

[code]

It will return a 403 if the 'mode' or 'symphony-page' query string is present.

I propose to activate it only on 2.7.0 installs, and wait for 3.0.0 for the update.

[2016-08-28 10:40] michael-e commented on #2248
Coming back to the original issue, I don't think that X-Frame-Options is deprecated.

https://wiki.mozilla.org/Security/Guidelines/Web_Security#X-Frame-Options

So yes, `Content-Security-Policy` is a successor to `X-Frame-Options` and it should be added in Symphony. But keeping the X-Frame-Options header as well is still recommended.

[2016-09-17 22:52] jurajkapsz opened #2624 "Set up entries-per-page value not shown"
**Concerning Datasource XML output**

When a `datasource` does not return any entries, the `pagination` node attribute `entries-per-page` does not show the set up pagination size for given datasource. Instead, it shows a value of `1`.

The configured pagination size value is shown only when any number of entries are returned.

**Expected**
To always return the configured pagination size value when

[2016-10-13 21:59] cylkee opened #2625 "Data source sorting of XML parameters is reversed"
In the Data Sources UI if I choose, say, `asc` the entries are of course sorted on the chosen field in that direction, but if I select the same sorting field to be output as a parameter and compare in XML, the sorting of the parameters is in the opposite direction. I changed some data to be sure. Vice versa for `desc`, and every refresh of `random` output is reflected with the opposite order in pa

[2016-10-13 22:48] cylkee opened #2626 "Data Source UI cannot filter for empty core Text Input or Date fields"
Examples:
1. I have a Section with many fields. One is an optional core Text Input field.
2. I have another Section with some fields. One is an optional core Date field.

In each of the examples above want a Data Source to filter for entries where those fields are empty.  I have tried the following filter values but none worked:
- `regexp: ^$`
- `not-regexp: ^http` (in the case of a Text Input fie

[2016-10-19 12:25] michael-e opened #2627 "Symphony never sets the "secure" flag on cookies"
Due to a typo in `class.cookie.php`, Symphony never sets the "secure" flag on cookies/sessions. (It is supposed to do this in SSL environments.)

Here are the lines in question:

[code]

The fix is to add the missing (single) quotes:

[code]

I can provide a pull request. To which branch should I send it?

[2016-10-19 12:57] brendo commented on #2627
Doh, that would of been me :(

`2.7.x` I believe, @nitriques will probably backport it to `2.6.x` too.

Thanks @michael-e!

[2016-10-19 12:58] michael-e commented on #2627
Thanks, @brendo. Will do.

[2016-10-19 12:59] michael-e commented on #2627
BTW, I noticed that fixing Symphony's behaviour as above has one negative side effect. It won't affect many users, however I think that it should be documented here.

If (and only if):

1. your website is running in "mixed mode", i.e. parts are SSL-encrypted, other parts are running over HTTP, and
2. you are **writing to the session** (using an extension) on **unencrypted** pages of the website

a

[2016-10-24 13:58] nilshoerrmann opened #2629 ""With selected …" should not post empty values"
While updating a lot of extensions, I noticed that the `With selected …` widget doesn't catch cases where no option has been selected:
### Current behaviour

The `With selected …` widget submits even with no option selected. The backend reloads as expected but – of course – no action has been executed due to the missing selection.

The problem is that the reloading _makes you think_ an action took

[2016-10-24 14:24] nilshoerrmann opened #2630 "Extension "sandboxing""
Today, I updated an old Symphony install from version `2.2.5` to `2.6.7`. While upgrading went generally smooth I noticed one odd thing: outdated extension can break the whole backend.
While I didn't expect the front-end to work without updated extensions, data sources and events, I did expect the backend to work even with some broken extensions (and thus with a reduced feature set).

Problematic

[2016-10-25 00:42] nitriques commented on #2630
I understand your concerns Nils. But with the current code base, we just can't do this: This would break a lot of extensions that do not report max/min properly.

I am open to reviewing any PR that could potentially make it safer, but I can see a 1000 ways of this failing.

[2016-10-25 07:54] nilshoerrmann commented on #2630
I have to admit that I've no idea how this could be implemented. I just had work around a lot of extension errors and Symphony itself was not helpful while debugging.

It would just be nice, if future Symphony versions were a bit more assistant by temporarily disabling extensions if errors occur for instance.

[2016-10-25 07:57] nilshoerrmann commented on #2630
Maybe some kind of "save mode" would help.

[2016-10-26 23:41] nitriques commented on #2630
You mean "safe mode" ?

But yeah, I totally agree with you.

[2016-10-26 23:58] nitriques commented on #2629
@nilshoerrmann would disabling the button work out ? Is this a UX only problem ?

[2016-10-27 00:07] nitriques commented on #2627
@michael-e Thanks for the edge case description. That's recurring problem on a lot of platform and I would not try to deal with it.

[2016-10-27 00:11] michael-e commented on #2627
I completely agree. These edge cases require special treatment (and knowledge) anyway. I just wanted to document it here, just in case someone will run into similar issues.

[2016-10-27 03:56] nilshoerrmann commented on #2630
That's what I meant. Sorry for the typo.

[2016-10-27 03:57] nilshoerrmann commented on #2629
Yes, I think disabling the button should do the trick.

[2016-11-03 20:37] nitriques opened #2632 "Add validation on author emails"
Authors can have invalid emails, which can crash the whole frontend.

Is this a feature ? Should we force authors to set valid emails ? Or should we patch the data sources to make sure the email is cdata'ed ?

[2016-11-03 20:42] michael-e commented on #2632
Force valid email addresses!

[2016-11-03 22:50] #2627 closed

[2016-11-03 23:12] brendo commented on #2627
This was backported to 2.6.8 as well :)

[2016-11-03 23:14] brendo commented on #2632
Valid how? Simply that is matches a string which resembles an email?

[2016-11-03 23:15] michael-e commented on #2627
Thanks a lot, @brendo!

[2016-11-03 23:18] michael-e commented on #2632
Yes, that would me enough in my eyes. IMHO we could even be rather strict when validating the string (no IDNs, no "exotically constructed" email adresses).

[2016-11-04 02:56] nitriques commented on #2632
My point would be to never accept (or properly encode) `<` or `>`, since that's how I broke the frontend. But gain, `filter_var($email, FILTER_VALIDATE_EMAIL)` would be enough IMHO.

[2016-11-04 02:56] nitriques commented on #2627
Thanks @brendo !

[2016-11-04 08:39] michael-e commented on #2632
+1 for `filter_var($email, FILTER_VALIDATE_EMAIL)`

[2016-11-05 15:27] Manaus opened #2633 "Unknown system variable 'storage_engine'"
Hello,
I'm trying to install latest version `2.6.8` on Wampserver, but I get this logged error:

	INSTALLATION PROCESS STARTED (2016-11-05T15:19:36+00:00)
	============================================
	11/05/2016 3:19 pm > Notice: MYSQL: Establishing Connection
	11/05/2016 3:19 pm > Notice: MYSQL: Importing Table Schema
	11/05/2016 3:19 pm > Fatal Error: There was an error while trying to import d

[2016-11-06 04:14] brendo commented on #2633
Hmm, the fix for this probably should of been backported to 2.6.8 as well. Doh.

MySQL 5.7.5 removed the `storage_engine` variable, replacing it with `default_storage_engine`. We have the fix on the [2.7.x branch](https://github.com/symphonycms/symphony-2/blob/2.7.x/symphony/lib/toolkit/class.mysql.php#L1039).

[2016-11-19 21:19] cmnstmntmn opened #2634 "odd SymphonyCMS behaviour/error"
sections created / entries added / all fine.
i alter the data during development / all fine.

then suddely, a worse case scenario: live event with 200+ peoples, this error appeared.

**Symphony 2.6.7** used

![screencapture-vsfm2-dev-dashboard-publish-questions-1479589879593](https://cloud.githubusercontent.com/assets/2312755/20458444/1bafa0ae-aeae-11e6-863f-4007fe2c4957.png)

[2016-12-12 08:07] animaux opened #2635 "Publish Filtering and Association Interface w/Reflection Field previews"
Not really a bug, but I can see no way to solve this without touching the system:

when using `association_ui_selector` with a `reflection_field` for image previews, I get the preview html code in the filter view? (see screenshot)

![skjermbilde-2016-12-11-kl -14 25 01](https://cloud.githubusercontent.com/assets/446874/21092044/616ecb12-c04a-11e6-8916-06616347d417.png)

[2016-12-21 08:18] andrewminton commented on #2635
What if you surround the reflection field value with single quotes?

[2016-12-21 12:36] animaux commented on #2635
Thanks @andrewminton but this breaks the reflection field expression …

[2016-12-28 21:23] jensscherbl opened #2636 "Possible vulnerability in PHP mail() function?"
@michael-e @creativedutchmen Could [this][1] affect Symphony as well? Has been reported for PHPMailer and SwiftMailer, but looks more like a lower level PHP issue if I understand it correctly.

[1]: https://legalhackers.com/advisories/SwiftMailer-Exploit-Remote-Code-Exec-CVE-2016-10074-Vuln.html

[2016-12-28 23:24] michael-e commented on #2636
@creativedutchmen: It would be great If you could take a look.

[2017-01-02 10:40] creativedutchmen commented on #2636
I'm afraid we're not doing any additional checks on the email addresses we are sending to, for as far as I can see. I've not yet actually tried to run an exploit yet, but browsing through the code it seems it should be possible.

While this is a very dangerous vulnerability, the exploitability might be limited - in most cases where an email is to be sent to an "untrusted" address, there will be ad

[2017-01-02 10:48] michael-e commented on #2636
Great to hear that you check this!

You are talking about the recipient address only — the known issues with PHPMailer and SwiftMailer have to do with a faked **sender** address (typical for contact forms and the like), so please keep this on the radar.

[2017-01-02 10:54] creativedutchmen commented on #2636
Oh, my bad, I must have misread. However, I do not think we're doing anything different for the sender, so the issue still stands (although it is much harder to exploit, of course). I'll get back on this later today.

[2017-01-02 21:39] creativedutchmen commented on #2636
I can confirm this is a problem with Symphony, too. If you are using Sendmail as your method of sending email, and you are using a default event to send confirmation emails, please cherry-pick this fix ASAP, since Symphony is vulnerable.

[2017-01-02 23:13] michael-e commented on #2636
Thanks a lot for taking care of this!

[2017-01-03 13:56] moretaste commented on #2635
Have no issues with this. My reflection field code is:

`<img src='{root}/image/2/50/50/5{entry/img/@path}/{entry/img/filename}'/> {entry/title} `

[2017-01-04 09:05] animaux commented on #2635
@moretaste you dont’t get code in the index filtering if you filter after a field that is associated with a reflection field-generated field?

[2017-01-04 09:14] moretaste commented on #2635
Sorry, you mean at the index page. Can confirm the behaviour as you described.

For a preview in the index I use https://github.com/symphonists/image_index_preview (maybe for now a solution?)

[2017-01-04 10:07] animaux commented on #2635
@moretaste have a look at the screenshot above. The problem is not the index view itself but the search results in the index filtering.

[2017-01-06 23:27] nitriques commented on #2636
As pers: https://github.com/symphonycms/symphony-2/wiki/Security-Bug-Disclosure please write to team@getsymphony.com for any security related issues before publicly disclose them.

[2017-01-07 12:57] jensscherbl commented on #2636
This was not Symphony specific and has already been publicly disclosed.

[2017-01-08 20:29] nitriques opened #2638 "Create 2.6.9 Release"
- [x] Create a new migration for the new version, eg. 2.6.9 which should implement getVersion and getReleaseNotes methods
- Update the version constant in the project:
  - [x] package.json
  - [x] composer.json
  - [x] ~~.htaccess (minor only)~~
  - [x] install/index.php
  - [x] ~~install/includes/htaccess.txt (minor only)~~
  - [x] ~~LICENCE (minor only)~~
  - [x] ~~symphony/assets/js/src/symphon

[2017-01-08 20:33] #2636 closed

[2017-01-08 20:35] nitriques commented on #2636
@jensscherbl I this case, I understand that it was already disclosed. But I watch that email account more than my github's notifications and would have acted sooner ;)

Anyhow, I've just pushed `2.6.9`. See #2638

[2017-01-08 20:35] nitriques commented on #2636
And thanks for sharing too @jensscherbl ;)

[2017-01-11 22:13] nitriques commented on #2638
http://www.getsymphony.com/download/releases/version/2.6.9/

[2017-01-12 12:28] jensscherbl commented on #2636
Understood.

[2017-01-12 12:32] jensscherbl commented on #2638
@creativedutchmen hasn’t been credited under ‘contributors’.

[2017-01-12 12:33] michael-e commented on #2638
I already sent an email to the team.

[2017-01-12 15:05] nitriques commented on #2638
Yeah sorry, I've fixed that. Must be a brain freeze.

[2017-01-17 03:35] Xyntax opened #2639 "File Manipulation and Cross Site Scripting in usererror.missing_extension.php"
File Manipulation
---
https://github.com/symphonycms/symphony-2/blob/master/symphony/template/usererror.missing_extension.php#L15

[code]

Data from $_POST is passed directly into filepath, attacker may control filepath with injecting `../`.

Cross Site Scripting
---
https://github.com/symphonycms/symphony-2/blob/master/symphony/template/usererror.missing_extension.php#L18

[code]

Here data from

[2017-01-17 10:25] brendo commented on #2639
Thank you for reporting @Xyntax.

@nitriques First might need a custom check to ensure an attacker can't traverse up (or down) in the tree. Second can be solved using `filter_var` IMO.

[2017-01-17 15:44] nitriques commented on #2639
Boy do I want to remove all to pesky $_ access.

[2017-01-17 15:52] nitriques commented on #2639
Thank you for reporting @Xyntax.

If you ever discover of security bugs. please follow our disclosure policy: https://github.com/symphonycms/symphony-2/wiki/Security-Bug-Disclosure

[2017-01-17 16:20] cmnstmntmn commented on #2566
any workaround on filtering admin entries when using multilanguage fields ?

[2017-01-17 17:56] nitriques commented on #2639
@Xyntax
fbab292 fixes the XSS issue
e177fc7 fixes the path traversal issue

@brendo could you review please ?

[2017-01-17 17:56] #2638 closed

[2017-01-17 17:57] nitriques opened #2640 "Create the 2.6.10 Release"
- [x] Create a new migration for the new version, eg. 2.6.10 which should implement getVersion and getReleaseNotes methods
- Update the version constant in the project:
  - [x] package.json
  - [x] composer.json
  - [x] ~~.htaccess (minor only)~~
  - [x] install/index.php
  - [x] ~~install/includes/htaccess.txt (minor only)~~
  - [x] ~~LICENCE (minor only)~~
  - [x] ~~symphony/assets/js/src/sympho

[2017-01-17 17:59] #2639 closed

[2017-01-17 18:07] nitriques commented on #2639
2.6.10 is out

[2017-01-17 18:44] munki-boy commented on #2639
👍 @nitriques

[2017-01-17 20:23] michael-e opened #2641 "Version check for extensions is broken with Symphony 2.6.10"
After updating to Symphony 2.6.10, the extensions page is crowded with: `requires Symphony 2.6`. Obviously the version check doesn't work as advertised.

These complaints occur for all extensions that have `min="2.6.x"` or `min="2.6.0"` or `min="2.6"` requirement, in short words: Mimimum version is "2-6-something". All other extensions work fine in my case.

Examples:

* fine: Members ( `<release

[2017-01-17 23:39] michael-e commented on #2641
If I am not mistaken, the issue is in line 968 of `/symphony/lib/toolkit/class.extensionmanager.php`:

[code]

Shouldn't the last dot be escaped, like so:

[code]

@brendo? @nitriques?

[2017-01-17 23:50] brendo commented on #2641
We may do well to start to reach outside of our circle for this, [composer/semver](https://github.com/composer/semver).

[2017-01-17 23:55] michael-e commented on #2641
But we need a bugfix first for the 2.6.x line, don't we?

[2017-01-18 00:26] brendo commented on #2641
We can, but our handling still won't be as robust as a package that's sole purpose is to do this.

The issue right now is that we've never had a patch version greater than 9. The line highlighted above attempts to 'normalise' the version by removing `dev`, `beta`, `rc` and replacing it with nothing. eg.

[code]

This falls down right now because it also attempts to normalise versions:

[code]

I'm

[2017-01-18 09:42] nilshoerrmann commented on #2641
This features has been fixed several times already, either within the core or within the extensions (all of them). It never worked reliably. Using a dedicated and tested package for this task sounds like a good idea to me.

[2017-01-18 09:48] michael-e commented on #2641
I understand your concerns. But won't this take some time? Isn't this something for 2.7, because it might as well introduce new issues?

[2017-01-18 10:00] nilshoerrmann commented on #2641
Yes, raising the version number sounds appropriate. I'm not sure if manual fixing would be faster (at least if you don't want it to break again soon).

[2017-01-18 10:32] michael-e commented on #2641
My fix above doesn't work correctly. The regex expression in question should be:

[code]

Then we get:

	2.0.0     ->  2
	2.0.1     ->  2.0.1
	2.0.10    ->  2.0.10
	2.1.0     ->  2.1
	2.1.1     ->  2.1.1
	2.1.10    ->  2.1.10
	2.10.0    ->  2.10
	2.10.1    ->  2.10.1
	2.10.10.  ->  2.10.10

I simply try do fix a regex mistake. With this fix version `2.6.10` stays `2.6.10` instead of becoming `2.6`

[2017-01-18 12:52] animaux commented on #2641
@michael-e I can confirm this to work!

[2017-01-18 15:43] nitriques commented on #2641
Yeah thanks @michael-e I'll fix this ASAP.

[2017-01-18 15:43] nitriques commented on #2641
2.6.10 also broke a couple of things on the getsymphony.com website.

[2017-01-18 15:54] michael-e commented on #2641
I can send a pull request for this "extension version check issue" if you agree that my solution just fixes a faulty regex (so it shouldn't make anything worse). Just tell me to which branch I should send it.

[2017-01-18 16:00] michael-e commented on #2641
The old regex — designed to strip `.0` from version numbers — was `/.0/i`. (The `i` modifier ist useless here.) The dot matches any alphanumeric character or number, so the expression will match the `10` in `2.6.10` (resulting in `2.6.`). My solution simply assumes that the desired output in this case is `2.6`. See https://github.com/symphonycms/symphony-2/issues/2641#issuecomment-273440454

[2017-01-18 16:38] nitriques commented on #2641
Please go ahead and submit against the `2.6.x` branch. Thanks Michael.

[2017-01-18 17:10] nitriques opened #2643 "Create the 2.6.11 release"
- [x] Create a new migration for the new version, eg. 2.6.11 which should implement getVersion and getReleaseNotes methods
- Update the version constant in the project:
  - [x] package.json
  - [x] composer.json
  - [x] ~~.htaccess (minor only)~~
  - [x] install/index.php
  - [x] ~~install/includes/htaccess.txt (minor only)~~
  - [x] ~~LICENCE (minor only)~~
  - [x] ~~symphony/assets/js/src/sympho

[2017-01-18 17:11] #2640 closed

[2017-01-18 18:18] #2641 closed

[2017-01-18 18:50] nitriques opened #2644 "Use semver for version comparison"
https://github.com/composer/semver

[2017-01-26 20:56] nilshoerrmann commented on #2626
You stumbled across this issue: is there a solution to this problem already?

[2017-01-27 10:43] cylkee commented on #2626
No, as far as I know.  I cannot provide a solution.  As a work-around, I guess hacking a data source would work.

[2017-01-27 12:50] nilshoerrmann commented on #2626
Thanks for the update @cylkee!

@nitriques and @brendo: Is there an easy way to make `sql: NULL` / `sql: NOT NULL` – [like we know it from AF or SBL](https://github.com/symphonists/association_field/blob/master/fields/field.association.php#L961-L981) – available to the date field? One important thing is to be able to unite different operators like so:

    equal to or earlier than today, sql: NULL

[2017-01-27 20:18] nilshoerrmann opened #2645 "Date field filtering"
When viewing the database queries in the profile view I noticed an odd thing related to date field filtering in data sources: using `equal to or later than today` or `equal to or earlier than today` filters results in wrong date ranges.

### Later than

    (`t171`.date >= '1000-01-01 00:00:00' AND `t171`.date <= '2017-01-26 23:00:00')

Notice the time `23:00:00`. This should be `23:59:59`.

### E

[2017-01-28 04:59] nilshoerrmann commented on #2645
It certainly has to do with timezones: I just noticed that not just the time is offset but that `today` is actually shifted back one day. It should have been `2017-01-27` in this case, not `2017-01-26`.

[2017-01-28 06:29] nilshoerrmann opened #2646 "Parameter suggestions in DSE"
It seems like parameter suggestions for filters in the data source editor are broken for new data sources. They work for saved/existing data sources. The suggestion list is also shown correctly for other settings (like pagination or conditions).

[2017-01-28 09:22] michael-e commented on #2645
AFAIK, the `date`column in the database contains the GMT value (which corresponds to the localized value in the `value` column). So this looks correct to me.

[2017-01-28 10:01] nilshoerrmann commented on #2645
Right, that's a good point. Still, in the first case it should be `22:59:59`, shouldn't it? That's the last moment of the day – `24:00:00` doesn't exist – and it's the value used for all other comparison dates.

One question remains though: If relative dates are created with timezones in mind, what about dates passed as parameters from the frontend which are timezoneless?

[2017-01-28 10:15] michael-e commented on #2645
Yould it be that the examples are swapped in your first post?

Anyway. You said `equal to or …` – this includes 00:00:00, which is 23:00:00 GMT. So the query uses `<=` resp. `>=`.

They are not timezoneless, because Symphony assumes the system timezone. :-) I think that this has been discussed a long time ago, and the major issue with "personalized timezones" is retrieving the right timezone. So t

[2017-01-28 11:07] nilshoerrmann commented on #2645
D'oh! You're right! Not the right day for thinking about date as it seems ;)

Well, okay, I remember that discussion and it makes sense. But if the date comparison takes place in GMT (that's what used from the database and that's what relative dates are converted to) where do passed parameter dates converted to GMT (based on the shift of the system time)?

Entschuldige das Nachhaken, aber vielleic

[2017-01-28 12:09] michael-e commented on #2645
Oh, das kenn ich. :-)

Honestely, I have no idea if this happens at all. I would expect it, however. Have you tested it?

[2017-01-28 13:44] nilshoerrmann commented on #2645
After testing parameters and static values, it seems like the conversion to GMT is not consistent across all used dates (e. g. "endless" values like `9999-12-31 23:59:59` are not converted). But all dates that matter seem to be converted. So, although not being very intuitive to read, everything seems to be correct.

[2017-01-28 13:44] #2645 closed

[2017-02-02 10:52] cylkee commented on #2473
Adding my two pence here, as [directed](https://gitter.im/symphonycms/symphony-2/help?at=5890e44be836bf7010b579cd) by @nitriques.

I'm trying to create contextual admin links from the front-end to the back-end UI for logged-in authors. So far so good with basic section links and filtering. However, pre-populating SBLs doesn't appear to accept the field handle and there seems no easy way to know th

[2017-02-15 21:58] cylkee commented on #2643
After a fresh installation using `git checkout --track origin/bundle` the `/install/` says "This script will update your existing Symphony installation to version 2.6.9."

[2017-02-28 20:40] nitriques commented on #2643
Thanks for spoting it @cylkee I've just rebased on top of master and pushed the bundle. I guess I need to had a new step to the release process. Please delete your local bundle branch before re-running your checkout command.

[2017-02-28 23:56] cylkee opened #2649 "DS UI filtering on Page Type for Navigation buggy"
I've noticed that when filtering on a Page Type, it only works for root subjects, e.g.

Root page `/foo` has Page Type "Foo". Its child page `/foo/bar` has an empty or other Page Type.  When using "Foo" as the filter, the child page will be included in the XML no matter its Page Type.

[code]

If I set a secondary filter of '/foo' on Parent Page, of the two pages in this example the <navigation> w

[2017-03-02 13:42] timokleemann commented on #2587
Just as a reference to myself: Replacing `storage_engine` with `default_storage_engine` in `symphony/lib/toolkit/class.mysql.php` usually fixes the problem and installs the latest version of Symphony on MySQL 5.7.

[2017-03-06 20:51] mprofitl opened #2650 "Button "Create New" in entries' associations collides with title"
The sidebar `associations` show a title of each associated section and right beneath a button `Create New`. The sidebar is not wide enough for showing them beneath each other. I suggest to change the css of `symphony.associations.css` to
[code]
Then the button will be shown underneath the title without collision.

[2017-03-07 18:38] twiro commented on #2650
That surely depends on the length oh your section-names ;)

I don't think this will be a more satisfying solution than what we currently have. If you keep your section-names rather short, but have a lot of association-stuff going on in the drawer (and I often have lots of) you're glad that the "create new"-buttons don't take away any extra vertical space.

On top of that putting the buttons below

[2017-03-08 06:05] mprofitl commented on #2650
Your screenshots help a lot – I am adding one now.

Once a association exists, the collision rarely happens. However when no association exists yet, the text (at least with the backend in German langauge) is too long for text and button, e.g. _Keine Verknüpfungen für Neuigkeiten_ and _Neu erstellen_.

The increased z-index will make the button usable no mater how long the text. That would be a goo

[2017-03-09 09:27] timokleemann commented on #2633
Temporary fix: Simply replace `storage_engine` with `default_storage_engine` in `symphony/lib/toolkit/class.mysql.php`

[2017-03-15 08:24] twiro commented on #2650
Thanks for your further explanation! And you're right - your section naming isn't to blame here, it's the bloody german language ;) That's why I always avoid it in the backend - it's simply too verbose for interface pruposes!

Nonetheless the styling has a bug that can be fixed and I tried to come up with [a proper solution](https://github.com/symphonycms/symphony-2/compare/master...twiro:associat

[2017-03-15 09:10] nilshoerrmann commented on #2650
Some thoughts:

I don't remember why we opted for shortened, single line links for this interface, but redesigning this layout with text spreading multiple lines might fix some usability issues. Same is true for the titles that collide with the button.

- The title could break to a new line, when it becomes to long.
- Flexbox might make handling this layout easier (it wasn't available back then).

[2017-03-15 10:07] twiro commented on #2650
In my eyes opting for strictly single line links was a well made decision - multiple lines per link would clutter the layout of the drawer even more and none of the cut off title information seems that valuable to me that I would choose "full readability" over having a halfway nice vertical rhythm in the drawer. Plus - as stated in my initial post - vertical space is a precious thing in the drawer

[2017-03-15 10:49] nilshoerrmann commented on #2650
I like this version:

    Projekte
    ---------------------------------------
    Verknüpfungen       [ Neu erstellen ]
    ---------------------------------------
    -> Projektname XYZ
    -> Projektname 123
    ---------------------------------------

Though I have to admit that I've never ever used the association drawer in a real world project.

[2017-03-15 21:44] mprofitl commented on #2650
I can't cope with your speed – being busy with architecture (as in houses, not systems) during daytime. I appreciate you are taking time to discuss the drawer.

_Neu erstellen_ is used as the standard wording for all main CTA buttons in Symphony. Thus I agree it would be bad to change it. The buttons in the drawer however aren't main CTAs; the main CTA is _Eintrag erstellen_ or _Änderungen speiche

[2017-03-26 17:14] designermonkey commented on #2618
Those assertions are correct.

What is needed to counter the file permissions errors, read and write errors and other issues relating to the filesystem that have dogged Symphony over the years is proper abstraction of the filesystem: Proper functions that do what they say.

I know there is a broad range of functions in PHP to access and manipulate the filesystem, but hiding these behind a proper i

[2017-03-27 06:42] brendo commented on #2618
Yeah, I'd say [Flysystem](http://flysystem.thephpleague.com/) seems to be the defacto these days.

[2017-03-27 08:58] designermonkey commented on #2618
There isn't that many places to update that I can see (compared to changing something else more substantial). The issue I see is backwards compatibility and the fact everything is static still :(

[2017-03-29 13:24] Nassz opened #2651 "CVE-2017-6006 Symphony 2.6.11 has XSS in publish/articles/new/ via the Body field."
Dear Developers,

Did you fix this vulnerability?

PoC :
https://www.yiwang6.cn/xss.docx

[2017-03-29 15:45] nitriques opened #2652 "Mark 2.6.11 as PHP 5.3-5.6 only"
See http://www.getsymphony.com/discuss/thread/112725/1/#position-14

[2017-03-29 20:01] nitriques commented on #2651
@Nassz Please check your emails.

[2017-03-29 20:09] nitriques commented on #2651
Re: http://www.cve.mitre.org/cgi-bin/cvename.cgi?name=2017-6006
Re: https://nvd.nist.gov/vuln/detail/CVE-2017-6006

[2017-03-31 11:32] cylkee opened #2653 "Core upload field <meta> XML should show file system date"
Hi,

This is a suggestion.  I've got a situation where I would like to know the file system date of a file that's been uploaded with the Symphony core upload field.

Currently the XML output shows only the Symphony date in `<meta>` at the point the file was uploaded and its link created in the database.  In this situation, I'd like to create this link once, and then modify the file outside of Symp

[2017-03-31 12:04] michael-e commented on #2653
The `meta` info is read from the database, which is correct because the file is supposed to be uploaded and handled by Symphony. It is **not** showing the entry timestamp", but a "file timestamp" which is writte to the DB when the file gets uploaded. (If you create an entry first, then upload a file, you will see this.)

Using the filesystem date would slow down the output. And it would imply the

[2017-03-31 13:54] cylkee commented on #2653
Okay, points understood.  It's probably a niche case.  Feel free to close this issue.

[2017-03-31 13:54] #2653 closed

[2017-03-31 20:31] nitriques commented on #2651
After proper review, the CVE has been rejected. False alarm.

[2017-03-31 20:34] michael-e commented on #2651
Great to hear that. Thanks for caring!

[2017-03-31 23:30] attritionorg commented on #2651
@nitriques can you summarize why it was rejected? false positive, no valid exploit vector, etc?

[2017-04-01 04:44] jonmifsud commented on #2651
It was a false positive; something on the lines of including a `<script>`
tag in a text-area field in the backend (logged-in author/user) allows XSS
on the front-end.

That's not a Symphony CMS XSS exploit; we have clients who need to include
third-party tools which require unfortunately XSS, if you have un-trusted
users and don't want to allow script tags you can easily eliminate them
with XSLT -

[2017-04-03 01:20] attritionorg commented on #2651
Great, appreciate the details!

[2017-04-04 22:12] nitriques commented on #2651
@jonmifsud is right ! And if you leave the XSRF protection active, XSS can't be injected from another site.

[2017-04-04 22:12] #2651 closed

[2017-04-05 19:19] #2652 closed

[2017-04-05 21:37] nitriques commented on #2653
@cylkee If you need to change data outside of Symphony, it's a better way to let Symphony does what it should do. Try to poke at the REST API extension: This makes it easy to integrate from the outside ;)

[2017-04-07 17:17] nitriques commented on #2618
@designermonkey New PHP modules still to continue to go in the static route. I still like it a lot, the api is simple to use, no need to worry about creating the object. The bad thing is static state.

@michael-e I totally agree with your proposal. Want to send a PR ?

@brendo Flysystem is really cool. I'll try to poke at it.

Thanks!

[2017-04-07 17:21] nitriques commented on #2650
Why guys, I am late to the party, but I like this a lot. @twiro Please send a PR!

[2017-04-07 17:21] nitriques commented on #2650
But you might wanna wait until https://github.com/symphonists/documenter/issues/25 gets fixed...

[2017-04-07 17:40] nitriques commented on #2633
Indeed. But I prefer to work on 2.7.0 ;P

[2017-04-07 17:40] #2633 closed

[2017-04-07 17:41] nitriques commented on #2587
Fixed in 2.7.0, closing.

[2017-04-07 17:41] #2587 closed

[2017-04-07 18:30] michael-e commented on #2618
Do you mean my [code proposal](#issue-171009374) above? As I said:

But if you like this proposal, I can send a PR for this small change.

[2017-04-07 18:49] nitriques commented on #2618
@michael-e  I meant creating those 3 methods.

- General::checkFileRead()
- General::checkFileWrite()
- General::checkFileDelete()

But I think that

You need to be able to also write the file to delete it ?

[2017-04-07 18:55] nitriques commented on #2649
@michael-e @brendo ? I would say bug.... but I am not sure. All pages should be filtered ?

[2017-04-07 19:01] michael-e commented on #2618
AFAIK, you don't need write permissions on a file in order to delete it. You only need execute+write permissions on the parent directory.

Sorry, but if you need a PR within a few days, I won't be able to make it. Later? Hopefully.

[2017-04-07 19:10] michael-e commented on #2649
I don't really understand the description of the issue, and I am afraid that we need a very systematical approach here, probably combining testing and reverse engineering.

[2017-04-07 19:53] nitriques commented on #2473
Funny or not, mod_sec prevents me from using regexp: in the url. I think it would be wise to change this to something else.

@cylkee

Yes it is. It could be enabled, but not a priority sadly. If you want to send a PR, I'll gladly help you test it.

That's doable too if you want to poke at it!

[2017-04-07 19:55] nitriques commented on #2649
Meaning if @cylkee is right this is what he gets when filtering on page types: First level are properly filtered but not their children. All children are always returned.

[2017-04-07 19:56] nitriques commented on #2618
@michael-e days does not mather, I have plenty of other things to do haha ;) still at 36 unread notifications on github. But most of next week should be dedicated to Symphony 2.7. This week was mostly extensions update.

[2017-04-07 21:49] math1as opened #2655 "security bug Reported"
hey developers~
I'm math1as from l-team
and i'd like to report a serious bug for u
the "Create Data Source" module has some problems
so that an attacker could easily get webshell from back-end and execute any codes
i have already send a email to team@getsymphony.com
thanks a lot

[2017-04-10 20:34] nitriques commented on #2655
Please, in the future, ONLY contact us by email for those matters. We do appreciate your work, but this is sensible and should be dealt with in private.

[2017-04-10 20:34] nitriques commented on #2655
@math1as See https://github.com/symphonycms/symphony-2/wiki/Security-Bug-Disclosure

[2017-04-10 20:47] nitriques commented on #2655
@math1as See e30a18f8

[2017-04-11 16:07] cylkee commented on #2649
Correct.  I came across this while trying to create a Navigation data source in a Symphony `2.6.11` installation in which I have created multiple Pages of two main Types and none, with both main Types of Pages having child Pages.

[2017-04-12 18:03] michael-e opened #2656 "Should sending emails break on missing attachments?"
I noticed that sending emails breaks if attachments are set (e.g. using the Email Template Manager) but missing (unreadable/unexisting path or similar).

[This is intended](https://github.com/symphonycms/symphony-2/blob/2.7.x/symphony/lib/toolkit/class.emailgateway.php#L612-L620).

But this makes sending emails using the Email Newsletter Manager and the Email Template Manager less flexible. The de

[2017-04-13 07:26] math1as commented on #2655
@nitriques
this vulunerability is fixed and has been received by cve
CVE-ID:CVE-2017-7694

[2017-04-13 13:40] jurajkapsz opened #2657 "Section entries cannot be selected after a reorder"
**How to reproduce:**
1. Go to Blueprints > Sections
2. Drag'n'drop reorder a section entry
3. Try to mouse-click-select any section entry
4. The section entry selection is lost, I think due to an incorrectly again-invoked reorder with step 3.

**I have:**
* Symphony v2.6.11
* Opera 44 / Firefox 52 / Ubuntu OS

[2017-04-13 14:11] mprofitl opened #2658 "Hidden sections can't be used for associations"
A newly created section, if marked as hidden ("hide section from menu"), will be hidden in the backend from the association extension as well. Thus it is impossible create an association field and to connect it with the hidden section. One needs to unhide it first, then associate it and hide it again.

Wouldn't it be better to show all sections as possible associations in the backend, no matter wh

[2017-04-19 19:56] nitriques commented on #2658
This is not related to the core, so I've open a new issue in the right project. Closing here.

[2017-04-19 19:56] #2658 closed

[2017-04-19 19:57] mprofitl commented on #2658
Thank you – I realised through your comment that it is an issue of the association field.

[2017-04-19 21:28] nitriques commented on #2657
Test the latest `2.7.x` branch please! Thanks!

[2017-04-19 21:29] nitriques commented on #2658
Not a problem! It's better to report it at the wrong place, than letting it go unreported!

[2017-04-19 21:30] nitriques commented on #2655
@math1as Thanks!

[2017-04-19 21:35] nitriques commented on #2656
How would you patch it ? With an optional parameter that says skip non existing attachment ? Would you log that ?

Why not just validate the file yourself ? You want to avoid doing the check twice ?

[2017-04-19 22:14] nitriques commented on #2646
Actually, it is broken for new and saved DS.

[2017-04-19 22:27] michael-e commented on #2656
Exactly. And even if a first check would succeed, the actual loading might fail (because the file has gone away). So checking in advance would not prevent all problems.

I just implemented a "silent fail", as described above. The email will still be sent if an attachment can not be read. I don't need a parameter to configure this behaviour, and I don't need any logging in this case. If that is int

[2017-04-20 11:52] michael-e commented on #2656
To be more clear:

I prefer to not let an email fail because of a missing attachment. I myself use this as the default behaviour. So I changed `EmailGateway::getSectionAttachments` (where an attachment actually gets loaded).

I also thought about logging such incidents (instead of throwing an exception, which stops the process and prevents the email from being sent). But in my case that doesn't ma

[2017-04-20 11:55] michael-e commented on #2656
@nitriques: Please feel free to close this issue if you prefer the current default behaviour.

[2017-04-20 15:28] nitriques commented on #2646
The lastest `2.7.x` branch contains the fix. Thanks Nils!

[2017-04-20 15:32] nitriques commented on #2656
Let's just add a private property on the class (with a getter and setter) to ignore attachments errors. No change to the API nor behavior. Would this suffice ?

[2017-04-20 15:59] michael-e commented on #2656
I will take a look. It might get a bit complicated in `EmailGateway::prepareMessageBody`, however.

Do we really need a getter method as well? Actually we don't have getters for most of the email properties. (The email gateway has a "magic function" `__get($name)` instead.)

To which branch should PRs be submitted? 2.7.x?

[2017-04-20 18:04] nilshoerrmann commented on #2646
Thanks for the fix!

[2017-04-22 19:52] michael-e opened #2660 "Sendmail security enhancement from Symphony 2.6 should be included in 2.7"
15dc8eb5311db0e1e5b83301f58954401471acdf should be included in 2.7.x as well.

Unfortunately the branches seem to have moved away from each other. @nitriques: Are you planning a rebase? (In this case there is no need to post issues like this.)

[2017-04-25 16:48] nitriques commented on #2660
Yup, see #2643

[2017-04-25 16:48] #2660 closed

[2017-04-25 16:48] nitriques commented on #2660
All of 2.6.x will be included in 2.7.0

[2017-04-25 16:49] nitriques commented on #2656
No we don't, you're right.

Yup. But I can now change the base of any PR, which is pretty awesome.

[2017-04-25 16:51] michael-e commented on #2656
I didn't know that. Thanks for this info!

[2017-04-25 21:05] nitriques commented on #2656
![image](https://cloud.githubusercontent.com/assets/771169/25407716/5fcf202e-29d9-11e7-9e68-4c6f830f2f05.png)
:)

[2017-04-25 21:39] nitriques commented on #2626
Right now this is not possible, even in AF or SBL.

[2017-04-25 21:54] nitriques commented on #2626
Weird, but the core tag field already had it...

[2017-04-25 22:20] nitriques commented on #2626
@cylkee I have a working version with `sql: NULL` and `sql: NOT NULL` wanna test it ?

[2017-04-26 11:58] animaux opened #2663 "Symphony wants to manipulate tables that do not exist"
In `2.7.x` @michael-e has introduced »table locking« to prevent data corruption. This apparently leads to problems with fields that do not create an entry table since they do not store any data.

I’ve encountered an error with the [system_date_fields](https://github.com/symphonists/system_date_fields/issues/20)-extension. See link for the corresponding issue.

To quote Michael:

What would be the

[2017-04-26 12:46] michael-e commented on #2663
@animaux and me verified (in the Gitter chatroom) that the issue is not caused by the table locking. If you remove the locking, you simply get the next error (related to Symphony's attempt to delete data from a non-existing table).

Here's the code in question: https://github.com/symphonycms/symphony-2/blob/2.7.x/symphony/lib/toolkit/class.entrymanager.php#L174-L221

You can see that Symphony trie

[2017-04-26 21:14] nitriques commented on #2663
The solution is clearly 1).

Let me check that.

[2017-04-26 21:27] nitriques commented on #2663
We do:

04/26/2017 5:15 pm > UNKNOWN: DatabaseException 0 - MySQL Error (1146): Table 'sym_copy.sym_entries_data_14' doesn't exist in query: LOCK TABLES sym_entries_data_14 WRITE on line 961 of S:\github\symphony-2 - Copie\symphony\lib\toolkit\class.mysql.php

[2017-04-26 21:30] nitriques commented on #2663
I've tested PHP 5.6.30, 7.0.18 and 7.1.4. They all work and they all vomit in the logs.

[2017-04-26 21:49] animaux commented on #2663
Thanks @nitriques. So much sorrow in all those logfiles. \*sigh\*

[2017-04-26 21:51] nitriques commented on #2663
Turns out it's @michael-e's fault haha. Sending a PR with a fix right now

[2017-04-27 14:36] nitriques commented on #2626
@cylkee see #2666

[2017-04-27 15:25] nitriques opened #2667 "Remove `@array_key_exists('done', $_POST['action'])` check in publish and blueprints pages"
We do not use the 'done' flag anymore, but we still check it.

Any reasons why ?

[2017-04-27 15:39] michael-e commented on #2667
I have no idea.

[2017-04-27 19:53] nitriques opened #2668 "Replace all `else if` with `elseif`"
I've made a couple of switch, thinking that PSR-2 was usign the space. Turns out it does not.
Just before the release, when all PR a merged, I'll change this.

[2017-04-27 21:44] nitriques opened #2669 "Replace all `True` with `true`"
The doc something uses `True` with a capital letter when the word starts the sentence.

`True if the Author was logged in, false otherwise`

I propose to change it to `true` everywhere.

[2017-04-27 22:15] nitriques commented on #2566
@cmnstmntmn I'll tackle this soon enough. See  https://github.com/DeuxHuitHuit/multilingual_field/issues/70

[2017-04-27 22:16] nitriques commented on #2634
Hopefully #2663 will fix this (in conjunction with many other things).

[2017-04-27 22:25] nitriques commented on #2629
Turns out, you already did this in 1724265a4

[2017-04-27 22:26] #2629 closed

[2017-04-27 22:37] nitriques commented on #2632
Turn out, we already validated it. But without including the validators :(

[2017-04-27 22:39] nitriques commented on #2632
@michael-e @brendo please check the attached commit ^^^

[2017-04-28 00:47] nitriques commented on #2635
I fear that this may add XSS possibilities. All other fields provide a text only version. Reflection field should do the same. I would review a PR that try to fix this, so I am going to leave open, but it's not something that I'll try to tackle soon.

[2017-04-28 00:58] nitriques commented on #2625
I was not able to reproduce. Which field type is used for the sort in your example ? I tested the core input field, with the input as sorted (asc, desc, random), I've tested with and without pagination, I've tested with the input in the ds output and without. The right order remains. Can you help me reproduce it ?

[2017-04-28 01:07] nitriques opened #2670 "General::buildPaginationElement() should be moved elsewhere"
It does not belong in this class...

[2017-04-28 01:44] nitriques commented on #2624
Fixed in 2.7.0. Thanks!

[2017-04-28 02:21] nitriques commented on #2248
I think we should add `X-Content-Type-Options: nosniff` and `X-XSS-Protection: 1; mode=block` as deploying CSP would be a real pain. @michael-e if you agree on this, I'll do it for 2.7.x.

As for @cylkee I am afraid that the only thing right now would be to create an extension for this or use the Apache stuff

[2017-04-28 02:22] nitriques commented on #2248
We should also add `Referrer-Policy: same-origin` for the backend only.

[2017-04-28 02:23] nitriques commented on #2204
@DavidOliver Please test branch `2.7.x`. Thanks ! (Sorry for the late response)

[2017-04-28 02:25] nitriques commented on #2533
@rc1 It's been done, see #2652 Thanks!

[2017-04-28 02:28] nitriques commented on #2650
@twiro Ping! The mentioned issue got fixed, so I would accept a PR based on the latest `2.7.x` branch! Thanks.

[2017-04-28 02:44] nitriques commented on #2618
@michael-e I have a POC commit in my branch ^^^^^ @designermonkey @brendo want to review this starting point ?

[2017-04-28 02:46] nitriques commented on #2618
Note to self: add a note about the deprecation and fix Michael's name.

[2017-04-28 03:35] brendo commented on #2632
LGTM 👍

[2017-04-28 08:37] michael-e commented on #2248
Yes!

Sounds good.

[2017-04-28 08:49] michael-e commented on #2632
Yep.

[2017-04-28 09:08] cylkee commented on #2626
@nitriques Thank you.  To test, would I need to install a 2.7.x somewhere?

[2017-04-28 09:24] michael-e commented on #2670
@nitriques: Why have you assigned me?

[2017-04-28 11:53] michael-e commented on #2618
Apart from the typos (see inline comments) this looks good to me.

[2017-04-28 13:12] michael-e opened #2671 "Too many calls to `clearstatcache`"
`General::writeFile` calls `clearstatcache` before checking a file with `General::checkFile`. This is completely unnecessary, because `General::checkFile` does it itself.

So why has [this been added](https://github.com/symphonycms/symphony-2/commit/2d8e41016314582631e4bbc6311f8421dc278be5)?

---

BTW, do we need to call `clearstatcache` at all in the General functions? Looking at the PHP manual I

[2017-04-28 14:49] nitriques commented on #2671
To prevent false positive ! Hahah! If you read/write the same file over and over, some other process could change it's right or even delete the file. From what I've seen, php functions might return a cached result, which would then render our check useless.

From the same manual page:

So I think, we need it.

[2017-04-28 14:53] nitriques commented on #2671
Maybe @brendo knows more then me about that detail.

[2017-04-28 15:12] michael-e commented on #2671
But not [the additional one in `General::writeFile`](https://github.com/symphonycms/symphony-2/commit/2d8e41016314582631e4bbc6311f8421dc278be5), right? :-)

[2017-04-29 13:53] michael-e commented on #2671
I mean, it's called twice, as mentioned in my intial post. Twice is a lot.

[2017-05-02 09:06] twiro commented on #2650
The question is... what do you mean with "_this_"? ;)

The [quick and dirty hack](https://github.com/symphonycms/symphony-2/issues/2650#issuecomment-286672035) I proposed initially (bringing the button to front via z-index and avoid ugly overlappings) or one of the solutions that came up in the later discussion?

Actually I really like [Moritz' last proposal](https://github.com/symphonycms/symphon

[2017-05-03 01:21] nitriques commented on #2671
Well my point was the fact that you still can't be sure.
But we might want to remove it AND remove the checks as well. I mean, the method's name is write, not check and write. But I guess that would be a breaking compat change (?)

SO maybe we should remove the checks but replace it with our new version, than remove that call from later releases ?

[2017-05-03 01:23] nitriques commented on #2618
Great, will send a PR soon.

[2017-05-03 01:24] nitriques commented on #2670
Github suggested it and I told myself, what the heck, let's do it. Please do not see this as an "order" just like a @ mention.

[2017-05-03 01:25] nitriques commented on #2670
And I do like when you review my shit 👍

[2017-05-03 02:19] nitriques opened #2674 "Make error_reporting configurable"
As proposed in #2673

Should it only be a "script_php" bool ?

[2017-05-03 02:22] nitriques commented on #2248
Great.

[2017-05-03 02:27] nitriques commented on #2626
@cylkee Yes, or do and update on a DEV setup!

[2017-05-03 07:42] michael-e commented on #2671
I think I wasn't clear. At the moment `writeFile` calls `clearstatcache`, then `checkFile`. The latter function will also call `clearstatcache`. It's the double call to `clearstatcache` which seems useless to me.

I think it's OK for all `check` functions to call `clearstatcache`. (One might add another parameter to make this configurable, but that's "premature optimization", because probably nobo

[2017-05-03 13:12] nitriques opened #2675 "regexp: in url causes problems with mod_sec owasp rules"
OWASP defines mod_sec rules that prohibits usage of certain SQL keywords (union, regexp, contains).

When filtering entries, I often get a mod_sec hit, which prevents it from running the query.

I think it should be possible to change does words in the UI, but still keep the current words as valid to still be backward compatible, while working with mod_sec OWASP rules

[2017-05-04 02:04] nitriques commented on #2671
Sorry I was looking at the wrong version of the file (`General::checkFile` wasn't used in `writeFile` in that version. Yes I totally agree with you. I'll fix it.

[2017-05-04 02:18] nitriques commented on #2650
@twiro

LOL, `this = Moritz' last proposal` (Haven't you learn Math?)

I often only have the time to read github threads late at night after my boy is sleeping, so I may not be always 100% clear. I will make typos and errors, sorry eh.

I think it sounds great.  I like the clean separation between the 2 directions of the associations. But shouldn't we invert the arrow ?  --> linked to, <-- linked

[2017-05-04 05:38] nilshoerrmann commented on #2650
Your proposal is looking good, a few comments:

- The ellipsis in the title makes it look unfinished (in the sense of drafted). There should either be no punctuation or a colon in my eyes. I'd use now punctuation at all.
- In English the titles could just be "Links" and "Linked". (Deutsch ist immer etwas schwierig hier, aber ich könnte mir sogar eher eine Benennung wie "Eingehende Verknüpfungen" u

[2017-05-05 01:43] nitriques commented on #2650
I also agree on this. Thanks!

[2017-05-17 21:52] michael-e commented on #2675
I am not sure how I could help with that. I once tried mod_sec, but I gave up. :-(

[2017-05-17 22:08] nitriques commented on #2675
Yeah most of the people do. But I do run it (I need to), and loosing the ability to filter with 'contains' is rather annoying... Would it be a problem if I replace it with something else (while making sure old url still works) ?

[2017-05-17 22:13] michael-e commented on #2675
Wouldn't it be the right way to break compatibility? Isn't that mod_sec stuff meant to help _improve_ systems? :-)

I don't know how it should be done, however. Simply translating parameter names wouldn't make it any safer either, IMHO.

[2017-05-19 01:01] nitriques commented on #2675
That right. It is more of a 'hosting compatibility' issue. mod_sec can't know for sure that the 'regexp' part is not going to end up in some SQL command. So they blindly forbid that keyword (they also forbid using the word union: a client a mine did not understood why some times she would get redirected to the home page when saving an entry.

The owasp bundle is quite agressive, but I've seen it o

[2017-05-19 04:46] twiro commented on #2650
Hey guys,

didn't manage to get this done before my holidays but will take care about this as soon as I'm back at the end of may - hopefully that's still in time for the upcoming 2.7 release.

Cheers, roman

[2017-05-23 18:22] nitriques opened #2679 "Remove support for Dynamic XML Data sources"
The 2.4 updater states that

So we can remove the support for 2.7.0. ?

Or should we wait for a major release ?

[2017-05-23 19:40] nilshoerrmann commented on #2679
If you think old-style Symphony then `2.7.0` is just fine.
If you think semver-style then you shouldn't wait but should still raise the version number to `3.0.0`.

[2017-05-24 01:02] nitriques commented on #2679
Safety's first then.

[2017-05-24 01:03] nitriques commented on #2650
Thanks @twiro . I would not mind releasing 2.8.0 if it does not make it into 2.7.0. There's just numbers, not need to wait for X or Y ;)

[2017-05-24 01:09] nitriques commented on #2674
@michael-e name proposition for this value ? bool or configurable value ??

[2017-05-24 08:51] michael-e commented on #2674
What about `error_reporting_all` (boolean, meaning 'yes' or 'no' in the config file)? Developers would hopefully understand this.

It should set PHP's error_reporting to `E_ALL` only if the value is `yes`. If the setting is missing or has a value different from `yes`, it should do nothing.

I do not think we need anything more complicated, e.g. several reporting levels. It should be enough to choo

[2017-05-29 18:13] jensscherbl commented on #2674
Can we push this back to `2.8.0`?

[2017-05-29 18:34] michael-e commented on #2674
Why would you like to push this back?

[2017-05-29 18:53] jensscherbl commented on #2674
I don’t think it's important enough (i.e. a bug or a security concern) to hold the `2.7.0` release back.

[2017-05-29 18:58] michael-e commented on #2674
I see your point, but AFAIK @nitriques wants to have as much as possible in 2.7. So I leave this to him.

[2017-05-29 19:07] jensscherbl commented on #2674
Sure.

Any idea why?

[2017-05-29 19:16] michael-e commented on #2674
It shall be an LTS version, AFAIK.

[2017-05-29 20:59] nitriques commented on #2674
Cause releasing takes time ;)

[2017-05-30 01:47] nitriques commented on #2517
Breaking change, so bump.

[2017-05-30 09:35] michael-e commented on #2674
@jensscherbl: making the error reporting configurable shouldn't take too much time. It will be a different story, of course, to fix all the warnings on `E_ALL` reporting. So I do not expect the latter to be done for 2.7.0, and it is not part of this issue.

[2017-05-30 20:06] nitriques commented on #2542
This as been done in #2686

[2017-05-31 01:05] nitriques commented on #2550
Re #2650

[2017-05-31 13:32] michael-e opened #2690 "Email::create will throw warnings"
The [Core Email API documentation](https://github.com/symphonycms/symphony-2/wiki/Email-in-Symphony#using-the-core-email-api-programatically) states that new Email objects are created using `Email::create()`. And this is how Symphony does it, and extensions alike.

However, a PHP warning may occur, because `create` [is not a static method](https://github.com/symphonycms/symphony-2/blob/2.6.x/symph

[2017-05-31 14:33] nitriques commented on #2690
It should be static. Old PHP versions (<=5.6) allowed any method to be called via a static interface. Even if it used the `$this` keyword, (which would reference the caller object and lead to disastrous bugs. I hope this is not valid anymore. But anyhow, it should be avoided at all cost. Wanna send a PR ?

[2017-05-31 14:42] michael-e commented on #2690
Yes, if you expect no side effects, I will send a PR.

[2017-05-31 14:50] michael-e commented on #2690
https://github.com/symphonycms/symphony-2/pull/2691

[2017-05-31 14:51] nitriques commented on #2690
Since `$this` is not used, it should not change a thing. Thanks!

[2017-06-01 10:14] cylkee opened #2692 "Core checkbox UI filtering on 'No' fails if field added retrospectively"
Steps to reproduce in v2.6.11 and workaround:

1. create a section with a text field or two
2. create several entries in this section
3. edit the section and add a checkbox field
4. add another entry (leave checkbox unticked)
5. filter entries in the UI on that checkbox and select No from the drop-down suggestion list
6. the filter only finds those entries created _after_ the checkbox was added to

[2017-06-01 18:36] nitriques commented on #2692
This as already been discussed and the resolution was that it is the intended behaviour: By default adding a field does not create any records for existing entries.

It is understandable that it can be confusing to have a third, NULL state to the checkbox. But it would be a breaking thing to do.

See https://github.com/symphonycms/symphony-2/issues/1523 for the full discussion.

I'll leave the iss

[2017-06-01 19:01] nitriques opened #2693 "[Suggestion]: Log deprecated usage"
Would this helps extensions developers ?

[2017-06-01 20:37] nitriques commented on #2625
Closed as we do not have any feedback. Please comment and we will reopen.

[2017-06-01 20:37] #2625 closed

[2017-06-01 20:39] nitriques commented on #2462
Yup I can confirm that it works.

[2017-06-01 20:39] #2462 closed

[2017-06-01 20:43] nitriques commented on #2261
Version 2.7.x should be PHP 7 compatible. Yeah!

[2017-06-01 20:43] #2261 closed

[2017-06-01 20:44] nitriques commented on #2284
So this is fixed, lol. Please use [the network repo](https://github.com/symphonists/symphony-extensions-network) to report those things in the future.

[2017-06-01 20:44] #2284 closed

[2017-06-01 20:52] nitriques commented on #2285
Migrated to https://github.com/symphonists/symphony-extensions-network/issues/18

[2017-06-01 20:52] #2285 closed

[2017-06-01 21:19] nitriques commented on #2465
I do not understand why both 7328c19a5 and 4631a4371 used `trim($params['filters'], '&amp;');`

AS per php's doc:

Sooooo, the '&amp;' will trim any of those letters, regarding of their order in.

I did this test

[code]

and got an empty string back. I did my test with 'sasasasa', which, by luck, ends with one of those 5 chars.

@designermonkey must have log the bug because of the same reason, an

[2017-06-01 21:38] nitriques commented on #2455
The tag field has the same problem since the select box field inherits from the tag list field.

[2017-06-01 21:50] nitriques commented on #2152
It now does, see 64b2b7f4f6

Yes, commit will now get a default value of '1';

[2017-06-01 21:50] #2152 closed

[2017-06-01 21:52] nitriques commented on #2412
Re #2597

[2017-06-01 21:54] nitriques commented on #2401
This have been worked on a lot in #2659 so I'll close this one.

[2017-06-01 21:54] #2401 closed

[2017-06-01 21:56] nitriques commented on #2331
This seems to be the same bug as in # 2550 ?

[2017-06-01 22:53] brendo commented on #2692
Maybe a different approach is to expose those entries to the filter using 'Not set'/'No value' or equivalent wording.

[2017-06-02 00:53] nitriques commented on #2692
Would "is empty"/"is not empty" work ? We already have it for the input field..

[2017-06-02 10:23] cylkee commented on #2692
I think to display 'No' in the columns and offer 'No' in the filter drop-down suggestion list is misleading in the UI, in this case.  Is it possible to either set all entries to No when a checkbox is added restrospectively or display nothing in the column?

[2017-06-02 10:34] michael-e commented on #2692
+1 for always displaying the actual value (which is an empty string in this case).

[2017-06-02 10:50] michael-e commented on #2693
Sure it wood. If it was documented. :-)

(BTW, same applies to the new "secret setting" to throw all PHP warnings. Should we open an issue to add this to the README, or the Wiki?)

[2017-06-02 14:08] brendo commented on #2692
Agree @cylkee, we have the faded 'None', should this be used instead?

[2017-06-02 20:10] nitriques commented on #2692
@brendo @michael-e `prepareTextValue` implementation is based on the `ExportableField` interface. Should we change the behaviour of the export as well ? That would be a breaking change...

And if we change the UI, we might wanna offer the filtering also, no ?

[2017-06-02 20:26] nitriques commented on #2693
If the logging of deprecate calls was documented ? I do not mind having secret stuff, it hides the complexity to beginners and make it easier for us to offer help here and on the chat...

Both will be listed in the change log, is that enough ? :P

[2017-06-02 20:27] michael-e commented on #2693
Yep, agreed.

[2017-06-02 20:29] nitriques commented on #2693
Great!

[2017-06-02 20:44] michael-e commented on #2692
It always bothered me that even if I add a Checkbox that is "checked by default", I see a value of "No" on the section's index page. So @brendo's suggestion (the faded "None") is much more logical.

Regarding the export, do we really export a value of "no"? (I never tested such an export — for the reasons mentioned above I always re-save all entries using a background script after adding a new che

[2017-06-02 20:47] michael-e commented on #2692
Trying to look at it from the other side: Are we destroying a "beloved" Symphony convention? Is this "Symphony style"? An empty value means "no", just like "no" means "no"? Only a checked checkbox is "yes"?

[2017-06-02 21:01] michael-e commented on #2692
I tested that Symphony does not output any value for a checkbox field as long as older entries have not been resaved (which means that the checkbox has no value for these entries). This makes sense in "Symphony's thinking" — it always drops fields withut a value from XML output.

But then indeed it is misleading to display a value of "No". @brendo's suggestion is the right thing to do (or maybe an

[2017-06-03 16:46] michael-e opened #2699 "Access-Control-Allow-Origin header should not be present"
According to the [Mozilla docs](https://wiki.mozilla.org/Security/Guidelines/Web_Security#Cross-origin_Resource_Sharing) the `Access-Control-Allow-Origin` header can be used to explicitely allow foreign origins to access the content of pages on your domain via scripts (e.g. XMLHttpRequest). It is some sort of "additional whitelisting" and **not** a lock-down-mechanism.

In other words, it makes no

[2017-06-04 00:18] brendo commented on #2693
Node actually offers a utility function for this, [`util.deprecate`](https://nodejs.org/api/util.html#util_util_deprecate_function_string), that's simply a wrapper around the original function. I think it's a good idea.

[2017-06-05 15:47] nitriques commented on #2699
This line was added with the [XSRF token](https://github.com/symphonycms/symphony-2/commit/4c0c622b133d357131c3cca4ba736d96b2b72485) feature.

We've had [the same issue](https://github.com/symphonycms/symphony-2/issues/2480) which proposed to removed it, but @brendo had a good argument to keep it [here](https://github.com/symphonycms/symphony-2/issues/1874#issuecomment-40071925)

So I think we sti

[2017-06-05 16:13] michael-e commented on #2699
@brendo said:

Aha, *that* header was requested by the audit.

Completely different story, this has nothing to do with the audit. IMHO @brendo misunderstood how this header is supposed to work. As mentioned above, it's not a necessary lock-down mechanism, but rather an "open doors explicitely" mechanism. CORS works like this — locking everything down unless you open it up explicitely; see https://

[2017-06-05 19:42] nitriques commented on #2699
It sets a limit that is already the same as the same-origin policy...

I do not mind removing it, (as I already overwrite it to be something else via apache), but I'd like to get @brendo thoughts, if and when possible.

[2017-06-05 19:51] michael-e commented on #2699
Yep, agreed, let's hear what @brendo thinks.

[2017-06-05 20:45] nitriques commented on #2693
Lol, that were the idea comes from! I was reading node v8's change log which offers a switch to see those warnings in stdout.

[2017-06-05 20:53] nitriques commented on #2423
Closing since this is related to the extension

[2017-06-05 20:53] #2423 closed

[2017-06-05 21:00] #2247 closed

[2017-06-05 21:15] nitriques commented on #2131
This has been fixed in f7a5406dd1142febceb636c206d042ab675abdee :+1:

[2017-06-05 21:15] #2131 closed

[2017-06-05 21:28] nitriques commented on #2692
Agreed. This will be then postponed, because it is a breaking change.

[2017-06-06 17:24] nilshoerrmann opened #2703 "Field integrity tests"
I don't know how it happens, but it sometimes occurs to me that database tables don't feature the expected columns required by the given field type. E. g. a Textbox field having the table columns of a core textarea. My guess is this happens when you remove a field and add a new field of the same name but of a different type. Maybe some of these mismatches are also caused by failed database merges

[2017-06-06 17:52] nitriques commented on #2703
@nilshoerrmann This **crazy** bug happen to me too. A LOT. Which version of Symphony to you run ?

[2017-06-06 17:54] nitriques commented on #2703
Hopefully, it is not 2.7.0 and [this is still a solution](https://github.com/symphonycms/symphony-2/pull/2659#issuecomment-297829904)...

[2017-06-06 17:54] nilshoerrmann commented on #2703
I'm currently using the latest stable release (that should be `2.6.11`, I think).
But this happened on each and every Symphony version I worked with.

[2017-06-06 17:57] nitriques commented on #2703
Ok so there is still hope.

[2017-06-06 18:00] nilshoerrmann commented on #2703
What I was thinking of:

1. When saving section, Symphony could validate the field signature and throw and error when it finds a mismatch.
2. It would also me nice to have a button in the preferences that initiated a field integrity test.

The latter is certainly something an extension could do best (don't bloat the core). But the first is actually something Symphony should take care of itself.

[2017-06-06 18:02] nitriques commented on #2703
Well I hear Michael in head telling me that we should not try to fix errors, we must avoid them ;)

[2017-06-06 18:32] nilshoerrmann commented on #2703
Well, my guess is – as mentioned in the initial post – that the integrity issues arise from saving a section. So validating field tables on section save is about avoiding this error.

[2017-06-06 18:34] nitriques commented on #2703
Yup, and that's what the mention commit does ;)

[2017-06-06 18:38] michael-e commented on #2703
Wasn't this different? Don't try to *hide* errors but let 'em scream!

[2017-06-06 19:44] nilshoerrmann commented on #2703
But that works on the entry level not on the section level, right? So I'll be notified, when I save an _entry_, is that correct?

[2017-06-07 02:18] nitriques commented on #2331
Fixed in 55a0882b !

[2017-06-07 02:21] nitriques commented on #2703
The idea of the "timestamp validation" is to prevent you from overriding something that was done in between requests (in an another browser/tab or another user). The commit I pointed out was made in the same PR, but is unrelated: it checks that the field exists for real before trying to update it: before it could somehow think that the removed field == the new field.

[2017-06-07 17:10] nitriques commented on #2699
@brendo ping!

[2017-06-07 18:03] nilshoerrmann opened #2704 "Default date preferences"
If – in the config – the date preferences are empty, Symphony doesn't default to any standard format. It just doesn't output dates anymore (showing `None`).

[code]

This caused me to think that something went terribly wrong and the database was corrupted.

### Expected behaviour

I'd expect Symphony:

1. to log an error,
2. to show a warning in the interface,
3. to fall back to a default format.

[2017-06-07 18:30] nitriques commented on #2704
Wow, that's pretty cool ;)

[2017-06-07 18:47] nitriques commented on #2704
I bet there are a lot of things that goes wrong when some config is missing ;)

[2017-06-07 22:20] nitriques commented on #2704
@nilshoerrmann It's a problem everywhere we use config values: we rarely check if they are missing.

How did you lost those values ?

[2017-06-07 23:26] brendo commented on #2699
Scratching my brain to recall the details of this, but just responding based off the knowledge I have _now_ about CORS, I think the main error in implementation is always having that header present. I believe that header should only be present when the incoming request contains an [`Origin`](https://developer.mozilla.org/en/docs/Web/HTTP/Access_control_CORS#Origin) header.

[2017-06-07 23:33] michael-e commented on #2699
So should the Symphony core set such a header at all? I don't think so — it depends on the application. Do you agree?

[2017-06-07 23:37] brendo commented on #2699
It'd probably be better extracted out as an extension on reflection. One that allows for better configuration of the headers to send, and when to send them and for what resources.

I don't think it'd hurt the core to still conditionally set this from an AdministrationPage perspective.

[2017-06-07 23:45] michael-e commented on #2699
I don't agree. Without any further knowledge, we can only set the "superfluous value" that is used currently (see discussion above). It's better to omit the header altogether in this case.

[2017-06-08 00:37] nitriques commented on #2699
I tend to agree with @michael-e on that case @brendo. If it does not have any purpose, we can remove it. I just wanted to make sure it was not added as part of the security audit.

[2017-06-08 00:39] nitriques commented on #2699
OWASP tends to recommand the same thing:

(Ref: https://www.owasp.org/index.php/HTML5_Security_Cheat_Sheet)

[2017-06-08 00:58] brendo commented on #2699
I guess the problem for us right now is we can't possibly know what pages or extensions already rely on this header. That's my fault for including it back then!

[2017-06-08 05:09] nilshoerrmann commented on #2704
The German translation might be at fault. It happened after saving the prefs.

[2017-06-08 07:45] nilshoerrmann commented on #2704
Yes, it's the German translation: https://github.com/animaux/lang_german/blob/master/extension.driver.php#L81-L105

Besides providing the translations, it also toggles between German and English date and time formats. Like Symphony, it should default to fallback settings.

/cc @animaux

[2017-06-08 14:36] twiro commented on #2650
Continued the discussion in the PR: https://github.com/symphonycms/symphony-2/pull/2698#issuecomment-307122360

[2017-06-13 01:07] nitriques commented on #2704
Ok! Well I hope #2705 does not makes thing worst ?

[2017-06-13 01:11] nitriques commented on #2699
Nothing relies on it, since the restriction will be the same. Less bytes on the wire that's all.

[2017-06-13 05:23] nilshoerrmann commented on #2704
#2705 works great. Along with https://github.com/animaux/lang_german/issues/9, this issue should be fixed.

[2017-06-13 05:23] #2704 closed

[2017-06-13 17:07] michael-e opened #2707 "Arrow symbols in table headers don't reflect sort order when filtering is applied"
On index pages, header cells of sortable fields have small arrow symbols showing the current sort order (when sorting has been applied on a column).

This does not work, however, when filtering is applied — look at the "Title" column here:

<img width="637" alt="bildschirmfoto 2017-06-13 um 19 02 01" src="https://user-images.githubusercontent.com/40072/27094653-1bacdb08-506b-11e7-9cd3-5f76fd5d0132

[2017-06-13 17:52] nitriques commented on #2707
I've reproduced the bug in 2.7.x branch.

I've just tested #2696 and it works, when the filtering yields more than one result. Only if you "unsort" (I do not know how to do it via the UI) will you lose the filter.

[2017-06-13 18:03] nitriques commented on #2707
Found it !
Turns out it is only a css problem ;)

[2017-06-13 18:04] michael-e commented on #2707
There is no way to unsort via the UI, AFAIK. You must append `?unsort` to the URL.

[2017-06-13 18:04] nitriques commented on #2707
Should we still keep filters ?

[2017-06-13 18:05] michael-e commented on #2707
Sure!

[2017-06-13 18:38] nitriques commented on #2707
@michael-e I've added commit to fix this into #2696 since the fix for this commit was needed to fix this issue (I kept losing the filter and it was driving me crazy)

[2017-06-13 21:18] nitriques commented on #2550
@johnpuddephatt this has been fixed in 2.7.x !

[2017-06-13 21:19] nitriques commented on #2385
Should be fixed in 2.7.0!!!

[2017-06-14 14:33] michael-e opened #2708 "Rebase before releasing the next Beta?"
It will probably be a big undertaking to rebase 2.7.x on 2.6.x., and we all know that things can go wrong. So shouldn't this be done before releasing the next 2.7 beta?

I think that we should have at least one "porperly rebased" beta before releasing the final product.

[2017-06-14 17:08] nitriques commented on #2708
yup, there's only 2 PR left before I rebase ;)

[2017-06-14 17:10] michael-e commented on #2708
Cool.

[2017-06-14 17:12] nitriques commented on #2708
[Those 2](https://github.com/symphonycms/symphony-2/pulls?utf8=%E2%9C%93&q=is%3Apr%20is%3Aopen%20milestone%3A2.7.0) :D

[2017-06-16 01:05] nitriques commented on #2692
@cylkee This has been partially fixed in `2.7.x` since you can know filter by 'empty' checkboxes

[2017-06-16 01:12] nitriques commented on #2708
@michael-e I've just tested the rebase operation, and it worked! 406 commits!!!
Will push tomorrow!

[2017-06-16 01:59] nitriques commented on #2708
I've [made a tool](https://github.com/DeuxHuitHuit/rebase-with-history) just for this occasion :)

[2017-06-16 09:18] michael-e commented on #2708
Sounds great!

[2017-06-16 10:53] andrewminton commented on #2203
Any further thoughts on this? We're also experiencing this error with the latest build and are looking for an updated solution to post data to multiple sections in this way.

[2017-06-16 15:02] nitriques commented on #2203
I think so yes.

[2017-06-16 15:25] nitriques commented on #2708
Pushed!

[2017-06-16 15:25] #2708 closed

[2017-06-16 15:26] nitriques commented on #2708
Here's what to do if you already have the `2.7.x` branch on your computer.

[code]

[2017-06-16 15:27] #2643 closed

[2017-06-16 15:28] nitriques opened #2709 "Create the 2.7.0 release"
- [x] Create a new migration for the new version, eg. 2.7.0 which should implement getVersion and getReleaseNotes methods
- [x] Remove any 'beta' checks
- Update the version constant in the project:
  - [x] package.json
  - [x] composer.json
  - [x] .htaccess (minor only)
  - [x] install/index.php
  - [x] install/includes/htaccess.txt (minor only)
  - [x] LICENCE (minor only)
  - [x] symphony/asse

[2017-06-16 16:59] nitriques commented on #2709
[2.7.0.RC1](https://github.com/symphonycms/symphony-2/releases/tag/2.7.0.RC1) is out!

[2017-06-16 17:04] michael-e commented on #2709
Bingo!

[2017-06-18 10:26] michael-e commented on #2709
The migration's `update` function still uses `2.7.0.beta3`. This should be changed to `2.7.0` for the release.

[2017-06-18 12:39] michael-e opened #2710 "Copy text on Blueprints > Data Sources should be improved"
In https://github.com/symphonycms/symphony-2/pull/2702 changes to the data source GUI were introduced. Now we have:

Please, read this aloud.

**Enabling the conditions** will throw an error?

We also have:

The negation makes this hard to understand. Leaving something empty will do something…

We should improve this. Regarding the "Error Conditions", I would prefer "Error 404 Conditions".

Maybe

[2017-06-18 12:55] michael-e opened #2711 "[2.7.0RC1] Symphony polluting the logs"
RC1 is polluting the log file with the following message:

If s.th. is deprecated, Symphony itself should not use it, right?

[2017-06-18 13:00] michael-e commented on #2711
Here's a second one which sounds more severe:

[2017-06-18 13:10] michael-e opened #2712 "[2.7.0RC1] Symphony installs itself as version 2.6.11"
Shouldn't the release candidate install as `2.7.0` resp. `2.7.0RC1`?

The issue is in the installer's `index.php` (line 30).

[2017-06-18 14:54] michael-e opened #2713 "[2.7.0RC1] Associations Drawer partially broken"
Using Symphony 2.6.11 and the default workspace, the associations drawer displays the link to the category "Symphony" for the first article:

<img width="1161" alt="bildschirmfoto 2017-06-18 um 16 49 34" src="https://user-images.githubusercontent.com/40072/27261589-63cb841e-5446-11e7-8710-aa4ddb7e0daa.png">

After upgrading to Symphony 2.7.0RC1, this relation is not shown—it reads:

    No links t

[2017-06-18 15:07] michael-e opened #2714 "JavaScript error in section editor"
In the section editor, when clicking either "Expand all" or "Collapse all" multiple times, you see a javaScript error in the console. It seems that this has been the same with Symphony 2.6.11, so this is not a newly introduced issue.

<img width="941" alt="bildschirmfoto 2017-06-18 um 17 02 34" src="https://user-images.githubusercontent.com/40072/27261680-419c5592-5448-11e7-9442-e999a132ef12.png">

[2017-06-19 11:26] twiro opened #2715 "[2.7.0RC1] Table "sym_sections" is missing column "modification_author_id""
Just did a fresh install of Symphony 2.7.0.RC1 and got the following error when trying to save a section:

    Symphony Fatal Database Error: Unknown column 'modification_author_id' in 'field list'
    An error occurred while attempting to execute the following query
    INSERT INTO `sym_sections` (`modification_date`, `creation_date`, `modification_date_gmt`, `creation_date_gmt`, `author_id`, `mo

[2017-06-19 11:31] twiro commented on #2715
Looks like this new column is also missing in the table "**sym_entries**" if one doesn't [update](https://github.com/symphonycms/symphony-2/commit/eba83d4199a8068cf5771da30f573c1609b99321#diff-5d87d68eaaed91a9e8489d0622928ae6R49) but perform a [fresh install](https://github.com/symphonycms/symphony-2/blob/2.7.x/install/includes/install.sql#L40)!

[2017-06-19 17:18] nitriques commented on #2709
Yup thanks for the reminder @michael-e

[2017-06-19 17:19] nitriques commented on #2715
Thanks @twiro

[2017-06-19 20:28] nitriques commented on #2714
This should be fix. Make sure to build the assets before testing as they are not yet updated in this branch

[2017-06-19 20:32] nitriques commented on #2710
The wording has been discussed in length in [the the PR](https://github.com/symphonycms/symphony-2/pull/2702#issuecomment-306506725). Maybe the sentence does not make sense because the <code> format is not that apparent.

It should be understood as

Enabling these conditions will send a "404 page not found" error.

[This wording has been introduced 4 years ago](https://github.com/symphonycms/symph

[2017-06-19 20:41] nitriques commented on #2713
Thanks, I'll fix this ASAP.

[2017-06-19 20:41] nitriques commented on #2712
Yup. Sorry about that.

[2017-06-19 20:44] nitriques commented on #2711
No, because it break compatibility with older setups.

Hashing passwords with SHA1 is not considered secure anymore. How come your users never got upgraded to PBKDF2 ?
---

Re #2701

[2017-06-19 22:59] michael-e commented on #2710
No, this is semantically wrong. Please think about it. "Enabling conditions" won't send an error—the conditions must also be met when a datasource is executed. It would be much more correct to say: "If enabled conditions are met, a 404 error will be sent".

This should be fixed, really.

---

Ok, in this case this is nothing that must be fixed fast. Somehow the new layout made it more prominent to

[2017-06-19 23:02] michael-e commented on #2711
This error occured in a new test setup. I installed Symphony 2.6.11 with the default workspace, then upgraded to Symphony 2.7.0RC1.

[2017-06-20 11:07] michael-e commented on #2714
It's halfway fixed. As I said:

You only fixed the "collapse" part. For expanding, the error still occurs.

[2017-06-20 13:37] neoteknic opened #2716 "Routing error with apache 2.4.26"
Strange bug started with Apache 2.4.26 :

Example in Prestashop 1.7 (link to module list) :
Link is  (apache 2.4.26) :
/module/catalog
instead of (apache 2.4.25) :
/adminXXXX/index.php/module/catalog

PHP version : php-fpm 7.1.6
Symfony 2.8.* lastest from composer

With same php version and Apache 2.4.25 it's ok.
Absolutly nothing was modified in php file or in php config (php-fpm was not restarte

[2017-06-20 14:07] munki-boy commented on #2716
This is Symphony CMS, you mean Symfony? :)

[2017-06-20 14:21] #2716 closed

[2017-06-20 14:21] neoteknic commented on #2716
mistake not here sorry

[2017-06-20 18:00] nitriques commented on #2714
Thanks @michael-e ;) My last commit should address that. Everytime I push directly to the branch, I get bitten by it, I need to stop that... but it is SOOOOOO tempting...

[2017-06-20 18:01] nitriques commented on #2711
Hum I wonder why then... Let me test that.

[2017-06-20 18:04] nitriques commented on #2710
@brendo since you are the writer behind that sentence and since you are a native English speaker, I'd like to get your feedback on this.

I personally find @michael-e proposition to be clearer, but I would put the whole error name in there.

[2017-06-20 18:36] nitriques commented on #2711
I've found the problem: The SHA-1 is used to generate the remote login token.

We have 2 options:

1. A more secure one, would be to switch to PBKDF2 token (and BTW make them way bigger).
2. Do not use the SHA1 class and use directly php's function.

Votes are open!

[2017-06-20 18:39] nitriques commented on #2711
And I get that error with the workspace: The Section, 1, associated with the Data source, <code>Archive</code>, could not be found. on line 482 of file symphony\lib\toolkit\data-sources\class.datasource.section.php

[2017-06-20 20:29] michael-e commented on #2711
What do you mean by PHP'S function? Something like `password_hash('test', PASSWORD_DEFAULT)`?

Why is the remote login token a hash at all? I would expect it to be "simply random", at the same time as random as possible.

[2017-06-20 21:09] nitriques commented on #2711
Yup. Or `sha1()`, which would prevent the token from changing when updating from lower than 2.7.0

This is a good question...

Using the username and password as input is OK IMHO. It makes things deterministic unless the username or password changes (which is what we want)

I think that the best route would be to use `sha1()` to not break things, but also create an issue for future release where w

[2017-06-20 21:38] michael-e commented on #2711
I understand the compatibility argument. But the current solution is really insecure, because these tokens are too short. So improving this would feel like a legitimate bugfix to me (even if it breaks compatibility).

Well, SHA1 isn't regarded "secure" to hash passwords, but in our scenario I don't see an issue. What can you do if you "break" the hash? Log in? So what? You can do that anyway if yo

[2017-06-20 22:01] nitriques commented on #2713
Wow, even reverting https://github.com/symphonycms/symphony-2/commit/b85d998cfb670293c0cf4aa39bb154d57e63ef64 does not fix the issue. (it does, but creates new one)

[2017-06-20 22:31] jensscherbl commented on #2385
Awesome! Works as expected now.

[2017-06-21 01:25] nitriques commented on #2711
Well we NEED it to be deterministic... or we need to save it in the DB.

It is not, indeed. As we agree, length is the problem.

But I do not like the idea of breaking old logins url (And I do not want to have to answer to github issues for that mater)... so I'll switch to sha1() for now, but I'll open an issue for future releases.

[2017-06-21 01:35] nitriques commented on #2385
Great! We still have #2713 to fix tho ;)

[2017-06-21 12:09] nilshoerrmann opened #2718 "[2.7.0-RC1] Unknown column 'ed.value' in 'field list'"
Upgrading an existing site to `2.7.0-RC1` resulted in the following error in the backend:

[code]

I'm using the latest code from the `2.7.0` branch, which includes a few fixes added after the pre-release. The update script run without any errors.

[2017-06-21 12:43] nilshoerrmann commented on #2718
Similar errors are also directly printed into the front-end XML:

[code]

[2017-06-22 20:33] jensscherbl commented on #2710
I agree that the current wording is not perfect, and I like @michael-e’s suggestion as well, but this can always be improved in a patch release, so I wouldn't consider this to be a blocker for the `2.7.0` release.

[2017-06-22 20:39] jensscherbl commented on #2713
I have a project that heavily relies on the associations drawer, so I wouldn’t consider this the be a minor issue (would actually prevent me from updating the project to `2.7.0`).

[2017-06-22 21:55] jensscherbl opened #2719 "[2.7.0RC1] Undefined variable"
My debugger throws up because of [this new delegate][1]. It says `$c`is undefined, and I’m not exactly sure what `$c`should be or where it comes from.

[1]: https://github.com/symphonycms/symphony-2/blob/2.7.x/symphony/lib/toolkit/class.administrationpage.php#L1072

[2017-06-27 01:06] nitriques commented on #2718
Hey, this code is part of the MySQL 5.7 compat layer.

I did ran into this problem, and thought about it a lot. [The current implementation](https://github.com/symphonycms/symphony-2/blob/9668ee36581fabfd1ce8ed9b1bfcf63f76a97a9a/symphony/lib/toolkit/class.field.php#L1607-L1613) needs to stay, since fields that uses the default sort in `buildSortingSQL()` needs the default `buildSortingSelectSQL()`

[2017-06-27 01:25] nitriques commented on #2718
BTW, all the core field provide their own buildSortingSQL() version.

[2017-06-27 01:39] nitriques commented on #2718
The first fix is awefull, let me push something better!

[2017-06-29 03:14] nitriques commented on #2719
It's a copy paste from elsewhere. I knew I had some unfinished business in 85f30f3e4caaf2983c770e08b28011e9bdc82319 but could not figure out what it was since it has been coded more than a year an a half ago... But I had confidence in it since it ran in production since the same period of time... Thanks to your debugger than!

[2017-06-29 18:39] nitriques commented on #2710
I'll leave this open for the

part.

[2017-06-29 19:50] nitriques opened #2724 "Make the auth token LONGER"
This is a breaking change, as it would invalidate all current auth token url.

But this change is needed.

Current implementation uses 8 chars: I propose 40 (SHA 1 = 160 bits, not truncated, which means 40 characters in HEX)

I propose to use sha256 also.

Re #2711

[2017-06-29 20:00] michael-e commented on #2724
Yep, that was my proposal as well.

What do you mean with this? Use a longer hash? I'd think that 160 bits of entropy would suffice, so on the long run I'd rather go for something as random as possible.

[2017-06-29 20:08] nitriques commented on #2724
That why I want to use sha256, since sha1 is broken. But I would clip it to 40 chars.

[2017-06-29 20:17] michael-e commented on #2724
I meant: Shouldn't we use an "auth token" that is not derived from user data? If we use random bytes (instead of the username), we could simply hex encode these. No need to use (resp. misuse) a hashing algorithm. In the shell you would do this like so:

[code]

or with openssl:

[code]

(Sorry, I don't know how to do it with PHP.)

Of course, since the random bytes are not derived from the usernam

[2017-06-29 20:23] nitriques commented on #2724
You are totally right!

Yeah that's what I wanted to avoid.

I am hope to voting on that! But I think that username + already salted password is random enough, Information is lost. You can't derived it.

[2017-06-29 20:24] nitriques commented on #2724
It also has the advantage of making sure it gets invalidated when the password changes.

[2017-06-29 20:47] michael-e commented on #2724
Still I think that the "auth token" idea is more secure and more flexible, also because an auth token can be invalidated independently from the password. That's why so many web services use it. :-)

Let's see what others think.

[2017-07-04 21:43] nitriques commented on #2713
#2726 fixes this problem

[2017-07-04 21:44] nitriques commented on #2204
Still have not been able to reproduce, closing. Feel free to comment/reopen if the problem persits

[2017-07-04 21:44] #2204 closed

[2017-07-08 14:52] peterfleck opened #2727 "2.7.x upgrade error"
I just did a fresh install rebasing the 2.7.x on my branch which is same as master but with some extensions. When I pressed *upgrade* I go this error.
[code]

[2017-07-09 10:53] jensscherbl commented on #2727
Can you please elaborate a bit more on the steps to reproduce? “fresh install” along with “upgrade” is a bit confusing to me. Did you install everything from scratch with an empty database? Did you upgrade an existing project with a pre-existing database?

[2017-07-09 12:41] peterfleck commented on #2727
Hi @jensscherbl, here are the steps I took.

1. Cloned the master repository and added some extensions as submodules (before installing).
1. Rebased from 2.7.x . (All went fine.)
1. Installed using webinstaller.
1. From System -> Extensions installed the extensions.
1. On the top bar, there appeared the message - "An update has been found in your installation to upgrade Symphony to 2.7.0.RC1. View

[2017-07-09 23:08] jensscherbl commented on #2727
Created a branch that should resolve the issue:

https://github.com/jensscherbl/symphony/tree/2.7.x%232727

Can you please try it out and report back?

[2017-07-10 06:46] peterfleck commented on #2727
Thanks @jensscherbl I can confirm that this works. I also installed again from scratch to make sure.

[2017-07-10 16:01] nitriques commented on #2727
👍  @peterfleck the problem was that I did not properly set the version numbers. My bad.
The good thing is, I already have a branch ready for the 2.7.0 release and, as of right now, there are not more open PR for this release!

[2017-07-10 16:01] nitriques commented on #2727
Also: thanks @jensscherbl  ;)

[2017-07-10 17:55] #2727 closed

[2017-07-10 19:02] jensscherbl commented on #2727
Damn. Was just about to open a new PR for that! :D

[2017-07-11 18:39] #2511 closed

[2017-07-11 18:39] #2567 closed

[2017-07-11 18:39] #2580 closed

[2017-07-11 18:39] #2454 closed

[2017-07-11 18:39] #2472 closed

[2017-07-11 18:39] #2569 closed

[2017-07-11 18:39] #2078 closed

[2017-07-11 18:39] #2518 closed

[2017-07-11 18:39] #2573 closed

[2017-07-11 18:39] #2591 closed

[2017-07-11 18:39] #2603 closed

[2017-07-11 18:39] #2541 closed

[2017-07-11 18:39] #2560 closed

[2017-07-11 18:39] #2592 closed

[2017-07-11 18:39] #2624 closed

[2017-07-11 18:39] #2626 closed

[2017-07-11 18:39] #2632 closed

[2017-07-11 18:39] #2646 closed

[2017-07-11 18:39] #2655 closed

[2017-07-11 18:39] #2656 closed

[2017-07-11 18:39] #2657 closed

[2017-07-11 18:39] #2663 closed

[2017-07-11 18:39] #2248 closed

[2017-07-11 18:39] #2455 closed

[2017-07-11 18:39] #2671 closed

[2017-07-11 18:39] #2674 closed

[2017-07-11 18:39] #2690 closed

[2017-07-11 18:39] #2693 closed

[2017-07-11 18:39] #2250 closed

[2017-07-11 18:39] #2465 closed

[2017-07-11 18:39] #2550 closed

[2017-07-11 18:39] #2561 closed

[2017-07-11 18:39] #2699 closed

[2017-07-11 18:39] #2703 closed

[2017-07-11 18:39] #2707 closed

[2017-07-11 18:39] #2714 closed

[2017-07-11 18:39] #2715 closed

[2017-07-11 18:39] #2668 closed

[2017-07-11 18:39] #2669 closed

[2017-07-11 18:39] #2711 closed

[2017-07-11 18:39] #2713 closed

[2017-07-11 18:39] #2718 closed

[2017-07-11 18:39] #2719 closed

[2017-07-11 18:42] nitriques commented on #2712
Fixed in 2f9dc2dcf3

[2017-07-11 18:42] #2712 closed

[2017-07-11 18:42] nitriques commented on #2650
Fixed in 051e0c770a

[2017-07-11 18:42] #2650 closed

[2017-07-11 18:43] #2634 closed

[2017-07-11 18:43] nitriques commented on #2618
Fixed via #2684 and #2683

[2017-07-11 18:43] #2618 closed

[2017-07-11 18:45] nitriques commented on #2594
Fixed in 1c074d23712ec5ed98b96ad75752cd025916ee5f

[2017-07-11 18:46] #2575 closed

[2017-07-11 18:46] #2545 closed

[2017-07-11 18:47] #2542 closed

[2017-07-11 18:47] #2533 closed

[2017-07-11 18:47] #2529 closed

[2017-07-11 18:48] #2519 closed

[2017-07-11 18:48] #2499 closed

[2017-07-11 18:48] #2385 closed

[2017-07-11 18:48] #2331 closed

[2017-07-11 18:49] nitriques commented on #2727
No need, 2.7.0 is officially out!

[2017-07-11 21:01] nitriques commented on #2709
[2.7.0](https://github.com/symphonycms/symphony-2/releases/tag/2.7.0) is out!

[2017-07-11 21:01] #2709 closed

[2017-07-12 18:10] nitriques opened #2728 "README: Put updating notes into wiki"
This will make the README smaller, easier to digest

[2017-07-12 18:11] nitriques opened #2729 "README: Remove how to build and put it into the wiki"
Those are the relevant wiki pages

https://github.com/symphonycms/symphony-2/wiki/Contributing-to-Symphony
https://github.com/symphonycms/symphony-2/wiki/Building-Symphony's-Assets
https://github.com/symphonycms/symphony-2/wiki/Building-Symphony

[2017-07-13 19:01] nitriques commented on #2268
I'll close this issue now since we have a model, as described here: https://medium.getsymphony.com/announcing-symphony-cms-2-x-lts-release-13d5f57b2370

`2.7.x`, `lts` and `master` will NEVER get rebased, as this is prone to conflicts.

All PR must be submitted against a versioned branch. Future version branch can be rebased from time to time.

[2017-07-13 19:01] #2268 closed

[2017-07-19 10:45] michael-e opened #2730 "Trailing slash rewrite should be simplified"
Affected Symphony version(s) : 2.x, 3.0
PHP version(s) : all
OS(es) : all

Symphony's trailing slash rule (in the `.htaccess` file) looks like this:

[code]

The third rewrite condition is superfluous, because the second condition's `!/$` will match everything that does not end with a slash. So the third condition can be removed, resulting in:

[code]

[2017-07-24 17:58] nitriques commented on #2730
Thanks @michael-e !
Which version of Apache did you tested with ?

[2017-07-24 18:03] michael-e commented on #2730
I tested with Apache 2.4.10, but IMHO it should be the same with every version, because it's a pure Regex thingie.

[2017-07-24 18:07] nitriques commented on #2730
I'll test it with 2.2 just to be sure ;)

[2017-07-25 14:41] nitriques commented on #2730
@michael-e I confirm that it works on 2.2 as well.

I wonder why it was coded like that, and sadly, [this is as far as git can go](https://github.com/symphonycms/symphony-2/commit/4cb00cc18ba070f599be73d8e3e7806ecefcfed9)

[2017-07-25 15:19] michael-e commented on #2730
I have no idea.

[2017-07-25 15:29] nitriques commented on #2730
Well, it's committed! Thanks Micheal.

[2017-07-25 16:04] michael-e commented on #2730
Thank you!

[2017-07-26 21:34] pixelninja opened #2731 "Error when triggering an event"
Affected Symphony version(s) : 2.7.0
PHP version(s) : 5.6.30
OS(es) : MacOS Sierra

When adding entry via a frontend form with an event attached, it returns the following error:

`Column 'modification_author_id' cannot be null`

As it's a frontend form, there is no author ID to use. I have made that row Allow Null which fixed the issue.

[2017-07-27 14:54] nitriques commented on #2731
Can you provide the full stack trace please ?

[2017-07-27 20:29] pixelninja commented on #2731
`Symphony Fatal Database Error: Column 'modification_author_id' cannot be null

UPDATE sym_entries SET `modification_author_id` = null, `modification_date` = '2017-07-28 08:26:28', `modification_date_gmt` = '2017-07-27 20:26:28' WHERE `id` = 33

[/Users/phillipgray/Sites/churrosole.co.nz/symphony/lib/toolkit/class.mysql.php:554]
    MySQL->__error();
[/Users/phillipgray/Sites/churrosole.co.nz/symp

[2017-07-31 09:29] animaux opened #2732 "Errors updating from 2.7.0.RC1 to 2.7.0"
Affected Symphony version(s) : 2.7.0
PHP version(s) : 7.1
OS(es) : CentOS

    31. July 2017, 11:24 > Fatal Error: Could not complete upgrading. MySQL returned: 1060: MySQL Error (1060): Duplicate column name 'author_id' in query: ALTER TABLE `sym_sections`
                        ADD COLUMN `author_id` int(11) unsigned NOT NULL DEFAULT 1,
                        ADD COLUMN `modification_author_id

[2017-08-03 05:17] pointybeard opened #2733 "Cannot delete content from "optional" fields"
Apologies in advance if this has already been addressed, however, the behaviour is still present in the 2.7.x branch and I've not located a fix or existing issue. Appears this bug has been around since 18th of May.

**Affected Symphony version(s) :** Since PR #2664

This relates to code in EntryManager line 119 (https://github.com/symphonycms/symphony-2/blob/2.7.x/symphony/lib/toolkit/class.entrym