[2014-04-01 09:09] AndrewCSDavis opened #2006 "DataSource Ui included elements"
![datasource-ui](https://cloud.githubusercontent.com/assets/3070829/2577226/23e78b66-b97d-11e3-8c06-9c0bfc83e07a.png)
there is an issue with the included elements ui scroll until it is touched or triggered
does it refer to the below
![datasource-ui-2](https://cloud.githubusercontent.com/assets/3070829/2577225/1890b990-b97d-11e3-9b62-54bb9ad47293.png)

[2014-04-01 09:11] AndrewCSDavis opened #2007 "DataSource Ui included elements"
![datasource-ui](https://cloud.githubusercontent.com/assets/3070829/2577247/66aec004-b97d-11e3-9e22-913fb079e678.png)
the included elements has a UI issue shown above
until triggered or  touched does it refer to the below
![datasource-ui-2](https://cloud.githubusercontent.com/assets/3070829/2577259/87e66312-b97d-11e3-9e04-f4b636da8200.png)

[2014-04-01 09:20] #2004 closed, assigned to nobody

[2014-04-01 09:22] #2006 closed, assigned to nobody

[2014-04-01 10:15] andrewminton opened #2008 "saveConfig function missing from administrationpage class 2.4"
Seems like the saveConfig  function which in turn calls the `Configuration::write()` function has been removed from the class.

Master: https://github.com/symphonycms/symphony-2/blob/master/symphony/lib/core/class.administration.php#L508

Integration: https://github.com/symphonycms/symphony-2/blob/integration/symphony/lib/core/class.administration.php = missing??

Intentional or removed accidental

[2014-04-01 10:21] #2008 closed, assigned to nobody

[2014-04-01 10:52] #1997 closed, assigned to designermonkey

[2014-04-01 12:02] nilshoerrmann opened #2009 "Cannot save sections"

[2014-04-01 12:10] #2005 closed, assigned to nobody

[2014-04-01 12:11] #2007 closed, assigned to nobody

[2014-04-01 12:16] #1700 closed, assigned to brendo

[2014-04-01 12:17] #2009 closed, assigned to nobody

[2014-04-01 13:38] brendo opened #2010 "Release 2.4 Beta 3"
I want this released on Thursday Australian time. Let's wrap it up and focus on fixing bugs rather then new features and tweaks, there is a heap of awesome goodies in this release that need to in the hands of the community! Every feature that isn't in `integration` now is descoped until a later release.

Gentle reminder to update the wiki developer guide with any changes you've made as soon as pos

[2014-04-01 22:21] #1948 closed, assigned to brendo

[2014-04-02 07:54] #1908 closed, assigned to nobody

[2014-04-02 10:18] #1909 closed, assigned to brendo

[2014-04-02 11:02] #1996 closed, assigned to nilshoerrmann

[2014-04-02 13:06] #2001 closed, assigned to brendo

[2014-04-03 08:55] andrewminton opened #2012 "Strip White space required for links on System Extensions page"
https://github.com/symphonycms/symphony-2/blob/integration/symphony/content/content.systemextensions.php#L128

Just encountered a minor issue when checking links to github,website urls on the extensions page.

If the `extension.meta.xml` files of extensions are mall formed, i.e.

[code]

With white space around the url, the link is not present in the table and the `<a/>` tag renders like this:

`<

[2014-04-03 09:48] #2012 closed, assigned to nobody

[2014-04-03 09:51] #2010 closed, assigned to nobody

[2014-04-03 12:50] brendo opened #2013 "Investigate Symphony 2 Secure"
Found this fork, https://github.com/richadams/symphony-2-secure.

Seems to offer significant improvements in problem areas of:
- [ ] Sessions
- [x] Passwords
- [ ] PDO
- [x] CRSF

[2014-04-03 13:15] nilshoerrmann opened #2014 "Clean-up branches"
We have got 10 branches in this repository: which of these branches are still needed and what for?
- <del>`2.3.x` (what's this compared to `master`?)</del> <ins>obsolete</ins>
- **`bundle`**
- `devkits` <ins>(will this be merged?)</ins> <ins>"coll concept" @brendo forgot about</ins>
- **`gh-pages`** <ins>will be used for docs</ins>
- **`integration`**
- **`master`**
- **`pdo`** <del>(will this be

[2014-04-04 08:44] brendo opened #2016 "Add Documentation to Github Pages"
As raised in #2014, lets look at putting our documentation on Github pages, in the style of [Factory](http://symphonycms.github.io/factory/docs/about.xml).

There is two parts to this:
1. [Tutorials](http://www.getsymphony.com/learn/tutorials/beginners/) and [Articles](http://www.getsymphony.com/learn/articles/beginners/)
2. [API](http://www.getsymphony.com/learn/api/2.3.6/) docs

At present, 1. i

[2014-04-06 10:04] DavidOliver opened #2017 "Inputs showing previous values for a second or two"
After changing input values and checkboxes in certain pages, the success/saved page-load often (but not always) shows the old values and options. This is the case for Symphony 2.3.6 and 2.4.

If I leave it for a second or two and hit refresh, the new values and options are correctly shown.

If, instead, I immediately hit refresh again two or three times within the space of a second or two, the old

[2014-04-07 08:17] nilshoerrmann opened #2019 "Decouple styling and scripting"
This is a legacy from older Symphony versions: we are using the same classes for styling as we do for scripting hooks. Following [this discussion on the forum](http://www.getsymphony.com/discuss/thread/105886/), it would be a good idea to add specific JavaScript classes – e. g. `.js-tags` in addition to `.tags`, to decouple the design from the behaviour.

[2014-04-07 10:34] bernardodiasc opened #2020 "Wrong max-height on section editor"
This happens with every field added.

![screenshot from 2014-04-07 07 27 21](https://cloud.githubusercontent.com/assets/131859/2629924/664c21e4-be3f-11e3-9578-b68cf76f6be5.png)

[2014-04-07 11:01] bernardodiasc opened #2021 "Inconsistency in collapse and drag ux on section editor"
Hey guys, some notes about things that can be better on UX layer:
- **New section (non existing yet):**
  - drag/reorder feature works like a charm :+1:
  - collapse fields dont work :+1:
- **Existing sections:**
  - drag/reorder its not so pretty as before
    - now we need to press and start drag to see the field panel blue :+1:
    - the cursor is not the mickey mouse hand anymore
  - collapse

[2014-04-07 11:38] #2020 closed, assigned to nobody

[2014-04-07 17:08] jurajkapsz opened #2024 "Trim whitespace from input fields by default"
Feature proposal: To trim by default leading trailing whitespace from entry input fields.

I can not think about a use case where I would need a whitespace around (on the data level), or solely a whitespace as an input value. Under contrary, such a whitespace is mostly unwanted.

I mentioned it firstly in the [forum](http://www.getsymphony.com/discuss/thread/105924/) to discuss it at first. @desig

[2014-04-09 16:55] #2017 closed, assigned to nobody

[2014-04-11 07:27] nilshoerrmann opened #2027 "Deleting Ressources Provided by Extensions"
It seems to be possible to delete Data Sources and Events provided by extensions via the `With selected …` menu. **Is this a bug or a feature?**

Sometimes, extension provided resources can be annoying, but I don't think the core should delete files from an extension (unless the extension requested this itself) because this will most likely break the functionality provided by that extension.

[2014-04-11 08:22] nilshoerrmann opened #2028 "Saving Data Sources"
When I save a Data Source in the editor, the sort order is automatically reset to `asc` and the connected pages are deselected.

[2014-04-11 09:11] nilshoerrmann opened #2029 "Entry Pagination"
The entry pagination in the publish indexes doesn't display page numbers and action hints ("Go to …"). It's just a blank input field.

[2014-04-11 09:22] nilshoerrmann opened #2030 "Restoring of Collapsible States"
If a field is deleted in the section editor, the sort order in `localStorage` will not be updated. Currently, the collapse state of the deleted field is promoted to the following sibling (all states simply shift down one field).

[2014-04-11 12:50] nilshoerrmann opened #2031 "XML Result and Conditions"
I've got a Data Source with a required, `$year`, and a forbidden parameter, `$category`. When I'm browsing the root of the site and none of the parameters is set, I get the following result in the XML:

[code]

In my eyes, this is wrong. It's not true, that there were no records (there are results actually) – the Data Source was simply supposed not to be executed. Symphony should make that clear (

[2014-04-11 13:21] #2029 closed, assigned to nobody

[2014-04-12 17:54] miguelpayet opened #2032 "Saving a data source clears the attached pages list"
I have one datasource where I attach a page, and save the datasource, the attached pages list goes blank. So if I re-save the datasource, it loses it's page attachments.

This a site with two pages and two datasources. The other datasource behaves normally. The only difference I can think of is that the problem datasource has a tilde in the name (Parámetros).

I'll try to look for the issue myself

[2014-04-13 06:11] #2032 closed, assigned to nobody

[2014-04-13 06:28] #2027 closed, assigned to nobody

[2014-04-13 07:00] #2031 closed, assigned to nobody

[2014-04-14 11:41] DavidOliver opened #2033 "Checkbox field :first-child bottom margin"
![screenshot - 140414 - 13 25 35](https://cloud.githubusercontent.com/assets/192853/2694737/57806d3a-c3c8-11e3-97fe-3b4823860ddd.png)

What is the reason for the larger first-child bottom margin? It's set to 2.6rem instead of 1.5rem.

[2014-04-14 11:44] DavidOliver opened #2034 "Entry add/edit: use ‘Required’ instead of ‘Optional’?"
This has been suggested elsewhere in amongst other more wide-reaching changes, but should we consider this particular tweak for 2.4?

[2014-04-14 13:50] #2034 closed, assigned to nobody

[2014-04-14 14:23] #2033 closed, assigned to nobody

[2014-04-14 18:47] nilshoerrmann opened #2038 "Bulk editing removes filter"
When you edit multiple entries using the `With selected …` widget, any filter available in the URL will be lost after hitting apply.

[2014-04-16 12:09] nilshoerrmann opened #2039 "Tag lists should allow no suggestions"
This is important if you have a large number of tag-like items that you just want to have split into `item` in the XML but that would flood the backend with with a few hundred suggestions.

[2014-04-16 12:35] #2014 closed, assigned to nobody

[2014-04-19 17:15] jensscherbl opened #2040 "Problem with <![CDATA[]]> again"
_This is for Symphony 2.3.6, please close this issue (and let me know) if it has been solved in 2.4._

I want to check if a field (textarea without a text formatter) is empty in the XSLT, but even though a field doesn't have actual content and is empty in the backend, somtehing like

[code]

always returns true because there's an empty `<![CDATA[]]>`-string in the XML for the field.

If I do the s

[2014-04-20 09:22] andrewminton opened #2041 "2.4RC1 not installing token_lifetime settings etc.."
Pulling a fresh integration branch onto a new dev box and the config settings for:

[code]

Are not installed with migration. I'm guessing due to the fact the install is now at 2.4RC1 for the conditions are not met to install the new config entries.

Spent an hour debugging why I couldn't login only to find out the config settings weren't installed.

Is it worth catering for people freshly checkin

[2014-04-21 09:36] #2041 closed, assigned to nobody

[2014-04-21 19:50] bernardodiasc opened #2042 "Checkbox field issue on Sym2.4RC1"
In the publish page, now its possible to tick the checkbox in the entry row (see the image)

![links symphony](https://cloud.githubusercontent.com/assets/131859/2758168/ce4fbc02-c98d-11e3-87cb-f83a15b3cacb.png)

Every time I click I get this message from a `alert()`:

The check/uncheck don't works as expected, visualy yes, but after reload the page the new states are not saved.

[2014-04-22 01:46] #2042 closed, assigned to nobody

[2014-04-22 08:33] animaux opened #2044 "Error on Updating from 2.3.6 to 2.4RC1"
[code]

On any frontend/backend page.

[2014-04-22 08:45] bernardodiasc opened #2045 "Uninstall extension (when have no files of it)"
When I remove the files for an installed extension, show this error:
![symphony symphony extension missing error](https://cloud.githubusercontent.com/assets/131859/2762798/35cbfcfe-c9f9-11e3-98c4-9e5d9afb221d.png)

Alright, so far so good.

After click in the `Uninstall extension` button show this:
![symphony access denied](https://cloud.githubusercontent.com/assets/131859/2762830/e9ebce58-c9f9-11

[2014-04-22 13:31] bernardodiasc opened #2046 "xsrf input injected inside <script>"
The XSRF input tag is being injected inside a non empty `script` tag in the front end.

`<script><input type="hidden" name="xsrf" value="El2A8YzVmvrjx7P5BTy5yC7Tp/4" /> (...)`

I have no clue about why this happening. Any idea?

[2014-04-22 18:52] cremol opened #2047 "Re-saving events in Symphony 2.4 RC1"
Re-saving an event will re-set the target section to the first one (alphabetically)
Been scratching my head a few times now why things stopped working all of a sudden (after resaving the event in the event editor), so i guess this is kind of a serious issue...

[2014-04-23 07:24] #2044 closed, assigned to nobody

[2014-04-24 07:21] #2047 closed, assigned to brendo

[2014-04-24 15:24] designermonkey opened #2051 "Duplicator issue: XML Importer"
Logging this here as it's a core plugin in use in an extension.

I've been fixing up the XML Importer for use with 2.4, and the duplicator for the section -> fields is playing up a little.

When creating a new importer, selecting a section with one field will correctly display that single field instance for the duplicator.

When editing this importer, the duplicator automatically attaches another

[2014-04-25 10:07] designermonkey opened #2052 "Section Editor: "Hide this section from the back-end menu""
This has really bothered me for a while now.

The text in the title is from a Section Add/Edit view, and denotes that the section be hidden from the navigation system.

What this actually does, is also hide the section from all SelectBox Links in other sections, which is not what the text denotes.

A section should be selectable, irrespective of whether it is visible in the navigation

[2014-04-25 12:01] nilshoerrmann opened #2053 "Default Date"
In 2.4RC1, we are using `today` as the default date for the date field. This results in a different default date than before, see http://www.getsymphony.com/discuss/thread/106153/1/.

The date field should default to `now`.

[2014-04-26 07:39] #2019 closed, assigned to nilshoerrmann

[2014-04-26 07:40] #2030 closed, assigned to nilshoerrmann

[2014-04-26 11:58] #2053 closed, assigned to nobody

[2014-04-26 17:48] #2051 closed, assigned to nilshoerrmann

[2014-04-28 06:01] #2021 closed, assigned to nilshoerrmann

[2014-04-28 06:03] #2046 closed, assigned to nobody

[2014-04-28 06:07] #2016 closed, assigned to nobody

[2014-04-28 09:34] bernardodiasc opened #2054 "XSRF token with invalid character"
Error found when params output this:

[code]

See the `/` breaking the XSL processor.

Related to #2046

[2014-04-28 10:32] #2054 closed, assigned to nobody

[2014-04-28 12:07] #2045 closed, assigned to nobody

[2014-04-29 09:32] DavidOliver opened #2056 "'--' parser error : Comment not terminated"
Not sure if this is a Symphony issue or a lower level library issue/expected XSLT behaviour. I'm on the integration branch.

[code]

I'm finding this gives:

XSLT Processing Error
This page could not be rendered due to the following XSLT processing errors:
General
XSLTProcessor::importStylesheet(): /srv/www/symphony/project/workspace/templates/tours.xsl
parser error : Comment not terminated

Remov

[2014-04-29 10:12] #2056 closed, assigned to nobody

[2014-05-01 16:51] designermonkey opened #2058 "Extension Navigations"
It just occurred to me that I never did any work with extension navigation limitations when I added the Manager Author type.

I've just had a look at the extension navigation functionality, and can't figure out how it limits to developer, and therefore how I can add limiting to manager.

@brendo, @nilshoerrmann any ideas where I should start?

[2014-05-02 11:33] bernardodiasc opened #2059 "Error in the installation of a fresh 2.4RC2"
On the attempt to install a new Symphony site, I got this error:

`05/02/2014 8:29 am > Fatal Error: Could not write ‘.htaccess’ file. Check permission on /var/www/jardimprimavera`

`/var/www/jardimprimavera` have permission 777.

the file `.htaccess` has been created but it is blank.

I missed something os this is an issue?

[2014-05-02 11:45] #2059 closed, assigned to nobody

[2014-05-02 11:48] bernardodiasc opened #2060 "Alternative admin path on the install doesn't work (2.4RC2)"
The admin path (different of `/symphony`) doesn't work after a new install.

In my attempt I set `admin` as Admin Path, after the install in the `config.php` I have `'admin-path' => 'admin',` but `/admin` return 404. `/symphony` works.

[2014-05-06 09:09] designermonkey opened #2061 "2006: MySQL server has gone away"
Getting that error whenever I have the database open on SequelPro as well as looking at the website in a browser.

[2014-05-06 12:27] #2061 closed, assigned to nobody

[2014-05-07 07:38] jurajkapsz opened #2062 "[2.4RC2] Collapsing feature: Headers disappear on a selected expand"
When editing a section, the clickable header of a field settings disappears after clicked to expand.

Before:

![image](https://cloud.githubusercontent.com/assets/2209893/2899625/03e8bd22-d5ba-11e3-81a4-7249b3815b25.png)

After:

![image](https://cloud.githubusercontent.com/assets/2209893/2899630/19bca35c-d5ba-11e3-8e6e-7e1cb74a47b5.png)

The `Stránka` header disappears.

Afterwards, when collapse

[2014-05-07 13:21] #2060 closed, assigned to nobody

[2014-05-09 14:10] designermonkey opened #2063 "New Event Message Codes and delegates"
There are issues around fields that provide different messages for the same code (Members Email), `invalid` can mean many things.

The Members Email field is invalid if it isn't an email address, and also, if it is already in use.

I'm suggesting adding another one: `303 - FIELD_NON_UNIQUE` and adjust Members accordingly.

@brendo, I would like to add a delegate in here to allow the event messages

[2014-05-10 19:29] jurajkapsz opened #2064 "Publish filtering - multiple filters management"
About the new build-in publish filtering in 2.4, when I define two or more filters:
1. When I click the option to remove the first filter (or any other except the last one - about the last one see the second point), it is removed but there stays an empty ready-to-use filter field option. I expected the line to be removed completely.
2. When I click on the last filter's remove option, all filters a

[2014-05-13 10:00] nilshoerrmann opened #2065 "Creating New Authors"
After creating a new author, Symphony displays a success notification but also adds the new password confirmation block for admins ("Please confirm changes to this author with your password."). Although the new author has already been saved correctly, the UI suggests that I have to enter my password to finish that process.

[2014-05-13 13:12] designermonkey opened #2066 "Better Cookies"
I'm currently testing some changes to sessions and cookies, to allow different expiration times to be set for the admin area and the front-end.

So far it seems to be working ok, but I'm sure it will be a breaking change somewhere along the lines.

The change is in `class.symphony.php`:

[code]

What this does is set a different cookie for the front-end and the back-end. If a session is open for e

[2014-05-14 09:33] andrewminton opened #2068 "Fatal Error when creating new Event named Messages"
So if you currently create an event with the name 'Messages' Symphony blows up. and throws a 'Fatal Error: Call to undefined method EventMessages::about();'

If it's 'Message' or anything else it works.. just the word 'Messages' seems to be throwing a wobbly.

Tested on '2.4RC2'

[2014-05-14 12:01] #1939 closed, assigned to brendo

[2014-05-14 12:01] #2028 closed, assigned to nobody

[2014-05-15 09:16] designermonkey opened #2069 "With Selected and Page Types"
I may be having a dreamy moment, but I was sure I could attach page types via the With Selected menu?

If not, then should we?

[2014-05-15 09:57] designermonkey opened #2070 "Incorrect Content Types"
Setting a page as Json (page type) is supposed to output it as `application/json` yet it is still being output as `text/html,application/xhtml+xml,application/xml`.

Even trying to use the Content Type Mappings extension does not output the correct header.

[2014-05-15 09:59] #2070 closed, assigned to nobody

[2014-05-15 17:03] kmeinke opened #2071 "Release 2.4. broken submodules"
It seems current release has an empty .gitmodules file. This cause the install tutorial to fail. Install script only works after adding the essentials submodules.

[2014-05-15 18:23] #2071 closed, assigned to nobody

[2014-05-16 08:50] #1874 closed, assigned to brendo

[2014-05-26 13:38] jensscherbl opened #2073 "Filtering Select Box Link fields by `None`"
Select Box Link fields that are optional can be filtered by `None` (publish filtering), but that doesn't seem to work.

[2014-05-26 13:41] jensscherbl opened #2074 "Filtering Select Box Link fields with `contains`"
Filtering entries with `contains` doesn't seem to work for Select Box Link fields.

[2014-05-26 13:50] jensscherbl opened #2075 "Custom admin path not redirected properly"
If I change the admin path to `cms` or something else and try to access the backend via `/symphony/`, it properly redirects to the new custom admin path.

If I access a specific backend page directly, `/symphony/blueprints/pages/` for example, it doesn't redirect to `/cms/blueprints/pages/`.

[2014-05-26 16:45] jensscherbl opened #2076 "Publish filtering inconsistency with Select Box Link"
If I want to filter entries by a Select Box Link field, the search field's autocompletion offers existing values from the associated section.

That doesn't work when I'm clicking through to a linked section from the entries table. The associated section is correctly filtered by an entry id, but the search field is also prefilled with that id instead of the value, and the autocompletion no longer w

[2014-05-28 01:55] #2058 closed, assigned to nobody

[2014-05-28 01:56] #2040 closed, assigned to nobody

[2014-05-29 13:41] andrewminton opened #2077 "Too Few arguments error with associations"
`Symphony Warning: sprintf(): Too few arguments
An error occurred in /Applications/XAMPP/xamppfiles/htdocs/sym24/symphony/lib/toolkit/class.sectionmanager.php around line 279`

Could be just my install, but this is latest 2.4 build.

When editing a section (deleting a field) and the section has an association linked to it.

I get the above error.

Has there been a fix for this I've missed?

[2014-05-29 14:54] #2077 closed, assigned to nobody

[2014-05-29 16:52] designermonkey opened #2078 "chmod issues"
Here's the problem:

[code]

Now, I know this issue is caused by the way my setup operates, but we really shouldn't be trying to `chmod` a file until absolutely necessary.

Although this is just a warning, with errors on, it prevents a redirect from happening, and in a test environment, that can get annoying ;)

Is there any way we can try to write the file with `General::writeFile` before we then

[2014-05-29 23:58] designermonkey opened #2079 "Data not being deleted"
This is a very odd one.

It has taken me 4 attempts via the Section editor to delete the entries from a section. Each time, the number of entries changed radically from 22000 to 10, to 18 then to 22180.

Finally, the section reports that the data has been removed, yet the entry_data tables for the relevant fields are still full of data! There is no longer a reference in the entries table though, h

[2014-05-30 00:34] #2079 closed, assigned to nobody

[2014-06-03 11:24] nilshoerrmann opened #2082 "Show Associations"
If a section contains an associative field (like select boxes, tag lists or SBL fields with dynamic values), there is usually an option to display associations in the entry indexes. I'm not sure if I'm missing something obvious but it seems like we are storing this setting two times in different places and with different logic:

- first, we store it on a per field base in the table belonging to th

[2014-06-03 11:42] nilshoerrmann opened #2083 "Association Count in XML"
I've got a section that quite a few other sections link to. In the backend the associations are linked as expected, displaying the correct entry count:

![bildschirmfoto 2014-06-03 um 13 37 29](https://cloud.githubusercontent.com/assets/25466/3159602/8239f31c-eb13-11e3-9905-41757e2299df.png)

In the frontend though, the count is not returned correctly (notice the count for `filme`):

[code]

This

[2014-06-04 10:17] andrewminton opened #2084 "Event submittal issues with 2.4"
So we've spent a fair bit of time in the last few days wondering why our event's weren't triggering.

Turns out the action attribute with `{$current-url}` wasn't working. Once we removed this attribute the events fired fine.

The issue as far as we can see is that the action is requiring a `/` at the end of the value. Which doesn't exist in the `$current-url` param in the debug.

What's best cours

[2014-06-09 14:26] nitriques opened #2085 "Implement Associations issue: parent vs child"
I am trying to create a new field that will implement Associations. But right now it only works in one way... I really wonder why parent relationships and handle by the field (See https://github.com/symphonycms/symphony-2/blob/integration/symphony/content/content.publish.php#L1469-L1474) but when it comes to child associations, the field can't do anything (https://github.com/symphonycms/symphony-2

[2014-06-09 21:15] #2084 closed, assigned to nobody

[2014-06-10 09:59] #2083 closed, assigned to nobody

[2014-06-10 13:46] nilshoerrmann opened #2089 "Associative Tag Lists"
While working on #2088 I noticed an inconsistency: While select boxes that offer dynamic values from another section store their associations in `tbl_sections_association`, tag lists with dynamic values don't. It would be consequent to store associations for tag lists as well.

Adding this feature is simple but it depends on how #2082 is solved if association data needs to be added to the tag list

[2014-06-11 14:55] aVandalInShorts opened #2090 "Fatal database error on a section duplicate"
I had to make 2 sections with the same fields and I had a fatal database error. Here is what I did :

1: I created the first section with all the fields.
2: I cloned the first section and deleted all the garbage in the "Name" field and I cleared the "Handle" field so that Symphony would create one on his own. I was distracted and I gave the second section the exact same name as the first one.
3: I

[2014-06-12 10:51] designermonkey opened #2091 "Publish Filtering is broken"
I know it was my idea to merge this in, and I was expecting it to be like the old Publish Filtering, not a new (mainly) javascript version, so we could ensure it worked correctly before sprucing it up

It is thoroughly broken now and I have to release this to a client on Friday (tomorrow). Problem is I have no idea where to start with fixing it now as it has completely changed from how it worked o

[2014-06-12 14:42] azzagazz opened #2092 "$this->dsParamINCLUDEDELEMENTS returns wrong value"
[original post on the forum](http://www.getsymphony.com/discuss/thread/46067/10/#position-199)

i was trying to get multilingual field to output all languages as item nodes with the datasource output option `field-name: all-languages: formatted` from my datasource **test-datasource** but the value that reaches the extension from [class.datasource.section.php](https://github.com/symphonycms/symphon

[2014-06-13 16:57] jesseray opened #2094 "Error occurred in HTMLPurifier.standalone.php around line 15280"
Yesterday, I installed Symphony 2.4 with the default workspace. I published an article (using the admin area) successfully, and then tried to add a comment to it (using the user-facing website provided by the workspace). When I submitted the comment, I was given this error message:

[code]

[2014-06-15 04:45] #2094 closed, assigned to nobody

[2014-06-15 05:01] #2090 closed, assigned to brendo

[2014-06-18 12:58] AndrewCSDavis opened #2099 "Removing All Section Entries"
my local install crashes completely when i have tried to remove all entries within a single section , the section contains 100,000 entries is anyone else having this problem?

[2014-06-18 13:47] #2099 closed, assigned to nobody

[2014-06-19 02:54] #2085 closed, assigned to nobody

[2014-06-20 12:03] #2092 closed, assigned to nobody

[2014-06-21 14:51] nilshoerrmann opened #2103 "Deactivating Users"
I'm currently updating a project that has been growing over the last 10 years (yes, it was initially built using Symphony 1) and I have a problem with Symphony's user management:

The site has a news area that has been edited by a lot of different people over the years. 90 % of them are now longer actively working on the project, still I cannot delete their account because the core author field do

[2014-06-21 15:25] nilshoerrmann opened #2104 "Bulk-deleting Authors"
Deleting multiple authors from the author index using the `With selected …` menu doesn't work:
none of the selected authors will be deleted, no errors in the logs.

[2014-06-22 10:39] nilshoerrmann opened #2105 "Hidden Sections"
Dim hidden section in the section index and add their status to the table.

[2014-06-22 23:03] jensscherbl opened #2107 "Session cookie set on every frontend request again."
This was already solved in one of the 2.3 releases if I remember correctly, but 2.4 seems to fall back into old habits and creates a session cookie on every request to the frontend.

My guess is that this has something to do with the XSRF related changes, but I couldn't figure out the relevant parts myself.

[2014-06-23 13:32] designermonkey opened #2108 "Datasources: Redirect on empty"
This is a clanger!

I don't know what I've potentially done, but redirect on empty has absolutely no effect anymore.

This has to be fixed as a matter of urgency in a 'bug fix' release as I've (or hopefully not me) broken existing functionality.

I will look at it now, but if anyone can see anything obvious, let me know.

[2014-06-23 15:34] nilshoerrmann opened #2109 "Sorting"
It seems like sorting by columns in index tables does not work in `integration`.
Can anybody confirm this issue?

[2014-06-24 06:24] #2091 closed, assigned to nobody

[2014-06-25 02:39] brendo opened #2110 "Release 2.5.0"
We need to firm up a 2.4.1 release. There are two major themes in the issue tracker at the moment, Associations UI support, and Filtering UI enhancements/defects (mainly with SBL).

I'm keen to get the Associations UI work done to support that project, but also keen to get momentum and do a patch release for the [existing fixes](https://github.com/symphonycms/symphony-2/compare/master...integratio

[2014-06-26 08:48] andrewminton opened #2111 "Truncated string in param output frontendpage"
Issue on the forum has flagged a potential bug with the way prepareTableValue is outputing datasource parameters: http://www.getsymphony.com/discuss/thread/106764/1/#position-6

The function seems to be returning truncated values for strings over 75 characters in length even though the DB has a max character value of 255 for an input field.

[2014-06-26 16:31] michael-e opened #2112 "DateTimeObj::validate returns OK for invalid dates"
I wonder why `DateTimeObj::validate` returns `true` for invalid dates, e.g. `2014-00-00 00:00` or even `0000-00-00 00:00`. Is this intended behaviour?

(Tested with Symphony 2.3.6—maybe there have been changes in the meantime?)

[2014-06-30 09:44] nilshoerrmann opened #2115 "DS Editor Context"
This line – https://github.com/symphonycms/symphony-2/blob/integration/symphony/assets/js/src/backend.views.js#L610 – need to be more specific in order to not interfer with other interface:

[code]

[2014-06-30 12:00] #2115 closed, assigned to nobody

[2014-06-30 12:00] #1621 closed, assigned to brendo

[2014-07-03 15:07] nathanhornby opened #2116 "Cannot add a file upload field to a section when it contains a date field"
When attempting to add a file upload field to a section that already contains a date field, I get the following error:

Importantly, creating a section with both of these fields works fine, I only have the issue when adding a file upload field to a pre-existing section with a date field.

The value of the 'Default date' field (which I assume this refers to) is also irrelevant. It does get `POST`ed

[2014-07-03 16:13] #2116 closed, assigned to nobody

[2014-07-04 13:14] cremol opened #2117 "Default date pre population does not get saved"
The pre population of the 'Default Date' field is 'now'.
After saving the section this (or any other) value goes blank and throws an error.
So you have to enter it again everytime you edit a section.
This is symphony 2.4

[2014-07-05 09:07] #2039 closed, assigned to nobody

[2014-07-05 09:10] #2089 closed, assigned to nobody

[2014-07-05 12:14] #2117 closed, assigned to nobody

[2014-07-08 09:54] nathanhornby opened #2118 "[2.4] Request was rejected for having an invalid cross-site request forgery token."
I've seen this error show up a few times on a certain site I'm building, always when I try and create a new section or adding a new entry. Doing a hard refresh and trying again always works, is it related to the session, or a cookie?

I don't know much about XSRF, I did notice it as a new addition in 2.4.

[code]

Not knowing what would trigger this event it's hard to know if it's a bug, but it's

[2014-07-13 01:44] #2104 closed, assigned to nobody

[2014-07-14 15:19] #2107 closed, assigned to nobody

[2014-07-16 09:01] nathanhornby opened #2125 "[2.4] Duplicate section name produces nasty error"
I think this was just due to calling two sections the same thing, seems to fall over rather than validate the field, so the `post` is lost :(

![screen shot 2014-07-16 at 10 01 24](https://cloud.githubusercontent.com/assets/1975168/3596644/ce4508ac-0cc7-11e4-9751-a75680ab1377.png)

Incidentally how do others get around this? It's quite common for me to want to organise content in a way that ends u

[2014-07-16 09:41] #2125 closed, assigned to nobody

[2014-07-16 10:41] #2062 closed, assigned to nobody

[2014-07-17 10:47] reallyalexpro opened #2126 "Sendmail"
symphony/lib/toolkit/email-gateways/email.sendmail.php

mail($recipient_list, $subject, $this->_body, $header_fields, "-f{$this->_sender_email_address}");

Do not work with "-f{$this->_sender_email_address}" parameter if
core php directive "sendmail_path" has predefined -f option for sendmail.

[2014-07-18 19:50] jdsimcoe opened #2127 "Data Source "Included Elements" and "Parameters" visual display bug"
@symphony When creating/editing a datasource on `Symphony 2.5.0beta1` the textareas under the Content section do not show until you scroll in the textarea. See the below screenshots for examples of "Included Elements" and "Parameters" doing this:

**BEFORE SCROLL**
![screen shot 2014-07-18 at 12 47 08 pm](https://cloud.githubusercontent.com/assets/275617/3631259/c6c17798-0eb4-11e4-9354-b50b14fc61a

[2014-07-18 21:37] jdsimcoe opened #2128 "Upload Field bug"
This bug only shows up in Chrome 37.0 OSX:

![screen shot 2014-07-18 at 2 35 34 pm](https://cloud.githubusercontent.com/assets/275617/3632323/c392b5f0-0ec3-11e4-9448-c500d07f6916.png)

[2014-07-20 15:44] michael-e opened #2129 "Publish filtering option misses the count of entries"
The new publish filtering is cool, but it doesn't display the count of entries. It would be useful to know

* how many entries are there if no filters are active
* how many entries have been found with the current filter(s)

[2014-07-20 15:48] michael-e opened #2130 "Associations drawer displays entries called "None""
Using current integration code, entries linking to the current one are displayed as "None" in the associations drawer.

[2014-07-20 20:07] michael-e opened #2131 "Deleting an author doesn't require password of committer"
As soon as you create an author or manager, you see the new yellow bar telling "Please confirm changes to this author with your password." Which works, kind of. :-) But deleting the author/manager doesn't require a committer's password at all — isnt deleting a change to the author as well?

[2014-07-21 04:45] #2127 closed, assigned to nobody

[2014-07-21 04:50] #2126 closed, assigned to nobody

[2014-07-21 08:01] #2130 closed, assigned to nobody

[2014-07-21 08:02] #2052 closed, assigned to nobody

[2014-07-21 08:02] #2013 closed, assigned to nobody

[2014-07-21 08:04] #2068 closed, assigned to nobody

[2014-07-21 10:16] andrewminton opened #2132 "$page-types error in param pool"
`XSLTProcessor::transformToXml():
    Variable 'page-types' has not been declared.
    xmlXPathCompiledEval: evaluation failed
    XPath evaluation returned no result.`

?? It's in the param pool but can't be used anymore?

Symphony 2.5.0 Beta 1 and 2

[2014-07-21 18:21] nitriques opened #2133 "Fatal crash when creating a section with an already existing section handle"
I am pretty sure we should handle this differently.

![image](https://cloud.githubusercontent.com/assets/771169/3647886/b3f10146-1103-11e4-9e85-1687981a60b9.png)

I am reporting it right now but will try to send a PR to fix this later.

[2014-07-21 18:28] #2133 closed, assigned to nobody

[2014-07-21 18:55] jdsimcoe opened #2134 "Debug doesn't work on Symphony 2.5.0beta2"
On `OS X` in Chrome and Firefox my debug panel doesn't work:

![screen shot 2014-07-21 at 11 51 14 am](https://cloud.githubusercontent.com/assets/275617/3648378/86451958-1108-11e4-9d7a-3e5aebe0f733.png)

The only thing in the logs that shows is an error with `JIT` that I was trying to troubleshoot with `Debug`. Any ideas?

[2014-07-21 23:25] #2134 closed, assigned to nobody

[2014-07-22 07:10] #2128 closed, assigned to nobody

[2014-07-24 16:26] designermonkey opened #2138 "Cacheable content: Discussion"
For the first time ever with Symphony, I've started using Cacheable Datasource.

Wow. I should have been caching a lot earlier.

Why is this not being done by default? Shouldn't we be caching **all** our datasources anyway, and expiring the cache on an entry change? Just think of the speed benefits if we we're to do this!

[2014-07-24 20:39] designermonkey opened #2139 "DataSourcePreExecute possible issue"
I think there's an issue with the `DataSourcePreExecute` delegate.

I'm using the Cacheable Datasource extension, and have followed the code through thoroughly, and as far as I can see, it is subscribed and returning correctly for the delegate.

The problem I see is that any xml that is generated from this delegate is being appended to the output multiple times.

Say I have 3 datasources that I us

[2014-07-24 22:39] designermonkey opened #2140 "Providers Datasources"
There's a problem with the Providers Datasources. I've discovered it using the Section Schema Datasource extension.

The extension is providing it's editor page correctly, in particular the fields for a chosen section, and it is building the select box with one set of these fields.

When the section is `$_POST`ed, there are multiple copies of the same field handle posted. This means that if a fiel

[2014-07-25 08:58] michael-e opened #2141 "Page template uses bad practice regarding parameters"
Regarding page parameters, we promote using parameters from page XML instead of the XLT processor's runtime params. But still Symphony's page template (`/symphony/template/blueprints.page.xsl`) includes:

[code]

We should switch to "good practice":

[code]

Before sending a pull request, may I ask if anyone is aware of additional ocurrences?

[2014-07-25 10:06] nilshoerrmann opened #2142 "2.5 Migration"
I was trying to update an install from 2.4 to 2.5 (integration) and while the backend displayed an update notification (correct) the updater itself said everything was up-to-date (wrong).

The config has the old version number stored.
No errors in the logs.

Can anyone confirm this issue?

[2014-07-27 02:29] #2132 closed, assigned to nobody

[2014-07-27 02:44] #2142 closed, assigned to nobody

[2014-07-27 02:48] #2138 closed, assigned to nobody

[2014-07-27 02:53] #2111 closed, assigned to nobody

[2014-07-27 12:53] michael-e opened #2143 "Custom datasources and events: "Attach to pages" feature is missing"
I really love Symphony's new "Attach to pages" feature for datasources and events. I wondered why this feature is not available for custom DSs and events. Does this have technical reasons?

[2014-07-28 09:35] #2074 closed, assigned to nobody

[2014-07-29 12:10] #2141 closed, assigned to nobody

[2014-07-29 20:00] michael-e opened #2146 "Extension compatibility check gets confused"
I am using the latest code from the integration branch (Symphony 2.5.0beta2). I noticed that the compatibility check (on the backend's Extensions page) doesn't work as expected:
- If an extension uses `min="2.4" max="2.5"`, Symphony complains: `Enabled, requires Symphony 2.5`
- If an extension uses `min="2.5"`, Symphony does not complain.

So it seems that the min/max stuff confuses Symphony.

[2014-07-30 07:46] animaux opened #2147 "Sorting items throws error"
Sorting items in the section editor in `2.5 beta 2` renders the following error in `Safari 7.0.5`:

![error](https://cloud.githubusercontent.com/assets/446874/3746315/9edcd18e-17bd-11e4-8b48-0fb3baff07d7.png)

[2014-07-30 09:45] #2118 closed, assigned to nobody

[2014-07-30 09:45] #2109 closed, assigned to nobody

[2014-07-30 09:53] #2063 closed, assigned to nobody

[2014-07-30 10:16] #2038 closed, assigned to nobody

[2014-07-30 11:03] #2112 closed, assigned to nobody

[2014-07-30 13:20] designermonkey opened #2148 "Release Versioning (again ;))"
As we've adopted semver properly now, which is a great step forward, we should really consider how we do our release schedule.

I'm in agreement with @brendo that a slower schedule is better when we haven't got any real quantity of developers working on the codebase, but we can at least help those of us out who live more of a cutting edge life.

I would like to discuss the following structure to o

[2014-07-30 21:15] designermonkey opened #2149 "Page Events as Params"
How would people feel about outputting a list of attached events in the parameter pool for each page?

Use case:

I have a system thrown together where all messages used for events are stored in the CMS. The only issue is that the datasource isn't filterable by an event handle, yet if it were available in the params, it would be.

I _could_ use the Page Selectbox, but it seems like double the work

[2014-07-31 17:47] designermonkey opened #2150 "Fatal error adding SBL to section"
Symphony 2.5.0beta2:

[code]

[2014-07-31 22:22] #2150 closed, assigned to nobody

[2014-08-03 19:55] #2147 closed, assigned to nobody

[2014-08-04 09:14] designermonkey opened #2152 "Entry expects Author ID"
We've just come across an oddity in how Entries are created.

We now use some custom PHP to validate Entry data from the frontend, which allows us to create entries in many sections. This code creates a new Entry object, and populated the data as expected, before committing it to the database with the `commit()` method.

The problem arose whereby there was no Author ID for the entry, and Symphony

[2014-08-05 15:22] nathanhornby opened #2153 "[Suggestion] Reduce ambiguity of section names in datasources and events"
I've fallen into a workflow that I really like, that keeps the backend of sites very neat and user friendly, however it has some minor issues during development caused by a convention I'm not convinced is totally appropriate.

In general sites we build will have 3 types of content on a page:

Fixed page-specific content
Dynamic page-specific content
Shared site-wide content

Given this, more often

[2014-08-07 02:49] kamwing opened #2154 "Can't filter datasources from chinese string URL Parameters"
2.3.6 & 2.4 & 2.5 version
symphony-2/symphony/lib/toolkit/class.datasource.php

from line 311 to 315

[code]

I have replace these code with "$this->dsParamFILTERS[$key] = $new_value;" and it works.

I think this is a regexp issue right?

[2014-08-07 09:34] nathanhornby opened #2155 "Author Author type?"
I seem to be on a suggestion drive at the moment, so sorry in advance!

I was just writing a how-to for a client and realised it's a bit confusing that one of the Author types is 'Author', or maybe it's not odd and it's just me, but I was struggling to word things so it wasn't horribly confusing.

Author makes sense to me in the context of the 'type', as in they're a contributor (which I think is

[2014-08-09 09:21] michael-e opened #2157 "Event example code is wrong for "allow multiple""
When the "allow multiple" filter is attached to an event, the example frontend code is not changed. In Symphony 2.3.6 any form fields were changed from the default format (e.g. `fields[title]`) to the expected "array format" (e.g. `fields[0][title]`), but with latest integration code this does not happen anymore.

[2014-08-10 03:13] #2146 closed, assigned to brendo

[2014-08-11 15:09] designermonkey opened #2158 "`ModifyTextareaFieldPublishWidget`"
I only just noticed we have this delegate. I get what it is for: Applying text formatters et al.

How come something as useful and powerful isn't available for all field types? Should we not have a delegate on the Field class `ModifyFieldPublishWidget`.

Just think how powerful that would be...
- Modifying the markup of **any** Symphony Field to allow custom JS interaction by extensions.
- Allow f

[2014-08-12 06:15] nilshoerrmann opened #2160 "Providers"
Currently, something is wrong with the way providers work and extension developers will always have to include a function that should already be provided by the core. We noticed this during the development of the association interfaces and @brendo said he'll have a look at :)

For reference: https://github.com/hananils/association_ui_editor/blob/master/extension.driver.php#L19-L32

[2014-08-12 17:23] tachyondecay opened #2161 "Cannot register PHP functions through XSLTPage"
I recently updated to Symphony 2.4 and PHP 5.5 and discovered that my custom event to register PHP functions with the XSLT processor wasn't working. After fiddling around with the event, I eventually tracked the problem to the XSLTPage class itself:

[code]

That `+=` operator isn't doing what we thought it should be doing (merging `$function` with the existing array). Apparently, the array union

[2014-08-13 01:57] #2161 closed, assigned to nobody

[2014-08-13 03:19] #2154 closed, assigned to nobody

[2014-08-13 03:20] #2108 closed, assigned to nobody

[2014-08-13 03:27] #2157 closed, assigned to nobody

[2014-08-13 03:32] #2158 closed, assigned to designermonkey

[2014-08-13 20:26] creativedutchmen opened #2162 "Caching providers don't provide wildcards or namespaces"
In many cases a wildcard/namespace delete is required to make the caching really useful. For instance, imagine the Cacheable Datasource, and the way it purges all cached results when an entry is saved.

Now, I know this is really only feasible on a few platforms (mysql, files) while other platforms simply don't support it (memcache, redis), but fallbacks could be written for these platforms, allow

[2014-08-13 22:33] creativedutchmen opened #2163 "Caching database structure has primary key at wrong field"
The current `tbl_cache` table has an id, hash, creation, expiry and data field.

The id here is completely redundant, as it's the hash that's used as the identifier in the database caching provider.

For this reason the primary key should have been on the hash, not on the id. Going even further, the id field could be completely removed - although there may be people using it for some reason, of co

[2014-08-14 08:38] #2139 closed, assigned to nobody

[2014-08-18 18:45] michael-e opened #2168 "Symphony doesn't unset browser cookie"
I am hesitating, because I don't know which change in Symphony might have caused this… but still: I am pretty sure that in Symphony 2.3.x, when a session had nothing but empty values, the cookie was removed from the client's browser In Symphony 2.5, however, even if my session in the database has empty values, after logging out (e.g. `sym-members|a:0:{}sym-|a:0:{}`), I always keep the cookie in th

[2014-08-18 18:47] #2168 closed, assigned to nobody

[2014-08-20 13:03] #2066 closed, assigned to nobody

[2014-08-20 13:05] #2149 closed, assigned to nobody

[2014-08-20 21:46] nitriques opened #2171 "[Suggestion] Adding a Field->fetchIDfromValue method"
SLB has this method baked in: https://github.com/symphonycms/selectbox_link_field/blob/0fab4b767ce664ab62e1759ac8012dabf6370c2b/fields/field.selectbox_link.php#L371 but the implementation is only good if the value you are looking for is in the handle column. This is mostly right, but sometimes it is not.
- HashId field (and others) does not have a handle, so you can't filter with it.
- Multilingua

[2014-08-21 08:53] nathanhornby opened #2172 "[2.5] Author shown as ID in entry table"
I'm not sure if this is 2.5 specific, but I'm pretty sure it wasn't always the case (maybe it was?), but the 'Author' field seems to be outputting the author ID in the entry table, not the full name.

![screen shot 2014-08-21 at 09 53 57](https://cloud.githubusercontent.com/assets/1975168/3993727/be4eb398-2910-11e4-951e-01a51c324074.png)

[2014-08-23 16:44] michael-e opened #2173 "XSRF token is not generated in the frontend"
In the frontend (i.e. without a visitor being logged in to Symphony), XSRF tokens are not generated. The backend uses `$this->Page->Form->prependChild(XSRF::formToken());` on every form, which will in turn call `self::getToken()`—so a token gets generated. But in the frontend, this doesn't happen (since we don't want to automatically inject any token markup). My first idea to solve this is to add:

[2014-08-24 13:13] #2172 closed, assigned to nobody

[2014-08-24 20:27] michael-e opened #2174 "XSRF token is removed if an invalid token is passed"
I am not sure if this is a bug or a feature—I simply don't understand why this happens (because I thought that XSRF tokens will live as long as the session).

When an invalid XSRF token is sent, the existing token gets removed. So the client will have to retrieve a new token. If you are building an API, for example, you will have to build additional logic into the client software that talks to thi

[2014-08-25 09:42] michael-e opened #2175 "'Author' variable no longer works"
In Symphony 2.5beta2, the Author variable (e.g. `Administration::instance()->Author`) no longer works. A new accessor function has been added to `lib/core/class.symphony.php` — which means that you must use `Author()` now. (Or maybe `$Author` to get the variable, I haven't tested this.) The change is in https://github.com/symphonycms/symphony-2/commit/e003f1471f626133ef3d7170aa59b72a464d4e75

Some

[2014-08-25 13:09] michael-e opened #2176 "XSRF filter error erroneously reported in event XML"
When a Members permission filter fails, the Member `<filter/>` node is correctly placed inside event XML, followed by en XSRF filter error node which is incorrect. There should not be an XSRF error in the following case (because the XSRF token was correct):

[code]

This is an issue for correct validation messages in the frontend, of course.

[2014-08-25 13:14] #2176 closed, assigned to nobody

[2014-08-25 15:45] DavidOliver opened #2177 "[2.4] removeHeaderFromPage not effective"
I'm testing in 2.4. (Not sure if this is still the case in integration/2.5.)

Although `Frontend::Page()->removeHeaderFromPage()` does remove a header from the `$_headers` array, this isn't reflected in the actual headers sent with the response.

For example, `Frontend::Page()->removeHeaderFromPage('Pragma');` doesn't stop the `Pragma` header from being sent. (`Frontend::Page()->addHeaderToPage('P

[2014-08-25 19:15] jensscherbl opened #2178 "Revisiting transliterations"
I wanted to bring [this topic](http://www.getsymphony.com/discuss/thread/107626/) up a while ago but forgot about it.

The core function for creating handles uses transliterations. Transliterations can be
overwritten per language by extensions.

If I'm not mistaken, what transliterations are used to create a handle always depends on what language your backend currently uses.

Is this correct?

I t

[2014-08-26 12:08] michael-e opened #2179 "Double filter nodes in event XML"
This issue has been moved from https://github.com/symphonycms/members/issues/260

Using the integration branch, I notice that—only **if filters return success**—, there are two identical `<filter/>` nodes in event XML. The member role permission filter response, for example, will look like this:

[code]

This does not happen when the permissions check fails:

[code]

This phenomenon is not limited

[2014-08-26 12:49] #2179 closed, assigned to nobody

[2014-08-27 12:28] #2177 closed, assigned to nobody

[2014-08-29 12:35] jensscherbl opened #2180 "PHP version support"
[Migration Guide to 2.4 for Developers](https://github.com/symphonycms/symphony-2/wiki/Migration-Guide-to-2.4-for-Developers#functions):

Is this correct? Thought we only dropped PHP 5.2 support and support PHP 5.3+ with Symphony 2.4.

[2014-08-29 14:05] jensscherbl opened #2181 "Author field not omitted from xml output when empty"
Empty Author field creates an empty node in the XML output. All other fields (except from the textarea field) are omitted from the output entirely when empty.

[2014-08-31 01:31] #2180 closed, assigned to nobody

[2014-08-31 18:23] jensscherbl opened #2182 "[2.5RC1] ID is a reserved name"
Wouldn't it make more sense to use the more technical term `UID` internally and allow developers to create fields with the more generic term `ID` instead?

And why does this affect not only the field handle, but also the field label?

[2014-08-31 18:30] jensscherbl opened #2183 "Semantic versioning for pre-release versions"
2.5RC1 should be 2.5.0-rc.1

Also good to keep in mind

[2014-08-31 21:24] jensscherbl opened #2184 "[2.5RC1] Error occurs when using values of Select Box as values for Select Box Link"
Linking to a section via **Select Box Link** field and using values from a **Select Box** field in that section throws a nasty error when trying to create a new entry or edit an existing entry in the linking section.

[2014-09-01 09:18] #2182 closed, assigned to nobody

[2014-09-01 10:06] #2181 closed, assigned to nobody

[2014-09-01 10:26] #2183 closed, assigned to nobody

[2014-09-01 12:56] jensscherbl opened #2185 "Milestones"
Are issues #2076, #2073 & #2064 bugs? Should be scoped for a 2.5.1 [milestone](https://github.com/symphonycms/symphony-2/milestones) before starting to work on new features and enhancements for [2.6.0](https://github.com/symphonycms/symphony-2/milestones/2.6.0).

[2014-09-01 13:35] michael-e opened #2186 "POSTing with no fields throws error"
If you add a "native" event to a page, and you POST to that page without adding any fields in your POST request (i.e. just the triggering "button name"), you will see an error:

[code]

The only problem seems to be that `$fields` is not an array. If I change:

[code]

to:

[code]

evrything works fine. Just for testing, of course — @brendo will know better where exactly `$fields` should be made an

[2014-09-01 22:00] #2184 closed, assigned to nobody

[2014-09-02 21:19] jensscherbl opened #2187 "Issue when grouping datasource by empty author field"
When grouping a section by an empty field, the grouping still works.

However, when grouping by an empty author field, the datasource xml output is empty (except for the first node containing the section name and handle).

[2014-09-02 21:26] jensscherbl opened #2188 "Introduce grouping by System Author, System Creation Date, and System Modification Date"
There is an option to group a datasource by author in the datasource editor. Doing so however leads to the following error in the xml output:

[code]

I'm also confused why this option is in the datasource editor in the first place. What's the difference to adding an author field to your section and grouping by that?

[2014-09-03 15:17] designermonkey opened #2189 "2.5.0-rc.2 - Administration is using $this"
Running an importer from the CLI, with an `auth-token` throws a fatal error that the `isLoggedIn` function is using `$this` when not in object context (line 99).

[2014-09-03 15:18] #2189 closed, assigned to nobody

[2014-09-03 19:02] designermonkey opened #2190 "MySQL strict mode"
I am fed up with having to switch of MySQL strict mode on my servers because we keep sending integers as strings.

Can we have a diligent check to make sure that if we are sending IDs through to the database we convert them to integers? A varchar field will happily accept an integer, but not the other way around.

[2014-09-04 08:38] #2185 closed, assigned to nobody

[2014-09-04 08:58] nilshoerrmann opened #2191 "Inconsistency when filtering by system id"
If you filter a data source by system id, Symphony accepts invalid ids and returns false matches: a strings like `1234a` returns data for the entry `1234` which is not correct.

My guess is that this is due to a conversion from string to integer with `intval()` or such although I'm not sure why Symphony is converting the given value at all: an incorrect value should result in an error and not in a

[2014-09-04 14:44] designermonkey opened #2192 "Selectable question"
What is the need for the attribute `data-interactive` on a `selectable` table? Wouldn't the table being `selectable` mean it's interactive by default?

I just think it's a too much as it breaks extensions. Lots of them.

[2014-09-06 08:19] #2187 closed, assigned to nobody

[2014-09-06 08:30] #2186 closed, assigned to nobody

[2014-09-06 13:20] brendo opened #2194 "Autoloader"
I've recently pushed an [autoload](https://github.com/symphonycms/symphony-2/tree/autoload) branch to Symphony and I'd like to throw it open to feedback, thoughts and testing.
#### What

Don't get super excited, as the commits show this is a the most basic of all autoloaders, a classmap. It was manually constructed by me after [compiling all the `require_once` statements throughout Symphony](https

[2014-09-09 11:08] jensscherbl opened #2196 "Setting ignored when creating a new section"
Section editor ignores the `Allow filtering of section entries` setting when creating a new section. Even if unchecked, the section still shows the `filter entries` button and the setting is checked when reopening the section editor.

[2014-09-09 15:29] #2196 closed, assigned to nobody

[2014-09-10 13:39] designermonkey opened #2198 "403 page not attaching datasources"
I don't know if this is just a delegate issue, I hope so, but my custom 403 page has no attached datasources.

I have used the Global Resource Loader to, well, set globals, but none of them are being attached to only these two pages.

I don't know how the code works to process these pages. Especially as it's the Members extension that is denying access. Does this process do anything that the stand

[2014-09-10 16:44] mblabs opened #2200 "Some extensions returns error: "Call to a member function isDeveloper() on a non-object""
In 2.5rc2, I've installed 2 extensions (cache managment and increment number field). The two extensions have a problems with the function "Administration::instance()->Author->isManager()" and the error returned is "Symphony Fatal Error: Call to a member function isDeveloper() on a non-object". Why it happens?

[2014-09-10 17:09] #2200 closed, assigned to nobody

[2014-09-11 08:43] #2175 closed, assigned to nobody

[2014-09-18 18:49] jdsimcoe opened #2202 "Dynamic XML Mutex error"
I have a `Dynamic XML` Datasource that is pulling a feed from Ustream. When I `?debug` I am getting this error:

[code]

I'm not entirely sure why it is looking for `/tmp` and not `/manifest/tmp` but I'm not sure that it makes a difference. That the `/manifest/tmp` folder is there and writeable.

On my localhost version, I get this error:

[code]

I'm running on `2.5.0`. I posted on the [Symphony

[2014-09-18 20:58] wdebusschere opened #2203 "Custom events:"
protected function __trigger(){
if($result->getAttribute('result') == "success")
{
ERROR: Symphony Fatal Error: Call to a member function getAttribute() on a non-object

[2014-09-19 15:59] DavidOliver opened #2204 "Fresh installation: Request rejected, invalid cross-site request forgery token"
After a fresh installation of 2.5, my first visit to the Symphony backend via the 'take me to...' or whatever it's labelled button resulted in:

After a couple of refreshes, the problem went away and I'm now in Symphony.

[2014-09-20 07:11] #2202 closed, assigned to nobody

[2014-09-22 10:24] wdebusschere opened #2207 "Author Frontend Login -> event.login.php"
We have created a custom CMS for our clients inside their website.
The login page with  <input name="action[login]" type="submit" value="Login" class="btn" /> now gives an error

Symphony Fatal Error: Call to a member function get() on a non-object
An error occurred in workspace/events/event.login.php around line 60

We have updated our code for checking if a user is logged in from
data/events/use

[2014-09-22 22:29] #2110 closed, assigned to brendo

[2014-09-22 22:29] #2203 closed, assigned to nobody

[2014-09-22 22:30] #2198 closed, assigned to nobody

[2014-10-04 00:22] pointybeard opened #2209 "Initialisation of ExtensionManager::$_subscriptions"
Recently I have come accross a situation where I need to reload the `ExtensionManager::$_subscriptions` array. Specifically I have an extension that switches to a different Symphony Database based on a parameter in the URL. When this happens, the wrong extension delegate subscriptions are in the array. There is no way to update the array.

The code responsible is all in the constructor, which I th

[2014-10-05 04:33] #2209 closed, assigned to pointybeard

[2014-10-09 13:20] jensscherbl opened #2211 "Entry loses prepopulate URL parameter on error"
Value is still stored and the field still hidden, but the parameter is missing from the URL and the associations drawer is hidden (when creating a new entry).

[2014-10-09 18:19] jensscherbl opened #2212 "Textarea field totally fucked up!"
Seems to be a pretty nasty core issue, not a markdown issue.

Sometimes I get the feeling I'm the only one who's actually using Symphony for projects, not just fiddling around with the codebase. Am I really the only one to come across this issue? oO

See https://github.com/symphonycms/markdown/issues/10 for more information.

[2014-10-10 09:56] nathanhornby opened #2214 "[2.4] Can't delete first author?"
I'm not sure what kind of bug this is (and I haven't tested in newer versions, so apologies if this is something that's been resolved), but in 2.4 (PHP 5.3) I don't seem to be able to delete the author that was created when installing Symphony.

i.e. I've created a second developer account, logged out of the original one, logged into the new one and attempted to delete the original.

Attempting to

[2014-10-10 11:27] #2212 closed, assigned to nobody

[2014-10-10 14:06] nathanhornby opened #2215 "Stay at bottom of page on save [Chrome?]"
I think this is something introduced with a new version of Chrome - is anyone else experiencing this? On at least 2.4 and 2.5 when I save an entry, preferences etc. I'm sent to the _bottom_ of the page (or I stay there?). Means as an end-user I don't see the header confirmation, on some pages it doesn't even feel like the page submitted (almost ajax like).

As I say, I think it's a Chrome thing, b

[2014-10-10 14:12] brendo opened #2216 "How does the SMTP class use the `$subject`?"
Hey @creativedutchmen/@michael-e,

I've was analysing some stuff from [here](https://scrutinizer-ci.com/g/symphonycms/symphony-2/issues/integration/files/symphony/lib/toolkit/class.smtp.php?selectedLabels%5B0%5D=2&orderField=path&order=asc#inspectioncomment-271433186) and noticed this particular oddity.

It doesn't look like the `SMTP->sendMail` functions actually uses the `$subject` parameter at

[2014-10-10 14:37] #2192 closed, assigned to nobody

[2014-10-10 17:31] jensscherbl opened #2217 "Scrutinizer vs. Code Climate?"
Not sure what this means, but wasn't the Code Climate value higher/better (2.6) previous to the latest changes?

[2014-10-10 21:27] jensscherbl opened #2219 "Can't use website name with ' in it"
I currently have a project where the client/website name has a `'` in it, similar to [Harry's](https://www.harrys.com), for example.

When I try to use the parameter `$website-name` in my template, the output is `&apos;` instead of `'`. The value is stored and escaped correctly in the `config.php` like `Harry\'s` and displayed correctly as `Harry's` in debug mode.

[2014-10-10 21:55] jensscherbl opened #2220 "Nevermind"
I still don't really get the interaction between issues, pull requests and branches on GitHub. Sorry for the mess...

[2014-10-10 22:20] #2220 closed, assigned to nobody

[2014-10-11 11:27] #2219 closed, assigned to nobody

[2014-10-12 03:44] #2217 closed, assigned to nobody

[2014-10-12 11:02] #2214 closed, assigned to nobody

[2014-10-12 23:34] brendo opened #2223 "Allow Log integration with Monolog"
Our Symphony Log is limited to file rotation logging and doesn't follow any particular standard. Integration with the ever popular and extensible [Monolog](https://github.com/Seldaek/monolog) will allow greater freedom and flexibility to log information and errors.

By default we could use the [StreamHandler](https://github.com/Seldaek/monolog/blob/master/src/Monolog/Handler/StreamHandler.php) or

[2014-10-13 07:29] nilshoerrmann opened #2224 "Handle Long Entry Title"
Long entry titles are not correctly shortened and wrapped in the edit view:

![bildschirmfoto 2014-10-13 um 09 26 49](https://cloud.githubusercontent.com/assets/25466/4610034/7b0a3904-52aa-11e4-879c-24e59cab69fc.png)

[2014-10-13 08:36] michael-e opened #2225 "Filter switches from "contains" to "is" for some SBL fields only"
For some SBL fields (the first one, two or three—I haven't managed to find the systematics behind it), the filter switches from "contains" to "is" (which is desired, of course). But for others (that are further down in the list of fields) it won't.

I really tried to grab this more precisely. Does it depend on SBL fields being required? No. Does it always break after a fixed number of SBL fields?

[2014-10-13 09:09] michael-e opened #2226 "UI quirks when filtering on Input fields"
When filtering on an input field, you will type your search into the form input on the right.

![bildschirmfoto 2014-10-13 um 10 59 59](https://cloud.githubusercontent.com/assets/40072/4611153/5873e590-52b7-11e4-9f48-c1184c014a3f.png)

First quirk: The test "Search for…" is misleading, because the user will think that a search already takes place while typing (which is not the case). The styling d

[2014-10-16 10:48] nathanhornby opened #2228 "Can't sort entries in entry table"
I have a weird issue on a site I've just deployed (2.5.1).

I can't change the sort order (i.e. clicking the field name in the entry list to sort the entry table by that field) of any of the entry tables. However I can sort the entries just fine on the local build - so clearly something is up with the live version of the site.

Is there something obvious that would cause this issue? Nothing in the

[2014-10-16 14:15] #2228 closed, assigned to nobody

[2014-10-16 21:59] nitriques opened #2229 "Proposition: Rename Gateway class to HTTPGateway"
http://www.getsymphony.com/learn/api/2.5.1/toolkit/gateway/

The name always puzzled me... We have Email Gateway...

It would be easy to deprecate and offer path to migration (via inheritance).

[2014-10-20 20:08] nitriques opened #2230 "General class in documentation still missing"
I thought I'd fix that already, but it seems like the `General` class still refuses to show up in the doc.

https://github.com/symphonycms/symphony-2/blob/master/symphony/lib/toolkit/class.general.php

http://www.getsymphony.com/learn/api/2.5.0/toolkit/general/
http://www.getsymphony.com/learn/api/2.5.1/toolkit/general/

I do not know why....

[2014-10-24 10:50] kmeinke opened #2232 "Using POST Data to filter a Datasource"
Hi, :)

I am implementing a filter for a html table populated from a datasource.
The filter arguments are quite complex (hierachical) and i dont want to encode them as url parameter / query string.

Insteed I am looking for a way to use POST Data to filter the datasource. Sadly I wasnt able to find any hints to do so. Perhabs I am missing something?

I have tried to use the Event Feature for it, b

[2014-10-24 11:14] #2232 closed, assigned to nobody

[2014-10-30 14:21] designermonkey opened #2234 "File Upload: Option in Preferences"
Could an option be added to the preferences to allow other filesystem locations to be chooseable in File Upload fields alongside the `/workspace` folder?

Not all of us use this folder to store our uploads. I currently symlink it, but would prefer not to have to.

[2014-10-31 12:10] jensscherbl opened #2235 "Datasource error"
I get an error in the data source editor when I try to use a data source parameter using the dot-notation `{$ds-data-source.field}` for the page number in pagination settings. Works fine for other parameters.

I'm using _Symphony 2.5.2-rc.1_, there's nothing in the log file and the error message only says _An error occurred while processing this form. See below for details._ with no further detail

[2014-10-31 13:35] michael-e opened #2236 "Upload field: Wrong error message when field is required"
Just a reminder to introduce a fix to the Symphony core when the time comes. See https://github.com/symphonists/s3upload_field/issues/17.

[2014-11-01 22:35] jurajkapsz opened #2237 "Checkboxes in backend occasionally change states by themselves"
I keep experiencing that various checkboxes are being checked without my intervention.

For example, if I edit some section field settings, the whole section sometimes get a status to be hidden for backend menus. I am pretty sure this is not my doing, cause it happens just too often. Is spooky.

How to debug this?

Having Symphony 2.5.2 rc1

[2014-11-03 10:10] #1187 closed, assigned to nobody

[2014-11-03 10:10] #2191 closed, assigned to nobody

[2014-11-03 10:10] #2211 closed, assigned to nobody

[2014-11-03 10:10] #2224 closed, assigned to brendo

[2014-11-04 08:38] #2215 closed, assigned to nobody

[2014-11-04 10:22] nilshoerrmann opened #2239 ""Drag to reorder" on empty tables"
After installing Symphony, you'll get redirected to the empty section index:

![bildschirmfoto 2014-11-04 um 11 20 19](https://cloud.githubusercontent.com/assets/25466/4898062/5ed4545e-640c-11e4-83f0-9f67d9ef92f2.png)

There should be no "drag to reorder" note as long as there are less than two section in the list.

[2014-11-04 10:25] nilshoerrmann opened #2240 "E-Mail Gateway Preferences"
In the e-mail gateway preferences, there should be no separating line between the gateway selection and the preferences. This works correctly in older versions (e. g. `2.3.4`).

![bildschirmfoto 2014-11-04 um 11 23 03](https://cloud.githubusercontent.com/assets/25466/4898121/fae7dbcc-640c-11e4-852a-5feafc08c56d.png)

[2014-11-05 09:24] #2194 closed, assigned to nobody

[2014-11-05 09:34] #2216 closed, assigned to creativedutchmen

[2014-11-05 09:47] #2174 closed, assigned to brendo

[2014-11-05 11:28] #2239 closed, assigned to nilshoerrmann

[2014-11-05 11:31] #2240 closed, assigned to nilshoerrmann

[2014-11-05 11:38] #2105 closed, assigned to nilshoerrmann

[2014-11-05 11:51] #2065 closed, assigned to nilshoerrmann

[2014-11-05 11:52] #2103 closed, assigned to nobody

[2014-11-05 15:49] nilshoerrmann opened #2241 "Filter help does not update correctly"
The new filter help text do not update correctly, if the user edits the filter values manually instead of just clicking one of the given suggestions.

See https://github.com/symphonycms/symphony-2/commit/b9758ddf3d2bb19d0accd0aa313580e08de7168e for reference.

[2014-11-05 18:15] #2241 closed, assigned to nilshoerrmann

[2014-11-05 18:34] nilshoerrmann opened #2244 "Filter Author Field by Value or Handle"
The author field does not allow filtering by value or handle. As discussed in #2073, adding this feature would remove the need to convert between string values and ids for the backend filtering.

[2014-11-06 07:27] nilshoerrmann opened #2245 "Abstract Filtering Interface"
In order to fix most of the [issues related to publish filtering](https://github.com/symphonycms/symphony-2/labels/Filtering%20UI), I'd like to reuse the filtering interface used by the Data Source editor (applying different styling and additional behaviour).

@brendo: How can we [abstract the underlying code](https://github.com/symphonycms/symphony-2/blob/master/symphony/content/content.blueprint

[2014-11-06 07:30] nilshoerrmann opened #2246 "Publish Filtering and Empty Sections"
Publish Filtering should not be available if a section has less than two entries:
there is nothing to really filter on.

Follow-up to #2239.

[2014-11-07 15:59] aVandalInShorts opened #2247 "Bug playing with alt+tab in the edit section form"
In the section edit page, all the field were close. I added a new one and I alt+tab and the entry before changed to show me the last input of the field.

![bug](https://cloud.githubusercontent.com/assets/5823666/4955674/01850432-6697-11e4-8ff9-7b13524a63c7.jpg)

@nitriques

[2014-11-07 16:28] nitriques opened #2248 "X-Frame-Options is deprecated"
As per https://developer.mozilla.org/en-US/docs/Web/HTTP/X-Frame-Options

So I think it should be wise to add the new values too.

https://developer.mozilla.org/en-US/docs/Web/Security/CSP/CSP_policy_directives

[2014-11-07 19:58] #2002 closed, assigned to nilshoerrmann

[2014-11-10 11:05] designermonkey opened #2249 "Pre 2.5 can't be upgraded when using SBL"
Can't go through and update all the fields as there is existing data, but now 2.5 > beta throws an error saving SBL fields, as expected columns don't exist.

Shouldn't this have been thought about a little better?

[2014-11-10 11:11] #2249 closed, assigned to nobody

[2014-11-10 11:45] #2246 closed, assigned to nilshoerrmann

[2014-11-10 12:40] nilshoerrmann opened #2250 "404 Redirection"
The checkbox labels are hard to read (length) and cannot be differentiated easily (similarity):

![bildschirmfoto 2014-11-10 um 13 38 38](https://cloud.githubusercontent.com/assets/25466/4975930/ea2f92b2-68de-11e4-91a2-c0769fd75164.png)

[2014-11-11 00:56] jurajkapsz opened #2251 "Datasource name causes 404 datasource returns"
I've come to a state that only a name of a datasource (DS) decides upon returning that DS with a `404` result.

When I change the name, it works and returns results; when I return the name back it returns a `404` result, which I don't know from where or which DS it may come.

No options elsewhere\* are set to take any `404` action based on this DS output parameters. The DS itself has no `404` retu

[2014-11-11 01:54] #2251 closed, assigned to nobody

[2014-11-11 10:04] jonmifsud opened #2252 "Session Providers"
I'm fully aware that Sessions in Symphony have been a major point of discussion. I'd like to try add a bit more to that, one of my clients has specifically requested to store session data in Memcache, rather then the database.

Basically they've had a very old Symphony 2 install, and their session tables tend to get quite big. The server admin wants to be sure that there's no writes to the databas

[2014-11-11 13:13] ijy opened #2253 "Navigation Group shouldn't provide a drop-down if less than two entries"
Much in line with [this issue](https://github.com/symphonycms/symphony-2/issues/2246), I think Navigation Groups should only provide a drop-down if they contain two or more items.

I frequently install [Don't Drop](http://symphonyextensions.com/extensions/dont_drop/) to address this behaviour but it seems that it should be part of the core by default.

[2014-11-11 13:47] #2253 closed, assigned to nobody

[2014-11-12 15:11] nitriques opened #2254 "MySQL 5.0"
As per Oracle's statement on http://dev.mysql.com/doc/refman/5.0/en/

[code]

I think we should set our requirements to 5.5 since 5.7 is out already. I often send clients to http://www.getsymphony.com/ in order for them to get the latest requirements and I hate to still see 5.0 in there.

Please tell us your thoughts on this!

[2014-11-12 23:48] #2236 closed, assigned to brendo

[2014-11-12 23:48] #2235 closed, assigned to nobody

[2014-11-13 16:28] michael-e opened #2255 "Fatal Database Error on Password Reset"
@creativedutchmen found and fixed a bug in the password reset procedure which I am posting here, for the records:

Attempting a password reset for a Symphony (backend) account will send a URL like `http://example.com/symphony/login/004204e94597e682/` via email. When you click on that link, you will see a Fatal Database Error which is caused by the input (token) not being quoted in the SQL statemen

[2014-11-13 21:26] jurajkapsz opened #2257 "Proposition: "With selected..." not ignoring multiple option selects"
`With selected` field bellow publish index view could handle also select fields which have multiple option selects enabled, by:
- Adding only one value per one application,
- Selecting empty value for that field would remove all entries in that field.

What do you think about it?

Thanks.

[2014-11-14 15:41] #2207 closed, assigned to nobody

[2014-11-16 08:40] #2255 closed, assigned to michael-e

[2014-11-17 10:06] #2245 closed, assigned to brendo

[2014-11-17 10:07] #2226 closed, assigned to nilshoerrmann

[2014-11-17 10:07] #2064 closed, assigned to nilshoerrmann

[2014-11-19 04:47] miferval opened #2259 "Problem with data source generation on Windows"
On line 1367 of symphony/content/contents.blueprintsdatasources.php
$dsShell = preg_replace(array('//', '/(\t+[\r\n]){2,}/'), '', $dsShell);
the  '/(\r\n){2,}/'  part cause problems, at least with my configuration.

The first line of the data-source data file that is generated

<?phprequire_once TOOLKIT . '/class.datasource.php';class datasourcetest extends SectionDatasource

have the <?php tag an

[2014-11-19 09:58] #2244 closed, assigned to brendo

[2014-11-21 19:23] psychoticmeow opened #2261 "PHP 7 support"
Although the [voting period](https://wiki.php.net/rfc/php7timeline#vote) isn't over yet, it looks as though the next major PHP release will be around October/November next year. Since I'm always at the bleeding edge with these things, I'm creating this issue to track the status of breaks and to help everyone keep some idea of the work that needs doing.

It's also worth noting that work on PHP 5.7

[2014-11-23 14:16] ijy opened #2263 "(Remote) Datasource Error: Interface 'iNamespacedCache' not found"
Using Symphony 2.6.0-alpha.1 and [Remote Datasource](https://github.com/symphonycms/remote_datasource) v2.1.1 and attempting to create a new datasource results in the following error:

[code]

The number of minutes set for `cache expiration` makes no difference.

[2014-11-23 22:39] nitriques opened #2264 "prepareTextValue documentation is missing"
http://www.getsymphony.com/learn/api/2.5.2/toolkit/field/#prepareTextValue

I do not know why but I must have done something wrong... Sorry.

[2014-11-24 09:58] ijy opened #2265 "Checkbox values incorrect on import"
I believe this to be a bug but may be wrong...

Symphony 2.5.2

When pulling in content using XML Importer. I have a simple Checkbox field in the Section to provide a 'Published' toggle (Yes/No). I have set the checkbox to be "_Checked by default_". When the entries are imported the checkbox is checked on all of them (which should represent '_Yes_'), however the entries table for the section shows

[2014-11-24 09:58] #2264 closed, assigned to nobody

[2014-11-24 10:01] #2263 closed, assigned to brendo

[2014-11-24 10:06] brendo opened #2266 "Release 2.6.0"
This is just a ticket for me to track 2.6.0 progress through to Beta, RC and then the final release.

- [x] Release 2.5.3 onto `master` #2346 (ETA Feb 19)
- [x] Rebase `integration` against `master` (ETA Feb 19-22)
- [x] Release 2.6.0 RC (ETA Feb 22)
- [x] New XSS
- [x] Release new JIT (ETA Feb 22)
- [x] Update wiki (ETA Feb 22)
- [x] Release 2.6.0 Final (ETA March 8)
- Proceed to #2268 to figure

[2014-11-24 10:06] #2162 closed, assigned to brendo

[2014-11-24 11:39] #2265 closed, assigned to nobody

[2014-11-24 17:43] jensscherbl opened #2268 "Git branching model"
Recently stumbled across this great article and thought this would be a great fit for Symphony as well.

http://nvie.com/posts/a-successful-git-branching-model/

Just wanted to put it up for discussion here.

[2014-11-26 09:02] nilshoerrmann opened #2269 "Static DS"
When I try to create a static data source, I'll get the following error on Symphony `2.6.0-alpha`:

[2014-11-26 09:32] nilshoerrmann opened #2270 "Installer misses new cache column "namespace""
While the migration file for Symphony `2.6.0` contains the following line, the installer misses that new column:

[code]

See https://github.com/symphonycms/remote_datasource/issues/28.

[2014-11-26 09:59] #2269 closed, assigned to nobody

[2014-11-26 09:59] #2270 closed, assigned to nobody

[2014-11-26 10:54] #2225 closed, assigned to nilshoerrmann

[2014-11-26 10:58] #2076 closed, assigned to nilshoerrmann

[2014-11-26 10:59] #2073 closed, assigned to nilshoerrmann

[2014-11-26 14:45] jensscherbl opened #2271 "Extending backend navigation throws error"
[code]

My code resembles the [second example in the API documentation](http://www.getsymphony.com/learn/api/2.5.2/toolkit/extension/#fetchNavigation). Location is omitted since this should create a new navigation group instead of using an existing one, I guess?

(Symphony 2.5.2)

[2014-11-26 18:29] jonmifsud opened #2275 "Extension fetchNavigation Bug / Documentation incorrect"
Hi Guys,

Just tried to use the fetchNavigation within an extension, according to the comments/docs it says you can create a group using the following annotation:

[code]

However it doesn't work and it works by adding another array to wrap around it

[code]

I'm not sure if it's just a question of updating the documentation or else the code is expected to behave differently.

[2014-11-26 18:35] #2275 closed, assigned to nobody

[2014-11-30 06:42] #2271 closed, assigned to nobody

[2014-11-30 07:19] #2237 closed, assigned to brendo

[2014-11-30 07:20] #2148 closed, assigned to nobody

[2014-11-30 07:32] #2163 closed, assigned to brendo

[2014-12-01 12:57] nilshoerrmann opened #2279 "DS Filters Suggestions"
The filters duplicator in the data source editor queries the wrong endpoint: it tries to fetch suggestions from `/symphony/ajax/query` while it should request the parameter list from `/symphony/ajax/parameters`.

[2014-12-02 00:49] bzerangue opened #2280 "Feature request: Add Guzzle PHP for HTTP library"
Have y'all looked into integrating GuzzlePHP with future versions of Symphony?

http://docs.guzzlephp.org/en/latest/faq.html#why-should-i-use-guzzle

[2014-12-03 18:18] nitriques opened #2281 "Website issue: JIT Image manipulation documentation"
This article is out of date: http://www.getsymphony.com/learn/concepts/view/jit-image-manipulation/

I know there are a bunch of others articles that are out of date but I click on that one 90% of the time (since it's the first result for 'jit image' in Google) so I would appreciate if somebody could update it: simply paste the missing details from the repo https://github.com/symphonycms/jit_image

[2014-12-04 08:05] jensscherbl opened #2283 "Website issue: Fatal error"
First member on the [most active](http://www.getsymphony.com/get-involved/most-active/) page looks broken. Clicking on it leads to a [fatal error](http://www.getsymphony.com/get-involved/member//). This also happens for [member URLs without a member handle](http://www.getsymphony.com/get-involved/member/) in general.

[2014-12-04 08:06] jensscherbl opened #2284 "Website issue: can't login on symphonyextensions.com"
I can no longer login on [symphonyextensions.com](http://symphonyextensions.com) to manage my extensions or add new extensions. Revoking access on GitHub didn't help either (might have caused the issue in the first place).

[2014-12-04 08:16] jensscherbl opened #2285 "Website issue: Lint tool vs. documentation"
Not sure which one is wrong, but the [lint tool](http://symphonyextensions.com/lint/) and the [documentation](http://symphonyextensions.com/schemas/extension/1.0/) on [symphonyextensions.com](http://symphonyextensions.com) disagree on certain things.

[2014-12-04 09:37] #2279 closed, assigned to nobody

[2014-12-04 11:53] jensscherbl opened #2287 "Publish Filtering: Progressive enhancement"
Submit button is missing when JavaScript is disabled. Publish filtering is not usable without JavaScript. Not a big issue in practice, but I think debugging would be easier if we could narrow down if an issue is caused by JavaScript or by the server side.

[2014-12-04 12:20] jensscherbl opened #2288 "Publish Filtering: Issues with contains and not contains"
Comparison info is missing for _contains_ and _does not cointain_, empty suggestion panel looks buggy.

![screen shot 2014-12-04 at 12 55 42](https://cloud.githubusercontent.com/assets/1640033/5298072/243edb26-7bb7-11e4-9804-139df5f6029f.png)

![screen shot 2014-12-04 at 12 55 48](https://cloud.githubusercontent.com/assets/1640033/5298075/28ec6e72-7bb7-11e4-8981-6020ce9b573f.png)

Comparison selec

[2014-12-04 12:34] jensscherbl opened #2289 "Publish Filtering: Apply filters button buggy"
Pressing enter after typing a filter value works as expected. Pressing _Apply filters_ doesn't and instead autocompletes with a value I didn't select. Happens only if I click into the field first and the suggestion panel shows up, not if I click on the button directly after refreshing the page with a pre-existing filter.

[2014-12-04 12:41] jensscherbl opened #2290 "Publish Filtering: Fields with multiple values"
Fields like _Select Box_ can have multiple values, but can't be filtered by multiple values.

[2014-12-05 19:14] jensscherbl opened #2292 "Inconsistent field behavior"
I know we have already discussed this at length, but I'm getting confused again regarding the differences between an input field and a textarea field.

I remember and understand the reasoning behind wrapping unformatted textarea content in CDATA. The argument was something like _that's how potentially unsafe data is usually handled in XML_. Got it.

What I don't understand right now is, why is the

[2014-12-07 15:44] jensscherbl opened #2293 "Multiple text formatters"
[Created a proof of concept][3] for allowing multiple text formatters to be added and chained to a textarea field.

This is also a best practice example (at least from my point of view) for solving [the issues around encoding, CDATA and inconsistent field behavior][1] and could solve [the disagreements regarding whitespace trimming][2] further down the road.

Maybe the proposed changes could be co

[2014-12-15 10:58] #2288 closed, assigned to nobody

[2014-12-15 10:59] #2287 closed, assigned to nobody

[2014-12-15 11:19] #2290 closed, assigned to nobody

[2014-12-15 11:59] #2283 closed, assigned to nobody

[2014-12-15 12:13] jensscherbl opened #2295 "Datepicker UI"
Not sure about it, but what do you think about restricting the width of the datepicker? Looks a bit stretched at the moment.

![screen shot 2014-12-14 at 17 05 32](https://cloud.githubusercontent.com/assets/1640033/5435366/10d998cc-845a-11e4-8f5d-d908546bca14.png)

I would also prefer a floating datepicker (like in the filtering ui above) for the entry instead of the inlined one (below).

![screen

[2014-12-15 15:14] andrewminton opened #2296 "Integration branch, creating Datasource logs me out"
When attempting to create a fresh datasource on the latest integration branch of Symphony.. clicking the submit button logs me out of Symphony.

Anyone else experiencing this?

[2014-12-18 09:20] #2289 closed, assigned to nilshoerrmann

[2014-12-18 17:51] michael-e opened #2297 "Generic field class: Should the entry ID be unique?"
Just something I noticed: In [`class.field.php`](https://github.com/symphonycms/symphony-2/blob/master/symphony/lib/toolkit/class.field.php#L1508), shouldn't the `entry_id` column of the field's table be marked as unique? So instead of:

[code]

wouldn't it be better to use

[code]

[2014-12-19 08:58] #2297 closed, assigned to nobody

[2014-12-22 09:31] #2296 closed, assigned to nobody

[2014-12-24 01:52] munki-boy opened #2299 "2.6 JIT broken"
I installed 2.6 over 2.5.2 just to have some content to look at already in a site. Most core extensions seem to be version 2.5+ so I changed it to 2.6 in the meta just to make them 'work'.

JIT is now throwing a

[code]

for each image. The images exist an work ok visiting them without JIT.

Any ideas what might have changed?

[2014-12-24 23:54] #2299 closed, assigned to nobody

[2014-12-25 02:15] johnpuddephatt opened #2300 "Headers already sent error on install (2.6.0)"
Installation is successful, but an error is returned alongside the installation success message, and the [page is garbled](https://www.dropbox.com/s/vn2wsr6onkid2kl/Install%20Symphony.png?dl=0).

#### Backtrace:

[2014-12-31 04:28] bzerangue opened #2302 "Add the ability to allow for other templating engines to be used"
In future releases, could the CORE be built to allow other templating engines (via extension) with the default still being XSLT? I am thinking, for the test case, the one template language to test this functionality, due to popularity and growth, would be [PHP Twig](http://twig.sensiolabs.org). And then other users can bring in other languages like Lex, Razor… etc. (and use the PHP Twig template e

[2015-01-01 14:01] brendo commented on #2266
Just releasing the `integration` branch.

[2015-01-01 14:32] jensscherbl commented on #2266
Ah ok. Thought this was related to what you mentioned in the forum. Any thoughts on using intervention or a similar library?

[2015-01-01 14:35] jensscherbl commented on #2266
Apparently it is related, but you already did the work? Didn't know it progressed this far already.

[2015-01-05 00:17] bernardodiasc commented on #2302
Hey guys, this is a very good feature request. I've hacked the frontend output of a project, where the XML data was converted to Json string and parsed with Twig. Worked...

My suggestion is:

- Include the template option in the install setup (might be changed later in the config file).
- Pages will behave as usual, the main difference will be on the filename creation or renaming (`page.xsl`, `pa

[2015-01-05 01:42] johnpuddephatt opened #2303 "Symphony warning when datetime field is both required and empty/invalid"
I have a required DateTime field with date ranges enabled.

When content is submitted through a frontend form, the following error is returned if both start and end values are missing/invalid:

`Symphony Warning: trim() expects parameter 1 to be string, array given`
The error originates from line 191 of class.event.section.php.

I've had a quick look and think I can roughly figure out what's happe

[2015-01-05 02:31] brendo commented on #2303
Is this the actual [DateTime field](http://symphonyextensions.com/extensions/datetime/) or the core Date field? Assuming the first?

Also, which version of Symphony are you running?

[2015-01-05 02:35] johnpuddephatt commented on #2303
Sorry, I should have been clearer: yes the DateTime field. I wasn't sure whether it was the extension or the core at fault so it was 50-50 whether I posted there or here.

Oh, and version 2.5.2.

[2015-01-06 10:22] animaux opened #2306 "Date Field calendar fails when backend language is set to german"
Title says it all. When the backend language is set to `german` I get JS-errors in the edit-page when a data field calendar is used:

    [Warning] Deprecation warning: moment construction falls back to js Date. This is discouraged and will be removed in upcoming major release. Please refer to https://github.com/moment/moment/issues/1407 for more info. (symphony.min.js, line 88)

+

    [Error] Ty

[2015-01-06 10:27] nilshoerrmann commented on #2306
My guess is that the language string is not correct or at least not recognised correctly.

[2015-01-06 10:30] nilshoerrmann commented on #2306
Note to @brendo: This needs to be fixed before the first RC because the issue literally affects all localised systems. I'm working on a Symphony project this week and hope to find the time to look at it along the way.

[2015-01-06 14:41] designermonkey opened #2307 "ASSETS_URL constant"
We're working with a broken up version of Symphony here, and to make the changes in file locations work properly, we've added an `ASSETS_URL` constant, like we did with `APPLICATION_URL`.

It's allowed (along with other changes) for us to completely restructure Symphony.

If people are ok with this, I can submit a PR with the necessary changes.

[2015-01-06 14:52] jensscherbl commented on #2307
Backend assets?

[2015-01-06 15:25] designermonkey commented on #2307
yup.

[2015-01-06 16:34] jensscherbl commented on #2307
+1

[2015-01-07 03:36] brendo commented on #2307
go for it

[2015-01-07 09:39] brendo commented on #2306
So looking at this at the moment (I've updated jQuery, Moment and Calendar plugins as well), it seems that it's caused by the `lang_german` extension setting the default date format to `d. F Y`. The mappings in the [`DateTimeObj` class](https://github.com/symphonycms/symphony-2/blob/integration/symphony/lib/core/class.datetimeobj.php#L41) don't include a value for this, so no format is added to th

[2015-01-07 09:46] brendo commented on #2306
Apologies @nilshoerrmann, I kept running with this (JS and CSS instead of PHP for change)! What I've done is just make the calendar abort if there is no `format` available. I think this is a better experience instead of having a broken calendar display. Still up for your input on the german date format though :)

[2015-01-07 09:47] brendo commented on #2303
No worries. At first look, it's a Symphony issue, so good work on the coin toss ;)

[2015-01-07 09:47] nilshoerrmann commented on #2306
Yes, it is (without the leading `0` though). These are the most common German formats:

- 2. Januar 2015 (text)
- 2.1.2015 (text)
- 02.01.2015 (tabular data)

So the German language extension should use `j. F Y` instead of `d. F Y` if I'm not mistaken.

We could remove this setting form the language extension but users are allowed to set the system date to any valid PHP data string. So this doesn'

[2015-01-07 09:49] nilshoerrmann commented on #2306
Ah, you moved along already – so we agree on disabling the calendar. What do you think about extending the mappings?

[2015-01-07 10:28] brendo commented on #2306
Yep sorry. Yeah, I think for maximum compatibility extensions should be able to change those mappings. Not exactly too sure how this would happen at the moment, we don't know where a translation comes from at the minute.

[2015-01-07 10:46] nilshoerrmann commented on #2306
Well, the calendar is new in 2.6 so we _can_ introduce it with some restrictions. One might be the dependance on predefined date formats. The current mapping should contain the most common formats – we've updated the list a while back with missing European formats. The problem with the German translation _is_ – as you discovered – a wrong format definition that can be solved within the extension e

[2015-01-07 16:12] designermonkey commented on #2307
My playing with this stuff has shown where the installer doesn't use constants correctly, so I will fix that in the PR too. I'll commit them separately in case they want to be cherry picked.

[2015-01-07 21:27] nitriques commented on #2295
I agree !

[2015-01-07 21:35] nitriques commented on #2259
Good catch Brendan!

[2015-01-07 21:44] nitriques commented on #2303
@johnpuddephatt Does @brendo's commit fixes your issue ?

[2015-01-07 21:45] nitriques commented on #2307
Thanks @designermonkey !

[2015-01-07 22:03] johnpuddephatt commented on #2303
Appears to have done the trick, yes.

Thanks :+1:

[2015-01-07 23:46] nitriques commented on #2303
Great!

[2015-01-07 23:46] #2303 closed

[2015-01-08 10:26] nilshoerrmann opened #2308 "Extension Compatibility"
Maybe this has to do with the new semantic versioning syntax, but the backend doesn't correctly display compatibilities and incompatibilities:

![bildschirmfoto 2015-01-08 um 11 22 33](https://cloud.githubusercontent.com/assets/25466/5661163/d3881606-9728-11e4-9a76-2c4f60376c16.png)

- Where is that `p` comming from in the requirement message?
- Why is Textbox flagging the `2.6` requirement althou

[2015-01-08 10:29] brendo commented on #2308
I don't know the answer to the first, but for the second it's because a
beta is not a final release. So 2.6.0-beta.1 is less than 2.6.0.
On 8 Jan 2015 20:26, "Nils Hörrmann" <notifications@github.com> wrote:

[2015-01-08 10:34] nilshoerrmann commented on #2308
While that makes sense mathematically, it's not obvious to the human mind in my eyes …

[2015-01-08 12:32] nilshoerrmann commented on #2308
Hm, this seems to be more complex: If I define `2.6.0-beta.1` or `2.6.0-beta.2` as the extension's minimum requirement, it is still flagged as imcompatible.

[2015-01-08 12:42] jensscherbl commented on #2308
Thought about this as well. Marking compatibility with a pre-release version of the core doesn't make much sense, but Symphony should handle it correctly nevertheless.

In this case everything is handled correctly, but marking requirement for 2.6.0-beta.1 doesn't work either.

https://github.com/herrera-io/php-version

[2015-01-08 14:02] nilshoerrmann opened #2309 "Changing the Index Page"
While working on a project (`2.6.0-beta.2`), I added a new page that I wanted to assign the `index` type to. Symphony responded with an error and the follwoing message:

While that is true – I've already had an `index` page – I'd expected Symphony to save my new page as the new site's index, removing that type from other pages.

[2015-01-08 14:11] andrewminton commented on #2309
I'd expect a prompt to ask if you wanted to change your index page or keep the original not have it force that change by default. What if you're on a live site and this happens? Just thinking of different use case scenarios.

[2015-01-08 14:23] nilshoerrmann commented on #2309
Valid objection. I just think it should be possible to force a new index page without having to jump between the old and the new page back and forth. A confirmation dialog sounds like a good compromise between data security and workflow simplicity.

[2015-01-08 14:28] andrewminton commented on #2309
Agreed + 1 :)

On 8 January 2015 at 14:23, Nils Hörrmann <notifications@github.com> wrote:

[2015-01-08 14:28] andrewminton commented on #2309
Is index the only page type which is unique to one instance permitted?

[2015-01-08 14:29] nilshoerrmann commented on #2309
As far as I'm aware, yes.

[2015-01-08 14:30] nilshoerrmann commented on #2309
It might be possible though that extensions introduce unique parameters as well.

[2015-01-08 14:49] bernardodiasc commented on #2302
I've been researching on several template engines, using some variety of parsers available.

More like an unpretentious experiment, launched https://github.com/bernardodiasc/elements/ this monday. Along other things, this is mostly a proof of concept about similarities and differences of template engines (currently with only 2 engines, still missing ways to inject Data in other parsers using Node)

[2015-01-08 15:51] nilshoerrmann commented on #2306
There is now a dedicated function to disable the field calendar. It adds the following note to the browser console:

[code]

That message is only shown if the calendar is actually used _and_ the date format is unknown. The suggestion list is generated dynamically and will feature all formats available in the system. The preview always shows today's date.

[2015-01-08 15:52] #2306 closed

[2015-01-08 15:58] andrewminton commented on #2309
Is 'maintenance' page type not unique?

[2015-01-08 16:17] nilshoerrmann commented on #2309
`maintenance` is not part of the core, but I just checked and `404` and `403` are unique as well. Only `JSON`, `XML` and `admin` can be added multiple times.

[2015-01-08 16:18] jensscherbl commented on #2309
+1

[2015-01-08 16:22] jensscherbl commented on #2309
I don't think it's a good idea to introduce such a change at this stage for an upcoming release (2.6.0) though. Should wait for 2.7.0 to be merged.

[2015-01-08 16:27] jensscherbl commented on #2302
Looks interesting, but has nothing to do with Symphony's templating layer if I'm not mistaken?

[2015-01-08 16:33] jensscherbl commented on #2302
What advantages would that have over [my proposal][1] in your opinion? From what I understood, I think mine can achieve the same, but is more flexible.

[1]: https://github.com/symphonycms/symphony-2/issues/2302#issuecomment-68438624

[2015-01-08 16:36] bernardodiasc commented on #2302
No and yes. This is frontend stuff, you actualy can use together with Symphony in your workspace and take advance of the XSLT templates just by importing in your page. What I'm trying to show is how template engines works. The general aspect is aways the same. Despite we call XSLT a template language, it is the only one that is not a template language, but a transformation language. This is someth

[2015-01-08 17:18] nitriques commented on #2308
On a related note: I think that extensions without any max values should have a different visual feedback than those who have one.

[2015-01-08 17:19] nitriques commented on #2306
+1

[2015-01-08 17:20] nitriques commented on #2309
+1

[2015-01-08 18:15] jensscherbl commented on #2302
Ah, ok. Thanks for clarifying... :)

[2015-01-09 10:19] nilshoerrmann commented on #2308
It seems like our compatibility check just didn't take the semver syntax into account. I pushed a fix for that.

I don't think this is a good idea. It's the developers responsibility to set these values correctly. If a developer doesn't set a maximum value he say: "I think this will work for all future versions." If this is not likely to be true, a maximum value should be set. Having different vis

[2015-01-09 10:26] nilshoerrmann commented on #2266
Just a note: the Debug and Profile Devkits have a maximum compatibility lower than 2.6 in their `integration` branches.

[2015-01-09 13:01] nilshoerrmann opened #2311 "DS named "index" breaks styling"
I don't remember why, but as it seems, Symphony adds the handle of a Data Source as a class to the `body` of the DS Editor. If you have a DS named `index`, this results in the following broken styling:

![bildschirmfoto 2015-01-09 um 13 55 08](https://cloud.githubusercontent.com/assets/25466/5680029/a8d96b00-9807-11e4-9f88-759e8b618792.png)

Symphony uses `.index` to identify the table views in th

[2015-01-09 13:06] michael-e commented on #2311
LOL, a DS named "index"? Do you try to supersede me in doing crazy things?

[2015-01-09 13:08] nilshoerrmann commented on #2311
Shouldn't have worked with you that long last year ;)

[2015-01-09 13:11] michael-e commented on #2311
That was my first thought as well. :-))

[2015-01-09 13:14] nilshoerrmann commented on #2311
:ambulance: (Going to the doctor know.) :fire_engine: :police_car:

[2015-01-09 13:15] michael-e commented on #2311
My doctor said it's irreversible.

[2015-01-09 13:17] nilshoerrmann commented on #2311
:disappointed:

[2015-01-09 13:31] jensscherbl commented on #2308
I Agree.

[2015-01-09 16:00] nitriques commented on #2266
Thanks Nils.

[2015-01-09 16:01] nitriques commented on #2308
Yeah you're right, we are so lazy.

[2015-01-09 16:07] nitriques commented on #2311
You guys are funny :P

[2015-01-12 08:27] animaux opened #2312 "Date Field calendar: week starts with sunday"
In germany it’s uncommon to have the week starting on sunday. Is there a way to select monday as well? Can this be reflected by the language settings somehow?

[2015-01-12 08:57] nilshoerrmann commented on #2312
Sunday is the default start of the week in JS (don't ask!). CLNDR offers an offset setting, so yes this can be customised.

[2015-01-12 09:07] animaux commented on #2312
Should we have this as an option of the date field then, or rather have a language extension trigger the right behaviour (if possible)?

[2015-01-12 09:17] nilshoerrmann commented on #2312
If we allow an offset, it should be a system preference in my eyes because the calendar is used for date fields and publish filtering – relying on localisations is restrictive because you cannot just set your week start to Wednesday and might also be confusing conceptually. I didn't want to introduce such feature until we know the calendar itself is stable.

[2015-01-12 09:20] animaux commented on #2312
I agree. Still, a week starting on sunday is quite a usability problem in german.

[2015-01-12 09:27] nilshoerrmann commented on #2312
Calling @nitriques and @brendo for some thoughts on this.

[2015-01-12 15:54] nitriques commented on #2312
We have the same problem here: Canada uses Sunday while US use Monday.

I have a couple of ideas on how to solve this:

1. A new setting in config.php
2. Using the php's locale to automatically get it
3. Use the author's locale to try and guess it

But I would vote for number one. @brendo ?

[2015-01-12 15:55] nilshoerrmann commented on #2312
Only number 1 is predictable across users. So I'd vote for that.

[2015-01-12 15:56] animaux commented on #2312
I’ll have number 1 too. Without onions and garlic.

[2015-01-12 15:57] nilshoerrmann commented on #2312
From the interface perspective, we'd just have to pass CLNDR a value for `weekOffset` (`0` for sunday etc.).

[2015-01-12 16:05] nitriques commented on #2312
CLNDR seems to represent 0 as Sunday (and so does php w formatter) so the setting could be a simple integer.

I would also add this setting in the installer. But would you add it to the preference page too ?

[2015-01-12 16:07] nilshoerrmann commented on #2312
No, if it's the only setting.
Yes, if the date and time formats can we updated as well.

Personally, I'd prefer the latter – but for some reason this has never been editable in Symphony 2 (it was editable in version 1).

[2015-01-12 16:11] nitriques commented on #2312
Yeah I agree with you. And this change would be a nice kick in the ass to add them all on the preference page.

[2015-01-12 16:14] nilshoerrmann commented on #2312
To clarify my previous post: If a setting is added to the preference page, Symphony should only offer supported date and time formats as it does in the installer (they are the ones supported by the calendar widget). Custom format should still be handled manually in the config.

[2015-01-12 16:15] nitriques commented on #2312
Perfect. That's what I originally understood, but it never bad to clarify (and document) more.

[2015-01-12 16:19] nilshoerrmann commented on #2312
Would you mind adding the preferences, @nitriques? I could update the Calendar based on that.

[2015-01-12 16:25] nitriques commented on #2312
Yes I'll do it ASAP.

[2015-01-12 16:47] nilshoerrmann commented on #2312
I updated the calendar already so I looks for a value `weekoffset` in `Symphony.Context`.
If you [pass the setting (`0` to `6`) to the Symphony object here](https://github.com/symphonycms/symphony-2/blob/integration/symphony/lib/toolkit/class.administrationpage.php#L368-L389), everything should work as expected.

[2015-01-12 16:57] nitriques commented on #2312
Awesome.

[2015-01-12 23:18] brendo commented on #2311
Given it's 2.6.0, we could potentially add a `ds-` prefix to the classname. I imagine this flaw is also with Events as well.

[2015-01-12 23:20] brendo commented on #2312
I believe settings that shouldn't be modified frequently were removed from the interface to keep it brief and minimal. It's not every day you want to change your date formats on the site. I'm happy for this to be added to the installer UI, but I'd prefer if it was a hidden setting in the backend still.

[2015-01-12 23:21] #2300 closed

[2015-01-12 23:22] #2308 closed

[2015-01-12 23:22] nitriques commented on #2312
Cool! So I'll only add it into the installer for now. Will to it tomorrow (today for you!).

[2015-01-13 03:55] nitriques opened #2313 "Installer code still uses tabs for indentation"
We should use 4 spaces as per PSR.

@brendo Can I do it directly into integration or should I send a PR ?

[2015-01-13 03:57] brendo commented on #2313
You can fix this directly, it's low risk :)

[2015-01-13 04:03] nitriques commented on #2313
Ok, but after my work on the installer is pulled in, to avoid conflicts :)

[2015-01-13 04:04] nitriques commented on #2312
There you go, send PR immediately! Turns out it was super easy to do :smile:

[2015-01-13 04:19] brendo commented on #2312
While I've merged @nitriques code, there is one usecase that has been omitted. This setting deals with full site localisation (System > Preferences). It doesn't deal when an Author overrides their backend language with something else.

For example, an German install that has myself as an Author. I'd override the language for my Author to be English, yet the calendar's would still start at the Germ

[2015-01-13 04:23] nitriques commented on #2313
In progress...

[2015-01-13 04:24] nitriques commented on #2313
Confirming that only line feeds were added: https://github.com/DeuxHuitHuit/symphony-2/commit/f7d607f00630ff3cb08f4902fe2cfab33267f852?w=0

[2015-01-13 04:32] nitriques commented on #2313
Same for this one: https://github.com/DeuxHuitHuit/symphony-2/commit/eca1f41c95bc4a74af4e4f319ca879fc4a0cac8e?w=0

Done.

[2015-01-13 04:32] #2313 closed

[2015-01-13 04:35] nitriques commented on #2312
@brendo This is what I implied with my number 3.

[code]

But it would need a value per supported language which may be nasty.

[2015-01-13 05:21] allen commented on #2292
`HTML-encode text` should never have existed. I've disliked this option for a very long time. The decision to have this option was based on user familiarity at the time when it was implemented. HTML-encoding was a common concept to a lot of CMS/blog systems back then. We also had a hard enough time selling people on the idea of XML and XSLT, we decided not to introduce CDATA sections as another th

[2015-01-13 06:09] jonmifsud commented on #2312
Maybe it should be packaged with the language extensions? And applied to
authors who have that language set?
On 13 Jan 2015 05:35, "Nicolas Brassard" <notifications@github.com> wrote:

[2015-01-13 06:32] nilshoerrmann commented on #2312
The same is true for date formats, @brendo. Similar to the language settings, it would be necessary to have global and author settings (prefs + authors). So I'm not sure this is true:

It might just not be an common task if you are looking at a single author.

[2015-01-13 06:33] nilshoerrmann commented on #2312
authors who have that language set?

The German localisation tried to achieve that and it's not working well with the core right now.

[2015-01-13 07:35] jensscherbl commented on #2292
Makes sense. Guess we'll work on that for 3.0.0 (not sure if that's on your radar, we switched to [Semantic Versioning][1] with 2.5.0).

[1]: http://semver.org

[2015-01-13 07:48] animaux commented on #2312
Hach! Watching you guys is like listening to a Symphony®!

[2015-01-13 07:50] jensscherbl opened #2315 "Emoji invalid XML?"
From the [forum](http://www.getsymphony.com/discuss/thread/109445/)...

[2015-01-13 08:00] nilshoerrmann commented on #2312
Symphonie fantastique.

[2015-01-13 12:57] andrewminton opened #2316 "XSLT processor issue on Local Windows installs XAMPP and WAMP"
Using integration branch to test local builds and have experienced an odd issue after install.. none of the XSLT processing transforms are working on frontend pages.

    XSLTProcessor::importStylesheet():
        compilation error: file file:///C:/xampp/htdocs/sym-git/ line 3 element import
        xsl:import : invalid URI reference C:\xampp\htdocs\sym-git/workspace/pages/home.xsl
    XSLTProcess

[2015-01-13 12:58] andrewminton commented on #2316
The pages template is actually just the generated page.xsl file with no additions or edits by myself.

Any clue as to what could be happening here?

[2015-01-13 13:01] andrewminton commented on #2316
Here's the error log from the main log file after install when accessing frontend page:

01/13/2015 12:57 pm > UNKNOWN: SymphonyErrorPage 0 - Line: 178 - XSLTProcessor::transformToXml(): No stylesheet associated to this object on line 634 of C:\xampp\htdocs\sym-git\symphony\lib\core\class.symphony.php
01/13/2015 12:57 pm > UNKNOWN: SymphonyErrorPage 0 - Line: 164 - XSLTProcessor::importStylesheet(

[2015-01-13 13:26] jensscherbl commented on #2316
I think this is my fault. Looks related to #2298.

@brendo How are situations like this (where pathes are combined from an absolute and a relative part) handled elsewhere?

[2015-01-13 15:26] nitriques commented on #2312
:dancer:

I agree with @nilshoerrmann on that: Every 'region' setting should customizable per author. I kind of setup thing weird since I use French date format with the English version...

[2015-01-13 17:43] nitriques commented on #2315
Looks like libxml does not like emojis...

Using <![CDATA[&#xd83d]]> might be the only solution...

[2015-01-13 17:45] nitriques commented on #2292
Thanks @allen !!

[2015-01-13 17:46] jensscherbl commented on #2315
I think we should leave this open and adress it along with #2292 for 3.0.0.

[2015-01-13 17:48] nitriques commented on #2315
Absolutely. There are some php libs to parse emojis..

[2015-01-14 13:38] animaux commented on #2295
I agree with folks wishing for a collapsible floating date-picker or at least have the option to decide between floating and always-open.

[2015-01-14 20:38] michael-e opened #2318 "JavaScript code in Input fields gets executed in the backend"
Using Symphony 2.6.0-beta.2, I noticed a potential vulnerability. In the backend, an author can save JavaScript code which gets executed when another author hits a section's index page.

Steps to reproduce:

* Create section "Test1"
* In section Test1, create an Input field called "Title"
* Create section "Test2"
* In section Test2, create an Input field called "Title"
* In section Test2, create a

[2015-01-14 21:02] michael-e commented on #2318
I tracked it down to [this SBL commit](https://github.com/symphonycms/selectbox_link_field/commit/51db3646b5f9523e7b5fe4fd965d17e9f20e0324).

[2015-01-14 21:11] twiro commented on #2318
Funnily enough that single "else"-statement already caused [quite some trouble](https://github.com/DeuxHuitHuit/multilingual_field/issues/60#issuecomment-52423253) in combination with the multilingual field...

[2015-01-14 21:24] nitriques commented on #2318
@twiro Indeed.

But @michael-e Doing the same thing in a markdown enable text box would give the same result...

[2015-01-14 21:44] michael-e commented on #2318
You mean a textarea with Markdown? Nope, that is no prob. On the index page it displays `This is a testalert('uh-oh');`, just like the original Input field does. The problem is with the SBL's `Display in entries table` functionality.

[2015-01-15 00:03] jensscherbl commented on #2318
Holy shit... oO

[2015-01-15 00:37] brendo commented on #2318
This is bad. The fix will likely be in the SBL to sanitise the data, even if the field won't.

[2015-01-15 09:03] michael-e commented on #2318
Obviously all SBL versions >1.29 are affected. So when this is fixed, we should tell people to update the SBL extension if they are on Symphony 2.4+.

[2015-01-15 09:07] michael-e commented on #2318
Here is the commit with the problematic code inside the else clause: https://github.com/symphonycms/selectbox_link_field/commit/98ba905f9edb780dd37ef4379ec9ef52d7a911a2

[2015-01-15 15:53] nitriques commented on #2318
Yeah but in your DS you'll get the full html, script tag included.

Indeed good find @twiro.

[2015-01-15 18:26] michael-e commented on #2129
This issue is not solved (at least not in Symphony 2.6.0-beta.2).

[2015-01-15 18:37] michael-e commented on #2129
Ah, I see now: Filtered results get a count, but there is no count for an unfiltered list of entries. :-(

[2015-01-15 18:42] nitriques commented on #2129
I'll try to have a look at this

[2015-01-15 18:53] michael-e commented on #2129
Great, thanks!

[2015-01-15 20:31] animaux opened #2319 "Date field: field setting »Display time« should be honored in index view too"
When I have a date field only used to show dates without time that works fine in the edit view. In the index list I get arbitrary times that might confuse my customer :)

[2015-01-15 20:50] nitriques commented on #2319
Oups!

[2015-01-15 20:55] nitriques commented on #2319
@animaux Can you please confirm that a942068 fixes the problem ?

@brendo @michael-e can you review please ?

[2015-01-15 21:02] animaux commented on #2319
Seems to work! Thanks for the quick fix. 2.6 feels like lovely so far :)

[2015-01-15 21:03] nitriques commented on #2319
My pleasure! We hope it is!

[2015-01-15 21:11] animaux opened #2320 "Filter entries by date-field is broken"
Publish filtering generates the following url-params when I filter on a date field. Looks like there is an escaped whitespace missing here.

    ?filter[date]=later%20than2015-01-17

when I manually change the URL to

    ?filter[date]=later%20than%202015-01-17

the filter works. So I guess this is what it should be instead.

[2015-01-15 21:16] nitriques commented on #2320
Oups! I'll check this too ASAP.

[2015-01-15 21:17] nitriques commented on #2320
Thanks for all this testing!!

[2015-01-15 21:18] animaux commented on #2320
I’m brave and developing two new sites on `2.6.0beta2`already :) it’s fun!

[2015-01-15 21:34] nitriques commented on #2320
Great!

[2015-01-15 21:37] bzerangue commented on #2266
Will the extensions be installable via Composer?

[2015-01-15 21:49] nitriques commented on #2319
@animaux Can you please test my latest commit ? I've refactored the thing. Thanks!

[2015-01-15 21:54] animaux commented on #2319
Looks good!

[2015-01-15 21:56] nitriques commented on #2319
Awesome thanks.

[2015-01-15 21:57] animaux commented on #2319
No no no. Thank *you!*

:)

[2015-01-15 22:02] nitriques commented on #2319
:smile:

[2015-01-15 22:49] jensscherbl commented on #2266
Nope. Not yet.

[2015-01-15 23:12] nitriques commented on #2320
@animaux Can you please test the latest integration branch please ?

[2015-01-15 23:18] nitriques commented on #2129
@michael-e  It's simply implemented that way

See https://github.com/symphonycms/symphony-2/blob/integration/symphony/content/content.publish.php#L497-L500

Would the solution be to create an `else` statement with Total entries: x ?

[2015-01-15 23:21] nitriques opened #2321 "Update grunt deps"
We are out of date...

[code]

I did a test with the latest version and everything looks ok.

I have iojs and it works with it.

If it's ok with everybody, I'll do it soon. it's a one liner to do with npm-check-updates.

[2015-01-15 23:24] michael-e commented on #2129
Will test tomorrow, I am on my way to bed.

[2015-01-15 23:25] brendo commented on #2321
Happy for you to update these, I was actually wondering about this stuff the other day when I noticed it on another project. Thanks :)

[2015-01-15 23:28] nitriques commented on #2321
Done :)

[2015-01-15 23:28] #2321 closed

[2015-01-15 23:29] nitriques commented on #2129
@michael-e Nite nite.

[2015-01-16 08:43] nilshoerrmann commented on #2129
Michael, would you like to always see a count or only if the filtering drawer is open?

[2015-01-16 08:52] jonmifsud opened #2322 "Association Filters + Nested Drawers"
I'm not exactly sure if this should be in the core but raising it here as I am noticing a few core related things. There's a [related ticket in the Associations Field](https://github.com/symphonists/association_field/issues/12) itself.

I would like to add filters for the Associations UI, I made some modifications to the extension itself and it can support filtering in the same way symphony publis

[2015-01-16 09:23] michael-e commented on #2129
I would prefer to always see a count. It's very useful, IMHO.

[2015-01-16 09:30] andrewminton commented on #2129
+1

[2015-01-16 10:00] animaux commented on #2320
Seems to work well, merci!

[2015-01-16 10:00] #2320 closed

[2015-01-16 10:45] michael-e commented on #2129
For a quick test I hacked:

[code]

right after the lines [mentioned by @nitriques](https://github.com/symphonycms/symphony-2/issues/2129#issuecomment-70181505), and it works fine for me.

To be consistent it only generates a number in brackets, so I am not sure if we should pass this to translation.

[2015-01-16 12:03] nilshoerrmann commented on #2129
If we will always display a count, I'd suggest to just add the count without brackets:

- 123 entries
- 12 of 123 entries

[2015-01-16 12:16] michael-e commented on #2129
Currently the filtered count is like this:

* – filtered (12 of 123)

I added:

* (123)

So we have to change the filtered count as well, so we get:

* (12 of 123 entries)
* (123)

Or would you prefer a dash instead of brackets?

[2015-01-16 12:24] nilshoerrmann commented on #2129
The dash is used in other places when we append something to the title (section index etc.).

[2015-01-16 12:33] michael-e commented on #2129
One way or another we must remove the word "filtered" to provide a consistent experience, right? So we'd have:

* `– 12 of 123 entries`
* `– 123 entries`

Or the word "filtered" gets moved to the end:

* `– 12 of 123 entries (filtered)`
* `– 123 entries`

Which dash is it, btw?

[2015-01-16 12:42] nilshoerrmann commented on #2129
It should be an m-dash but we could just decide for something else. There are currently two kinds of additional information appended to headlines:

- "filtered (x of y)" and
- "drag to reorder" (added by the JavaScript, I think)

We should just make sure that the typesetting is identical.

[2015-01-16 12:54] michael-e commented on #2129
So what do you suggest?

* `– filtered (12 of 123 entries)`
* `– 123 entries`

Looks rather inconsistent, doesn't it? I would prefer

* `– 12 of 123 entries`
* `– 123 entries`

[2015-01-16 16:00] nitriques commented on #2320
Great!

[2015-01-16 20:12] #2319 closed

[2015-01-16 20:17] animaux commented on #2312
The weekoffset is not yet saved after defining it in the `2.6.0beta2` install process. It can be easily added afterwards though and then works as expected. I guess this still needs to be implemented?

However, a currently worse problem is a wrong `@weekday`-number in the xml-output when using the german `'weekoffset' => '1'`. This results in the format-date utility displaying the wrong weekday.

[2015-01-16 20:22] animaux commented on #2312
ARGH! The problem is even worse but different. The @weekday XML-output is fine. BUT the weekoffset results in the calender moving the weekday to a wrong position instead of merely changing the week-display! :(

real weekdays:

![skjermbilde 2015-01-16 kl 21 20 19](https://cloud.githubusercontent.com/assets/446874/5783696/bd472e10-9dc5-11e4-85af-5df8ddeaf482.png)

`'weekoffset' => '1'`:

![skjermbi

[2015-01-16 20:29] animaux commented on #2312
Update: Weekdays are displayed wrongly even after removing the `'weekoffset' => '1'` again. So this seems to be another problem.

[2015-01-17 02:53] brendo commented on #2312
I would expect a `weekoffset` of `0` to result in the calendar displaying as S M D M D F S (German names). Moving to `1` would shift Sonntag to the end of the list, which looks like it is happening. @animaux, what is the expected output for you?

[2015-01-17 02:54] brendo commented on #2319
Looks good, thanks @nitriques

[2015-01-17 03:07] brendo commented on #2311
Not an easy one to fix. The context of the page (derived from the URL path) is automatically added to the body via the `AdministrationPage` class. At this point, it has no idea what each of the context values represent so it's pretty difficult to append `ds` or `event` to the start of them.

A possible solution would be to change the DS/Event indexes to generate URL's like `datasources/edit/ds-han

[2015-01-17 03:16] brendo commented on #2295
This might be a silly question, but if it looks silly in the main column, why not just switch it to the secondary column? Isn't this the same issue as putting SSM in the main column, or a checkbox field?

Isn't the UI going to look more strange if you have a series of inputs in the main column of differing widths?

I just want to highlight something here. This is the reason why these interface ele

[2015-01-17 03:55] brendo commented on #2318
Right so here's a brain dump of me looking at this today:

The commit [in question](https://github.com/symphonycms/selectbox_link_field/blob/51db3646b5f9523e7b5fe4fd965d17e9f20e0324/fields/field.selectbox_link.php) that introduced this issue was trying to achieve the following logic.

1. When attempting to generate all the possible values (`findRelatedValues`) for this Select Box Link...
2. Ask th

[2015-01-17 12:35] jensscherbl commented on #2295
I usually don't use the secondary column. I also have a custom extension that gives publish forms a little bit more structure.

![Uploading Screen Shot 2014-12-15 at 14.02.49.png . . .]()

I don't use SSM. Checkbox fields are fine.

Yep, that's why I'd prefer a normal input field with a floating datepicker ui.

[2015-01-17 16:24] animaux commented on #2312
The weekoffset seems to work fine. But the 1st of January is *not* a Wednesday!

`'weekoffset' => '0'`

![0](https://cloud.githubusercontent.com/assets/446874/5789495/7f77ea4a-9e6d-11e4-9ba5-920419172db1.png)

`'weekoffset' => '1'`

![1](https://cloud.githubusercontent.com/assets/446874/5789496/867ece80-9e6d-11e4-9cbf-67398ba6edb5.png)

Actual Weekdays in January 2015:

![real](https://cloud.githu

[2015-01-18 14:23] bernardodiasc commented on #2129
The count of entries is useful with and without filtering IMHO. Suggestion:

- `– 12 of 123 entries (filtered)`
- `– 12 of 123 entries`

[2015-01-18 14:27] michael-e commented on #2129
Without filtering, why should it be `12 of 123 entries`? It's simply `123 entries` then.

[2015-01-18 14:34] bernardodiasc commented on #2129
There is only 2 ways to know the count of entries in a page not filtered: knowing by the config.php or counting manually... I think its common to have the number of rows informed somewhere.

[2015-01-18 14:42] michael-e commented on #2129
You are mixing up things then. Symphony displays the overall number of filtered entries, not the number of visible rows. The issue discussed here is not about the number of visible rows.

[2015-01-18 15:58] bernardodiasc commented on #2129
alright. I imagined that you are talking about the label, not only for filters. without filter doesn't show the total entries nor rows anywhere.

[2015-01-18 17:14] nilshoerrmann commented on #2129
The request was to change this.

[2015-01-18 17:43] michael-e opened #2323 "Core creates useles sessions"
Current versions of Symphony create a lot of useless session rows in the database when XSRF protection is active and entries are posted in the backend. Those session data look like:

	sym-|a:1:{s:10:"xsrf-token";a:1:{s:27:"ZR7UtEtKQtgmWeXIkBJDnT1GDAw";i:1;}}

so they don't include a username.

I found that the issue was introduced by e530d0b8630483189ff56c03c1e6561a1e95dc1a ("Move all requires to

[2015-01-18 17:56] michael-e commented on #2311
So what shall we do? I'd vote for prefixed classes (i.e. no "hacking"). A DS named "Sym Index" is really unlikely to occur, compared to "Index". @nilshoerrmann?

[2015-01-18 18:32] nilshoerrmann commented on #2311
Conceptually, it would be best to use classes for styling purposes only and add context information in dedicated `data` attributes. But that's a breaking change.

[2015-01-18 22:30] bernardodiasc opened #2324 "Missing prepopulate url query after log in"
When I go to `http://myawesomewebsite.com/symphony/publish/section/new/?prepopulate[8]=60` without being logged in, I'll be redirected to the login page, thats very fine. After log in I'm sent to `http://myawesomewebsite.com/symphony/publish/section/new/`, without the prepopulate query.

[2015-01-19 00:19] bzerangue commented on #2302
@brendo - any thoughts?

[2015-01-19 00:42] brendo commented on #2302
The current structure of Symphony doesn't lead well to this change being implemented.

[2015-01-19 01:09] jensscherbl commented on #2302
Correct. We would have to change pages, data sources and fields for this to happen.

[2015-01-19 01:19] allen commented on #2302
This request has been brought up several times in the past. Craig at one point even started creating his own templating language based on the fundamentals of XSLT. The world is moving towards JSON, that much is clear.

I think offering different template language as an option is *technically* all very feasible. Whether or not it is warranted is a harder question to answer. I'm too partial towards

[2015-01-19 01:40] jensscherbl commented on #2302
@allen I think the question is not if we should stick with XSLT or use something different. Even if XSLT remains the prefered choice for templating, there's no good reason why it has to be so tightly integrated everywhere and shouldn't be more modular, from an architectural point of view.

[2015-01-19 01:46] allen commented on #2302
@jensscherbl yes, certainly.

I'm more focused on the more basic question of whether or not it's a worthwhile endeavour to offer other templating languages as an option.

From what I can see the key motivation to offer other templating solutions is to greater user adoption. Are there any other important reasons that I have missed?

[2015-01-19 02:03] jensscherbl commented on #2302
I don't think Symphony itself should offer other templating options. [Only provide naked (php) data from the core, have XSLT as a first party extension][1].

To be honest, I don't really care about user adoption. I care about what I want to use as a developer.

More flexibility (as a developer).

[1]: https://github.com/symphonycms/symphony-2/issues/2302#issuecomment-68438624

[2015-01-19 02:09] allen commented on #2302
Yes, I wasn't implying anything else.

Out of curiosity, what would be your preferred templating language?

[2015-01-19 09:48] nilshoerrmann commented on #2295
May I suggest to bundle the Calendar with the core but only use it for the filtering interface? It's especially useful for the later because it makes sure the correct date format (American) is used for filtering.

The UI for the date field can be enabled by an extension (using either the floating variant or the fixed one or even introducing an additional one that's expanding/collapsing on click).

[2015-01-19 09:52] nilshoerrmann commented on #2312
So the calendar is not being calculated correctly, right? I didn't notice something alike before.
Which browser are you using? Is this behaviour consistent across browsers? And is your computer calendar working correctly (the calendar is generated client side)?

We should also check if the [updated build scripts](https://github.com/symphonycms/symphony-2/commit/cfffaf635ce7b9f6e311a077adc42e938519

[2015-01-19 09:54] animaux commented on #2295
@nilshoerrmann very good suggestion!

[2015-01-19 09:57] brendo commented on #2312
It's quite strange, it's as if `weekoffset` just 'changes history'. Making it `3` moves January 1st to Montag, which is even worse. Quite strange.

[2015-01-19 09:58] animaux commented on #2312
This behaviour is consistent within two different installations of `2.6.0-beta2` I am currently working at. I double-checked the iCal calender with other analog calendars as well, so this should be fine. 1st January 2015 is a thursday :)

[2015-01-19 10:00] animaux commented on #2312
@brendo same here :(

[2015-01-19 10:02] brendo commented on #2312
So if I remove [`weekOffset`](https://github.com/symphonycms/symphony-2/blob/integration/symphony/assets/js/src/symphony.calendar.js#L136) from this line, and set it as `1` in my configuration file I get the correct result for German locale. The calendar changes to start the week on the Monday and Jan 1st is a Thursday.

[2015-01-19 10:02] nilshoerrmann commented on #2266
@brendo: If #2312 cannot be solved easily (or if we don't find the actual issue), we should pull the calendar from 2.6 completely. It shouldn't block the release process.

[2015-01-19 10:04] animaux commented on #2312
@brendo no, wait! `'weekoffset' => '3'` is not changing the weekday-day relationship. It makes the week start on »Mittwoch«.

As I wrote before the weekoffset seems to do the right thing. It’s just that the weekdays are offset by a day.

[2015-01-19 10:05] brendo commented on #2312
Ah, so it'll be because of [this line](https://github.com/symphonycms/symphony-2/blob/integration/symphony/assets/js/src/symphony.calendar.js#L169).

[2015-01-19 10:06] nilshoerrmann commented on #2312
No, that line only takes care of the headlines. They are generated independently.

[2015-01-19 10:08] brendo commented on #2312
Hmm, quite curious then, I'm still looking at it.

[2015-01-19 10:11] nilshoerrmann commented on #2312
Just to be sure we are looking at the same thing:

- Alex is using an `weekoffset` of `1` on a localised system (German)
- Brendan is using an `weekoffset` of `1` and `3` on a non-localised system (English)

Is that correct?

[2015-01-19 10:12] animaux commented on #2312
@niels yes.

Hmn, commenting out [Line 136](https://github.com/symphonycms/symphony-2/blob/integration/symphony/assets/js/src/symphony.calendar.js#L136) actually doesn’t change anything here.

[2015-01-19 10:14] nilshoerrmann commented on #2312
What does "doesn't change anything" mean?

[2015-01-19 10:18] brendo commented on #2312
No, I'm actually pretending to be German :) I've changed my config to be `Europe/Berlin` and my laptop timezone to be Berlin as well. I have found that my [first comment](https://github.com/symphonycms/symphony-2/issues/2312#issuecomment-70469763) seems to produce the most reliable results.

`weekOffset` = 0 => Week starts on Sonntag
`weekOffset` = 1 => Week starts on Montag

In both scenarios the

[2015-01-19 10:19] brendo commented on #2312
Which I might add backs up the CLDR documentation:

[2015-01-19 10:23] animaux commented on #2312
In Calendar: January still starts on Wednesday instead of thursday. Week starts on Monday. (width `'weekoffset' => '1',`)

[2015-01-19 10:24] brendo commented on #2323
Do you have anymore details I can use to debug this? Nothing is jumping to mind about why that commit would be causing the issue. When you say entries are posted in the backend, do you mean with Events?

[2015-01-19 10:24] nilshoerrmann commented on #2312
The thing is, the offset has to work independendly of the used locale. I might have a German backend but still want my week start on Saturday (which – for instance – is the day the TV program usually starts with). So we might have a conflict between the automatic locale handling of CLDNR and the week offset.

Ah, prima. Dann können wir ja hier auf Deutsch weitermachen. Alex, das kommt Dir doch auc

[2015-01-19 10:25] animaux commented on #2312
Jaaaa!

[2015-01-19 10:26] nathanhornby commented on #2295
Id personally like to see the field have some kind of basic calendar UI, it's always felt messing one - otherwise we might as well also swap out the checkbox field for an input that accepts 'yes' or 'no'. Let the UI be handled by an extension. Why even bundle CSS with Symphony? ;)

There's a point where pushing things out to extensions gets downright excessive!

[2015-01-19 10:28] animaux commented on #2312
Ahh, da liegt dann wohl der Hase im Pfeffer:

If I pretend to be an englishmen in New York (Symphony set to english) and still have `'weekoffset' => '1',` all is well. Setting Symphony to »German« messes up the Weekday.

[2015-01-19 10:29] nathanhornby commented on #2295
Also

If for no other reason than we know it'll be maintained.

[2015-01-19 10:30] animaux commented on #2312
Which makes me wonder why Brendan is able to see things properly through his german-goggles?

[2015-01-19 10:31] nilshoerrmann commented on #2312
A few tests:

- English locale (no localisation), weekday offset `1` to `7`: correct headers, correct start of year.
- German locale, weekday offset `1` to `7`: correct headers, all days one day off (`-1`)

[2015-01-19 10:32] animaux commented on #2295
@nathan good points too. I’m obviously too easily convinced and will likely adopt the next opinion mentioned here :)

[2015-01-19 10:40] nilshoerrmann commented on #2312
This also happens with no offset at all (even if I comment out the setting for CLDNR). So my guess is, this is a Moment issue.

This reminds me of a problem I discussed with @nitriques earlier on, where Moment converted `2015-01-01T00:00` German time to `2014-12-31T23:00` because of the timezone offset. If calendar works with UTC internally, this will cause the offset we see here. Maybe Nicolas ha

[2015-01-19 10:41] animaux commented on #2312
No I begin to understadn why the Space Shuttle was never allowed to be in space during new year’s eve …

[2015-01-19 10:47] nathanhornby commented on #2295
Haha that's normally my role!

[2015-01-19 10:49] #2324 closed

[2015-01-19 10:50] brendo commented on #2281
This has been updated by @allen

[2015-01-19 10:50] #2281 closed

[2015-01-19 10:53] bernardodiasc commented on #2302
This is very true. I've researched several templating engines latest months (mainly to expand my comprehension on this subject). There is no one that do the job so well like XSLT. As @allen said, XSLT is a transformation language, which I think, not sure, it's the only one. All others is just "preprocessors" of HTML.

Talking with a lot developers, I really can't convince a single one to try XSLT.

[2015-01-19 10:55] brendo commented on #2315
Named entities generally don't work with XML, decimal entities do though so `&#55357;` will work (though I'm not sure how many browsers will support that?)

[2015-01-19 10:57] brendo commented on #2316
@andrewminton Are you able to confirm @jensscherbl's fix?

[2015-01-19 10:57] bernardodiasc commented on #2302
There is plenty attempts to make a XSLT way to parse JSON, didn't tried none yet. This is probably result of this dilemma: "why moving forward if something best don't even exists?"

Just as a reference about this: http://stackoverflow.com/questions/1618038/xslt-equivalent-for-json

[2015-01-19 10:59] bernardodiasc commented on #2324
awesome, thanks @brendo!

[2015-01-19 10:59] brendo commented on #2318
Proposed fix pushed to the SBL repo

[2015-01-19 11:01] michael-e commented on #2323
No, no events. I am just editing an entry in the Symphony backend (Content > …). I also have no idea why this commit is the issue.

[2015-01-19 11:01] nilshoerrmann commented on #2295
Just keep in mind that removing the calendar from the date field for 2.6 doesn't mean the core cannot use it in a later version. Symphony now uses semantic versioning so we'll have a much quicker release circle.

This discussion reminds me a bit of the 	phrase: "Give him an inch and he will take a mile." :)
The introduction of the calendar was kind of a farewell present before leaving the core tea

[2015-01-19 11:05] nilshoerrmann commented on #2312
Read the "Cause of Failure" section [here](http://en.wikipedia.org/wiki/Mars_Climate_Orbiter) and you'll see that things can even get worse …

[2015-01-19 11:05] michael-e commented on #2315
As a sidenote: 4-byte characters can not be saved in MySQL databases easily.

– https://dev.mysql.com/doc/refman/5.5/en/charset-unicode-utf8mb4.html

[2015-01-19 11:09] animaux commented on #2312
Did read that a while ago. Expensive lessons learned … :)

[2015-01-19 11:09] brendo commented on #2323
Something is off here. To edit entries in the backend, you must be logged into Symphony. The `username` and `pass`should be stored in the same session as the XSRF!

[2015-01-19 11:13] michael-e commented on #2323
Yep, I did it like this:

* delete all rows from the sessions table
* log in to Symphony -> one session is created, as you mentioned above
* edit an entry (just save it multiple times) -> useless sessions have been added

[2015-01-19 11:14] michael-e commented on #2323
So for some reason new XSRF tokens are generated, which are saved to new sessions.

[2015-01-19 11:14] animaux commented on #2295
Could the floating behavior be trigged with some js with something like the `backend_addscript` extension?

[2015-01-19 11:18] michael-e commented on #2318
Confirmed that it solves the issue.

[2015-01-19 11:19] nilshoerrmann commented on #2295
If the calendar markup is wrapped with an `.suggestion` element, the behaviour will change. Just have a look a the filtering UI.

I cannot promise that it works out of the box because the floating layout has been taylored for the filtering UI specifically. But – again – it's a starting point for the floating display in the field view.

[2015-01-19 11:23] animaux commented on #2295
Thanks Nils, will have a look.

[2015-01-19 11:24] andrewminton commented on #2316
@brendo applying @jensscherbl ' fix locally fixes the issue.. I believe this is good to be mergeed

[2015-01-19 11:28] brendo commented on #2323
This is on `integration` right? Let me try and replay those steps and I'll what I get locally

[2015-01-19 11:29] andrewminton commented on #2318
Would this also effect the Association field maybe?

[2015-01-19 11:31] michael-e commented on #2323
I just double-checked, again:

* Check out e530d0b8630483189ff56c03c1e6561a1e95dc1a (or later): broken behaviour.
* Check out one commit earlier (6d239fc7dd234d959b3c61017e264df074179458): everything OK.

[2015-01-19 11:33] michael-e commented on #2318
@andrewminton, can you test this? I am not using the Association field (because still it has not been marked as "the way to go", AFAIK).

[2015-01-19 11:35] brendo commented on #2323
I'm using 29000892a2b8d972431a1832d27f82892fd08dc7 and everything is A-OK following your steps. My configuration just has `enable_xsrf` set to `yes`.

I think the key commit that is missing for your scenario is 1e41aab65c9631688ce78f1830c851db856462b2 which was made to close off #2174

[2015-01-19 11:36] andrewminton commented on #2318
Will do.

[2015-01-19 11:41] brendo commented on #2316
So it handles the WAMP/XAMMP case you outlined [here](https://github.com/symphonycms/symphony-2/pull/2317#commitcomment-9263909)?

[2015-01-19 11:51] michael-e commented on #2323
I even tried current integration. :-(

Ah, wait, I disabled some extensions now, and now it works fine. So now I will try and find out which extension does it!

[2015-01-19 11:56] brendo commented on #2323
Let me know!

[2015-01-19 12:08] andrewminton commented on #2316
Yes correct. :) child folder installs etc..

[2015-01-19 12:23] michael-e commented on #2323
OK, here we go: Do you remember the problems I had with a special (private) extension when the autoloader was introduced? Because the extension is running background processes, I had to include the autoload logic, and [you told me how to do it](https://github.com/symphonycms/symphony-2/issues/2194#issuecomment-58800374). So the background worker contains the following code:

[code]

This extension

[2015-01-19 13:30] animaux commented on #2295
@jensscherbl maybe you want to have a go at an extension to make the calendar float? :) Not sure if I’m able to make this …

[2015-01-19 13:59] michael-e commented on #2323
Meanwhile I rolled back Symphony **and** the extension to see if this has always been a background process issue. The answer is no. With the old code there are no useless session created (and yes, I verified that the background process is indeed working in my test). At that point in time — before autoloading was implemented — the extension used the following code to implement a background worker:

[2015-01-19 15:27] jensscherbl commented on #2295
I don't like the idea of having a hundred settings for stuff like this. I also don't like the idea of having to overwrite or remove existing core behaviour in extensions, always feels a bit hacky to me.

If we can't agree on a fitting UI for everyone here, I think what @nilshoerrmann proposed above is the right way to go.

The UI for the date field can be enabled by an extension (using either the

[2015-01-19 15:41] jensscherbl commented on #2302
I think I would either go with XSLT or plain PHP, depending on the usecase. With `what I want to use as a developer` I didn't necessarily mean that I don't want to use XSLT. What I meant was that I want to use (and develop for) a CMS where the architecture seems well designed and (hierarchically) logical to me.

Agreed.

[2015-01-19 15:49] jensscherbl commented on #2266
Other new issues that pop up at the moment and aren't directly related to changes in 2.6 should be pushed back to a 2.6.x release as well. That's exactly the situation where a [revamped branching and release model][1] could improve things.

[1]: https://github.com/symphonycms/symphony-2/issues/2268#issuecomment-66518460

[2015-01-19 17:25] nitriques commented on #2319
My pleasure.

[2015-01-19 17:30] nitriques commented on #2311
It's funny because the class attribute was created before CSS and it was meant to 'classify' elements, which is what we are doing.

Funny stuff apart, does anybody knows which part of the code relies on the class ?

And both solutions looks ok to me. Maybe do the renaming for 2.6 and data- for 3.0 ?

[2015-01-19 17:30] nitriques commented on #2281
Yup thanks @allen

[2015-01-19 17:31] nitriques commented on #2315
That's interesting @michael-e thanks for sharing.

[2015-01-19 17:37] nitriques commented on #2312
Well I think so. I'll check to see if localization can be disable client side: we will use Symphony's locale info all the way, not mixing it with the browser's locale.

[2015-01-19 18:18] nilshoerrmann commented on #2311
Independend of the solution we pick, this cannot be changed before Symphony 3.0 in my eyes because we'll change a public interface (classes used as identifier in this case).

[2015-01-19 18:59] nitriques commented on #2311
Ok I would vote for the data-attribute then since it easier to get from js.

[2015-01-19 19:09] nitriques commented on #2312
After reading a lot on the topic, I think the safest thing would to alter the current locale.

http://momentjs.com/docs/#/customization/

[2015-01-19 19:36] nitriques commented on #2295
DateTime is (for me) a native UI, just like checkboxes and button. input type=date is landed, but stills lacks what CLNDR offers. I would vote for it to stay in the core.

[2015-01-19 19:40] nitriques commented on #2318
Why not try prepareTextValue before ? it should already be "clean"

[2015-01-19 21:01] bauhouse commented on #2302
I worked with Symphony because it gave me the ability to do front-end development work that encouraged a true separation of data and presentation. XSLT forced me to think about building data models and creating HTML structures to present that data. But it also didn't limit me to the output of that data as HTML. I agree that transformation of data is the strength of XSLT.

I wouldn't mind if Sympho

[2015-01-19 21:05] bauhouse commented on #2302
Perhaps the breakthrough will have to come from a separation between form and the systems that are used to manage the data contained by that form. For Symphony, it may mean that data consumption must be extended to eliminate the issue of the JSON / XML divide. If it can do both well, this will make it a suitable choice for almost any data transformations. The real benefit comes when designs can be

[2015-01-19 21:33] brendo commented on #2316
Great, thanks!

[2015-01-19 21:33] #2316 closed

[2015-01-19 22:06] brendo commented on #2312
We are doing that at the moment (heh), [right here](https://github.com/symphonycms/symphony-2/blob/integration/symphony/assets/js/src/symphony.calendar.js#L30). I'm still haven't figured out quite where we are going wrong yet.

From what I can see, we set the locale, and Moment automatically bundles in the [`dow`](http://momentjs.com/docs/#/i18n/changing-locale/). The calendar docs seem to state t

[2015-01-20 00:27] bernardodiasc commented on #2302
Nice to know your experiences @bauhouse, good points you made.

Seems that this subject is more conceptual than technical. Not sure how productive we can be only imagining the result of this path. Moving forward while keep the roots is something I believe, but this is not my decision for sure. ;)

So... What I'm about to show is not pretty, actually will make your eyes bleed! haha

In this commit

[2015-01-20 05:47] nilshoerrmann commented on #2312
Brendan, the weekoffset works. The calendar itself is not built correctly.

[2015-01-20 07:41] animaux commented on #2312
@nilshoerrmann der frühe Vogel hat Junge :)

[2015-01-20 08:24] nilshoerrmann commented on #2312
@nitriques: Remember that I initially added the the timezone offset to the date before rendering the calendar in order to make sure that we didn't shift one day back in time for timezone that are ahead of UTC/GMT? That didn't work for you (you are 5 hours behind GMT) but it did for German time (GMT+1). This is what we have to look at to fix this issue.

- There is either a bug in Moment that cause

[2015-01-20 08:27] nilshoerrmann commented on #2312
And just to point this out again: The **weekday offset** requested by Alex **works as expected**.
We are actually dealing with a bug **in the general calendar rending depending on the user's timezone**.

[2015-01-20 09:36] nilshoerrmann commented on #2312
I took a deeper look into this issue this morning:

1. The calender displays correctly, if we either don't set a locale _or_ if we "normalise" all dates to UTC by adding the timezone offset manually.
2. The calendar only works in localised environments as long as we set a locale because otherwise non-english month names are not recognised and the dates cannot be parsed.

So the easiest fix to just

[2015-01-20 11:03] nilshoerrmann commented on #2312
A few random thoughts:

1. Symphony's date field does not use timezones. If I enter `11:00` in Germany, it will be displayed as `11:00` in Australia as it will in Canada, too.
2. JavaScript always take the local time into account – so does Moment.
3. Because the one doesn't care about timezones (Symphony) while the other does (Moment/JS), we are running into problems.
4. Midnight seems to be the b

[2015-01-20 11:08] michael-e commented on #2312
For my understanding: Doesn't it use the system timezone? Why else would it save two values?

[2015-01-20 11:14] nilshoerrmann commented on #2312
Actually, Symphony shouldn't store two values in my eyes: if you know the timezone, everything else is pure math. But as far as I'm aware, Symphony doesn't change the time display if the system timezone is changes.

[2015-01-20 11:39] michael-e commented on #2312
That's wrong. At least in the backend, time does actually change if I change the timezone in the config file.

[2015-01-20 11:51] nilshoerrmann commented on #2312
I didn't know that. Still, things seems to be a bit messed up conceptually:

- There still shouldn't be a need to store the date twice in the database.
- If Symphony takes the timezone into account when displaying dates in the backend, the date field has to make that information available in the markup.
- Currently neither the backend scripts nor the user knows anything about the used timezone.

[2015-01-20 11:59] nilshoerrmann commented on #2312
@brendo:

**Let's remove the calendar from the 2.6 release completely**.
All related code can be moved to a dedicated `calendar` branch. Let's do the following that branch:

- Decide how Symphony should handle timezones.
- Fix the data storage.
- Fix the date and time display (including the calendar).
- Only enable the calendar by default for the filtering, leave the field display to extensions.
-

[2015-01-20 12:46] animaux commented on #2312
:scream:

[2015-01-20 12:58] nilshoerrmann commented on #2312
Sorry, Alex, I think this is the only responsible decision.

[2015-01-20 13:00] animaux commented on #2312
:sob:

[2015-01-20 13:59] jensscherbl commented on #2312
Agreed. I'd really like to have the calendar, but even more I prefer a stable release over buggy new features.

[2015-01-20 14:50] nilshoerrmann commented on #2312
I already create a [`calendar`](https://github.com/symphonycms/symphony-2/tree/calendar) branch and will prepare everything else later today or tomorrow.

[2015-01-20 18:11] nilshoerrmann commented on #2312
There are now two pending pull request:

- #2325 that removes the calendar for Symphony 2.6 and
- #2326 that adds it again for Symphony 2.7

[2015-01-20 18:12] nilshoerrmann commented on #2295
Due to timezone issue (see #2312), we now have two pending pull requests:

- #2325 that removes the calendar for Symphony 2.6 and
- #2326 that adds it again for Symphony 2.7

This issue can be handled alongside #2326.

[2015-01-20 18:15] nilshoerrmann commented on #2266
In order to give us time to fix the timezone issues we discovered in #2312, I submitted a pull request that removes the calendar, see #2325.

[2015-01-20 18:17] nilshoerrmann opened #2327 "Core fields and publish filtering"
The core fields don't provide all filter option they support for publish filtering.

[2015-01-20 23:19] brendo commented on #2312
This is the safest and fastest way to a 2.6.0 release, so I'm in favour of the `calendar` branch.

Symphony supports timezones and the date field saves two values for as long as I can remember. The `value` is just a string which includes the timezone set in the Symphony configuration. The `date` is the UTC timestamp. We use this for filtering. We could exclusively use it. There was a reason why we

[2015-01-20 23:21] brendo commented on #2322
This would be a nice addition. I'm sure it doesn't work currently simply because it was not in scope of the Publish Filtering changes. It was never envisaged to reuse the interface elsewhere. Nice to know it's almost there though :)

[2015-01-20 23:28] brendo commented on #2312
Thinking further. If the only reason this is being pulled is timezone, then this can be easily solved by adding a data attribute `data-utc` and use `$data['date']` or by making a call to `DateTimeObj::getGMT($value)`.

From my limited understanding of [the Calendar](https://github.com/symphonycms/symphony-2/blob/integration/symphony/assets/js/src/symphony.calendar.js#L19) script, this line would n

[2015-01-20 23:29] brendo commented on #2327
Which options are missing?

[2015-01-21 07:36] nilshoerrmann commented on #2327
Sorry for the "blurry" report. I noticed that the date field doesn't offer the `is` filter.
I noticed a while back that other fields were lacking options as well but I didn't have the time to check that again yesterday.

[2015-01-21 07:39] nilshoerrmann commented on #2322
Shouldn't be that hard to fix, I guess.

[2015-01-21 07:43] nilshoerrmann commented on #2312
No, that wouldn't work due to the dynamic way JavaScript interacts with timezones.
I have an idea how to fix this and can work on this if you give me one or two weeks – but we shouldn't delay the 2.6 release any further because of this.

[2015-01-21 08:14] jonmifsud commented on #2322
No I don't think so, I will probably open a PR to track progress in that regard. Just didn't want to proceed in case I was taking the wrong approach.

[2015-01-21 09:10] cmnstmntmn opened #2328 "Default events values to the core"
# Main issue
that's an important issue that can affect data on updates via frontend events

- we have the form that handles the event
- we know the entry id
- we want to alter the title

**extra fields added to that form will also be altered when the event is executed**

# Solutions
- mark fields on sections as **read only**

@brendo's [Default Event Values](http://symphonyextensions.com/extension

[2015-01-21 10:07] jonmifsud commented on #2328
@cmnstmntmn just to clarify, is the problem here that field data other than the one you want to save is being altered because it is included in the form?

[2015-01-21 10:11] cmnstmntmn commented on #2328
@jonmifsud, right

[2015-01-21 11:04] jonmifsud commented on #2328
In what way is this an issue? A matter of locking the fields making them not 'front-end' updatable in case someone tries to change something which shouldn't be allowed?

The backend works in the same way if I want to just change the Title, the whole entry (and fields) are re-saved. Front-end wise if you don't want fields to be within the form you can just exclude them, and or set a fake 'name' pro

[2015-01-21 11:15] cmnstmntmn commented on #2328
the issue is that if someone knows entry's fields, he can easly add them with changed values to the post request. and there's no way to keep data safe from beeing updated

eg.

- i have and article page, that contains a like button in the footer
- i have an event **Add Like** added to that page

now, let's say i'm the bad guy
- i go to example.com/article/12
- view page source and add some other f

[2015-01-21 11:22] michael-e commented on #2328
I understand your issue, but you can easily solve it using the Default Event Values extension. If all you need is to ensure that values are not changed, you can leave the default value empty and activate *Value will override any value posted from the frontend*. In this case the field's value will be unchangeable in the event.

[2015-01-21 11:32] cmnstmntmn commented on #2328
that's the way i solve it now but there are some limitations:

- let's say we a user generated website, where articles are submited by users and need to be approved by administrators
- by default we set a **pending** status via default values extension
- administrators approve the entries with **active** status
- users can also edit their entries, so after edit, the entry will change it's status b

[2015-01-21 11:38] michael-e commented on #2328
Could it be that you are uisng the same event for "new" and "edit" procedures? AFAIK, if you are using two events (which is good practice, IMHO), you should be able to achieve what you are after. The "new" event uses a default value of "pending", the "edit" event uses an empty value.

[2015-01-21 11:42] brendo commented on #2307
Hey @designermonkey. Any updates on this change? Looking to push an RC1 out shortly and I reckon this should be in it.

[2015-01-21 11:42] cmnstmntmn commented on #2328
yes, you're right.
anyway, i think **Events** should have this mechanism implemented by default in next releases, since Default Events extension is not up to date

[2015-01-21 11:44] designermonkey commented on #2307
5 mins-ish, I'll do it now

Brendan Abbott wrote:

[2015-01-21 11:44] michael-e commented on #2328
It should, because it is so important! I myself wouldn't mind having the functionality in the core. Let's see what @brendo thinks.

[2015-01-21 11:49] jensscherbl commented on #2328
+1

[2015-01-21 12:13] designermonkey commented on #2307
#2329

[2015-01-21 13:42] jensscherbl opened #2330 "Autoloading & Composer"
@brendo

Never thought of this before, but...

Does it really make sense to have a custom autoloader and an optional Composer autoloader? I mean, if we treat Symphony as standalone software and not as a PHP package that requires Composer to be installed, shouldn't we include the vendor folder in our repository anyway and only use Composer internally for development? Following this approach, we cou

[2015-01-22 08:20] jonmifsud opened #2331 "Display Publish Panel Pre-populate Bug"
I'm not entirely sure if this is exclusively a "Core" issue. It's most certainly linked to the way Filters in the backend work. The screenshot below is the error I get when trying to create a new item from a Filtered view of an Association Field.

![screen shot 2015-01-22 at 09 10 05](https://cloud.githubusercontent.com/assets/859775/5852427/d39c23c8-a216-11e4-8d6e-7e62200f1c01.png)

As you might

[2015-01-22 09:17] brendo commented on #2331
The Association Field deals with ID's mostly, so pre-population has to follow the same rules. The data that `displayPublishPanel` expects is `relation_id`'s.

Are you able to generate a pre-populate link using an entry ID instead?

[2015-01-22 09:36] jonmifsud commented on #2331
I can generate a pre-populate link using ID's *id* I search using ID's which the common user won't do. It also works fine If I use the association interface link (on the right of an article) to create a new entry.

The below is not really intuitive for the user, it's something specifically linked to filtering I believe. Is there a way we can get the field to give back the pre-populate value having

[2015-01-22 10:14] brendo commented on #2331
@nilshoerrmann implemented a solution to this for the Publish Filtering interface, I believe it involves `fetchSuggestionTypes`. It's documented [here](https://github.com/symphonycms/symphony-2/wiki/Migration-Guide-to-2.6-for-Developers#publish-filtering). See how that goes, I'll need to do it for the SBL as well by the looks of things :)

[2015-01-22 10:34] brendo commented on #2331
This is what [I had to do](https://github.com/symphonycms/selectbox_link_field/commit/780d775d14e22ec8c5db1e1c9f76bd32a9567441) to make SBL work with Publish Filtering :)

[2015-01-22 10:59] jonmifsud commented on #2331
Thanks I'll give it a shot and let you know, would probably be the exact same thing.

[2015-01-22 13:47] jonmifsud commented on #2331
@brendo that seems to solve another part of the problem (suggestions) - When filtering I now get suggestions however when choosing a filter it still uses the String value. Hence when trying to pre-populate it still uses the string value throwing the error.

I think the problem is related to somewhere in the [content.publish.php](https://github.com/symphonycms/symphony-2/blob/integration/symphony/c

[2015-01-22 22:59] bauhouse commented on #2302
@michael-e, remember when Symphony 3 was designed to render the admin with XSLT? Surely there is something that we can learn from the old [Symphony 3 beta repository](https://github.com/symphonycms/symphony-3) to refactor the Symphony UI to render the admin area with XSLT. Perhaps it would also be possible to then introduce the UI enhancements that were being experimented with in the [Symphony 3 b

[2015-01-22 23:33] bernardodiasc commented on #2302
oh Symphony 3, so beautiful! :D

I would like to know more about the experiences you had on that, if possible. :)

Paraphrasing @nilshoerrmann:

Before someone get me wrong, while talking about templates and templates, the goal here is kinda the opposite. If we can focus on the **data**, the choice of the template will be indiferent (thats what I want to prove in my last comment). **XSLT Engine Ex

[2015-01-23 02:47] brendo commented on #2266
I actually just noticed that @psychoticmeow has created a [Composer for Symphony](https://github.com/psychoticmeow/composer_for_symphony) extension that allows you to hook into Composer, so you could try going down that route? It would place a dependency on that extension, but I can forsee this extension being part of the core, especially with #2330 up for discussion.

[2015-01-23 02:48] brendo commented on #2331
Go back one step. What is generating your prepopulate link?

[2015-01-23 06:49] jonmifsud commented on #2331
The `Create New` button when viewing a list filtered using the Associations Field. The screenshot below shows the page exactly before I hit the pre-populate link.

I've given this some thought I think the filtering is correct, when searching I get the pre-populated search field, and I can pick "Home" from the list, which sets the filter text to home. However the pre-populate link should use the `e

[2015-01-23 11:01] michael-e commented on #2323
I assume that the old version of creating a Symphony object has worked for me because it simply didn't include all the Symphony files, and so (by chance) it didn't attempt to create/verify a Session.

Using autoloader for a background process [as mentioned here](#issuecomment-70485149) means that there will be "a complete Symphony" available for the background process, which also means that Sympho

[2015-01-23 11:05] creativedutchmen commented on #2323
@michael-e sorry, can't really take a real close look at this moment, I'll have some more free time in two weeks...

However, I do think you are on the right path. In the past only the files that were absolutely needed were included, but we are including a whole lot more now. However, I would think the empty session would not be written to the DB at all, is the function that cleans up the session

[2015-01-23 11:12] michael-e commented on #2323
Thanks for the pointers, I will do some more research. The cleanup function, however, will not see the sessions as empty (because they contains an XSRF token).

[2015-01-23 11:15] creativedutchmen commented on #2323
Ah yes, of course. If all else fails you can always empty the session, and then call the cleanup function yourself...

[2015-01-23 12:17] michael-e commented on #2323
Thanks a lot for this idea, it seems to be the simplest solution by far. I do it like this:

[code]

@brendo: If you think that this is a "clean enough" solution for background workers, feel free to close this issue.

[2015-01-23 12:48] michael-e opened #2332 "Why are handles created for array values of page parameters?"
If a page parameter is an array (and only then), Symphony creates additional handles for the values (instead of simply using `item` elements).

So, for example, Symphony creates:

[code]

Wouldn't the following be enough?

[code]

The handles are generated in https://github.com/symphonycms/symphony-2/blob/master/symphony/lib/toolkit/class.frontendpage.php#L525.

If anybody thinks that these handle

[2015-01-23 12:54] michael-e commented on #2129
@nilshoerrmann, once we can agree on the text to be displayed, we could prepare a pull request for this. My suggestion is:

* `123 entries` (without filtering)
* `12 of 123 entries (filtered)` (if filtering is applied)

[2015-01-23 13:14] nilshoerrmann commented on #2129
I'm fine with that.

[2015-01-23 13:18] michael-e commented on #2129
So I will try my best.

[2015-01-23 13:43] jonmifsud commented on #2322
@brendo / @nilshoerrmann do you think it's safe to append `event.stopPropagation();` to each callback for the duplicator and collapsable interfaces + backend.views.js

I've fixed most of the duplicator collapsable issues by stopping event propagation but not sure if I should be testing each event or if it's safe to stop propagation for each item. With propagation nested duplicators create all thes

[2015-01-23 13:43] michael-e commented on #2129
Ah, I see that [translations](https://github.com/hananils/lang_german/blob/master/lang/lang.de.php#L1770) would have to change as well. How is the right way to deal with that?

[2015-01-23 13:45] nilshoerrmann commented on #2322
No, I don't think so.
Might work if applied to nested Duplicators only (Duplicator in Duplicator).

[2015-01-23 13:46] nilshoerrmann commented on #2129
Just change the the text in Symphony and make use of the `__()` function.
Using Localisation Manager, the translations can be easily updated.

[2015-01-23 13:48] michael-e commented on #2129
OK, will do.

[2015-01-23 13:58] jonmifsud commented on #2322
Hmm.. is there a set of tests I could run somewhere to make sure I don't break anything then? (Can be manual testing)

So far within the section editor I have no issues with stopping propagation. Propagation only stops per event function each duplicator callback is tied to `.instance` so I think it's unlikely that you want to re-run those callbacks in another `.instance` higher up the dom..

[2015-01-23 14:02] nilshoerrmann commented on #2322
Well, testing the UI … that's really not a strenght of Symphony. A lot of room for improvement here.

Check out other areas of the system and extensions:

- the new publish interface
- the JIT preferences
- the meta keys field
- the date and time field
- the data source editor

At least, stopping propagation is nothing I'd add frivolously.

[2015-01-23 14:05] jensscherbl commented on #2323
Can't really help here, just curious...

Shouldn't the token only be created when someone logs into the backend?

[2015-01-23 14:09] michael-e commented on #2323
The backend process uses the administration "context", this is why it calls `symphony('administration')`. Poor Symphony can't know that it's not a human browser. :-)

[2015-01-23 14:11] michael-e commented on #2323
Ha, you mean only using it after login? Well, no, even the login form uses the XSRF token.

[2015-01-23 14:16] jensscherbl commented on #2323
Exactly.

Does this make sense?

[2015-01-23 14:20] michael-e commented on #2323
Yes, in my understanding of XSRF it makes sense to protect especially the login form. I may be proven wrong though.

Still, you are right to certain extend: Creating a Symphony object alone (without any pages being created) wouldn't need to create tokens and/or sessions. But I am afraid that is the way it is implemented. @brendo can probably explain it better than me. :-)

[2015-01-23 15:26] nitriques commented on #2323
Yes it does!!!

I've played with this on my own and the closest thing I could do was to create my own Symphony class implementation. (i.e. not use the Administration class).

But yes, token/session should only be created when required, not always.

[2015-01-23 15:28] nitriques commented on #2322
Me neither. Some extensions (like DateTime) relies on the propagation in order to achieve their goals.

It's not the best architecture, but it the one we have now and it works OK.

[2015-01-23 15:38] nitriques commented on #2129
Can be closed since #2333 has been merged ?

[2015-01-23 15:39] jonmifsud commented on #2322
Makes sense - I'm going through trying to find which propagations were causing an issue for me. From there we can figure out the next steps.06

[2015-01-23 15:41] jensscherbl commented on #2323
Can someone explain this to me, please?

[2015-01-23 15:42] nitriques commented on #2332
I do think so. Make sure that string comparison are always lowercase.

I do think that the handle should *always* be there, not only when it's an array...

[2015-01-23 15:53] creativedutchmen commented on #2323
It does not. It simply does not make sense to protect the login page, as that would imply you know the login details. Which renders the entire attack superflous...

[2015-01-23 15:56] michael-e commented on #2332
The parameter values that I have seen have been lowercase anyway!

[2015-01-23 16:01] michael-e commented on #2323
Aha!

[2015-01-23 16:10] michael-e commented on #2332
OK, I am not right.I have, for example:

[code]

So yes, parameter values are not lowercase by default. But is this needed? Filtering data sources always works with the value, not with the handle. So the handles are useless, unless you need them in XSLT, right?

Do you have an example of the handle being useful? I can't think of one, unless you want top hardcode "handle-ized" comparisons in your t

[2015-01-23 16:16] #2129 closed

[2015-01-23 16:21] nitriques commented on #2328
That's why I never used auto-generated events and always use custom ones written with a couple of line of php.

Adding this backend-lock would also mean that we would need to add backend-readonly too (if you have one, then you have no reason to not implement the other one.)

I can't say that I am all for it. I am not against it. Really curious to know what @brendo thinks.

[2015-01-23 16:26] nitriques commented on #2312
This line is a problem since it already modifies the weekday offset...

Sorry that I missed so much on the last days, I have been terribly busy. Please never hesitate to ping me on twitter for urgent/pressing needs as I do not read emails from github since they make notifications disappear on the site.

[2015-01-23 16:26] nitriques commented on #2295
Thanks Nils.

[2015-01-23 17:51] nitriques commented on #2332
I saw horrible things...

I like it very much when I have the value and an handle.

Right.

For some quick and dirty fixes, this is sometimes needed. I know it's not the best way of doing things, but it make bug fixing trivial sometimes.

Also, we use page-types for lots and lots of things in our XSL templates.

[2015-01-23 17:53] nitriques commented on #2323
I can post to the login form outside a browser. It forces the attacker to get a new token for each request, which makes brute force attacks less prone to succeed (because they are more time consuming)

[2015-01-23 17:53] nitriques commented on #2322
Great.

[2015-01-23 18:05] jensscherbl commented on #2323
Makes sense, I guess.  But our current implementation does only generate one token per session, so this only works if the session is destroyed on an unsuccessful login attempt.

[2015-01-23 18:07] michael-e commented on #2332
Same here, I have a lot of crazy page types!

Still, I don't think that parameters should have handles…

[2015-01-23 18:09] michael-e commented on #2323
Anyway, this scenario has nothing to do with XSRF.

[2015-01-23 18:17] nitriques commented on #2323
it should do that IMO.

I think it does. The whole point of XSRF token is to prevent Cross-site Request Forgery at large. Requesting a login is a request that can be forged.

[2015-01-23 18:18] nitriques commented on #2332
Then we should get rid of them. Always.

[2015-01-23 18:25] michael-e commented on #2332
Waiting for @brendo's expertise. :-) If he's on my side, I will be happy to send a pull request.

[2015-01-23 18:26] nitriques commented on #2332
:smile:

[2015-01-23 18:26] michael-e commented on #2323
According to @creativedutchmen, [it is not an XSRF matter](#issuecomment-71213626).

[2015-01-23 18:33] nitriques commented on #2323
Well according to me, it is :p

But I agree that we should not create useless session and that XSRF is not a holy grail of security on the login page: it does not prevents Brute Force attacks so I do not mind if there's a token or not on that page.

[2015-01-23 18:44] creativedutchmen commented on #2323
Honestly, I have no idea why everyone is dragging XSRF by the hairs into every potential attack. XSRF is mostly used to execute commands on a users behalf without them knowing it.

Sure, this could theoretically be used to execute a brute force attack, but that attack is very hypothetical and technically much more difficult than you'd think. Honestly, if you are worrying about brute force attacks,

[2015-01-23 18:45] jonmifsud commented on #2322
These two seem the main culprits:

1. [Collapse Collapsible](https://github.com/symphonycms/symphony-2/blob/master/symphony/assets/js/src/symphony.collapsible.js#L97) collapses the main drawer when trying to remove/destroy a sub drawer item.

2. [Expand Collapsable](https://github.com/symphonycms/symphony-2/blob/master/symphony/assets/js/src/backend.views.js#L421) when trying to create a new item

[2015-01-23 18:48] nitriques commented on #2322
Great.

This is related to focus on select tags.

See https://code.google.com/p/chromium/issues/detail?id=423155
https://github.com/symphonycms/selectbox_link_field/issues/79
https://github.com/symphonycms/symphony-2/pull/2231

[2015-01-23 18:51] nitriques commented on #2323
Yeah you're right.

It's not a problem indeed. But still related to XSRF IMO.

Anyhow, let's focus on not creating useless session since this is a problem.

[2015-01-23 18:57] michael-e commented on #2323
So this leaves the following questions:

1. Is the current implementation of XSRF overly aggressive (because token generation doesn't care if anything actually gets "delivered" by Symphony, which has caused some headaches with background workers)?
2. Is the usage of the XSRF token for the login form something that we would like to change?

My practical problem [has been solved](#issuecomment-71185

[2015-01-23 18:58] nitriques commented on #2323
1. Yes
2. Looks like it.

[2015-01-23 20:14] jonmifsud commented on #2322
Will check if related but doing a stop propagation on both of those events
gets it to work
On 23 Jan 2015 19:48, "Nicolas Brassard" <notifications@github.com> wrote:

[2015-01-23 20:17] nitriques commented on #2322
By curiousity, do you have the DateTime extension installed ? It's the only extension that could break I can think of...

[2015-01-24 01:23] brendo commented on #2332
Problem is, how will you know when to generate a handle and when not to generate a handle?

[2015-01-24 06:27] jonmifsud commented on #2322
Correct had a look at it basically it focuses on the first input field within the duplicator instance. Stopping propagation puts the focus on the search box as shown below. If I let the propagation bubble it focuses on the `Label: Section` at the top of the first duplicator instance.

![screen shot 2015-01-24 at 07 17 27](https://cloud.githubusercontent.com/assets/859775/5886330/4d9c7aa0-a399-11e4

[2015-01-24 16:59] michael-e commented on #2332
The suggestion was to remove the handles completely.

[2015-01-25 12:25] brendo commented on #2332
Yes but some param values need handles so you can construct URL's :)
On 25 Jan 2015 02:59, "michael-e" <notifications@github.com> wrote:

[2015-01-25 12:30] michael-e commented on #2332
Any examples? (If yes, why does Symphony only add handle attributes for parameters that are arrays?)

[2015-01-26 07:16] jonmifsud commented on #2322
@nitriques & @brendo does it make sense to try move out `createFilteringDuplicator` from content.publish.php into Widgets? or would it best be it's own class?

I think if we're making it includable in other elements other than the publish page as I intend to do, it doesn't make much sense to reside there. Also in the above use-case I don't want it to reside in a separate form, but rather be part o

[2015-01-26 16:14] nitriques opened #2336 "Adding CONTRIBUTING.md"
Re https://github.com/symphonycms/docs.getsymphony.com/issues/5

I think the project would benefit from having this file. Github's integration with it is cool and it would state clearly what we want from a PR.

- PSR0/1
- Commented code
- No whitespace changes

Any other suggestions ?

[2015-01-26 16:17] nitriques commented on #2336
-  separate pull requests for each topic (?)

[2015-01-26 16:18] michael-e commented on #2336
I think that cleaning up trailing whitespace should be OK or even encouraged, but that should always be in a dedicated commit.

Yes, if topics are really different, e.g. "compatibility" and "feature enhancement/fix".

[2015-01-26 16:20] nitriques commented on #2336
Yeah for sure. I am not against it, just not mixed with other changes.

[2015-01-26 16:23] nitriques commented on #2322
I really think it does... @brendo where would you put it ?

Do you have a PR ready that I could test ??? Or just a branch ?

[2015-01-26 16:24] nitriques commented on #2332
Are we not talking only about page-types ? I understand that we do not need handles for page-types, but I really need them for page-params or url-params...

[2015-01-26 16:49] michael-e commented on #2332
Correct me if I am wrong, but as far as I know and see, we don't have `handle` attributes for url-params or any other parameters — except those params that are arrays (i.e. have multiple values). Please tell me examples of where you see handle attributes, or where you would like to see them.

[2015-01-26 16:58] nitriques commented on #2332
You're right.

As you said. Multiple pages-types creates handles

Url parameters values.

[2015-01-26 17:12] jonmifsud commented on #2322
Just Local. I will move this to Widgets and push the branch. Today was AFK
most of the day so a bit behind but I'll try get it done later on or
tomorrow.

On 26 January 2015 at 17:23, Nicolas Brassard <notifications@github.com>
wrote:

[2015-01-26 17:13] nitriques commented on #2322
Awesome, thanks Jonathan!

[2015-01-26 17:52] nitriques commented on #2309
How would you implement it ? `window.confirm()` ? That's the one Symphony uses for deletes...

[2015-01-27 08:03] jonmifsud commented on #2322
@nitriques [there you go](https://github.com/jonmifsud/symphony-2/tree/association-filters). Should I open a PR mark it pending? or finish all functionality first.

Next step I guess is where to store the filtering data... I have modified the [Association UI Selector in a branch filter](https://github.com/jonmifsud/association_ui_selector/tree/filters) which handles filtering using data attributes

[2015-01-27 10:36] michael-e commented on #2332
I never had the idea to use handles of URL parameters anyway, because:

* As a developer I can make URL parameters to my liking. If I need the params to filter datasources, I will use IDs or title handles anyway.
* Using handles instead of the original parameter values for some logic in XSLT would mean that several URLs would show the same outcome (because several values will generate the same han

[2015-01-27 14:41] nitriques commented on #2332
You're right @michael-e

But I still find that handles are safer to use in some cases.

[2015-01-27 14:46] nitriques commented on #2322
Looks good. Hope to find the time to test ASAP.

Will you be able to send two separate PR ?

[2015-01-27 14:53] jonmifsud commented on #2322
Yes sure no problem. I guess you mean one to add the filters within the context and another PR for the rest? Or one for UI + other for storage functionality?

[2015-01-27 14:59] nitriques commented on #2322
No, sorry, I thought it was two separate things, but it's not. Sorry! One PR will be ok.

[2015-01-27 15:05] michael-e commented on #2332
I just can't imagine which "cases" that might be. :-)

If we can't find a consensus on this matter, I will simply hack my Symphony installation to remove the handles altogether (it's just one line of code after all). But before I close this issue, I would like to hear what others think, e.g. @brendo, @nilshoerrmann?

[2015-01-27 16:00] nitriques commented on #2332
Yeah I'd love to hear what others think too!

Let's say I want to create a css class with the content of a user defined value. I'll use the handle since the value may contain spaces.

Another case would be filtering: user can input anything and I want to save filtered results to local storage: I would then use the handle as the key.

Yeah I know I could do this some other way, but I really like th

[2015-01-27 16:08] nilshoerrmann commented on #2332
Two thoughts:

1. Just because I don't have a use case, that doesn't mean there isn't one.
2. Thinking of no. 1 and consistency throughout the system, it makes sense to have handles (for single _and_ multiple types).

[2015-01-27 16:37] michael-e commented on #2332
1. Agreed. That's why I ask, trying to find one that I find useful.
2. Yes, __if__ we say that parameters and data (nodes made section names etc.) are nearly the same and should be treated in the same way. Just, that's not my understanding.

[2015-01-27 16:48] nilshoerrmann commented on #2332
Parameters have a 	split personality because they live in the pool and in the xml. It's the chicken or the egg problem. I think it would be consequent to offer handles in the XML.

[2015-01-27 16:50] michael-e commented on #2332
Both examples might be use cases for URL parameters (which don't have handles currently). So this leads us to a feature request:

* either "URL params should have handles"
* or "All params should have handles".

My issue was to clean up the current inconsistent state by removing the superfluous handles. Do you really want to clean up by adding even more of these handles? (Forgive me, I know the an

[2015-01-27 16:52] nilshoerrmann commented on #2332
You should have stayed silent, old man ;)

[2015-01-27 16:53] michael-e commented on #2332
Yep, I should simply have hacked my installation(s).

[2015-01-27 17:44] jensscherbl commented on #2332
Will be XML only starting with the next major version (because breaking change). At least that was the consensus from a previous discussion following another issue with pool parameters.

[2015-01-28 09:48] brendo commented on #2322
Sorry, I've been on holidays and missed this. It should be it's own class. It's fairly specific and has dependencies.

[2015-01-28 09:52] brendo commented on #2336
[Here's something prepared earlier](https://github.com/symphonycms/symphony-2/wiki/Contributing-to-Symphony)

[2015-01-28 15:01] nitriques commented on #2336
Awesome Brendan, it will be a great starting point. I'll see what I can do.

[2015-01-29 01:44] brendo commented on #2332
Sorry, I've been away.

So, yes, `handle` is currently only created for parameter arrays. This is inconsistent because if the parameter is not an array, no `handle` is added.

It may be possible that the parameter values are not always handles to start with. The `FrontendParamsResolve` and `FrontendParamsPostResolve` delegates allow extensions to add in whatever parameters they please and there is

[2015-01-29 01:45] #2327 closed

[2015-01-29 01:52] brendo opened #2337 "Investigate using `transformToDoc` rather than `transformToXML` for the XSLT Processor"
This [thread](http://www.getsymphony.com/discuss/thread/108893/) on the forums leads to an interesting discovery in how the generation of documents occurs in Symphony. At present, we utilise the `XsltProcessor::transformToXml` method, which takes our `DomDocument` with XSL and XML, and outputs a string of XML. This XML is echoed as the output of the page. This function makes use of the `<xsl:outpu

[2015-01-29 16:37] nitriques commented on #2332
I would also vote for `Make all parameters have handle attributes` in 2.6.0 :smile:

[2015-01-29 16:43] michael-e commented on #2332
It makes me a bit sad, because I have the feeling that we "pervert" parameters, somehow. To me the params XML part looks much straighter without any handles. I understand @nitriques use cases, but still, don't we encourage people to use parameters in a wrong way? I can already hear people ask "why doesn't a parameter's handle work for filtering datasources?". This addition will make it harder for

[2015-01-29 16:45] nitriques commented on #2337
Interesting...  I wonder

1. What are the perf implication (in my mind, xml is faster than html)
2. Will I get the same guarantee that my output is valid ? (well closed tags by example)

[2015-01-29 16:58] nitriques commented on #2332
Would it be a good idea to offer a config parameter to turn it off ? I do not like to make @michael-e sad. :sparkles:

[2015-01-30 06:36] nilshoerrmann commented on #2332
I don't think you're right here, Michael. The reason why things get harder to understand is the fact that Symphony will move from `$params` to `/data/params`. I know the reasons for this move but if you compare the two concepts, `$params` are easy because they just map a name to a string while XML always allowed complex nested structures.

Two comments:

1. While Symphony always gave developers th

[2015-01-30 09:42] michael-e commented on #2332
I will try to explain my argument a bit better. Currently, in Symphony:

1. Parameters are availabe on the PHP level (data sources).
2. Parameters are available to the XSLT processor directly—technically this is called "parameters as arguments" (according to [this post](https://github.com/symphonycms/symphony-2/issues/2141#issuecomment-50145118) by @allen). Allen suggested to completely remove thi

[2015-01-30 10:06] michael-e opened #2338 "Parameters as arguments (using $param in XSLT without declaring it) should be removed"
There has been a [discussion about best practice](https://github.com/symphonycms/symphony-2/issues/2141) in XSLT templating regarding parameters some time ago. In this discussion, @allen [explained](https://github.com/symphonycms/symphony-2/issues/2141#issuecomment-50145118) the technical concepts and [suggested to remove "parameters as arguments"](https://github.com/symphonycms/symphony-2/issues/

[2015-01-30 13:39] marciotoledo opened #2339 "String of custom admin path causes conflict with datasource / events names"
Hi,

I used 'back' as custom admin path to a new project.
When I was trying create a datasource with name "feedback" an error was returned.

The lastest stable version: 2.5.2

https://gist.github.com/anonymous/12ddd1f8dc4f4a39555e

On this parte of error:
"Symphony Fatal Error: Could not find Data Source *feedcreated*. If it was provided by an Extension"

The string was broken 'feedcreated'.

If I

[2015-01-30 16:33] nitriques commented on #2339
I think I found it.

What do you get if you replace [this line](https://github.com/symphonycms/symphony-2/blob/2.5.2/symphony/lib/boot/bundle.php#L45) with this one.

[code]

Notice the extra 1 parameter in the strpos call ?? This will limit the replacement to only one (your's get two replacement!!)

Does it fix the problem ?

@jensscherbl This kind of fix would get release as 2.5.3 with the new b

[2015-01-30 16:35] nitriques commented on #2338
I would also be all for it. Using `$param` syntax is error prone, since if the parameter is not defined, XSLT would fail.

Using a real xpath expression is way better IMHO.

But I would keep the $param syntax for DS ...

[2015-01-30 16:37] nitriques commented on #2332
As a developer, I understand that normal values do not have handles. But in XML, I kind of expect to have a `@handle` attribute...

[2015-01-30 16:46] michael-e commented on #2338
Sure. Initially these params are built in PHP, so we should use them directly at this level, without making a detour.

[2015-01-30 16:56] nitriques commented on #2338
Perf!

[2015-01-30 17:50] nitriques commented on #2339
Sorry, just tested my fix and it obviously does not work.
Been looking around and it seems like we have to choice.

1. Use `preg_replace`
2. Use this, which looks less nice, but is faster

[code]

From: http://stackoverflow.com/questions/1252693/using-str-replace-so-that-it-only-acts-on-the-first-match

And I think that this should go in `General` as `str_replace_first`

[2015-01-31 06:24] brendo commented on #2332
Handles will be removed from all parameters. Because this is a breaking change, it must occur in 3.0.0

[2015-01-31 06:26] brendo commented on #2338
Developers are going to hate this change. Purists will love it. But most will hate it. Regardless, it's the right thing to do so it will be removed.

[2015-01-31 06:27] brendo commented on #2339
Use `preg_replace`. I favour readability of code than milliseconds.

[2015-01-31 06:50] #2339 closed

[2015-01-31 06:51] #2318 closed

[2015-01-31 06:51] #2307 closed

[2015-01-31 07:02] #2259 closed

[2015-01-31 08:41] brendo commented on #2312
I think I've solved this in 57fda1f. The key is to use the `daysOfTheWeek` provided by CLNDR instead of trying to iterate and build the titles ourselves.

**I think we should remove the `weekOffset` configuration option**. The calendar will use the locale information to determine what the starting day of the week should be. If you're running a German install, it'll be Monday. If you're running an

[2015-01-31 09:45] brendo commented on #2295
I don't do this often, but I'm going to put my foot down on this one. For consistency between the filtering and the date field, the calendar will be a dropdown. To make the calendar more manageable, a max width has also been introduced.

I believe this is a smart default and a better solution than a setting.

[2015-01-31 10:03] brendo commented on #2337
Closing. This makes no difference at all.

[2015-01-31 10:03] #2337 closed

[2015-01-31 10:07] animaux commented on #2295
:+1: Totally with you on this one :)

[2015-01-31 10:13] brendo commented on #2331
This is going to be a challenge to fix. Before Publish Filtering, all associations used ID's when using the `?filter` syntax. Now this is no longer the case. Publish Filtering uses the value instead of the ID, which is right because that's what an Author would expect to see.

The problem is that `?filter` and `?prepopulate` are intrinsically linked. So now `?prepopulate` will also have the human r

[2015-01-31 10:20] jonmifsud commented on #2331
Can't we make this something like an 'entry search' pulling up the ID's without touching fields? If you had to run a query using `buildDSRetrievalSQL` which I believe is the same function that does the filtering. Then you would select only the entry ID's and pass those to the pre-populate field string. Does it make sense?

[2015-01-31 11:07] brendo commented on #2331
I'm not sure that'd work as expected. `buildDSRetrievalSQL` generates the joins and where clauses for a given value. In this case, if we gave it the value `Dog`, the field would return all the entries that match `Dog`. The entry ID's of these entries are not what we need, we want the original ID of `Dog`.

Now the SBL does have a function, `fetchIDfromValue`, which will do exactly what we want (in

[2015-01-31 11:28] michael-e commented on #2332
Thanks, @brendo. I can send a pull request, of course. But how do we deal with PRs for Symphony 3.0? Will there be separate integration branches for 2.6 and 3.0? Or do we just hold the PRs back until "hopefully final 2.6" has been released? Or shall we push dedicated feature branches (which is only possible for core team members, AFAIK)?

[2015-01-31 11:38] michael-e commented on #2338
Well said.

[2015-01-31 11:52] brendo commented on #2332
I'm hoping once the 2.6 RC is released that I can create a `3.0.0` branch and a `2.6.x` hotfix branch (#2268). That will allow these things to be applied rather than sit in open issues.

[2015-01-31 11:55] brendo commented on #2338
It works well moving towards a world where #2302 exists. It won't always be possible to 'create parameters' that are accessible by templates.

[2015-01-31 11:55] michael-e commented on #2332
Sounds great, thanks a lot!

[2015-01-31 12:56] ijy commented on #2338
Or maybe even a world where #1463 exists as a prelude to #2302.

[2015-02-02 12:48] nilshoerrmann commented on #2312
Yes, you did.

Go for it!

[2015-02-02 13:02] jensscherbl commented on #2295
I believe this is a smart default and a better solution than a setting.

+1 :)

[2015-02-02 13:04] jensscherbl commented on #2338
+1

[2015-02-02 13:09] jensscherbl commented on #2312
I'm usually running an English (language) install with German locale settings for date and time. How will it behave in such a case?

[2015-02-02 13:10] nilshoerrmann commented on #2312
First day of the week will be a Sunday.

[2015-02-02 13:18] jensscherbl commented on #2312
Mhh. Not what I hoped for, but I guess clients can live with that.

Thinking about it, I don't even use any specifically German settings other than the timezone. It's pretty much all ISO standards. [ISO week date][1] says `Weeks start with Monday` by the way... ;)

[1]: http://en.wikipedia.org/wiki/ISO_week_date

[2015-02-02 13:20] nilshoerrmann commented on #2312
Haha, remember this is JavaScript not ISO ;)
It's a mess …

[2015-02-02 13:29] nilshoerrmann commented on #2312
There are two options to work around this issue:

1. You can set the Symphony language to German and switch back to English in your own profile.
2. You can fool Symphony, if you'd like to have the backend in English but with German dates: Just create a German localisation extension that doesn't provide any translations. The month names in the widget will be German in this case though because those

[2015-02-02 13:49] jensscherbl commented on #2312
Thanks. Will see what works best...

[2015-02-02 13:53] bernardodiasc commented on #2338
Always got divided what way to work with. Having only one way seems the right way to go.

+1

[2015-02-02 16:07] jonmifsud opened #2340 "Field `getParameterPoolValue` support for multiple Keys"
Want to bounce this off you guys before I work on it.

Since Symphony 2.3 multiple datasource output parameters have been enabled using the `.field` notation. I would like to expand slightly on that for fields such as the Association Field in particular. In the association Field one can add relationships from multiple sections. I think it would be cool if we can identify the section which was used

[2015-02-03 01:49] brendo commented on #2340
This would be a really nice addition. I think you're assumptions at the moment are correct. I'm not sure of anywhere else that is using `getParameterPoolValue` downstream, potentially the export modes?

[2015-02-03 11:30] brendo commented on #2312
Closing down, thanks for everyone's input!

[2015-02-03 11:30] #2312 closed

[2015-02-03 11:31] brendo commented on #2295
Closing down.

[2015-02-03 11:31] #2295 closed

[2015-02-03 11:32] brendo commented on #2266
I think we're actually getting in a position now where an RC is imminent. Have I missed anything?

[2015-02-03 15:58] nitriques commented on #2339
Thanks Brendan.

[2015-02-04 02:09] brendo commented on #2266
Correct

On Wed, Feb 4, 2015 at 2:33 AM, Nicolas Brassard <notifications@github.com>
wrote:

[2015-02-04 11:15] nathanhornby opened #2342 "Sorting numbers in entry tables"
I have a feeling that this will have been discussed before, there might even be  a convention I'm unaware of, but should this be the expected/presumed sort order for a column like this?

![screen shot 2015-02-04 at 11 13 09](https://cloud.githubusercontent.com/assets/1975168/6039448/f3482328-ac5e-11e4-8919-df744e97b44e.png)

Is this simply due to the field type being used? (As **Order Entries** tr

[2015-02-04 11:21] nathanhornby commented on #2342
Ooh, and I've immediately run into an issue at the DS end - how would I output these entries in number order? As the DS ordering works the same way as the entry table (which makes sense).

[2015-02-04 11:22] jensscherbl commented on #2342
Yep, input field is sorted as text.

[Exactly][1].

[https://github.com/symphonycms/numberfield/tree/integration][1]

[2015-02-04 11:23] nathanhornby commented on #2342
I am such an idiot - the number field is right there - in the core!

[2015-02-04 11:24] #2342 closed

[2015-02-04 11:25] jensscherbl commented on #2342
It was never part of the bundle and first party extensions aren't properly listed or documented anywhere, so not your fault.

[2015-02-04 11:32] nathanhornby commented on #2342
That's very kind of you @jensscherbl  :)

[2015-02-04 13:34] designermonkey opened #2343 "Deprecation of old values"
When is the old style of DS params being deprecated? It's not causing any issue, but it bothers me that it's still there. :)

[2015-02-04 13:42] jensscherbl commented on #2343
3.0.0

[2015-02-04 15:31] nitriques commented on #2266
Ok perfect!

[2015-02-04 17:06] designermonkey opened #2344 "URL params regression"
URL parameters are represented in the param pool by appending a number to the end if they are an array.

I remember we discussed this before (i can't remember when) and agreed it was to be represented the same as any other array value in the param pool, so nested `item` nodes in xml and a comma separated list in the runtime params.

Is this a regression that it isn't like this? I think so.

[code]