[2015-06-10 21:48] michael-e commented on #2315
Still thinking about it…

[2015-06-11 07:10] jonmifsud commented on #2315
Michael I think at least catching the 4 byte character - and showing a
usual invalid error rather than saving incomplete data the could be
sufficient in most cases for 2.6.x - if symphony 3 will support these
characters then this 'error' message would be removed.

On Wed, 10 Jun 2015 at 23:48 michael-e <notifications@github.com> wrote:

[2015-06-11 10:47] michael-e commented on #2315
Yes, we might do that—just prevent breaking the output. But let's wait a bit, I developed a "hackish" solution for Nils which I would like to discuss and test with him first.

But: Apparently the `utfmb4` character set was introduced in MySQL 5.5, so we **wouldn't need to raise the requirement** in order to provide a proper fix. (The version number 5.5.3 was a mis-interpretation on my side.)

I am

[2015-06-12 14:59] andrewminton opened #2456 "Regex for extended top level domain email addresses"
It has just been pointed out to me that a number of site we have using Symphony is refusing to validate certain email addresses. Turns out those email addresses are in the new extended family of top level domains.. '.london' '.paris' '.tokyo' etc..

The regex for emails doe snot cater for these extended domain names and I'm wondering what others are doing to get over this hicup?

[2015-06-12 15:02] michael-e commented on #2456
What exactly do you mean by "validate"? Are there issues sending emails from the core, or with Email Newsletter Manager?

[2015-06-12 15:05] andrewminton commented on #2456
It's front end forms rejecting these emails when trying to submit into a section.. and also backend (symphony) section when creating a new entry that contains an email address field... Does the current email regex cater for these extended character top level domains?

[2015-06-12 15:11] michael-e commented on #2456
Ah, field validation! But I don't see any issues here, I can even save `tester@tester.tester`. And also looking at the regex, I see no reason why it shouldn't work, it simply says "at least two characters after the dot".

[2015-06-12 15:19] andrewminton commented on #2456
Ok, maybe it's the age of the Symphony build and the character preferences.. it's Symphony 2.0.6. Wondering if there was a change in the regex since then.. closing as it's deemed not a Symphony specific issue per se.

[2015-06-12 15:19] #2456 closed

[2015-06-12 15:20] michael-e commented on #2456
You can simply throw the current email regex into your validation field. Here it is:

    /^\w(?:\.?[\w%+-]+)*@\w(?:[\w-]*\.)+?[a-z]{2,}$/i

[2015-06-12 15:32] andrewminton commented on #2456
Thanks @michael-e  :)

[2015-06-12 16:02] michael-e commented on #2315
Unfortunately, Mathias Bynen was right regarding the requirement (MySQL 5.5.3). It' teriibly hard to find this in the MySQL docs, but finally I found it. `utf8mb4` was introduced in MySQL 5.5.3.

[2015-06-12 16:12] michael-e commented on #2315
BTW, I figured out how an database (table) update would basically work. But given the [requirement issue](https://github.com/symphonycms/symphony-2/issues/2315#issuecomment-110801239), I still have to think about how to proceed from here, conceptually.

[2015-06-12 16:17] nilshoerrmann commented on #2315
From what you've explained to me on the phone, @michael-e, I'd be happy if Symphony offered a way to set the default charset used to communicate with the database. A setting in the config file or something alike.

This would offer me a way to manually change the specific tables that need to store emojis without requiring an update to Symphony 3.0.0. The latter will most likely not be suitable for

[2015-06-12 16:21] michael-e commented on #2315
So am I. But advising people to manually fiddle in the database has its risks. :-)

[2015-06-12 16:23] nilshoerrmann commented on #2315
Life is always risky ;)

[2015-06-14 21:38] nitriques commented on #2315
I very like the idea of having a default charset in the config file. But would you allow custom sql statement  with other charset or take the same approach to when we tried to fix the collate sql  (i.e. `preg_replace` ?)

I would rather see an extension doing it.

[2015-06-15 08:20] nilshoerrmann commented on #2315
With the emoji problem as background it makes a lot of sense to allow custom settings for queries.

[2015-06-15 09:17] michael-e commented on #2315
@nitriques:

I don't remember, what exactly do you mean?

A simple solution, as proposed by @nilshoerrmann, would be:

* We add a (secret) configuration setting for the connection character set (e.g. `connection_utfbmb4` in the `database` section of the config file). In my eyes this is completely backwards compatible, because it essentially means "expect up to 4 bytes per character" (instead of "e

[2015-06-15 09:52] nilshoerrmann commented on #2315
I thought of something simple like a `charset` setting ind the `database` section which defaults ot `utf8` and could be used here instead of the hardcoded default value:

- https://github.com/symphonycms/symphony-2/blob/master/symphony/lib/toolkit/class.mysql.php#L391
- https://github.com/symphonycms/symphony-2/blob/master/symphony/lib/toolkit/class.mysql.php#L405

If I understood you correctly, @

[2015-06-15 09:59] michael-e commented on #2315
Yes, it would, but my main concern is the "hickup" I described above:

How can we solve this? Or shall we say we don't care?

[2015-06-15 10:04] nilshoerrmann commented on #2315
This is really not my area of expertise but couldn't Symphony's database class decide based on the charset setting?

- If the charset is `utf8`, filter out 4-byte-characters.
- If the charset is `uft8mb4`, do nothing.

[2015-06-15 10:27] michael-e commented on #2315
Maybe, I would have to check. But if we rely solely on the character set of the **connection**, you may still have "mixed database content", so things may still break. At this point we don't know about your DB columns.

[2015-06-15 10:28] jensscherbl commented on #2315
Not completely sure about this, but my understanding after reading the Mathias Bynen article was that `utf8mb4` is actually the right UTF-8, and that `utf8mb4` exists in MySQL because MySQL's default `utf8` is kind of a stripped down version of UTF-8.

So in my opinion, fields don't have to filter anything or need to be changed to support 4-byte-characters. If a field already supports UTF-8, it sh

[2015-06-15 10:42] michael-e commented on #2315
Yep. correct.

Yes and no, **If we update the existing database** (i.e. all tables of this field), we only have to **change the table creation of the field** (for future tables).

[2015-06-15 18:09] jensscherbl commented on #2315
Wasn't this the plan?

[2015-06-15 22:16] michael-e commented on #2315
But this means that fields are not "good to go". Every (core/extension) field has to be changed to create new tables with the new character set (and collation).

[2015-06-15 22:59] jensscherbl commented on #2315
Get it now. Sorry for the confusion.

[2015-06-16 11:19] designermonkey opened #2457 "JS update required"
Just putting this here in case someone gets to it before me.

line 256 `backend-views.js`

[code]

[2015-06-18 11:47] designermonkey opened #2458 "Idea for removing the static classes"
I just want to leave this here: https://github.com/rdlowrey/Auryn

One of my biggest wishes for v3.0.0 is to finally remove all the static classes. I've played with the idea loads, found lots of methods to do it, and none of them are easy to do.

I found this IoC pattern the other day, and it sounds like the right way to go. All the classes we use as statics at the moment should be declared to the

[2015-06-18 21:06] michael-e commented on #2458
Excuse me if I ask stupid questions, but **why** do you want to remove static classes?

[2015-06-19 08:07] designermonkey commented on #2458
Because it's a very brittle design pattern that is completely untestable.

[2015-06-19 09:08] michael-e commented on #2458
Ah, thanks.

[2015-06-22 15:19] nitriques commented on #2458
What a convincing argument ;) I totally agree with it. I would keep the static instance tho.

[2015-06-22 15:20] nitriques commented on #2457
@designermonkey

parseInt calls must always be accompanying with the base suffix. i.e.:

[code]

This prevents some rather nasty bugs.

[2015-06-22 15:25] nitriques commented on #2315
@michael-e Sorry for the delay, but I was thinking about [this line](https://github.com/symphonycms/symphony-2/blob/master/symphony/lib/toolkit/class.mysql.php#L538) in particular, where we force feed the change (which prevents me from writing my custom SQL).

Also:

I would rather no mix collations into the same DB. I would only activate utf8m4 for new installs and let developers do what they wan

[2015-06-22 15:39] michael-e commented on #2315
The line you mention is simply replacing `TYPE=` by `ENGINE=`, which is more "modern" MySQL speak. It doesn't force a DB engine though, nor any character set or collation.

The needle eye for Emojis is the default values in [these two functions](https://github.com/symphonycms/symphony-2/blob/master/symphony/lib/toolkit/class.mysql.php#L391-L409) – those functions set the connection character set.

[2015-06-22 16:04] designermonkey commented on #2457
Thanks.

[2015-06-22 16:04] designermonkey commented on #2458
Why?

[2015-06-22 17:30] nitriques commented on #2458
Convenience: Not having to find "Globals". Singleton can be used also.
Performance: Not having to create new object that would be the same thing as others already present in the database.

You could argue that we could use a dictionary or pool of object for those. You would be also right. But I am pretty sure that even that solution would have a static method to get to those objects, right ?

But

[2015-06-22 17:30] nitriques commented on #2457
My pleasure. I'll create a PR for it.

[2015-06-22 17:31] nitriques commented on #2315
Ok wow great recap. Thanks.

[2015-06-23 18:29] axpro opened #2460 "Admin ajax post - 403 Forbidden"
When importing a CSV using "Import/Export CSV" in 2.6.2 I get a 403 Forbidden in the front-end and the following in logs/main:

    UNKNOWN: SymphonyErrorPage 0 - Request was rejected for having an invalid cross-site request forgery token.<br/><br/>Please go back and try again. on line 181 of symphony/lib/toolkit/class.xsrf.php

I think it worked till this commit: https://github.com/symphonycms/sy

[2015-06-23 19:09] nitriques commented on #2460
I assume you are using this https://github.com/TwistedInteractive/importcsv ?

The bug's in that project...

If you would like to fix it, check this similar bug in another extension: https://github.com/symphonists/tracker/pull/30

[2015-06-23 19:09] #2460 closed

[2015-06-25 12:05] axpro commented on #2460
Thanks :+1:

[2015-06-25 15:20] nitriques commented on #2460
My pleasure!

[2015-07-01 15:47] psychoticmeow opened #2462 "MySQL::tableExists does not work"
I've not had a chance to debug this, but it isn't returning the correct results.

[code]

[2015-07-01 16:11] nitriques commented on #2462
What result is it returning ?

[2015-07-07 12:50] jurajkapsz opened #2463 "A zero value shown as 'None' in publish index tables"
A have a value of `0` in a `Number Field`, and the publish index table shows as `None` instead of the value `0`. The same goes for the standard `Text Field`.

I expected to see a `0` in the overview, `cause thats an actual value amongst others.

Sym 2.6.2

**Edit:** Changed the formerly used "empty" term to the correct one `None`.

[2015-07-07 14:16] nitriques commented on #2463
I think it's my fault. I like `empty()` too much.

Does it fixes both problems to change [this line](https://github.com/symphonycms/symphony-2/blob/master/symphony/lib/toolkit/class.field.php#L1001) with

[code]

[2015-07-07 14:17] michael-e commented on #2463
I can not replicate this on 2.6.2. My publish index table shows `None` if there is no value, which is OK for Text Fields IMHO.

Regarding the Number Field, of course `0` should be shown as `0`.

[2015-07-07 14:18] nitriques commented on #2463
@michael-e Yes but 0 in a text field should still display 0, not none.

[2015-07-07 14:19] michael-e commented on #2463
Ah, sorry.

[2015-07-07 14:19] nitriques commented on #2463
No prob.

[2015-07-07 14:24] jurajkapsz commented on #2463
Sorry, yes, `None` it is. I quickly translated my slovak translation to a term of "empty" to describe the default value label used for no values.

This change actually renders all values as `None`.

[2015-07-07 14:34] nitriques commented on #2463
Ahahaha. Sorry, it should be:

[code]

[2015-07-07 14:36] jurajkapsz commented on #2463
Ok, that works fine :) Great, thanks :)

[2015-07-07 14:41] jurajkapsz commented on #2463
Maybe this could be added to the `2.6.3` release?

[2015-07-07 14:48] nitriques commented on #2463
Yes, I'll send a PR right now.

[2015-07-07 14:51] nitriques commented on #2463
Done.

[2015-07-07 14:52] jurajkapsz commented on #2463
Great, thanks!

[2015-07-08 13:35] designermonkey opened #2465 "Sort column while filter is active"
Sorting a column while a filter is active is removing the last character of the filter from the URL after the sort is applied.

[2015-07-08 15:09] nitriques commented on #2465
I am not able to reproduce... Could you give me the url (without the domain) have on the sort anchor element ?

[2015-07-08 19:29] nitriques opened #2466 "Weird colors in success notice after animation"
Is this a bug ? Or as designed ?

![image](https://cloud.githubusercontent.com/assets/771169/8579992/0044f056-2586-11e5-870a-73fa4be971e8.png)

I would rather see this:

![image](https://cloud.githubusercontent.com/assets/771169/8580002/0d9052f0-2586-11e5-9757-a46a27aa835e.png)

cc @nilshoerrmann

[2015-07-08 19:50] michael-e commented on #2466
Buggg.

[2015-07-08 19:51] nitriques commented on #2466
;) Let's wait for the designer's comment hahaha

[2015-07-08 21:13] jurajkapsz commented on #2466
I also noticed this in webkit browsers.

[2015-07-09 06:05] nilshoerrmann commented on #2466
That's by design of course! You should never be forced to create another entry ;)
No, seems like an old Webkit bug is popping up again when transitioning from dark to light colours …

[2015-07-09 14:18] nitriques commented on #2466
:) Ok thanks Nils I'll try to fix this up without breaking anything else ;)

[2015-07-09 14:18] nitriques commented on #2466
I am so a lame designer (even, not a graphical designer at all), I really wanted to check with you first :P

[2015-07-09 15:03] jurajkapsz commented on #2466
Maybe a way to do it is through js.

[2015-07-09 15:30] nitriques commented on #2466
? Everything is done in css right now... Should be pretty easy to fix.

[2015-07-10 21:57] nitriques commented on #2466
Finally @jurajkapsz was right: we must do it in js... this is the bug: http://stackoverflow.com/questions/8490828/css3-color-transition-not-working-in-chrome

:visited links can't be animated...

[2015-07-10 22:56] jurajkapsz commented on #2466
yeah, js will be a sure thing.

[2015-07-13 15:29] nitriques commented on #2466
Adding a cache buster (?cache=<timestamp>) would solve the problem. But it ain't pretty.

[2015-07-14 15:06] designermonkey opened #2467 "Publish Filtering change"
We have had 3 clients now complain that the filtering system always defaults to `is` rather than `contains`.

I have tried to figure out how to change it, but failed miserably. Can this be done?

[2015-07-14 15:13] nitriques commented on #2467
Did you tried changing the order of this array ?
https://github.com/symphonycms/symphony-2/blob/2.6.x/symphony/lib/toolkit/class.field.php#L1185-L1208

[2015-07-17 00:32] jmoont opened #2468 "Datasources on Windows error on creation"
I get the following when creating a datasource:

`<?phpclass datasourcefooter extends SectionDatasource`

The space between the <?php and the start of the class is stripped.
I believe this is caused by line 1405 of content.blueprintsdatasources.php

#2259 has looked into this before but I don't believe the solution is working.
I am using Symphony 2.6.2 on Windows 8.1 and PHP 5.5.12

[2015-07-17 04:30] brendo commented on #2454
I don't remember either, it's well before my time. It's not something to do with Windows is it?

[2015-07-17 04:31] #2457 closed

[2015-07-17 04:31] #2463 closed

[2015-07-17 04:32] #2447 closed

[2015-07-17 04:33] brendo commented on #2439
Is #2447 related to this (and therefore fixed by association?)

[2015-07-17 04:41] brendo commented on #2467
Field's provide the filtering options, so the order comes from the Field. Changing the array @nitriques has linked to will do the job... but it's per *field*, so it can't be guaranteed that `contains` will be first for every single field.

[2015-07-17 04:44] brendo commented on #2468
Calling on any Windows Symphony users to help test this one, I don't have a Windows environment handy!

[2015-07-17 04:50] brendo commented on #2466
Bug.

Agreed, I don't like this.

Is another solution to use JS to add classes? I notice the current implementation is quite elegant in that it uses an infinite CSS transition, but if it's not working then it's not totally useful to us :) Perhaps we could listen to the `transitionend` event and add the appropriate class for better compatibility?

[2015-07-17 08:07] DavidOliver commented on #2439
I wouldn't have thought so. @nitriques?

[2015-07-17 08:47] designermonkey commented on #2467
Thanks for the clarification guys.

[2015-07-17 08:47] #2467 closed

[2015-07-17 14:59] nitriques commented on #2439
No it does not. I did not find the time to properly test and debug it, but we still have issues with this.

[2015-07-17 15:01] nitriques commented on #2466
Good idea. But still, the css animation won't work.

[2015-07-17 15:01] nitriques commented on #2468
Me neither... maybe @andrewminton does ?

[2015-07-17 15:03] nitriques commented on #2454
I would then do @michael-e's proposed change and see if anybody has problems with it.

[2015-07-17 16:45] johnpuddephatt commented on #2466
It looks like transitions work, even though animations don't. [Codepen demonstration](http://codepen.io/anon/pen/MwBvqr) – can anyone else confirm this is working in Chrome?

Would it be acceptable to rely on the .js-active class on the html element to trigger this?

If so, the following could work:

[code]

[2015-07-17 16:47] nitriques commented on #2466
Sadly, it does not works. The link always stay red. :(

[2015-07-17 16:50] johnpuddephatt commented on #2466
How strange. Working for me on Chrome.

Animation doesn't, but transition does...

[2015-07-17 16:54] nitriques commented on #2466
I am on windows right now... Latest version. Always red before and after clicks.

[2015-07-17 16:55] johnpuddephatt commented on #2466
Ok. I'm on OS X. The inconsistency is perhaps not too surprising given that it's a bug...

[2015-07-17 16:58] johnpuddephatt commented on #2466
Oh, hang on. If it stays red that's maybe a specificity issue, not an animation issue? Does adding !important to the .visited color declaration help?

[2015-07-17 16:59] nitriques commented on #2466
Indeed.

[2015-07-17 18:09] nitriques commented on #2466
Same result :(

[2015-07-17 18:17] johnpuddephatt commented on #2466
Two thoughts:

– you are waiting a few seconds after clicking, right?
– what happens if you delete the transition?

[2015-07-17 18:23] nitriques commented on #2466
No I was not! It DOES works! Yeah!!!

[2015-07-17 18:33] johnpuddephatt commented on #2466
:scream_cat:

OK, that's good! Seems like a relatively non-hacky solution. Does rely on javascript, but that's where the discussion was heading anyway, and it doesn't rely on writing any new javascript which seems convenient.

[2015-07-17 18:39] nitriques commented on #2466
Yup, I'll patch this up right now!

[2015-07-17 19:06] cmnstmntmn opened #2469 "mysqli_query(): (21000/1242): Subquery returns more than 1 row"
and ds error looks this way:

<img width="684" alt="screen shot 2015-07-17 at 22 06 20" src="https://cloud.githubusercontent.com/assets/2312755/8754977/1a7884be-2cd0-11e5-9d96-0f6cc9d3fc02.png">

<img width="984" alt="screen shot 2015-07-17 at 22 04 40" src="https://cloud.githubusercontent.com/assets/2312755/8754966/f50e24d6-2ccf-11e5-8f18-7810f61b7a77.png">

[2015-07-17 19:21] johnpuddephatt commented on #2466
Assuming .js-active is being added on DOM ready (or after) it should work!

[2015-07-17 19:31] nitriques commented on #2469
I think this is a LSE bug, not a core bug. Which fields to you have in that section ?

[2015-07-17 20:19] cmnstmntmn commented on #2469
it was a dupe on **entry_id** field; i had search and delete one of them.
somehow, i experienced the same [issue](http://www.getsymphony.com/discuss/thread/91954/) as vlad

[2015-07-17 20:32] cmnstmntmn commented on #2469
these are the fields of that section

<img width="321" alt="screen shot 2015-07-17 at 23 31 52" src="https://cloud.githubusercontent.com/assets/2312755/8756576/0b66dabe-2cdc-11e5-9d61-0764e776814e.png">

[2015-07-17 21:09] nitriques commented on #2469
Yeah, I've run into that problem many times before. See #2401

[2015-07-17 21:23] michael-e commented on #2469
It was the Textbox field, right? It looks as if [it has not been fixed](https://github.com/psychoticmeow/textboxfield/blob/master/fields/field.textbox.php#L45) similar to other fields. The line in question should actually be:

    UNIQUE KEY `entry_id` (`entry_id`),

This should fix your the main issue of having non-unique entry IDs.

(Given the fact that this extension experienced not a single co

[2015-07-17 21:40] nitriques commented on #2469
Yeah but other fields [have similar problems](https://github.com/DeuxHuitHuit/multilingual_field/commit/ce608240978026da3c162745f49f68a0033be567).

[2015-07-19 11:10] michael-e commented on #2454
I can send a pull request if @brendo agrees with it.

[2015-07-20 03:19] brendo commented on #2454
Is there any other way to detect the reverse proxy? When this information is removed, I assume this will result in a cookie created for the domain 127.0.0.1? Does this trigger weird behaviour, or potentially leak the information out to other domains?

[2015-07-20 08:02] michael-e commented on #2454
A proxy should pass the `Host` header to the backend, so that should not happen. A minimum configuration for nginx, for example, would be:

[code]

One might attempt to detect a frontend proxy using special headers like `X-Real-IP` or `X-Forwarded-For`, but that feels like a bad idea.

So instead I ask: Why do we need the second condition? Are we trying to cover cases where PHP's `$_SERVER['HTTP_H

[2015-07-20 08:06] andrewminton commented on #2468
I only encountered this issue when using XAMP on local setups.. WAMP was fine.. so there maybe more to it than Symphony install itself.

[2015-07-20 17:10] nitriques commented on #2468
@jmoont Can you confirm that your git setup translates LF into CRLF ?

[2015-07-20 17:20] nitriques commented on #2454
I do not want to start yet another debate on where to get server/env values...

But, we deal with [potentially dangerous data](http://shiflett.org/blog/2006/mar/server-name-versus-http-host) all the time and need to address those cases ourself (sadly). I'be been doing quite a bit of system programming in C, and almost all system calls can return errors. There are no "safe" values.

That being said

[2015-07-20 19:10] jmoont commented on #2468
ok - that sounds like it could be the problem - i will look into it and let you know.
J

[2015-07-20 19:12] nitriques commented on #2468
Great thanks.

[2015-07-20 22:14] jmoont commented on #2468
My git setup is correctly translating LF into CRLF - sorry that wasn't the issue.

[2015-07-20 22:51] michael-e commented on #2454
AFAIK, `$_SERVER['HTTP_HOST']`will always be set, so you shouldn't need `empty` to test it. It should be enough to write:

[code]

I agree with your point that any data sent by a client are potentially dangerous, so if we see potential issues we should fix them.

But if HTTP 1.0 allows the `Host` header to be emtpy, are you really sure that we should treat this as an error? (I am not sure, nor am

[2015-07-21 02:12] jmoont commented on #2468
would it not make more sense to write the replacement on line 1405 as
`preg_replace(array('//', '/(\t+[\r\n]){2,}/', '/(\r\n){2,}/'), '$1', $dsShell);`

so it replaces multiple line breaks with a single one

[2015-07-21 14:17] nitriques commented on #2468
Please check this: https://github.com/symphonycms/symphony-2/issues/2259

Wouldn't it be a regression ?

[2015-07-21 14:25] nitriques commented on #2454
The only HTTP/1.0 traffic I get on my servers are weird looking requests, i.e. hackers.

1.1 mandates `host` to be there and server should reject the request.

Maybe 400 is a bit arsh, maybe 412 Precondition Failed should be used.

I think disabling http/1.0 support would solve a lot of problems. But maybe that's something I need to do server-wise.

[2015-07-21 15:20] michael-e commented on #2454
Let's see what @brendo thinks.

[2015-07-21 15:28] nitriques commented on #2454
Yup :)

[2015-07-21 20:57] jmoont commented on #2468
i already referenced that in my original post. i'm not suggesting removing the regexp just adding a replacement instead of a blank string.

[2015-07-22 14:38] nitriques commented on #2468
Hum, sorry about that. So the only change would be to add the $1 replacement ?

[2015-07-23 06:31] moretaste commented on #2405
Same error and fix for e-mail

[2015-07-23 11:44] brendo commented on #2405
Yep, that's in 6a1dffa7000761f87e6ee3cb7f6f1f66f0058cc1 :+1:

[2015-07-23 12:16] moretaste commented on #2405
Ok, haven't seen that commit

[2015-07-24 11:39] jmoont commented on #2468
yes - have you checked on a Linux OS what that change does?

[2015-07-24 14:05] nitriques commented on #2468
@jmoont Yup, does not change a thing. I'll send a PR. Thanks!

[2015-07-26 10:43] brendo commented on #2468
Thanks!

[2015-07-26 10:43] #2468 closed

[2015-07-26 10:46] brendo commented on #2462
Need more information, it's returning expected results for existing tables and non existing tables for me (Symphony 2.6.2)

[2015-07-26 10:47] brendo commented on #2466
Hey @nitriques, how'd the patch go? Wouldn't mind collating together a couple of fixes and pushing through 2.6.3 :)

[2015-07-26 10:47] #2408 closed

[2015-07-26 10:52] brendo commented on #2439
Is there an exact set of steps to recreate the issue? Particularly point 2? I'm getting error pages (nice ones) and messages at the moment, so I don't think my setup is triggering the same sort of errors

[2015-07-26 10:52] #2469 closed

[2015-07-26 10:53] brendo commented on #2469
Closing as this isn't a core issue.

[2015-07-26 10:53] brendo commented on #2401
Did this even amount to any further information?

[2015-07-26 11:06] brendo commented on #2454
It's quite difficult to know exactly why this was introduced as it's not documented, and therefore, it's not easy to know what repercussions may result from removing it.  Because of that, I'm hesitant to make any changes in a point release that we cannot easily verify.

Unfortunately, Cookies & Sessions have a notorious history with Symphony and any ill effects are usually widely and immediately f

[2015-07-26 15:39] michael-e commented on #2454
I wouldn't mind the point release, because it's just a bugfix in my eyes.  The `SERVER_ADDR` condition causes issues, and we don't remember if it ever did anything good. And _if_ it was useful, it must have been a workaround for a bug in somebody's environment.

No wonder we don't remember, the code [must be more than 6 years old](http://www.getsymphony.com/discuss/thread/853/). :-)

Normally I am

[2015-07-27 00:22] brendo commented on #2454
By test I mean verify it still works in the environments above. I wouldn't be comfortable in removing the condition and pushing the release out without this verification.

[2015-07-27 08:59] michael-e commented on #2454
Oh, everything seems to work as before

1. locally on the Mac (OS X 10.8, built-in Apache) and
2. on the server (Apache behind an nginx proxy, as described above).

I'd be happy if others could verify different setups.

[2015-07-27 10:22] jurajkapsz commented on #2439
If the `manifest` folder has only `read` permissions, then nothing gets written down, but a `success` message is displayed upon saving.

[2015-07-27 10:28] jurajkapsz commented on #2463
Is this included for 2.6.3 ? I don't see it in the milestone. Probably it is, but visually not assigned ... sorry, just wanna check.

[2015-07-27 10:51] brendo commented on #2463
Yep it will be :)

[2015-07-27 13:48] jurajkapsz commented on #2463
Cool, thanks :)

[2015-07-28 14:20] jmoont opened #2471 "MySQL::isConnection function - is the mysqli_ping required?"
I am seeing the MySQL::isConnection function run 29 times in a page and using 67% of the time of that page load. Can you explain what the mysqli_ping does and if it is needed.

I have commented out mysqli_ping(MySQL::$_connection['id']) on line 260 of class.mysql.php and it seems to have no adverse effect on the system but does speed up the page loads.

[2015-07-28 14:45] michael-e opened #2472 "When editing entries, Symphony will have time slots without data"
When editing existing entries (see `EntryManager::edit`), Symphony will iterate over all fields, delete existing data first, then insert a new row for the field's data. So there will always be a small time slot without data.

This caused massive headaches for me the other day, because I experienced simultaneous processes which edited entry data, but every one of them relied on data being available

[2015-07-28 23:47] brendo commented on #2472
Interesting. I can probably shed some light on this.

The reason why `INSERT ON DUPLICATE KEY UPDATE` is not the preferred manner for inserting data is that it does not handle when any field schema changes, or partial information. Deleting all data first ensures that there is a clean slate for the entry.

Probably because the use case was considered an edge case. For the majority of Symphony sites

[2015-07-28 23:51] brendo commented on #2471
`mysqli_ping` is used to help ensure the database connection remains up. [As per the docs](http://php.net/manual/en/mysqli.ping.php), it will automatically reconnect to the database server if the connection has gone flat. This helped resolved errors with 'MySQL Server has gone away' responses.

It's called frequently as each `Symphony::Database()->query()` will check run `isConnected()` to ensure

[2015-07-28 23:53] brendo commented on #2471
Further reading from the docs states the reconnection only occurs in some scenarios:

By default `mysqli.reconnect` is set to `0` (don't reconnect) on Debian (from the comments) and as specified by PHP. On my local machine, it's set to `1` by default.

We may be better off inspecting this value on class startup and then conditionally referencing the `mysqli_ping()` method.

[2015-07-29 05:44] jmoont commented on #2471
I'm using a cloud database that isn't local to the server but on the same internal network.
Percona 5.6
PHP 5.5.9

In my php.ini:
mysqli.reconnect = Off

[2015-07-29 09:16] michael-e commented on #2472
Understood and agreed.

I also agree with that, simply because I have never noticed the behaviour before. (The time slot between deleting the database row and writing the row is probably much smaller, far less than 0.01s.)

But if it happens, you may not notice it easily, because it doesn't mean having no data at all. The process is repeated field by field, so at certain points in time there will

[2015-07-29 10:38] jensscherbl commented on #2472
#2434

[2015-07-29 10:53] michael-e commented on #2472
That PDO stuff is over my head. Anyway, I am talking about this part of the `EntryManager` class:

[code]

As you see, there is `delete`, then `insert`. In between, the database has no data for the field.

Is this behaviour changed by the commit you referenced?

[2015-07-29 16:21] michael-e commented on #2472
I verified two things:

1. I __can__ enforce issues using background scripts as mentioned above. But the issues depend on how your script tries to save the entry. I will explain in more detail below.
2. I __can__ solve these issues by locking the table at the beginning and unlocking it at the end. However, I am not a specialist in MySQL or MySQL sessions, so don't take my word for this trick havin

[2015-07-29 16:23] michael-e commented on #2472
Ooops, is there is a dangerous mistake in my  code above? Could it be that the table stays locked under certain circumstances?

[2015-07-29 16:34] michael-e commented on #2472
This might be better:

[code]

[2015-07-29 17:33] michael-e commented on #2472
@brendo:

I did, and it doesn't make any difference (confirming the assumption in my first response)

In short, I think:

* Either we use InnoDB and transactions (in the Integration branch, which will become Symphony 3, or Symphony 4 — I prefer the latter version number, BTW)
* or we lock the tables (in Symphony 2.x)

[2015-07-30 09:44] jmoont commented on #2471
More reading up on this and mysqli.reconnect isn't a recommended pattern
https://bugs.php.net/bug.php?id=52561

It is not implemented because reconnect creates a new connection which has new state and the state of the old connection is gone - session variables, transaction. In this context automatic reconnect is considered dangerous and is disabled since years in libmysql. mysqlnd doesn't provide

[2015-07-30 12:27] brendo commented on #2471
Great find! I'll remove the offending line from the `MySQL::isConnected` method, thanks!

[2015-07-30 13:16] brendo commented on #2454
Out of curiosity, what does the `$_SERVER['REMOTE_ADDR']` value hold on your nginx proxy?

[2015-07-30 13:27] michael-e commented on #2454
PHP runs in Apache, and  `$_SERVER['REMOTE_ADDR']` is `127.0.0.1` there. (Apache only "sees" nginx).

[2015-07-30 13:39] brendo commented on #2454
Hmm, I'm looking at it now and what I think the purpose of the code is to prevent problems when you use local hostnames in development, and then the cookie will be shared on the 'live' site.

For example, if you have your development site setup to run as `example.net` using your hosts file, the `$_SERVER['HTTP_HOST']` value will be `example.net`. If you then actually visit `example.net`, that cook

[2015-07-30 14:00] michael-e commented on #2454
Completely removing the function has one disadvantage: We drop a place where we can "hack" things. For a long time I have been using a modified `getDomain` function, because I didn't like Symphony's behaviour (setting cookies for all subdomains **only if you log in from the main domain** — I needed this **no matter where people log in**, let it be a subdomain or the main domain.)

If a developer r

[2015-07-31 13:35] designermonkey opened #2473 "Prepopulate misbehaving"
Given the URL `https://domain.com/publish/section-name/new/?prepopulate[451]=regexp%3A%20jrp`, the field in question is populated with `regexp: jrp`.

Expected value is `jrp`.

[2015-07-31 20:37] nitriques commented on #2473
I would ping @michael-e on this one...

But John, do you know where the `%3A` character comes from ?

[2015-07-31 20:42] nitriques commented on #2454
Agreed.

Agreed.

But lets hold up for a major release then. 3.x will break things anyways.

[2015-07-31 20:43] nitriques commented on #2471
Great find @jmoont !!!

[2015-07-31 20:52] nitriques commented on #2472
Locking the table is BAD!!! You are blocking ALL entries.

You absolutely need to use transaction with locking, or else you might end up with slowness instead of "no data for less than 0.01s"

So the only option is "Either we use InnoDB and transactions", without locking (cause the tx already protects us by allowing un-comiited reads)

[2015-07-31 20:53] nitriques commented on #2401
Sadly not. But #2471 might be it....

[2015-07-31 20:55] nitriques commented on #2466
Yes! As you know, I've been quite busy this week. Might have the time to properly test it on Monday.

[2015-07-31 21:11] michael-e commented on #2472
In my current project I already had two severe bugs which, in the end, were caused by this design flaw.

Changing the storage engine and implementing transactions is not an option for Symphony 2.x., IMHO. So you suggest that we don't solve this for Symphony 2.6?

If @brendo thinks the same, I will probably implement table locking just on my side, in my project. I really don't want to be hit by thi

[2015-07-31 21:16] michael-e commented on #2454
Hmmm.

[2015-07-31 21:16] nitriques commented on #2472
I think we can't solve it. Any "solution" would cause undesirable side effects.

Please report any bugs you encounter as this makes me really curious.

I totally understand that and this design flaw has been making me nervous since day one. But I was not (and still not) able to figure out how to solve it without transactions.

[2015-07-31 21:19] jonmifsud commented on #2472
Agree it's a flaw but table locking could block high volume sites esp if
there are a lot of writes.
On Fri, 31 Jul 2015 at 23:11 michael-e <notifications@github.com> wrote:

[2015-07-31 21:24] michael-e commented on #2472
I can (and will) do some benchmarks, for example for re-saving entries using a background process. But can you tell me, apart from being potentially slow, do you expect other potential side effects for the [implementation I posted above](https://github.com/symphonycms/symphony-2/issues/2472#issuecomment-126009747)?

[2015-07-31 21:25] nitriques commented on #2472
Yup. Locking the whole table is bad for high volume sites.

And correct me if I am wrong, but simply locking locks both reads AND writes.

[2015-07-31 21:29] michael-e commented on #2472
Given the situations I experienced, I need exactly this, so I suggested `LOCK TABLES table_name WRITE`. According to the manual this prevents write and read operations by other sessions:

[2015-07-31 21:31] nitriques commented on #2472
Yeah this can't be a solution for high volume sites.

[2015-07-31 21:34] michael-e commented on #2472
As I said, I will try and do some benchmarking in order to find out how slow the table locks are. But before I try, please tell me: Do you expect other side effects? (Apart from the risk that a table may stay locked if a process dies before being finished...)

[2015-08-01 08:18] jonmifsud commented on #2472
I don't think so, my guess is that tables would be locked/released one at a
time, so I don't think you'll hit a deadlock where multiple tables are
locked by the same user. (might be wrong) Re high volume sites if you have
datasource caching in addition to this it might actually be able to handle
it. Reason being if the cache doesn't invalidate at least till all the
entry is cleared up there wouldn

[2015-08-01 15:39] michael-e commented on #2472
OK, I think I will give it a try. The system is in production, with more than 100 users (Members using "frontend editing") and a lot of background jobs etc., so it will be a good test. And if things break, I will definitely get noticed. :-))

[2015-08-01 16:39] jonmifsud commented on #2472
Yeah I guess that scenario would be a good test especially if you have
multiple users saving at the same time
On Sat, 01 Aug 2015 at 17:39 michael-e <notifications@github.com> wrote:

[2015-08-02 16:47] michael-e commented on #2472
FYI: I have benchmarked editing of 1000 entries by re-saving them. These entries do have some fields, so it takes some time:

* 52 seconds using `EntryManager::edit` "as it is"
* 60 seconds locking the table for each field (as posted above)

In other words: Locking the table for each field before deleting and re-inserting the row(s) means an increase by 15 percent. That's not a high price to pay.

[2015-08-02 16:51] michael-e commented on #2472
(Of course, in my test, in had to pull the entries from the database as well—paginated, 25 at a time—, so the duration increase for the editing process alone will be higher than 15 percent.)

[2015-08-02 17:16] michael-e commented on #2472
I should add that even while the background process is re-saving the entries, I don't feel any issues in the frontend displaying the same entries. So although most of the time one of the section's tables will be locked, MySQL can handle the (waiting) READ queries well, and process them in time slots between locks.

[2015-08-03 03:04] brendo commented on #2473
I don't believe we do any handling to strip the filtering prefixes from data before handing it to a field currently, so this is the expected behaviour at the moment from me. It's a good idea though, I can't see any reason why the field would need to know filtering information when prepopulating.

[2015-08-03 09:29] michael-e commented on #2473
I agree with @brendo. It's expected behaviour, but it could be improved.

[2015-08-03 09:58] michael-e commented on #2472
Testing now in a real-world-scenario, i.e. "production" :-)

Just out of curiosity, isn't this issue a so-called Race Condition?

[2015-08-03 11:04] jonmifsud commented on #2472
Yes exactly, it would be a race condition. hopefully you don't encounter
any.

On Mon, 3 Aug 2015 at 11:58 michael-e <notifications@github.com> wrote:

[2015-08-03 11:16] michael-e commented on #2472
I have! That's why I started this thread. :-)

[2015-08-04 00:43] kmeinke commented on #2472
one transaction / lock free solution could be a (limited) multi version data model.

the new values would be inserted into the field tables - using some kind of version number to keep em separate from the current version.

the current version per entry per field could be max(version). that is simple but would mean new values go life as soon they are written - may be undesirable / inconsistent

an

[2015-08-04 01:01] kmeinke commented on #2472
oh... to soften the compatibility hit - perhaps it's even possible to encode the version in the entry_id it self - most current stuff should handle it as a black box without future function and would continue to work the an id like 35245v1

would't work with the bitmask idea tho - cause this idea modifies the way the where clause is written.

[2015-08-04 08:52] michael-e commented on #2472
InnoDB and transactions are planned for the next major version of Symphony. But for Symphony 2.x implementing such a fundamental change is too dangerous IMHO.

So I was looking for a simple solution, and that is table locks. Still I don't understand why they should be so bad in this scenario. If the decrease in speed was a true issue (because your website is so write-intensive), you would surely h

[2015-08-04 10:13] kmeinke commented on #2472
I dont think its "so" bad. I think as a simple solution its the most cheap. :)

btw.. i think your code snippet shown 6 days ago - risks to leak the lock. every single line that can throw an exception must be catched - you must guarantee to UNLOCK in all posible cases (one reason this kind of stuff is considered 'bad' ;)

	try {
		foreach ($entry->getData() as $field_id => $field) {
			Symphony::D

[2015-08-04 10:19] michael-e commented on #2472
Thanks for pointing that out, I will try and make this more bullet-proof. However, I have the feeling that @nitriques and @brendo consider this change too dangerous and prefer to keep the race condition.

[2015-08-04 10:53] nathanhornby opened #2474 "Date field - Unknown column 'time' in 'field list'"
**Symphony 2.6.2**

I just created a section with a date field and received this error:

The section seems to work fine after creation - aside from there being no time in the date field value (whether I set it or not).

Was this a change to the field that isn't expected by some part of the backend? Or is it isolated to the field itself?

(sorry wasn't sure where to report the issue, it being a cor

[2015-08-04 11:05] brendo commented on #2474
There's a migration for [2.6.0](https://github.com/symphonycms/symphony-2/blob/master/install/migrations/2.6.0.php#L20-L24) that will add these columns on update. Do you remember if the migrations were run in this environment?

[2015-08-04 13:52] nathanhornby commented on #2474
Hi @Brendo - this was a fresh install for a new project a couple days ago!

[2015-08-04 18:35] michael-e opened #2475 "Data Source Filtering by System ID is broken"
In the current 2.6.x branch, data source filtering by System ID is broken: The datasource will return entries if you filter using `@` or `€` as values. The filter will not do anything in this case.

<img width="757" alt="bildschirmfoto 2015-08-04 um 20 34 35" src="https://cloud.githubusercontent.com/assets/40072/9069219/4a67cf56-3ae8-11e5-90a3-50531bf5fba0.png">

[2015-08-04 23:23] brendo commented on #2474
Ah got it. It's two conflicting `install.sql` files, the [installer](https://github.com/symphonycms/symphony-2/blob/master/install/includes/install.sql#L118-L128) and the [workspace installer](https://github.com/symphonycms/workspace/blob/master/install.sql#L30-L38) when running from the ensemble.

Good pickup, a little scary it hasn't been reported for 18 months!

[2015-08-04 23:27] brendo commented on #2475
Logically, those values are not integers and are hence ignored, meaning the datasource will return as if no filter was applied. There is some [conflicting logic](https://github.com/symphonycms/symphony-2/blob/master/symphony/lib/toolkit/data-sources/class.datasource.section.php#L395-L411) in the Datasource that's preventing this from working correctly though.

Nice find!

[2015-08-04 23:32] nathanhornby commented on #2474
That long?? Blimey - surprised I haven't run into it a few times since then!

[2015-08-07 10:50] twiro commented on #2469
@michael-e : I guess the main problem with textbox-field is not that it's not maintained, but that the maintained version isn't promoted anywhere.

[Symphonyextensions](http://symphonyextensions.com/extensions/textboxfield/) only lists @psychoticmeow's [repo](https://github.com/psychoticmeow/textboxfield), that in fact hasn't been updated for more than two years. But there is a [symphonists-fork](

[2015-08-07 12:29] psychoticmeow commented on #2469
Yes it should, but I can't do it because the site doesn't work since I changed my name on GitHub. So manual intervention will be needed.

[2015-08-07 13:26] brendo commented on #2469
@nickdunn @allen This has come up a couple of times recently, and there's a few odd jobs stacking up on Symphon Extensions. Who has the keys to the site these days, and can I borrow them?

[2015-08-07 14:07] brendo commented on #2474
I've fixed the [workspace](https://github.com/symphonycms/workspace/commit/81f261c5257fd281bdbefaa9f32e3f1a233a42f4) and this will be pushed up as part of the 2.6.3 release.

[2015-08-07 14:18] brendo commented on #2475
@nitriques It's the changes to `General::intval` that are causing an issue here. By returning -1, we can potentially get an awkward count value, and `array_filter` will no longer clean up the bad data. Since 0 is 'falsey', I'd almost propose `General::intval` should return `0` rather than `-1` because it's more useful.

[2015-08-07 14:28] brendo commented on #2475
Nevermind, that'd be a breaking change so we'll work around it for now. @michael-e, this should be restored to 2.5.x behaviour now :)

[2015-08-07 15:12] nitriques commented on #2469
@twiro Yes we have some cleanup to do on Sym Ext. But I do not have any access to do it (which I'd like to get...)

[2015-08-07 15:18] nitriques commented on #2475
Returning -1 is already how php handles "error" cases (array_search, strpos)...

Also, 0 *is* a valid int.

It's the same thing with php's empty calls: we sometimes just can't related on it, as we sometimes can't related on intval.

[2015-08-07 16:50] nathanhornby commented on #2474
Sweet, thanks @Brendo!

[2015-08-07 17:30] michael-e commented on #2475
@brendo: My datasources don't output anything now. I am rather sure that there are two mistakes in your commit:

1. The callback function needs to `return $val;`
2.  It should be written `function($val)` (without space in betweeen!)

If I do it like this, the datasources work again. But, unfortunately, the bug is still not fixed by this change.

[2015-08-07 17:57] michael-e commented on #2475
Checked it out. If I filter using `€`, the

    `e`.id IN ()

part is still missing in the DB query.

[2015-08-08 05:55] allen commented on #2469
The symphonyextensions site is currently being handed off from Nick to our server environment. I've done the last few tasks that @nickdunn has asked me to do to get the new server up and running. Nick just have to change across the DNS settings and the new server should be in working working order. Anyone that has access to the symphony hosting repository will have access details to the server.

[2015-08-08 08:10] brendo commented on #2469
Thanks @allen!

[2015-08-08 11:09] brendo commented on #2475
I can confirm that using `€` is totally removed from the filtering. It doesn't even reach the datasource because it's being stripped out and deemed as an [invalid filter](https://github.com/symphonycms/symphony-2/blob/master/symphony/lib/toolkit/class.datasource.php#L309-L312) (#1759). This is probably wrong, `€` is not a 'normal' character, but it's still valid. The problem we were trying to solv

[2015-08-08 11:10] brendo commented on #2466
Bump on this one, it's the only thing stopping a 2.6.3 from being shipped :)

[2015-08-08 11:24] michael-e commented on #2475
Maybe I was fooled by some caching… :-) Sorry.

Confirmed. Thanks!

[2015-08-08 11:24] #2475 closed

[2015-08-08 12:25] twiro commented on #2469
Thanks for the feedback guys!

Sounds good!

Symphonyextensions.com has proven immensely useful for me over the last years _(lots of thanks to @nickdunn who has done incredible work here)_ and as the main symphony website feels quite outdated regarding extension-listings (and a bit asleep in general) it would be of great benefit for the symphony eco-system to see that important resource up to date

[2015-08-10 15:11] nitriques commented on #2469
I vote for that !

There's a deprecated status value, but in order to update it, we need write access to the repo...

Thanks :)

It could !

I am not aware for any bugs... could you [report them](https://github.com/DeuxHuitHuit/extension_downloader/issues) ?

[2015-08-10 15:13] nitriques commented on #2466
Oh shit, let me fix this right now.

[2015-08-10 16:08] nitriques commented on #2466
There you go.

@johnpuddephatt  I did not used `.js-active` since those classes (`.js-*`) should not be in the css files.

[2015-08-11 11:49] brendo commented on #2466
I can confirm this fixes the behaviour in this ticket, but can anyone also confirm that in Chrome all the hover styles are totally ignored for notices? If I 'disable' the transition, hover effects work a treat, but with the transition it's like Chrome totally ignores hover!

[2015-08-11 13:00] johnpuddephatt commented on #2466
Yep I can confirm seeing the same problems with hover.

Moving the transition delay from CSS into Javascript seems to sort it – as @nitriques fix relied on using setTimeout in JS I couldn't see any harm in doing this.

I've also added in a hover style for the anchor when it's dimmed as this seemed to be missing.

I've only tested this in modern Chrome/FF/Safari, but it seems to be working as expec

[2015-08-11 13:55] nitriques commented on #2466
Damn...

Could you please share this code with us :)

[2015-08-12 15:06] jensscherbl opened #2480 "x-frame-options & access-control-allow-origin"
Is it really such a good idea to set [`x-frame-options` and `access-control-allow-origin`][1] headers by default?

From my understanding, this changes the default browser behaviour, and things like loading a Symphony page into an `iframe` on another site wouldn't work as expected.

And if you really want to keep it, could it at least be set before the `FrontendPreRenderHeaders`delegate so it can b

[2015-08-12 15:23] jensscherbl commented on #2293
Apparently, Symphony can use custom text formatters from a `../workspace/text-formatters/` folder. I didn't know that. It's very similar to custom events or data sources...

    <?php

    class FormatterMarkdown extends TextFormatter
    {
        private $commonMark;
        private $htmlPurifier;

        public function __construct()
        {
            $this->commonMark   = TextformatterMan

[2015-08-12 15:23] #2293 closed

[2015-08-12 15:24] nitriques commented on #2480
This IS what's best. But yeah, I would agree that an Extension should be able to remove them.

The Symphony philosophy to "never prevent devs from doing what they want" is important, but implementing best practices should also be our concern.

Making this extensible, but with good defaults, is the way to go IMHO.

[2015-08-12 15:29] nitriques commented on #2293
:smile: It's fun to stumble upon those things. Thanks for sharing.

[2015-08-12 15:41] jensscherbl commented on #2480
That's just your opinion... ;)

Changing default browser behaviour isn't best practice, in my opinion.

I'd say it's the concern of the browser vendors to decide what the default behaviour should be.

[2015-08-12 15:45] jensscherbl commented on #2293
Would be more fun to stumble upon those things in some kind of documentation instead of by chance while digging  through the core... ;)

[2015-08-12 15:53] jensscherbl commented on #2458
@nitriques http://www.phptherightway.com/#dependency_injection

[2015-08-12 16:00] nitriques commented on #2480
No, it's an established best practice ;) But I understand what you mean.

If it's for security, yes it is. Just like HSTS (which change the browser default by enforcing https)

I do not think this is browser vendor related. It's more of an app thing.

That being said, I totally understand you concern and I would like to have a way to be able to customize the "default" header. But I think our curre

[2015-08-12 16:02] nitriques commented on #2458
@jensscherbl Interesting. Any part I should read more carefully ? :)

[2015-08-12 16:03] nitriques commented on #2293
Totally. Wanna create a wiki about it ? :smile:

[2015-08-12 16:05] michael-e commented on #2480
This is the reason why it has been implemented. And I don't think that there is an assumption about what's best for the developer. The question is about security, in other words: What's best for users/visitors/authors? In my eyes these headers are indeed best practice nowadays.

So I agree with @nitriques: Make it easily removable (what about a config option?), but keep the current "best practice

[2015-08-12 16:14] nitriques commented on #2480
Could be a nice place to set the default. But allowing extension to do logic before adding/removing headers is more flexible.

[2015-08-12 16:14] jensscherbl commented on #2480
Yet another config option, are you serious? Sorry ;)

No, we don't need a config option. Just make it consistent with the other "default" headers, so they can be easily removed and overwritten in a predictable and consistent manner...

    $this->addHeaderToPage('X-Frame-Options', 'SAMEORIGIN');
    $this->addHeaderToPage('Access-Control-Allow-Origin', URL);

    /**
     * This is just prior to t

[2015-08-12 16:15] nitriques commented on #2480
@jensscherbl Did you tried to remove them via .htaccess ?

[2015-08-12 16:16] jensscherbl commented on #2480
I just removed them from the core.

[2015-08-12 16:18] nitriques commented on #2480
Ok. I could argue that this could be placed in the .htaccess too (instead of in the php itself).

The other way around exists too. Look at anti_brute_force. Would you want all of this things to go into the "hardened security" extension ?

It's a matter of opt-in vs. opt-out, and this is always hard to get right, impossible to get it right for everybody's needs.

[2015-08-12 16:26] jensscherbl commented on #2480
Right thing would be to *set* them via `.htaccess`, not to *remove* them via `.htaccess`.

Agreed! ;)

If it interferes with the frontend and there's a valid use case where it might not be the wanted or expected behaviour, yes.

And that's why Symphony usually being *opt-in* instead of *opt-out* was so great.

[2015-08-12 16:30] nitriques commented on #2480
Ok, I totally understand your concern. I, too, prefer opt-in that opt-out: but it's an harder thing to do, code, test, ...

I'd like to see what @brendo thinks about this.

[2015-08-12 16:32] jensscherbl commented on #2293
Nope. Just as lazy as everyone else when it comes to documentation... ;P

Also, I would prefer a [GitBook][1].

[1]: https://github.com/GitbookIO/gitbook

[2015-08-12 16:38] jensscherbl commented on #2480
But isn't this (what's best for users) the responsibility of developers? Just like enabling compression, redirecting to `https` or setting appropriate caching headers?

[2015-08-12 16:41] jensscherbl commented on #2458
Not really, just thought you are new to the concept, based on your last comment. No offence, still wrapping my head around this as well... ;)

[2015-08-12 16:43] michael-e commented on #2480
OK then, but what about preventing SQL injection? Shouldn't this be the sole responsibility of the developer as well? :-)

What I want to say is: When it comes to security, it's really hard to draw the line, isn't it?

[2015-08-12 16:48] jensscherbl commented on #2480
Ironically, this actually *is* opt-in via [XSS Filter][1] and instead *should* be baked into each and every database query by default.

Difference is, can you think of a use case where you actually want to allow SQL injections?

[1]: https://github.com/symphonycms/xssfilter

[2015-08-12 17:05] jensscherbl commented on #2469
Last supported Symphony version was [2.4.x][1].

[1]: https://github.com/DeuxHuitHuit/extension_downloader/blob/master/extension.meta.xml#L26

[2015-08-12 17:06] nitriques commented on #2293
Yeah git book is great, but if we are all too lazy to write it, GitBook does not solve anything.

[2015-08-12 17:07] nitriques commented on #2458
No problem, I asked that question because I was curious. I've done a lot of IoC in Java and C# and the article you mention kinda uses the sames patterns/tricks.

[2015-08-12 17:10] nitriques commented on #2480
+1000000

Can't do that. I need to be able to XSS myself sometimes.

No, and any solution that depends on it is profoundly flawed. Except if you are coding a SQL query runner/editor.

[2015-08-12 17:10] jensscherbl commented on #2458
Yeah, it's the same pattern.

[2015-08-12 17:11] nitriques commented on #2469
It's just a matter of updating the xml file. I've used it with 2.6.x. Again, lazy (or forgotten).

[2015-08-12 17:14] michael-e commented on #2480
Anyway: We all agree that it should be possible to remove those headers, which means you can use them or not. So should we spend our time in a discussion about the right default? When it comes to Symphony's philosophy, I like to rely on @allen's and @brendo's opinion.

[2015-08-12 17:19] jensscherbl commented on #2480
I'm not the one who's opposing all my proposals... ;)

[2015-08-12 17:36] jensscherbl commented on #2378
I recently ran into another issue with extensions and composer autoloading. It's not a core issue, and not specific to one extension, so no idea where to discuss this. Any suggestions?

[2015-08-12 17:49] nitriques commented on #2378
That would be here then...

[2015-08-12 18:05] nitriques opened #2481 "Section::fetchAssociatedSections vs Section::fetchChildAssociations"
https://github.com/symphonycms/symphony-2/blob/2.6.x/symphony/lib/toolkit/class.section.php#L166

vs.

https://github.com/symphonycms/symphony-2/blob/2.6.x/symphony/lib/toolkit/class.section.php#L187

I think `fetchAssociatedSections` should be marked as deprecated now...

[2015-08-12 18:12] michael-e commented on #2480
You wouldn't wait for a comment, would you?

[2015-08-12 21:58] munki-boy commented on #2480
Can someone tell me how to change the access control via .htaccess?  I've been editing the core for months.  I only want my google maps from one site in an iframe on the other.  A little while back the different browsers didn't seem to support the x-frame-options properly so I had to disable the whole thing.

[2015-08-12 22:04] nitriques commented on #2480
Header always unset Access-Control-Allow-Origin

See http://httpd.apache.org/docs/2.2/mod/mod_headers.html

[2015-08-12 22:06] nitriques commented on #2480
Or to allow it

Header always set Access-Control-Allow-Origin "*"

[2015-08-12 22:30] brendo commented on #2480
This is the block that currently exists:

[code]

In other words, if you want to set them to something more specific for your application, then do so (such as @nitriques example which would work for an API). If you don't, we'll help lock down your installation. We were recommended to set these headers by a company that specialised in security penetration testing. Usually this would of been a one o

[2015-08-12 22:58] munki-boy commented on #2480
@nitriques thanks :)

[2015-08-13 09:23] jensscherbl commented on #2480
Exactly. I think the [change I proposed][1] isn't even a breaking change. Should I open a pull request against `2.6.x`? It's not exactly a hotfix, but fixes the unexpected situation that you currently can't remove a header with `FrontendPage::removeHeaderFromPage` from the `FrontendPreRenderHeaders` delegate.

[1]: https://github.com/symphonycms/symphony-2/issues/2480#issuecomment-130358812

[2015-08-13 10:21] brendo commented on #2480
Sure

[2015-08-13 15:34] nitriques commented on #2480
Great!

[2015-08-13 15:37] nitriques commented on #2466
This can be closed following the 2.6.3 release.

[2015-08-15 05:13] brendo commented on #2466
Hmm, that PR doesn't seem to have any effect in Chrome. Surprising how strange this is. I can get very weird and mixed results in Chrome by hover over the link during the transition and then waiting for the dimmed state to be added.

I've assembled our 'desired' (most elegant) setup with a [Codepen](http://codepen.io/anon/pen/WvWBaW). For me, Firefox is the only browser that performs correctly. We

[2015-08-15 06:36] brendo commented on #2439
I've added a `General::checkFile` method that the Preferences page is now using. This checks both the folder and file are read/write and if they are not, the usual permissions banner is shown.

[2015-08-15 10:06] johnpuddephatt commented on #2466
Yes is it pretty strange.

My PR was based on [this Codepen](http://codepen.io/anon/pen/zGXVLp) which is working for me in Chrome/FF – let me know if that's working for you.

[2015-08-17 10:33] nilshoerrmann opened #2482 "DS sorting with URL parameter"
The DSE in the backend reads:

I'm trying to change the entry order from the frontend using `?order=desc` in the URL and `{$url-order:asc}` in the data source. This works perfectly _as long as there is no parameter in the URL_. If there is a parameter, the DS return no results.

As the fallback works as expected, the parameter seems to be evaluated somehow but the URL value is never applied. Not s

[2015-08-17 10:55] nilshoerrmann commented on #2482
Forget about this – stupid mistakes are stupid.

[2015-08-17 10:55] #2482 closed

[2015-08-18 10:50] jensscherbl opened #2483 "Prepopulate not working"
Is it just me, or does prepopulating a Select Box Link field not work? I'm trying to create a new entry from a filtered publish table, but the prepopulate parameter is set to `0` instead of the filter value.

I thought this was a core issue and not a Select Box Link issue, so sorry if I'm wrong here.

[2015-08-18 10:56] jensscherbl commented on #2483
Using Symphony `2.6.2` (current release version) by the way.

[2015-08-18 10:57] jensscherbl commented on #2480
Thanks!

[2015-08-18 11:01] twiro commented on #2483
Afaik this has been fixed in integration and will be in the 2.6.3-release: https://github.com/symphonycms/symphony-2/issues/2408

But as this is a quite crucial bug it would be great to see the fix release soon...

[2015-08-18 11:01] brendo commented on #2483
Do you have steps to reproduce? I just tried the following which worked:

1. Go to Publish Index for Section A (Projects)
2. Click on the SBL column (Related Project Items) for first entry
3. Goes to a filtered view of Project Items. URL is `/publish/project-items/?filter[project]=38`
4. Click on 'Create New'. URL is `/publish/project-items/new/?prepopulate[28]=38` and I can confirm the SBL is pre

[2015-08-18 11:26] jensscherbl commented on #2483
Thanks, works in the `2.6.x`-branch. Sorry, didn't check. Never occurred to me something like this wouldn't be released as soon as possible...

Great to hear. I think there's no need for patch releases to wait for other, unrelated issues to be fixed. There can always be a `2.6.4` and `2.6.5` release with additional fixes.

[2015-08-18 11:26] #2483 closed

[2015-08-18 14:57] nitriques commented on #2483
Yup.

[2015-08-18 22:18] johnpuddephatt commented on #2466
@brendo did you check that Codepen?

I've also just realised that adding `animation: none` to the :hover state in your example seems to do the trick. [See here](http://codepen.io/johnpuddephatt/pen/mJYvbr).

[2015-08-18 23:14] brendo commented on #2466
Hey @johnpuddephatt. Yep! I tried the Codepen, still doesn't work correctly in Chrome. The `animation: none` allows the hover effect to work, but when you hover away from the link, the animation restarts. So you'll notice the link goes back to white, and then 4s later it becomes blue again.

It should be:

1. Link is white for 4s (during this time `:hover` should make the text yellow)
2. Link fade

[2015-08-18 23:26] johnpuddephatt commented on #2466
Oh yes, the animation is restarted :/

What problem(s) are you having with the JS triggered one <http://codepen.io/anon/pen/zGXVLp>? That’s working for me in Chrome + OS X… hover states working before and after the alert is ‘dimmed’.

[2015-08-18 23:48] brendo commented on #2466
Ah ha, yep can confirm that pen works!

[2015-08-19 14:52] nitriques commented on #2466
So have we found a fix ? :D

[2015-08-20 10:05] brendo commented on #2466
@johnpuddephatt Is this fix the same that's in #2479?

[2015-08-21 11:56] johnpuddephatt commented on #2466
Should be yes!

[2015-08-21 12:38] jensscherbl opened #2484 "Issues with URL parameters"
Looks like URL parameters (`/data/params/url-fieldname`) behave differently (and not as supposed to) in `2.6.x` as they did in `2.5.x`.

If I submit a form with multiple checkboxes named `example[]`, I get

    <url-example.1>value</url-example.1>
    <url-example.2>value</url-example.2>
    <url-example.3>value</url-example.3>

instead of

    <url-example>
        <item>value</item>
        <ite

[2015-08-21 13:29] brendo commented on #2484
Nah, it's always been the first way. There was talk of moving to the second approach but it hasn'tt happened as both scenarios are valid. See #1807

[2015-08-21 15:05] jensscherbl commented on #2484
Ah ok. Guess it has been customized by @designermonkey then.

[2015-08-21 15:25] jensscherbl commented on #2484
@brendo How can I filter a data source with the values of my `example` checkboxes then?

[2015-08-21 16:07] jensscherbl commented on #2484
@brendo By the way, I think we SHOULD move to the second approach. As all the issues and discussions point out, this use case is far more common. It would also be consistent with data source output parameters. Any chance to reconsider this for `3.0.0`?

[2015-08-22 08:54] jensscherbl opened #2485 "Redirect issue for datasources and events"
Getting a redirect error (browser error) for `../blueprints/datasources/` and `../blueprints/events/` when using the `2.6.x` branch. Works with `master`. Can someone confirm this?

[2015-08-22 09:53] michael-e commented on #2485
Yep, confirmed.

[2015-08-22 09:54] jensscherbl commented on #2485
It's caused by [this][1]. @nitriques @brendo

[1]: https://github.com/symphonycms/symphony-2/pull/2470

[2015-08-22 10:00] michael-e commented on #2485
Hmmm, I still have the redirect error if I remove the placeholder. Are you really sure?

[2015-08-22 10:01] michael-e commented on #2485
(I mean the `$1` replacement, sorry for being unprecise.)

[2015-08-22 10:02] jensscherbl commented on #2485
Check out the commit before this commit and see if it works.

[2015-08-22 10:05] michael-e commented on #2485
It still works for me some commits later than the one you mentioned: e8e92cdaaafa788f1e223e15b5c1656b6c72b7cc

[2015-08-22 10:06] michael-e commented on #2485
If you use Safari, be careful with the caching. It may cache those redirects.

[2015-08-22 10:07] jensscherbl commented on #2485
Yeah, using Safari. So, is e8e92cd the breaking commit then?

[2015-08-22 10:08] michael-e commented on #2485
I haven't found it yet. It's hard for me to find the right one, because I always have to re-apply some commits on top — I hacked Symphony, a bit.

[2015-08-22 10:10] jensscherbl commented on #2485
Hold on, I'll do it (again) so you only have to confirm what I come up with.

[2015-08-22 10:15] michael-e commented on #2485
Found it! This is the commit which introduced the issue: 2ee98b19867be043b9275048c2e94ac728ac0bb0

[2015-08-22 10:17] jensscherbl commented on #2485
Yep, same here.

[2015-08-22 10:19] michael-e commented on #2485
Now all we have to do is find out why. You might be better than me with that.

[2015-08-22 10:23] michael-e commented on #2485
Comment out [this line](https://github.com/symphonycms/symphony-2/blob/2ee98b19867be043b9275048c2e94ac728ac0bb0/symphony/lib/toolkit/class.resourcespage.php#L42), and things start working again. Don't ask me why.

[2015-08-22 10:24] jensscherbl commented on #2485
You're always two steps ahead of me...

[2015-08-22 10:26] michael-e commented on #2485
Sometimes I am fast in finding things. Solving issues may be a different thing.

[2015-08-22 10:26] jensscherbl commented on #2485
I'll look into it.

[2015-08-22 10:28] michael-e commented on #2485
Thanks!

[2015-08-22 10:32] michael-e commented on #2485
Funny, this works:

[code]

So we have a problem with `null` values. What the hell does `General::sanitize` return?.

[2015-08-22 10:34] jensscherbl commented on #2485
It has nothing to do with `General::sanitize`, it's because `$sort` (and therefore `null` sometimes) is passed by reference and you can't assign a new value to `null`.

[2015-08-22 10:37] michael-e commented on #2485
(BTW, sorry, my head didn't stop working fast enough. It was just a shot in the dark. I still appreciate if you can fix this properly.)

We might have more issues than this one. Can you check the whole commit systematically? And send a proper fix?

[2015-08-22 10:38] jensscherbl commented on #2485
Your fix actually is the proper fix, came up with the same thing. But I'm wondering why `$sort` is sanitised while `$order` and `$params` still isn't. Oversight? @brendo

[2015-08-22 10:42] michael-e commented on #2485
Thanks for explaining the issue. Should we fix it and open another issue for `$order` and `$params`? Or rahter wait for @brendo ?

[2015-08-22 10:46] jensscherbl commented on #2485
I'd say we fix and merge it so the `2.6.x` branch is in a working state again, but leave this open for @brendo to review.

[2015-08-22 10:49] michael-e commented on #2485
Can you send a pull request? And do you have pull permissions? (If not, I think that i can pull it.)

[2015-08-22 10:50] jensscherbl commented on #2485
Can do.

[2015-08-22 10:51] michael-e commented on #2485
Thanks.

[2015-08-23 04:50] brendo commented on #2485
Cheers for debugging and patching this guys! As you figured out, it was an oversight from me.

[2015-08-23 04:50] #2485 closed

[2015-08-23 06:53] brendo commented on #2466
This is now merged into `2.6.x`

[2015-08-23 10:32] michael-e commented on #2485
During the discussion above @jensscherbl raised the question why `$sort` is sanitised while `$order` and `$params` still isn't. Oversight? @brendo

[2015-08-23 13:49] michael-e commented on #2472
FYI: The following is the `EntryManager::edit`function that I am testing (in production) now. For every field, all the hard work is wrapped in the `try` statement.

I am still unsure how to deal with exceptions. At the moment I am just pushing them to the log, but maybe they should also be thrown to the frontend? Suggestions very welcome.

[code]

[2015-08-23 17:05] jensscherbl opened #2487 "Database issues with number field"
`2.6.x` branch is giving me a **Fatal Database Error** when adding a new [Number field][1] to a section.

The message is `Table 'sym_entries_data_x' already exists`. Kinda weird because the statement starts with `CREATE TABLE IF NOT EXISTS`.

I'm posting this as a core issue instead of a Number field issue since the core is not supposed to break compatibility for minor and patch releases.

Any ide

[2015-08-23 17:13] michael-e commented on #2487
I can not confirm that. I tried adding a Number field to a new section as well as adding one to an existing section. No errors. Can you indeed reproduce this issue? Can you post the steps?

[2015-08-23 17:23] jensscherbl commented on #2487
Thanks for checking. Will investigate further and report back later, off to the gym now.

[2015-08-23 20:04] jensscherbl commented on #2487
Nevermind. Not sure what caused the issue exactly, but had something to do with a wrong `.htaccess` file  in the wrong place. Sorry for the false alarm.

[2015-08-23 20:04] #2487 closed

[2015-08-23 20:08] michael-e commented on #2487
No prob—glad that it was a false alarm!

[2015-08-24 00:17] brendo commented on #2485
I just went through and have a quick review of where these arguments are being used.

*/system/extensions/*
- `$order` is not persisted to the database and instead used to do an internal PHP sort. A malicious value has no impact here as it's reduced to the PHP constants `SORT_ASC` or `SORT_DESC`
- `$params` is not used at all.

*/system/authors/*
- `$order` is again reduced to either `asc` or `des

[2015-08-24 00:59] #2439 closed

[2015-08-24 00:59] #2466 closed

[2015-08-24 00:59] #2471 closed

[2015-08-24 00:59] #2480 closed

[2015-08-24 00:59] #2481 closed

[2015-08-24 01:37] #2474 closed

[2015-08-24 06:47] jensscherbl commented on #2485
@brendo Good to know, thanks a lot for taking the time.

[2015-08-24 11:41] jensscherbl commented on #2487
Issue popped up again today. So it had nothing to do with the wrong `.htaccess` after all. Instead, seems to be a [database issue][1]. Thought I share it here in case anyone else runs into this.

[1]: http://stackoverflow.com/questions/10538908/schrödingers-mysql-table-exists-yet-it-does-not

[2015-08-24 11:49] michael-e commented on #2487
How bad.

[2015-08-24 17:37] nitriques commented on #2487
Awful bug. Thanks for sharing @jensscherbl

[2015-08-24 17:40] nitriques commented on #2485
Wow guys, thanks.

[2015-08-24 17:41] nitriques commented on #2481
Thanks mate!

[2015-08-24 17:42] nitriques commented on #2439
Nice!

[2015-08-24 17:46] nitriques commented on #2472
@michael-e

What about this (no tested). I'd rather have the unlock in a finally block. For really safe calls, you should even add a try catch in the catch and in the finally. Exceptions are crazy.

[code]

[2015-08-24 17:48] nitriques commented on #2484
Totally!!! +1000

[2015-08-24 17:52] michael-e commented on #2472
I like the `$didLock` stuff (probably it should be written `$did_lock` in Symphony). But using `finally` makes the script [PHP 5.5+ only](http://php.net/manual/en/language.exceptions.php), unfortunately. Lifting the requirement that much with a small core hack seems a bit strange to me.

[2015-08-24 17:59] nitriques commented on #2472
WTF !!!!

Yeah. Just do not use it then. In theory, it does not have any purpose: code AFTER the try catch would run anyhow. But since exception handling is so hard, finally has some purpose.

[2015-08-24 18:02] michael-e commented on #2472
Thanks for your help, @nitriques!

[2015-08-24 18:35] nitriques commented on #2472
My pleasure.

[2015-08-27 18:59] moretaste opened #2491 "Date field doesn't accept only a year"
If you fill in only a year in the date field the result is:

[code]

Only the timestamp accepts the input.

[2015-08-27 19:24] nitriques commented on #2491
Well, the date field is there to contain a valid date. A single digit is a valid timestamp, as you could see. I do not think there is a way to solve it.

You should year a numeric field instead.

[2015-08-27 19:29] michael-e commented on #2491
@moretaste posted the following example ouput:

    <opleiding-1-van iso="1970-01-01T01:33:03+01:00" timestamp="1983" time="01:33" weekday="4" offset="+0100">1970-01-01</opleiding-1-van>

I think: If the date doesn't have the intended year value, the timestamp shouldn't have it either. The values should be the same for all representations.

So we have a bug here. Should we open another issue for t

[2015-08-27 19:39] nitriques commented on #2491
@michael-e entering a timestamp IS valid. 1983 is a valid timestamp.

[2015-08-27 19:42] michael-e commented on #2491
Ah, I see, the timestamp correlates to the iso date `1970-01-01T01:33:03+01:00`? Sorry, I had not seen that! (In other words: I thought that the output is not consistent, but it actually is.)

[2015-08-27 19:42] #2491 closed

[2015-08-27 20:02] moretaste commented on #2491
I dont get this really the output still gives a date of 1970-01-01 in the back-end.

So I have a recruitment form where people can input there experience and education. They dont remember the day and month they start it, fills in only the year. The iso say ok +things but the data stored and called with the xsl:value-of shows 1970-01-01.

How can I explain the client that?

[2015-08-27 20:02] nitriques commented on #2491
Yes the output is ok. 1983 is interpreted as 1983 seconds after the epoch, which is `1970-01-01T01:33:03+01:00` :)

@moretaste You could also use 1983-01-01

[2015-08-27 20:04] nitriques commented on #2491
The data model is just wrong. You're using a date when the thing you need only a an integer. Numeric field would do the job.

1970-01-01 is the epoch. 1983 is interpreted as second from 1970-01-01 00:00:00

[2015-08-27 20:05] michael-e commented on #2491
Yep, or even a text input field with numeric validation.

[2015-08-27 20:06] nitriques commented on #2491
This is what the numeric field is, more or less :P

[2015-08-27 20:08] moretaste commented on #2491
I understand the epoch but the backend shows 1970-01-01.

![image](https://cloud.githubusercontent.com/assets/857982/9531783/0fb7b3e4-4d08-11e5-9f25-89fc59063187.png)

I expected that the backend should translate it to an 'human-understandable' date

In this way I should told the client to type ?debug, find the date, go to an online converter and find it out

[2015-08-27 20:10] michael-e commented on #2491
No, the Number Field is much better with numeric sorting! :-)

But in this case (always 4 digits, right?) alphabetic sorting can do it (if one needs sorting at all).

@moretaste: I would use an Input Field which requires 4 digits.

[2015-08-27 20:13] moretaste commented on #2491
In that case we could have only a text input field and some regexp magic. No need for other fields in that way.

My only question is why the backend doesnt translate the epoch to human readable time?

[2015-08-27 20:18] michael-e commented on #2491
Well, it does! `1983` (epoch) is the same as `1970-01-01T01:33:03+01:00` (iso).

Do you have a Mac? In the terminal, type `date -r 1983`, and you will see!

[2015-08-27 20:21] moretaste commented on #2491
Check the screen shot. Symphony date field doesn't

I'm not a programmer so technically I understand and believe it's 200% ok. But the client (the noob) sees a date of 01/01/1970.

With my common sense the date field should say the date is invalid because I miss a day and a month or should convert the date to an human readable date.

[2015-08-27 20:36] nitriques commented on #2491
@moretaste Giving the user this ability would require to drop the timestamp support, which I am totally against. It's either one or the other, it can't be both.

It IS valid!!! Unless we drop the timestamp support...

:smile:

[2015-08-27 20:38] nitriques commented on #2491
Or any other unix and unix like (linux)

That's exactly why you see 01/01/1970 01:33. That's the human readable version of the 1983 timestamp.

[2015-08-27 20:38] moretaste commented on #2491
![image](https://cloud.githubusercontent.com/assets/857982/9532475/2bfbb916-4d0c-11e5-87c2-5d9aa1cb73fd.png)

This is what the client sees. That is not valid for a client.

[2015-08-27 20:44] moretaste commented on #2491
Ok last try ... why if I input 01-01-1983 the backend shows 01/01/1983 00:00:00

If you can explain that difference I will stop whining about this and use for the rest only the text input and textarea field in case of more than 10 words.

[2015-08-27 20:55] munki-boy commented on #2491
@moretaste I think @nitriques is saying when you input just "1983" you are inputting 1983 seconds not 1983 years since A.D.

This is news to me but good to know.

[2015-08-27 20:57] michael-e commented on #2491
As @nitriques said above: PHP/Symphony will interprete `1983` as "seconds since", but it will interprete `01-01-1983` as `1983-01-01` (in yyyy-mm-dd format). The latter contains year, month and day. The first one contains just a number.

To me the question is not if we should drop timestamp support and try to interpret 4-digit numbers as years (which is what @moretaste expects). We would still hav

[2015-08-27 21:00] munki-boy commented on #2491
What about a format selector in the backend so it would or wouldn't expect different types?

[2015-08-27 21:02] nitriques commented on #2491
Totally.

:smile: We had fun on that one @michael-e remember ? Timezone info CAN'T be removed from a date, since the EPOCH is UTC.

[2015-08-27 21:02] moretaste commented on #2491
4 digits is not a valid date so the field should return an invalid value in that case.

yup got that, my assumption was idd or the field accepts only the year or will gives an error for invalid input

[2015-08-27 21:04] nitriques commented on #2491
IT IS VALID !!!

Years are not dates. Months are not dates for the same reason. Would you also expect to get 12 = decembre ?

[2015-08-27 21:09] moretaste commented on #2491
Ok for programmers it is valid. But the casual visitor and client is not a programmer.

In that way the date field (excuse me for the words) sucks to be usable in the front-end.

Got the message now and forcing the visitor to input a complete date is the only way.

[2015-08-27 21:10] munki-boy commented on #2491
If it's just for storing some numbers in date format why use the date field.

[2015-08-27 21:24] moretaste commented on #2491
@munki-boy Well image fields are for images, text input for text and dates for uhm dates :-)

Validation of dates, some math for time between dates (experience 4 years for example). I'm not so robotic as a programmer is. It is technical true, but an average human dont't understand it. My assumption was idd as @michael-e says that the field should validate a year, a year and a month etc. or otherwi

[2015-08-27 21:29] nitriques commented on #2491
PHP code can't make that difference...

No, you could change your model (section) and create a simple php migration script if needed.

[2015-08-27 21:30] munki-boy commented on #2491
I understand it's to do with the words "date field" but in your math how would it be if my experience was from 31 dec 1983 so I just put 1983 then someone else put say 5th aug 1983 I would win with 8 months 5 days more experience, but it would be wrong, not because of the date field.

It must be made to be accurate to work your way by having strict and known format.

[2015-08-27 21:35] moretaste commented on #2491
@nitriques Completely agree. It was my assumption that wasn't right. The website has to go live tomorrow and beside some content this was the last issue.

For now a date picker should solve it. For the future I have to think sometimes more 'programmatically'

[2015-08-27 21:42] nitriques commented on #2491
Yup! But only the UI/UX part...

I do not think it's a mater of programming: it's more a matter of data modeling, i.e. what your data type is, how should it be kept in the DB, what Math you will need to do on it.

[2015-08-27 23:49] jensscherbl commented on #2491
So, did I get this right, if someone enters an invalid date (like only the year), the input is interpreted as a unix timestamp? Now that's confusing. I kinda understand where the frustration comes from. Anything we can do about that for `3.0.0`?

[2015-08-28 01:28] nitriques commented on #2491
Yes: it's ALWAYS a timestamp. https://github.com/symphonycms/symphony-2/blob/master/symphony/lib/toolkit/fields/field.date.php#L526

It's been that way for as long I can remember.

Me too.

I really think that a timestamp is a valid date, since all dates are actually timestamps.

But, UX wise, I also understand that no user ever predicts this, so it's broken.

`3.0.0` is allowed to break things, s

[2015-08-28 08:13] michael-e commented on #2491
Adding a a validator could solve the biggest UX issue in Symphony 2, without breaking anything.

[2015-08-28 08:21] moretaste commented on #2491
Changing the behaviour of the given date to the same behaviour as the prepopulated date solves it for me right now. https://github.com/moretaste/symphony-2/blob/d4565bb8ff55b0d60ee60584304d5da2b3a4019b/symphony/lib/toolkit/fields/field.date.php#L537

So maybe an option in the backend to choose the behaviour (as epoch / not as epoch) can solve it for the future without major changes?

[2015-08-28 08:44] michael-e commented on #2491
Still, this would allow to save data which are different from the input. Am I right? For example, when inputting `2015`, the field would save `2015-01-01 00:00:00`? This might be dangerous, because later you can not decide if this value means the year or the exact date. (This is why I argued against using a date field in your case).

From an author's point of view, isn't it puzzling that every "ye

[2015-08-28 08:56] moretaste commented on #2491
The use case here is a form to apply for a job with fields like education and experience.

If someone can't remember in what month he starts with an education he can only input the year. If he remember the month he can input the complete date. The 01-01 date isn't an issue in this case.

So I have to support both complete date and only year. The date field seems to fit there the most.

Otherwise -

[2015-08-28 09:04] michael-e commented on #2491
And if someone inputs `2015`, how can you differentiate that from a `2015-01` input? Once the date is saved, you will never know if the month has been input or not.

[2015-08-28 09:14] moretaste commented on #2491
Agree that there is no difference but if someone inputs month 01 what is the purpose to be sure if that was the input? How can we be sure if someone inputs 08-28-2015 that he really meant to input today's date? I don't see a caveat in this.

It is to the client to ask/check all the input from the form during a possible interview.

[2015-08-28 09:18] michael-e commented on #2491
Your data is broken, because it presumes a precision which may not have been desired. It's a big difference to say "well, that was in 1979" or "that was on January 1st 1979". Your data will not reflect this difference.

Maybe someone can explain this better than me?

[2015-08-28 09:26] jensscherbl commented on #2491
@moretaste Date field is not the right field for your use case. Even if it was possible to enter only the year, it would have to "fill the gaps" (assuming a month and a day) to get a valid date. @michael-e and @nitriques are right here.

Yeah, got that.

Doesn't really matter in what format dates are stored internally. But after some testing, the date field seems to be pretty clever about taking a

[2015-08-28 09:34] moretaste commented on #2491
Agree that there is a difference. But for this use case it is no problem. True that it isn't a solid solution and not a general solution

What are the options?

[2015-08-28 09:35] jensscherbl commented on #2491
While we are discussing this, that's also how it currently works for time. There's an option for not displaying the time, but since everything is stored as a timestamp internally (according to @nitriques), it always assumes the current time if time is not explicitly given.

Would be better/cleaner to have separate `Date` and `Datetime` fields, in my opinion.

[2015-08-28 09:41] michael-e commented on #2491
+1

[2015-08-28 09:41] moretaste commented on #2491
and a year field :-)

[2015-08-28 09:44] jensscherbl commented on #2491
The solution you mentioned would work (having separate fields for year, month and day, while keeping month and day optional). I think that's also how most social network sites do it.

To avoid redundancy, I'd have a separate section for this sort of information. One entry per thing. A bit more complex to set up the form events, but also cleaner and more flexible in the long run.

[2015-08-28 09:47] jensscherbl commented on #2491
Oh, and I usually use an extra number field to preserve the correct order, if not explicitly given by another field (as in your case).

[2015-08-28 09:53] michael-e commented on #2491
Inputting year, month and date separately also means that you don't expect the resulting "date" to be localized, right? That is why I mentioned birthdays, in the discussion above.

Thinking about it a bit more, even the possibility to not display the time in the current Date Field is terribly dangerous. When inputting a date without time, I wouldn't expect this to get localized. But exactly this w

[2015-08-28 09:53] jensscherbl commented on #2491
[Already exists][1]. ;)

[1]: https://github.com/symphonycms/numberfield

[2015-08-28 09:56] jensscherbl commented on #2491
Let's open a separate issue for that discussion.

[2015-08-28 10:06] michael-e opened #2492 "Simplify the date field (in Symphony 3)?"
In #2491, there was a long discussion about certain data being "dates" or not. I myself came to this conclusion:

[2015-08-28 10:06] michael-e commented on #2491
Done.

[2015-08-28 10:18] jensscherbl commented on #2492
I'd just have separate `Date` and `Datetime` fields, with `Datetime` being stored in UTC internally and an option (checked by default) to localize or not for output and comparison. Makes sense?

[2015-08-28 10:20] michael-e commented on #2492
And the Date field? Shouldn't it get the option as well? Or should it never be loccalized?

[2015-08-28 10:20] jensscherbl commented on #2492
Yeah, just edited my comment.

[2015-08-28 10:21] michael-e commented on #2492
Ah, that makes sense.

[2015-08-28 10:53] moretaste commented on #2491
Ok, lets close this discussion. Thanks all for the thinking, explanation and advice.

The conclusion is date field does not fit for the goal I would achieve and seperate (number)fields should do the job better.

The workaround I make solves it for now (budget, time and deadline), but isn't robust because it had to fill gaps (day, month) that are assumptions.

Last question @jensscherbl the extra s

[2015-08-28 11:24] jensscherbl commented on #2491
You'd have a section for "education & work experience" or something. This section would have

- **year from** *required*
- **month from** *optional*
- **day from** *optional*
- **year to** *optional*
- **month to** *optional*
- **day to** *optional*
- **type** *education, work*
- **title**
- **description**

This way, each "experience" is one entry in this section. You can easily iterate over expe

[2015-08-28 11:25] moretaste commented on #2491
But how do you do that at the front-end in the form? The input is from a front-end form?

[2015-08-28 11:29] jensscherbl commented on #2491
Sorry, haven't done that in a while, so I can't answer this right away without putting too much time and work into it. But it's possible. Maybe someone else can help you with that on the forum.

[2015-08-28 11:30] moretaste commented on #2491
Ah k no problem. This isn't the place also for it. It was just curiosity.

[2015-08-28 11:31] jensscherbl commented on #2491
But I'll have to do something similar in an upcoming project soon. Maybe remind me in a week or two, would be a good topic for a tutorial.

[2015-08-28 14:56] nitriques commented on #2492
I think this is not a good idea. timestamps always contains seconds and it's only a mater of formatting. (input formatting and output formatting)

[2015-08-28 15:16] jensscherbl commented on #2492
Not sure what timestamps have to do with this. Can you explain?

[2015-08-28 15:20] nitriques commented on #2492
All dates are timestamps. Even if is a *date only* field, the timestamp will contains the hours, minutes and seconds. So 2015-08-28 (no time) is actually 2015-08-28 00:00:00.000

[2015-08-28 15:30] jensscherbl commented on #2492
Ah yes. That's exactly what we wanted to solve with a separate `Date` and `Datetime` fields. A `Date` field would actually be just a date, not a timestamp.

[2015-08-28 15:41] nitriques commented on #2492
How would you store it ? It needs to be stored as a timestamp (MySQL datetime is a timestamp). Saving it as a string is not a good idea IMHO.

[2015-08-28 15:50] jensscherbl commented on #2492
As a [`DATE`][1]?

Why?

Are you sure? Maybe for MySQL internally, but according to the [documentation][1], these are separate types with different behaviour.

[1]: https://dev.mysql.com/doc/refman/5.5/en/datetime.html

[2015-08-28 16:11] nitriques commented on #2492
Yes that's what I meant. DATE is a truncated timestamp (for saving storage space). But since hard drives are so cheap, I do not see the point of using the DATE type.

But if you guys need it, yes we could create separate field.

[2015-08-28 16:29] michael-e commented on #2492
No I don't need it. Just thought that it might make things a bit more clear. But maybe it won't. :-(

[2015-08-28 16:59] nitriques commented on #2492
It may, but for me, it's not maintainable

1. Lots of code duplication (unless both fields are provided by the same extension...?)
2. I cannot change the field easily to accept time in the future.

I really see the validator more useful. And as you said, it can me backward compatible.

We would only need to do something like Nils and I did https://github.com/hananils/datetime/blob/master/fields/fi

[2015-08-28 17:04] michael-e commented on #2492
Sounds reasonable to me.

[2015-08-28 22:24] jensscherbl commented on #2492
The point is not storing a time when you don't want to store a time.

Same for other fields. You can also not easily change a number field to accept text in the future.

[2015-09-04 10:02] michael-e opened #2494 "Symphony sends (useless) cookies when redirecting"
If you use Symphony's `redirect` function (from `/symphony/lib/boot/func.utilities.php`) while a page is being built (e.g. in an extension that hooks into a frontend delegate), Symphony will issue a potentially useless `Set-Cookie` header.

This is due to the fact that `cleanup_session_cookies()` is called late in `index.php` (Sym 2.3) resp. the `symphony_launcher` function (Sym 2.6), immediately

[2015-09-04 10:04] michael-e commented on #2494
The code example above is from Symphony 2.3, but IMHO the issue and the idea are just the same with Symphony 2.6.

[2015-09-04 11:06] michael-e commented on #2494
Doesn't work. When redirecting, for example, upon successful login, the session cookie will get lost.

I'll try `cleanup_session_cookies()`.

[2015-09-04 12:20] brendo commented on #2494
Did `cleanup_session_cookies()` do the trick?

[2015-09-04 12:29] michael-e commented on #2494
Yes, that works fine. I haven't found any side effects.

[2015-09-04 12:39] michael-e commented on #2494
It you like, I can send a PR (to the 2.6.x branch).

[2015-09-04 12:54] brendo commented on #2494
That'd be helpful, thanks!

[2015-09-04 13:08] michael-e commented on #2494
Will do, in an hour or so. (AFK for a while).

[2015-09-09 07:37] jensscherbl opened #2497 "Invalid HELO domain name"
Sending emails over SMTP doesn't work with Symphony (2.6.3) on my current host. I'm getting the following log entry:

    UNKNOWN: Email Gateway Error (SectionEvent): Invalid HELO domain name

Works fine with [Swift Mailer][1] in the same environment, also works fine when sending through the same SMTP from local (MAMP).

I'm on PHP 5.6 and the SMTP server requires authentication.

Any ideas how to

[2015-09-09 08:43] michael-e commented on #2497
Unfortunately, we lost the ability to `git blame` when the core code was re-formatted to comply with PSR-2 formatting rules. But I took the time and did a manual comparison of the file in question (which is `/symphony/lib/toolkit/class.smtp.php`) and have not found any significant changes since Symphony 2.3.

This, a t least, tells me that the problem has not been caused by any recent changes.

So

[2015-09-09 08:57] michael-e commented on #2497
Oh, one more thing: It would be good to know the actual `HELO`/`EHLO` command that your server sends. So could you add s.th. like the following line to your `_ehlo` and `_helo` function?

[code]

resp.

[code]

[2015-09-09 08:58] jensscherbl commented on #2497
I'm onto it. Be patient, I'm slow... ;)

[2015-09-09 10:21] jensscherbl commented on #2497
No, it also didn't work in a much older project I recently migrated to this new environment.

    HELO/EHLO [SunOS localhost 5.10 Generic_142901-13 i86pc]

Works after removing the brackets, by the way.

Swift Mailer uses the virtual host (example.com) instead.

Works with brackets and actual IP addresses, both `127.0.0.1` and the public IP address.

Works without brackets.

[2015-09-09 10:33] jensscherbl commented on #2497
So the fix seems to be removing the brackets, but not sure if this might cause issues in other environments or goes against the recommended standard.

Swift Mailer seems to only use a [domain and no brackets][1], but [includes brackets][2] when an IP address is used as fallback.

[1]: https://github.com/swiftmailer/swiftmailer/blob/5.x/lib/classes/Swift/Transport/EsmtpTransport.php#L304
[2]: https

[2015-09-09 10:52] michael-e commented on #2497
Which seems correct to me.

Always using an IP address (with brackets) — as Symphony does it — may not be ideal, but it works (as your tests confirmed). So to me the question is: Why don't you have an IP address in your `HELO`, but `SunOS localhost 5.10 Generic_142901-13 i86pc`?

Do you have shell access to the server? I yes, what is the result of

[code]

(It's used in [these lines](https://githu

[2015-09-09 10:54] jensscherbl commented on #2497
It's `SunOS localhost 5.10 Generic_142901-13 i86pc`.

[2015-09-09 10:55] michael-e commented on #2497
Aha! Might be related [to this](http://stackoverflow.com/a/19796250)? Can you test the alternative?

[2015-09-09 10:59] jensscherbl commented on #2497
string(4) "freg"

oO

[2015-09-09 11:01] michael-e commented on #2497
Hui. Can you try the proper lowercase function names?

[2015-09-09 11:03] jensscherbl commented on #2497
Already did. Looks like the hostname is `freg` and `gethostbyname` just fails (returns the hostname in that case).

[2015-09-09 11:07] jensscherbl commented on #2497
It's STRATO's distributed shared hosting platform, by the way.

![infografik_strato_shared_webhosting_plattform](https://cloud.githubusercontent.com/assets/1640033/9760227/98e6d0d8-56f3-11e5-8be1-d3a179cfee17.jpg)

[2015-09-09 11:10] jensscherbl commented on #2497
So, do I get this right that the issue is that Symphony expects my server to return an IP address, but it doesn't? So it's my servers fault. But Symphony's implementation isn't really good either, because it always uses an IP address instead of a domain name, like Swift Mailer does?

[2015-09-09 11:21] michael-e commented on #2497
Yes, it looks like it's either a PHP issue on SunOS, or simply an issue an the server when trying to resolve the own (short) name.

Yes, it's not perfect nor "beautiful". It's pragmatic. Two things to keep in mind:

1. As stated earlier, using an IP address is what local email clients will do as well, so there shouldn't be issues with this when sending mails (as long as there is a valid IP address

[2015-09-09 11:24] jensscherbl commented on #2497
Just curious, why do we bother using `gethostbyname(...)` at all if `127.0.0.1` is already good enough?

[2015-09-09 11:30] michael-e commented on #2497
Good question. I have no answer for this. As far as I remember, all this code was written by @creativedutchmen. But yes, I think that any __local IP__ is really useless to a remote server, so we might hardcode `127.0.0.1` as well.

[2015-09-09 11:31] michael-e commented on #2497
(Which is against the idea of a `HELO` command, of course.)

[2015-09-09 11:33] jensscherbl commented on #2497
Using a battle tested library like Swift Mailer instead of rolling our own implementation might also not be such a bad thing going forward.

[2015-09-09 11:33] creativedutchmen commented on #2497
Interesting question, and as I recall, we are using the real IP because "we're supposed to". I believe, but can't recall the details, that some mailservers refuse to send email when the IP is set to 127.0.0.1

On Swift: have you seen how bloated it is, and how badly it performs with different encodings? Really. It sucks.

[2015-09-09 11:35] michael-e commented on #2497
I haven't looked at Swift Mailer for a long time, but at the time when the email core code was written, Swift Mailer was a bloated library, much bigger than the Symphony core. So we said: If we can do it in a few lines, why should we rely on an external library?

[2015-09-09 11:35] michael-e commented on #2497
Ah, @creativedutchmen was faster. :-)

[2015-09-09 11:38] jensscherbl commented on #2497
Sure. But as more and more Symphony developers jump ship, do we really have the resources to maintain all that low level plumbing ourselves going forward?

[2015-09-09 11:40] creativedutchmen commented on #2497
Do we have to? This is the first issue on the SMTP lib I've seen, with a relatively easy fix. I'd say this takes little work compared to keeping a recent Swift and updating the API every time Swift changes.

[2015-09-09 11:41] michael-e commented on #2497
You nailed it, @creativedutchmen.

[2015-09-09 11:47] jensscherbl commented on #2497
Well, yeah, not maintaining your own implementation is always less work than updating an external library... ;)

But let's stop this discussion for now and go back to the issue.

What do you think, is this situation something that should be handled by Symphony? And if so, what's the proper solution? Trying to use a domain name and fall back to `127.0.0.1`? Trying to get the actual IP and fall back

[2015-09-09 11:50] creativedutchmen commented on #2497
Exactly:) And since the SMTP standard isn't going anyway, I'd say we don't have to either.

Sure. If it breaks, it breaks. Using a domain name, falling back to the IP, falling back to 127.0.0.1 would be my preferred solution. However, I can live with using the IP and falling back to 127.0.0.1, as I think that would be easiest.

[2015-09-09 11:51] michael-e commented on #2497
Find an FQDN isn't trivial at all in PHP, Stackoverflow says. Unless we have a great idea for this, we might concentrate on the IP address stuff. It has always

I admit, currently Symphony on my Debian server uses "127.0.0.1", so the current code doesn't return a super-useful IP in my case. Could it be that we find local IP addresses exclusively?

My suggestion is:

* try to find the public IP add

[2015-09-09 11:57] jensscherbl commented on #2497
`$_SERVER['HTTP_HOST']`? Or did I miss something important here?

[2015-09-09 11:58] creativedutchmen commented on #2497
Hmm, we could try something like this:

Try the domain name on the mailserver. If it accepts it: great! If it doesn't, try 127.0.0.1.

`$_SERVER` doesn't work for background processes like the ENM uses.

[2015-09-09 12:02] jensscherbl commented on #2497
What about defining the domain/IP explicitly in the preferences, with `127.0.0.1` as the default?

[2015-09-09 12:03] creativedutchmen commented on #2497
Yes, that's perfect.

[2015-09-09 12:09] michael-e commented on #2497
Sounds great. How to call it? "Greeting hostname"? Or "HELO host"?

[2015-09-09 12:27] jensscherbl commented on #2497
Mhh. I think your suggestion was actually better than mine with the preference setting. Swift Mailer's [code for getting the domain name][1] is actually pretty simple, I think we can just use that.

[1]: https://github.com/swiftmailer/swiftmailer/blob/5.x/lib/classes/Swift/Transport/AbstractSmtpTransport.php#L462

[2015-09-09 12:36] michael-e commented on #2497
@creativedutchmen said that `$_SERVER` isn't available for background processes as used by the ENM. So we would always "fall back" when sending mass emails.

I like the preference setting even more, because a developer can actually determine how the `HELO` will be.

[2015-09-09 13:13] jensscherbl commented on #2497
Ah yes, get it now.

[2015-09-09 13:15] michael-e commented on #2497
The more I think about it, the more I like the preference idea. Ideally the helo name should be an FQDN, and the simplest way to achieve this (in every "situation") is a preference setting. It means less code in the email core, but more flexibility and bullet-proofness.

[2015-09-09 13:24] creativedutchmen commented on #2497
+1

On Wed, Sep 9, 2015 at 3:15 PM, michael-e <notifications@github.com>
wrote:

[2015-09-10 17:28] nitriques commented on #2497
+1000 guys amazing geek thread. telnet FTW.

[2015-09-10 23:12] michael-e commented on #2497
:-) Have you never tried to send an email using telnet? It's eye-opening!

[2015-09-11 14:44] nitriques commented on #2497
Yes I did! I've also browsed the web using telnet. Upload a file on a FTP server too :)

True !

[2015-09-16 06:23] brendo commented on #2223
So this is something I've been wanting to do for a long time. The core Logger has been ripped out and replaced by [Monolog](https://github.com/Seldaek/monolog). Monolog is a PSR-3 compatible logging system and out of the box offers integration with many third party logging systems.

One of the more interesting things about this change, is that the Handler/Formatter used is totally derived from the

[2015-09-21 17:51] nitriques commented on #2223
@brendo this is nice. But:

1. Did we lose features (I.e log rotation?)
2. Can't we create a compatibility layer to make it backward compat ? Or it is impossible ?
3. Could it be possible to split the commit ? github has a hard time showing the diff...

Thanks.

[2015-09-21 23:37] brendo commented on #2223
In it's exact replica, yes, we no longer have log rotation after 'x' size. We do have access to Monolog's `RotatingFileHandler` however:

Seems unnecessary as several of the removed methods no longer apply. They mean different thing depending on what Handler is used (or not used). I have maintained the `pushToLog` and `pushExceptionToLog` methods as these are the most commonly used methods. All ot

[2015-09-24 14:30] michael-e commented on #2497
@jensscherbl: Could you care for a pull request (using your "preferences" idea)? Or is there any other volunteer?

[2015-09-24 14:32] michael-e commented on #2494
The PR has been merged into the 2.6.x branch. I am not sure if we should close the issue, however, as long as it's not in master.

[2015-09-24 14:45] michael-e commented on #2369
In the meantime I think about moving the "advanced cleaning functionality" into the field's `checkPostFieldData` function, because I would like to clean up before validating the field's input. This is a bit ugly, however.

So I thought about solving that using an extension (which cleans up the values before doing any validation or so). That might indeed work for frontend events, but not in the Sym

[2015-09-24 15:57] nitriques commented on #2369
@michael-e I would like to add some other delegates (like `EntryFilterField`) to be able to do more without altering the core... what do you think about that ?

[2015-09-24 15:59] nitriques commented on #2494
I think it should stay open until it's in master. I've created a new label, `Fixed in 2.6.x` to classify those.

[2015-09-24 16:00] nitriques commented on #2223
Ok thanks a lot Brendan. So we do are backward compatible then?

[2015-09-24 16:37] michael-e commented on #2369
Well, yes , one could manipulate all field data (for both, "create" and "edit" procedures), and it might be called `EntryFilterData` or similar.

It's hard to get it right – consistent naming is one issue, the other one is consistent functionality for backend and frontend. If you have a more precise idea than me, please post it here, so @brendo can take a look.

[2015-09-24 17:16] michael-e commented on #2369
Just some thoughts:

For the frontend, we already have `EventPreSaveFilter`, which can do a lot (even throw a validation/whatever result into XML). You can build event filters and attach them to your events (I have used that a lot in one of my projects). The downside is that building filters in an extension is a rather tedious task — that's why I also hacked the events if manipulation of POST data

[2015-09-24 17:30] michael-e commented on #2369
FYI: At the moment I have the exact same hack in two different functions of the Input field, (`checkPostFieldData` and `processRawFieldData`):

[code]

[2015-09-24 18:10] michael-e commented on #2472
FYI: My current version is:

[code]

[2015-09-25 09:40] jensscherbl commented on #2497
@michael-e It's on my list, just didn't have the time to actually do it yet.

[2015-09-27 13:20] jensscherbl opened #2498 "Sort by multiple columns"
I guess I'm just overlooking something, as this is pretty much standard functionality, but how can I order data source results by multiple columns? Like `ORDER BY date ASC, id ASC`?

[2015-09-27 23:55] brendo commented on #2498
It's not supported by Symphony.

[2015-09-28 06:40] jensscherbl commented on #2498
@brendo Any way to hack it in? Or is this a more complex issue? Is there a common (non-xsl) workaround that's usable with pagination?

[2015-09-28 16:11] nitriques commented on #2498
@jensscherbl I would also be interested in this feature.

But it would also require touching the EntryManager class: https://github.com/symphonycms/symphony-2/blob/master/symphony/lib/toolkit/data-sources/class.datasource.section.php#L511-L522

[2015-09-28 16:12] nitriques commented on #2472
thanks for sharing @michael-e

Did you ran in any problems yet ?

[2015-09-28 16:13] nitriques commented on #2369
+1

[2015-09-28 16:20] michael-e commented on #2472
My tests looked good, and now it's in production. I guess the client will tell me when it breaks. :-))

[2015-09-28 16:56] nitriques commented on #2472
Well, check your logs ! :P (I've made this if you're lazy: http://symphonyextensions.com/extensions/system_log_link/)

[2015-09-28 17:06] michael-e commented on #2472
I would probably find the log file, but: What should I search for? (If the table remains locked, I will get noticed anyway.)

[2015-09-29 17:22] nitriques commented on #2472
Any exception that can occur.
The catch clause should log it `Symphony::Log()->pushExceptionToLog($e, true);`

Check for `User Notice: (.+)Exception`

Yeah that's true...

[2015-09-29 18:43] michael-e commented on #2472
Thanks!

[2015-10-01 06:57] twiro opened #2499 "Publish Filter : "between mode" (x to y) not working"
I was just checking if number field is fully compatible with the current 2.6.3 release and noted that publish filtering doesn't throw any results when using the "between mode".

Looks like the filtering-url is constructed the wrong way.
If i try to filter inbetween a range of "1" and "3" the resulting URL looks like this:

[code]

If I manually edit the URL to...

[code]

...everything works as ex

[2015-10-02 08:37] andrewminton opened #2500 "No field validation if EventPreSaveFilter fails"
Is it normal for the post values to be missing if you submit a form and the filters fail?

I'm trying to present the full list of required fields as well as notify the user that a filter has failed but all I get is the filter error message and optional fields returned in the event xml. i.e. missing required field post values do not appear.

If I comment out the '$context['messages'][]' part of my

[2015-10-02 08:37] andrewminton commented on #2500
I'm looking specifically at the EventPreSaveFilter delegate at the moment.

[2015-10-02 08:46] michael-e commented on #2500
I built similar filters yesterday, I will do some tests and come back!

[2015-10-02 08:53] michael-e commented on #2500
No, I can't confirm this. If such a filter fails, you should still have POST values in your event XML.

How does your array look like? It should be similar to this:

[code]

[2015-10-02 08:54] michael-e commented on #2500
But, of course (and that's the culprit), you won't have validation on the fields (because the filter returning `false` stops the process, unfortunately).

[2015-10-02 08:58] michael-e commented on #2500
Ah, by that you mean validation? OK, so I can confirm. There won't be any field validation (see above).

But I am afraid that this is not a bug (but intended behaviour).

[2015-10-02 09:03] michael-e commented on #2500
I assume that your filter is doing some sort of "advanced validation", and you would like to combine this with field validation. (That is what I tried yesterday.) This is another interesting use case for additional (or pimped) delegates. :-) We thought about these here as well: https://github.com/symphonycms/symphony-2/issues/2369#issuecomment-142950485

[2015-10-02 09:16] michael-e commented on #2500
BTW, Happy birthday, issue tracker! You are 2500 isues old!

[2015-10-02 09:36] andrewminton commented on #2500
Haha! Happy Birthday :)

What you have mentioned is correct yes. I'm rebuilding the recaptcha extension with evil Googles method and when the filter fails, there is no validation of fields along with the filter fail message.

I would have thought, we'd still want to report validation errors, but I guess the filter trumps this and stops it before it gets that far.

I can live with it, just curious

[2015-10-02 09:58] michael-e commented on #2500
I tend to leave this issue open nevertheless, because it shows an interesting aspect of the delegate problem. I would be great to find a (backwards-compatible) way to modify and/or add delegates which can solve this issue and show a way to deal with #2369 as well, i.e. have delegates for backend and frontend which allow to validate and manipulate field data in the same way. (I mentioned in https:/

[2015-10-02 10:48] andrewminton commented on #2500
Thanks for info :)

[2015-10-02 21:58] michael-e commented on #2369
FYI:

Regarding the delegates, I did more research today. My idea—performing POST data manipulation and advanced validation using a delegate—wouldn't even work with the `EventPreSaveFilter` delegate (which I [mentioned above](https://github.com/symphonycms/symphony-2/issues/2369#issuecomment-142950485)). This means it wouldn't even work for frontend events. The reason is that post data have alread

[2015-10-05 11:35] michael-e opened #2501 "System dates may be systematically wrong if Daylight Saving Time is used in your timezone"
When the system timezone uses DST (Daylight Saving Time), system dates (created/modified) will experience systematic offsets. Since the problem is in `class.entrymanager.php`, this will probably also produce wrong filtering results (when filtering on system dates).

### Example

Assume that you have two entries, like so:

    mysql> SELECT * FROM `sym_entries` WHERE `id` IN (2157,13964);
    +----

[2015-10-06 23:25] nitriques commented on #2499
This looks more like a number field issue since declaring which filter is supported by each field can be customized (see https://github.com/symphonycms/symphony-2/blob/master/symphony/lib/toolkit/class.field.php#L1178-L1208)

Or I do no understand what's the problem...

[2015-10-06 23:27] nitriques commented on #2500
So can we close if this is not an issue ? Or we should rename this "epic" issue :) ?

[2015-10-06 23:31] nitriques commented on #2369
1 pdf file out of 2 contains nasty control chars. Once a week, I get a client complaining that he can't copy/paste content into Symphony, so this is not a rare demand...

I still think this is the best idea. Small change to the core, minimal impact, easy to create an extension that fixes ALL fields (or anything you'd like!).

I would be happy to test/review help with any PR :)

[2015-10-06 23:41] nitriques commented on #2501
Short Anwser: The current state of affairs is the way Window's event viewer works. When DST changes, all timestamps are shown an hour earlier than they appear.

Please, send it. I would happy to discuss/test it. But I would start by getting rid of the UNIX_TIMESTAMP call but keeping the settimezone (to lower the risk of having a backlash?) I'd love to have @brendo's feedback on this since he's the

[2015-10-06 23:43] nitriques commented on #2501
BTW @michael-e you may also encounter the same problems with the date field, and Nil's datetime field that both uses UNIX_TIMESTAMP.

[2015-10-07 00:22] brendo commented on #2369
Is there any reason this cannot be applied to the Input field and released in 2.6.4? Re-reading this thread, it seems this would solve a common problem quickly, without getting into the secondary issue of supporting `utf8mb4` (eg. emoji).

I don't think we should create delegates in these scenarios just to avoid breaking backwards compatibility. The technical debt should be solved, not circumvente

[2015-10-07 08:51] #2500 closed

[2015-10-07 08:51] michael-e commented on #2500
Renamed and closed.

[2015-10-07 09:10] michael-e commented on #2369
@nitriques: I was referring to my examples of advanced data validation/manipulation, which attempt to show how far one might think (in terms of new features) when solving this issue. We should still try to solve the original subject, of course. :-)

@brendo: There are two reasons why this solution is not perfect:

1. It only works for the input field. There may be similar (but not identical) deman

[2015-10-07 10:11] jensscherbl commented on #2369
Agreed. Just version stuff correctly (3.0.0 for breaking changes, 2.7.0 for new features), and everyone's happy... ;)

[2015-10-07 10:45] michael-e commented on #2501
Yes, I am using the following actively (in a live system, which is a good test, isn't it?), and it works perfectly:

[code]

No, these fields do not use MySQL's `UNIX_TIMESTAMP()` function. Anyway, I have not found any problems with dates that are saved including the time offset. These are handled correctly on the PHP level. The problem with system dates is that they are saved **without the offset

[2015-10-07 13:18] brendo commented on #2501
Actually no, I believe this function must remain to ensure that functions such as `NOW()` continue to function. Our logic in `setTimeZone` will handle DST, so that should be fine.

I'm ok with removing the `UNIX_TIMESTAMP()` function... but it's a breaking change and needs to be done as part of Symphony 3. The `EntryManager::fetch` method accepts a `$buildentries` parameter which will return an ar

[2015-10-07 14:13] nitriques commented on #2500
Thanks Michael!

[2015-10-07 14:34] michael-e commented on #2501
I am afraid that I have not explained the issue well enough. I'll try again, keeping it as short as possible.

Thanks for the heads up! My suggestion did not take this into account. But in order to get correct timestamps, we must create the timestamp in PHP, not in MySQL (see below).

I haven't seen MySQL's `NOW()` function anywhere in Symphony, but anyway. For extension developers, setting a time

[2015-10-07 16:25] michael-e commented on #2501
I fixed @brendo's findings and re-invented the timestamp format for system dates, calculated in Symphony:

[code]

Now the function should behave like before—except the results being correct:

current time offset | output for entry 1 (saved with standard offset) | output for entry 2 (saved with DST offset)
----- | ----- | -----
standard | correct | correct
DST (+1 hour) | correct | correct

[2015-10-08 10:32] michael-e commented on #2501
I will send a pull request shortly, with the fix above. I will also add a comment to deprecate `Database()->setTimeZone` and mark it for removal in Symphony 3.

Good news: There is no need to change `class.cacheable.php` (as suspected initially), because it does not _convert_ dates in MySQL. It just uses `UNIX_TIMESTAMP()` (without a given date value), so timezone logic will not be involved — a ti

[2015-10-09 10:03] jensscherbl commented on #2501
Can't really get my head around this issue to be honest, so no comment on the actual issue or the work you've done from me (but thanks if it works ;).

If I'm not completely mistaken, `now` can be used in data source filters. At least that seems to work for me,  hope I'm not relying on any nasty side effects here.

[2015-10-09 12:28] michael-e commented on #2501
Thanks for mentioning this. This functionality is not affected at all, because this is PHP/Symphony's "now". And even if it was MySQL's `NOW()` — that would be a correct timestamp, because @brendo's fix for #1726 will always set the **correct MySQL time offset for the current date(time)**.

The issue only affects system dates for Symphony entries, because these dates are the only ones which are sa

[2015-10-10 16:22] nitriques opened #2503 "Create 2.6.4 and 2.5.4 releases"
@brendo Would you mind creating a wiki page on what's need to be done in order to create a release ? and add it [here](https://github.com/symphonycms/symphony-2/wiki#building) ?

I no particular order, I think of:

- build assets and commit them
- update composer (?)
- merge 2.6.x into master
- merge 2.6.x into integration
- update bundle
- create zip
- ... ?

Thanks.

[2015-10-10 19:13] nitriques opened #2506 "Rename $_GET['mode'] to $_GET['symphony-mode'] ?"
To prevent accidental usage of mode as a query string in the frontend.

Yes? No? Aware of any extension that uses $_GET['mode'] ? (BTW, they should not...)

[2015-10-12 12:28] brendo commented on #2503
Have you got [this](https://github.com/symphonycms/symphony-2/wiki/Building-Symphony) working locally?

[2015-10-12 12:56] brendo commented on #2503
https://github.com/symphonycms/symphony-2/wiki/Releasing-Symphony :+1:

[2015-10-13 08:37] michael-e commented on #2501
@brendo: IMHO my PR is no longer a breaking change but merely a bugfix. The function behaves exactly like before, the only difference is that the timestamps are correct. Can we change the milestone to 2.6.4?

[2015-10-14 01:12] nitriques commented on #2503
Yup. But I can't upload it to the website :(

:+1: This is EXACTLY want I needed.

I'll just create a tag and the zipball. What happens we you'll upload it to the site ? IDK.

[2015-10-14 02:30] nitriques commented on #2369
Agreed. @michael-e Would you mind creating a PR with your changes ?

Yes please!

If you could apply the same logic in those two core fields it would be great for now. I have lots of new delegate ideas for 2.7.0 (so Jens' happy which makes me happy :tada:  )

[2015-10-14 02:32] nitriques commented on #2501
Ref #2369 I think it's actually the only possible fix. All timestamps conversion are now made in PHP so it's easy to reason about. Let MySQL only store data and return it as-is.

[2015-10-14 02:34] nitriques commented on #2506
@jensscherbl is this ok for a 2.7.0 release ?

[2015-10-14 02:36] nitriques commented on #2501
I would do 2.7.0 with this...

[2015-10-14 06:59] jensscherbl commented on #2506
If this is not exposed as a parameter and not documented public API (and instead just something Symphony uses internally), it would be ok.

In this case, if it's just an improvement and not an actual bugfix, would make more sense for `3.0.0`, though.

[2015-10-14 07:03] jensscherbl commented on #2501
Sounds reasonable. I guess `2.6.4` would also be ok, but given the complexity of the change and possible side effects, `2.7.0` would be more appropriate.

[2015-10-14 07:28] jensscherbl opened #2510 "Focus on 3.0.0"
While it's ok regarding semantic versioning, I also agree with @brendo that it would be better to concentrate on a stable `3.0.0` release first. We already have lots of pending improvements, legacy clean-up and bug fixes on integration.

New delegates might be a nice addition, but it's less important imo and can always be introduced in a `3.x.0` release later.

@nitriques @michael-e

[2015-10-14 10:07] michael-e commented on #2369
@brendo [wanted this to be fixed in 2.6.x](https://github.com/symphonycms/symphony-2/issues/2369#issuecomment-146042699), however tagged it for 3.0.0. To which branch should I send it?

(Sometimes it's hard to decide if something is a bugfix or a breaking change. I remember discussions about whitespace with developers relying on excessive/custom whitespace input. They would probably say that this

[2015-10-14 12:42] michael-e commented on #2510
Agreed, if 3.0 is released in the next 3 months or so, and if there is an upgrade path from Symphony 2. Under these conditions I can even live with closing the feature set of 2.x completely.

However, I had the impression that there is no clear vision what 3.0 is/will be. This may be the reason why people love to work on 2.x.

[2015-10-14 14:58] nitriques commented on #2510
I really do not think this will happen. That's why I wanted to move forward with a couple a new things that could be part of a 2.7.0 release.

Same here. I feel like it's more @brendo's territory. But we've made some nice changes that could be released instead of sleeping...

[2015-10-14 14:59] nitriques commented on #2369
I would vote for 2.6.x

[2015-10-14 14:59] nitriques commented on #2501
Great! I would not mind either.

[2015-10-14 15:11] nitriques commented on #2506
ok thanks.

It is something not public and not documented.

[2015-10-14 16:11] michael-e commented on #2369
OK, we have a problem here, which is mentioned here: <http://unicode.org/reports/tr36/#Deletion_of_Noncharacters>

I don't think that it is a *practical* problem for the Input field—but it is definitely an issue for the Textarea field. The point is: Deleting codepoints in the two field functions (`checkPostFieldData` and `processRawFieldData `) is conceptually dangerous. This is what can happen:

[2015-10-14 16:17] michael-e commented on #2369
I should mention that sometimes the suggestion is to insert a replacement character, see http://stackoverflow.com/a/24672780. However, I have no idea if this is a good solution for us. I guess no, because this doesn't clean up the string properly.

I am afraid that my first impression of this issue ("This is Pandora's box") was correct.

[2015-10-14 17:53] michael-e commented on #2369
I verified that the attack described above would actually work if my "cleanup hack" is applied to the field. I was able to input `<scr&#x7F;ipt>` (the entity is the `DEL` character), pass the XSS filter, and actually save `<script>` to the database.

To reduce any risk (especially for future changes), any *manipulation* of input data should be performed *as early as possible*. For the frontend a d

[2015-10-15 03:03] nitriques commented on #2369
Let's close it!

Sadly, I can't choose those. That's the person paying me who make that call. I could choose to opt-in into value sanitizing... Or actual backend is build on consensual XSS anyway.

I think that's a matter of patching XSS Filter. It should remove all control chars and do all tests again. Or I am missing something ? I though that the whole point of XSS Filter was to prevent me from

[2015-10-15 08:49] michael-e commented on #2369
No, it should not manipulate data independently. Instead it should be executed after any possible manipulation of data. For this, it would need its own delegate (which is not used by other extensions), immediately before saving to the DB, as late as possible.

With this character, nothing breaks, because it is a legal character in XML (see my [first post](https://github.com/symphonycms/symphony-2/

[2015-10-15 09:51] michael-e commented on #2369
@nitriques: Regarding these XSS issues:

I would like to explain it a bit better. But I will limit my explanation to the simplest example for XSS, and AFAIK, the "Art of XSS" is a much more complicated beast. So the following is in no way complete.

I assume that someone saves `<script>alert('hello');</script>`, either in the backend or from a frontend form (because you have not used the XSS filte

[2015-10-15 11:56] michael-e commented on #2369
This issue may have a simple solution (and this would as well influence #2500, positively, IMHO).

After thinking about it a lot, I suggest the following:

* Do **not** add more delegates (since this would increase the confusion for developers)
* **Move** `$this->processPreSaveFilters` in `class.event.section.php` after `$entry->setDataFromPost`, but before `$entry->commit()`.
* Then my proposed "

[2015-10-15 12:08] andrewminton commented on #2500
If the move you're suggesting exposes post values even if filter fails. That's a winner all round.

[2015-10-15 12:14] michael-e commented on #2500
You mean validation errors? Well, with this fix validation would be first, so you would get the field errors. Only if validation succeeds (which means no field errors occur), the filter is executed.

[2015-10-15 12:24] andrewminton commented on #2500
Ok good. and if filter fails? would the event xml still retain the posted values data? I guess it would right?

[2015-10-15 13:07] michael-e commented on #2500
I thinks so, depending on how `processPreSaveFilters` is cleaned up. It includes a fix for #2179, @brendo will hopefully know how to deal with that. :-)

[2015-10-15 18:47] nitriques opened #2511 "DS/Event Editor: fill name with the target section name if empty"
I feel like this would save me a lot of time. What about you ?

[2015-10-15 23:33] nitriques commented on #2369
Wow @michael-e thanks a lot for all those details.

I say why not!

Should it be before or after checkPostData ? https://github.com/symphonycms/symphony-2/blob/master/symphony/lib/toolkit/events/class.event.section.php#L331-L387 Also note Lines 337

Yes +1 !

[EntryPreCreate](https://github.com/symphonycms/members/search?utf8=%E2%9C%93&q=EntryPreCreate)

[EntryPreEdit](https://github.com/symphonyc

[2015-10-16 21:52] brendo commented on #2369
I think sadly we may need one additional delegate. The positioning of the `EventPreSaveFilter` in the Event is inconsistent with the backend but it does allow for some powerful pieces of functionality:

- it can halt the event execution before the entry is touched
- it can enforce or override post values before the entry is validated

The latter is in fact what allows the Default Event Values exte

[2015-10-16 21:53] brendo commented on #2511
Could be nice, especially for newbies. I'd suggest adding it to the Event Name too for consistency

[2015-10-19 08:52] michael-e commented on #2369
You are right, we need an "early" delegate as well, at least for the Default Event Values extension.

Regarding the Cross-Site Scripting (XSS) Filter extension: Theoretically, it must run before anything hits the database, but also after any possible manipulation of input data (i.e. immeditely before `$entry->commit()`). I am sorry, but (once again) I don't manage to fully understand what happens

[2015-10-20 00:11] nitriques commented on #2511
+1 It will be a js-thingy so reusable at large

[2015-10-20 01:52] nitriques commented on #2369
I think I can safely say that NO, nothing hits the DB before commit().

I agree with that.

But I still feel like this should be delegated. Some very opiniated dev could want them and Symphony should not force it.

@michael-e Would a new delegate fix your problem completely ?

[2015-10-20 09:35] andrewminton commented on #2474
Just came across this issue from a fresh install of the blog ensemble. The 2.6.0 migration for the date field did not seem to run and hence got the same error that Nathan had.

[2015-10-20 12:48] michael-e commented on #2369
Yes and no. It would work differently. A delegate would pass the fields to an (event) filter, so you would be able to write an extension to manipulate certain fields, based on their name. But you would not be able to perform manipulations based on the field type (Input, Textarea etc.), because you just don't have this information. (This is why I tried to hack the Input field itself.)

Sometimes I

[2015-10-21 00:04] nitriques commented on #2474
Does it needs fixing ?

[2015-10-21 07:10] andrewminton commented on #2474
I couldn't determine where it was failing. May be worth pulling the
ensemble from the main getsymphony.com website again and checking if this
error still exists. Upon saving a section containing a date field. It would
fail, I then manually applied the sql patch from the 2.6.0 migration file
@brendo mentioned.
On 21 Oct 2015 01:04, "Nicolas Brassard" <notifications@github.com> wrote:

[2015-10-21 10:27] michael-e opened #2513 "Confusion regarding usage of constants"
In `content.publish.php`, the `__actionNew` and `__actionEdit` functions both use `__ENTRY_FIELD_ERROR__` and `__ENTRY_OK__` constants. However, the usage is inconsistent:

* in `__actionNew` we find `Entry::__ENTRY_FIELD_ERROR__` and `Entry::__ENTRY_OK__`
* in `__actionEdit` we find `__ENTRY_FIELD_ERROR__` and `__ENTRY_OK__`

`__ENTRY_FIELD_ERROR__` and `__ENTRY_OK__ ` [are deprecated](https://gi

[2015-10-21 13:22] michael-e opened #2515 "Dependant Data Sources return no results"
https://github.com/symphonycms/symphony-2/commit/cbeca16ee0ff34c975683b6f2bd11ee728f65579 has broken dependant datasources, they may return no results. <strike>The problem is in [this line](https://github.com/symphonycms/symphony-2/commit/cbeca16ee0ff34c975683b6f2bd11ee728f65579#diff-7b1c0614581c083a06e31f0d3c4c13fdR979)</strike>

[2015-10-21 13:27] michael-e commented on #2515
But why???

[2015-10-21 13:33] michael-e commented on #2515
The problem is definitely in `class.frontendpage.php`. But I don't manage to get it right.

[2015-10-21 14:02] brendo commented on #2513
Good find, thank you!

[2015-10-22 11:07] michael-e commented on #2515
Thanks!

[2015-10-22 22:27] nitriques commented on #2474
Hum I sadly do not have enough time to check an issue in an ensemble.

[2015-10-22 22:40] nitriques commented on #2515
@michael-e check [this](https://github.com/symphonycms/symphony-2/commit/cbeca16ee0ff34c975683b6f2bd11ee728f65579#commitcomment-13939500) :)

[2015-10-22 22:50] nitriques commented on #2369
Well can't we just add it ?

I would have then. I've copied text from a photoshop document yesterday in a input field and I got yelled at. At least the editor plugin show a red dot so it's easy to find....

[2015-10-22 23:02] michael-e commented on #2515
Thanks! Will you send a pull request to replace the quotes?

[2015-10-22 23:28] nitriques commented on #2515
There: 16dc3b8 Like a cowboy.

[2015-10-22 23:33] michael-e commented on #2515
:-)

[2015-10-26 11:25] michael-e commented on #2369
OK. What do we have?

@brendo suggests to:

* move the `EventPreSaveFilter` delegate
* add a new delegate, just where `EventPreSaveFilter` currently sits
* filter all unwanted characters inside the (Input) field's functions

This is already a breaking change, because extensions like Default Event Values need to be updated to use the new delegate.

@brendo also asks if stripping characters before s

[2015-10-26 16:25] nitriques commented on #2369
No worries, since it will be release only in 3.0.0.

Me neither, but it fully respects Symphony's core principle.

[2015-10-28 00:54] nitriques commented on #2503
@brendo Here's a script for updating all extensions in the bundle https://gist.github.com/nitriques/fc72b8d521e79bb34108

We have two pending PR before we can ship 2.6.4 and I can do it tomorrow.

[2015-10-28 00:58] nitriques commented on #2503
- [ ] Create a new migration for the new version, eg. 2.6.4 which should implement getVersion and getReleaseNotes methods
- Update the version constant in the project:
- [ ] package.json
composer.json
- [ ] .htaccess (optional)
- [ ] install/index.php
- [ ] install/includes/htaccess.txt (optional)
- [ ] LICENCE (optional)
- [ ] symphony/assets/js/src/symphony.js (optional)
- [ ] Update the README.

[2015-10-28 14:17] nitriques opened #2516 "Add Gitter sidecar to getsymphony.com"
Would this be a good idea ?

https://sidecar.gitter.im/ ?

[2015-10-28 15:08] jonmifsud commented on #2516
I would think so if there's someone around on Gitter it would be good. The
problem would be if nobody is around to answer chats. we don't want to look
like there's nobody in a position to help. I think we can give it a shot
and evaluate?

On Wed, 28 Oct 2015 at 15:17 Nicolas Brassard <notifications@github.com>
wrote:

[2015-10-28 23:39] nitriques commented on #2516
I read it almost every morning

That's my proposition

[2015-10-30 20:45] nitriques opened #2517 "evaluate system date logic"
This discussion started [there](https://github.com/symphonists/system_date_fields/issues/13) but is related to the core. Basically:

- saving the same timestamp in two different representations (GMT and localized) is useless and increases the probability of error
- reading a localized date and assuming a time offset is error-prone as well (see my example above, changing the time zone)

Proposed ch

[2015-11-06 04:24] nitriques opened #2518 "Wrap SQL error message in CDATA"
Like [here](https://github.com/symphonycms/symphony-2/blob/master/symphony/template/blueprints.datasource.tpl#L51).

It should be

[code]

@jensscherbl is that a breaking change ? It never contained xml... (I feel it's a bug fix, since it can crash the whole frontend because xml bla bla bla)

[2015-11-06 22:18] jensscherbl commented on #2518
Is this just for real exceptions, like SQL errors? Then no. Or also for expected results, like an empty result set or not executed data sources because of parameters etc. Then yes.

[2015-11-11 01:14] nitriques opened #2519 "Make Configuration::__toString support arrays as values"
Right now, doing `Symphony::Configuration()->set('key', array(), 'group');` makes any write calls crash.

It would be nice (and easy) to support it.
- [x] Make Configuration::__toString support arrays as values
- [x] Serialize indentation with spaces instead

[2015-11-12 14:26] jonmifsud commented on #2223
Seems not the function signatures have changed, so I think it will have to be for 3.0 right?

Pretty keen on trying this out as I want to try out something like logentries or logstash, to hopefully make more sense out of error logs.

[2015-11-12 23:43] brendo commented on #2223
Correct. However you are welcome to try this on an existing install as the methods that have removed are not typically used by extensions at all:

- `Log->setArchive`
- `Log->setMaxSize`
- `Log->setDateTimeFormat`
- `Log->setLogPath` / `Log->getLogPath`
- `Log->popFromLog`
- `Log->writeToLog`
- `Log->open`
- `Log->close`
- `Log->initialise`

Of those, the one that is most likely to be used by your

[2015-11-13 06:54] jonmifsud commented on #2223
I agree that it's an awesome change. I'll try setup a local ELK server, and might re-add `writeToLog` if I have issues (just for backward compatibility) as there's plenty of extensions I'd need to check on the site I'd like to use try it out on.

[2015-11-14 08:57] jonmifsud commented on #2223
@brendo did you have any other changes live in addition to the commits on that pr? The configuration class within the core is unable to handle arrays when re-saving any configuration. I used to get around it by storing it in json format for extensions which I had made but saving nested arrays properly in the config would be neat.

We might also need to 'rethink' how the update functionality will w

[2015-11-15 06:50] brendo commented on #2223
The PR is based off integration from memory which does handle nested arrays
from memory
On 14 Nov 2015 6:57 PM, "Jonathan Mifsud" <notifications@github.com> wrote:

[2015-11-15 08:45] jonmifsud commented on #2223
Hmm when I merged in the monolog changes the config still wouldn't save, checked the code on monolog and integration, they're consistent. Reading the config is fine it's [saving](https://github.com/symphonycms/symphony-2/blob/integration/symphony/lib/core/class.configuration.php#L175) which is a problem. Maybe you've worked on it somewhere else? I'll be happy to take care of this otherwise.

I've

[2015-11-16 08:49] brendo commented on #2223
I've pushed a couple of commits which fixes those bugs you've found. The last one is a bit trickier, as the `XsltProcess` class doesn't raise any exceptions.

And yep, saving the config will be a problem, I never tested that in the end! I noticed @nitriques has opened #2519 recently which can address this.

[2015-11-16 08:57] brendo commented on #2223
Also, I made a mistake before, I thought I had this work based off `integration`, but it's actually based off `master`. I think I was hoping it could be dropped in before `integration` is a thing. Technically possible by the looks, the updater will have to convert from the old configuration to the new configuration.

That said, we should really just release `integration` when we can. The changes o

[2015-11-16 10:10] jonmifsud commented on #2223
@brendo thanks for getting onto those bugs quickly. I'll see where @nitriques is on that, and see if I can help out. Thanks a bunch for this it's pretty neat, I've had it merged with no issues really, and the site's prod configs are read-only it seems very much production ready. I'll be trying to get client to approve an ELK stack on a separate server, where I can try it out on staging/demo server

[2015-11-20 01:13] nitriques commented on #2518
It's for all of them, so it is. Bump to 2.7.0

[2015-11-20 01:16] nitriques commented on #2223
@brendo @jonmifsud I'll concentrate to release 2.6.4 before working on anything integration related.

@brendo would you be open to rebase your work when 2.6.4 is shipped ?

[2015-11-20 08:09] jonmifsud commented on #2315
I know this has been a while but I've been playing with it due to a client request. These are some of the things I came across:

1. handles still seem to include utf8mb4 characters - I think these should be stripped out.
2. changing charset to utf8mb4 on varchars means we have to reduce the characters allowed from 255 as if they have an index, the maximum size of an indexed field is 1000bytes (at

[2015-11-20 08:13] brendo commented on #2223
Of course

On Fri, Nov 20, 2015 at 11:16 AM, Nicolas Brassard <notifications@github.com

[2015-11-23 11:16] jonmifsud commented on #2315
@nitriques when you have a few spare minutes could you have a look at my last comment?

[2015-11-29 23:08] nitriques commented on #2315
@jonmifsud I really do not know what to do anymore. There are drawbacks to every solution.

I think that the safest route is to allow this to be configured by the developer. I am not sure about a warning to the end user...

I'll have to think a lot more on the issue to plan something, but, as always, any feedback is appreciated.

[2015-11-29 23:21] nitriques commented on #2415
@michael-e Would you mind sending a PR for the 'If you can't fix the socket, you may try 127.0.0.1 for development. We don't recommend this on production servers, however.' message please ?

[2015-11-29 23:43] michael-e commented on #2415
I will take a look.

[2015-11-29 23:44] nitriques commented on #2415
Thanks a lot.

[2015-11-29 23:54] #2494 closed

[2015-11-29 23:54] #2515 closed

[2015-11-30 00:11] nitriques commented on #2513
Closed via #2514

[2015-11-30 00:11] #2513 closed

[2015-11-30 00:12] nitriques commented on #2497
Bumped to 2.7.0

[2015-11-30 07:39] animaux opened #2521 "Calendar wont open in 2.6.3/.4 with lang_german"
In Symphony `2.6.3` and `2.6.4` I have a section containing two `date fields`. `Show calendar` is activated with both. When system language is set to `german` with the recent `lang_german` extension the calendar date picker wont open.

![bildschirmfoto 2015-11-30 um 08 31 31](https://cloud.githubusercontent.com/assets/446874/11465954/cce547fe-973d-11e5-9ba3-7a0c8ecfdf76.png)

[2015-11-30 07:42] animaux commented on #2521
Is it possible the date-field calender fails to grab the localised date in `value=`?

Here’s the backend html in english:
/Users/goldwiege/Desktop/Bildschirmfoto 2015-11-30 um 08.40.13.png

And here in german:
/Users/goldwiege/Desktop/Bildschirmfoto 2015-11-30 um 08.40.37.png

[2015-11-30 07:45] animaux commented on #2521
Is it possible the date-field calender fails to grab the localised date in `<input … value= …`?

Here’s the backend html in english:

![bildschirmfoto 2015-11-30 um 08 40 13](https://cloud.githubusercontent.com/assets/446874/11466049/837cf372-973e-11e5-9244-ce1abda3b5a0.png)

And here in german:

![bildschirmfoto 2015-11-30 um 08 40 37](https://cloud.githubusercontent.com/assets/446874/11466040/7c

[2015-11-30 13:54] cmnstmntmn opened #2522 "2.6.4 installation does not redirect to login after is complete"
after installing (for both, git install or zip download)

let's say i set the admin path to **dashboard**
after the installation is complete, i hit the button to go at the login form, but i get:

*"Page not found" The page you requested, /dashboard/, does not exist.*

same

if i try to acces the login form the old fashion way **/symphony** i can see the form, but the form redirects also to a 404 p

[2015-11-30 16:29] michael-e commented on #2522
Confirmed. Hopefully @nitriques has an idea how this happened.

[2015-11-30 18:14] michael-e commented on #2415
I tested the installation process in order to get a feeling for the possible mistakes and corresponding error messages. First thing I noticed is: Symphony 2.6.4 displays erroneous error messages when the socket doesn't work (I used `localho` instead of `localhost`), but the integration branch gets it right. The difference might be caused by MySQL not sending the expected error codes, of course.

H

[2015-11-30 18:30] michael-e commented on #2415
To be more precise, here are some details:

I used `localho` as the host.

* Symphony 2.6.4 said: `Symphony requires MySQL 5.5 or greater to work, however version was detected. This requirement must be met before installation can proceed.` (Note that we have two problems here: Wrong error message plus missing version info.)
* Symphony 3.0.0-alpha.1 (integration branch) said: `Symphony was unable t

[2015-11-30 22:03] nitriques commented on #2521
Ping @nilshoerrmann would you now what triggered this ?

[2015-11-30 22:45] nitriques commented on #2522
What I experienced was that the form action attribute was set to the correct value, i.e. my custom admin path. The config.php file contained my value as the admin path.

I've made a lot of diff in the last 45 minutes and could not find a single line that would explain this change in 2.6.4.

I could not find any code that replaces the path in the .htaccess file tho.... And that's the only thing nee

[2015-11-30 22:47] nitriques commented on #2522
This does not helper either.. https://github.com/symphonycms/symphony-2/commits/master/install/includes/htaccess.txt

[2015-11-30 22:49] nitriques commented on #2415
@michael-e was it working in 2.6.3 ?

[2015-11-30 22:52] nilshoerrmann commented on #2521
My guess are missing date settings in the config.

[2015-11-30 22:56] nitriques commented on #2521
Thanks Nils. @animaux BTW, which calendar are you talking about ? The one in the filter panel ?

[2015-11-30 22:59] munki-boy commented on #2522
@nitriques yes it didn't write the custom admin path in .htaccess in two places I can find.

[2015-11-30 23:08] munki-boy commented on #2522
Does work fine in 2.6.3 clean install. As usual I'm on win x64 WAMP :)

[2015-12-01 07:25] animaux commented on #2521
@nilshoerrmann this is on a fresh installation of 2.6.3 updated to 2.6.4 shouldn’t the date settings be there in the config then? I’ve got:

		###### REGION ######
		'region' => array(
			'time_format' => 'H:i',
			'date_format' => 'd. F Y',
			'datetime_separator' => ', ',
			'timezone' => 'Europe/Berlin',
		),
		########

and

		###### LANG-GERMAN-STORAGE ######
		'lang-german-storage' => array(

[2015-12-01 08:26] nilshoerrmann commented on #2521
The German localisation changes the core date settings from English to German formats. I remember having the problem that this leaded to missing date settings under certain circumstances I never investigated. Because the `data-format` attribute was missing in your example markup, this was my first guess. But I actually have no idea why it doesn't work.

The interesting part is that the `data` attr

[2015-12-01 10:25] michael-e commented on #2415
No, it doesn't work on 2.6.3 either. (No, I don't understand why — the logic is pretty much the same.)

[2015-12-01 12:43] michael-e commented on #2415
It's hard to get the message right. Here's my suggestion, any feedback is welcome:

[2015-12-01 14:57] nitriques commented on #2415
@michael-e We are talking about that string right ? https://github.com/symphonycms/symphony-2/blob/master/install/lib/class.installer.php#L278

[2015-12-01 15:00] nitriques commented on #2415
Can you also check in the install log if ALL errors are logged ? Maybe the wrong error message is only a render problem...

[2015-12-01 15:01] nitriques commented on #2521
So I have the feeling like it's not a core problem.... ?

[2015-12-01 15:05] nitriques commented on #2522
I can't find the code that does this in 2.6.3... total mistery..

[2015-12-01 15:06] michael-e commented on #2415
Correct.

You mean the issue with Symphony 2.6? Indeed, with Sym 2.6 I have:

    12/01/2015 11:24 am > Fatal Error: Configuration - MySQL Version is not correct.  detected.

With the integration branch, I have:

    12/01/2015 1:42 pm > Fatal Error: Configuration - Could not establish database connection.

Could it be that MySQL doesn't output the correct error number without PDO (i.e. with Sym 2

[2015-12-01 15:15] nitriques commented on #2415
Maybe... You do not have the other message logged just before ??? I mean, the 'Could not establish database connection.' should still be there in the log before the 'MySQL Version is not correct'...

And on a related note, I would try to stop the installer from getting the version if the connection did not succeed.. that's why the version is missing.

[2015-12-01 15:20] nilshoerrmann commented on #2521
If field settings were translated, it would be a core issue. The German localisation only provides the German strings and changes the date formats. So there are 3 potential issues:

- damaged date and time settings (caused by the extension)
- strings that shouldn't be translated, are translated (core issue)
- strings that should be translated, are not translated (core issue)

Looking at Alex' pref

[2015-12-01 15:39] nitriques commented on #2521
As far as the core goes, Widget::Calendar relies on DateTimeObj (https://github.com/symphonycms/symphony-2/blob/master/symphony/lib/toolkit/class.widget.php#L869). DateTimeObj only calls __() for errors.

Does the extension overrides values in $date_mappings or $time_mapping properties of DateTimeObj  ?

[2015-12-01 15:49] michael-e commented on #2415
No, the other (correct) message has not been logged!

Can you try and test this yourself, maybe?

[2015-12-01 15:55] munki-boy commented on #2522
In symphony\lib\boot\bundle.php:

lines under "// Handle custom admin paths, #702" are different, is it there?

[2015-12-01 15:59] munki-boy commented on #2522
Swapping those lines from 2.6.3 to 2.6.4 does fix the problem while both sites are already installed.  I'm not able to see if that causes other problem.

[2015-12-01 16:30] nitriques commented on #2522
Yes but they should do the same thing... that's VERY weird... Also, it's not htaccess related...

So the htaccess rewrite do contains your custom path ?

[2015-12-01 16:31] nitriques commented on #2415
Will do, just can't right now... Thanks for your info as this will help me a lot if I have the same or different things

[2015-12-01 16:38] munki-boy commented on #2522
The .htaccess doesn't contain my custom path in this test and AFAIK it's not supposed to change in the .htaccess

Under 2.6.3 you can visit custom path with the standard .htaccess that only shows the standard path rewrites.

Here is my current 2.6.4 that is working with the 2.6.3 version of // Handle custom admin paths, #702 code.

    ### ADMIN REWRITE
    RewriteRule ^symphony\/?$ index.php?mode

[2015-12-01 16:44] munki-boy commented on #2522
Something's wrong when I login though....  wait a minute...

[2015-12-01 16:51] munki-boy commented on #2522
Since I made the code change 2.6.4 is asking to upgrade from 2.6.3 to 2.6.4 very weird, I'm going to do a quick 2.6.4 re-install to be sure.

[2015-12-01 16:57] munki-boy commented on #2522
FF cache? not sure what happened but yes I can definitely confirm the 2.6.3 code does the fix as I described above.  Here's a screen grab with working backend on custom path "admin".
![screen](https://cloud.githubusercontent.com/assets/4517581/11507576/8aaec350-984c-11e5-9853-957f2a0e0fa0.jpg)

:)

[2015-12-01 17:03] nitriques commented on #2522
Ok thanks a lot @munki-boy I'll check this ASAP.

[2015-12-01 17:05] munki-boy commented on #2522
Thanks @nitriques for all your work :+1:

[2015-12-01 17:05] nitriques commented on #2522
My pleasure, thanks for debugging this with me.

And just to be sure, we are talking about those line right ?

![image](https://cloud.githubusercontent.com/assets/771169/11507832/e18ea704-9823-11e5-86b6-e725f8041ef3.png)

[2015-12-01 17:06] nitriques commented on #2522
Does it enters the if statement ?

[2015-12-01 17:12] munki-boy commented on #2522
This is the block in 2.6.3

![code](https://cloud.githubusercontent.com/assets/4517581/11507994/86c0c4b2-984e-11e5-988d-d34c86a4aef3.jpg)

[2015-12-01 17:12] munki-boy commented on #2522
If you copy it and overwrite the same block in 2.6.4 it works - still I don't know why it changed or if it will cause another problem elsewhere.

[2015-12-01 17:14] nitriques commented on #2522
I would crash the system completely if you pass a nicely crafted url... see #2504

[2015-12-01 17:16] munki-boy commented on #2522
Safely in localhost for now :)

[2015-12-01 17:18] munki-boy commented on #2522
What about the installer does edit the .htaccess to the custom path?  Also makes default path unavailable when custom path is chosen. Better for security?

[2015-12-01 17:21] nitriques commented on #2522
From what I can see in the code, I never did: everything was handled by php...

I think I would, but the possibility that it crashed your .htaccess file is high...

[2015-12-01 17:25] munki-boy commented on #2522
Oh yes, because the admin path is available to edit anytime in the config.php and not just at install time.

[2015-12-01 17:35] munki-boy commented on #2522
The if statement in 2.6.3 evaluates to 0 and in 2.6.4 it evaluates to 1 so if block doesn't run in 2.6.4?

[2015-12-01 17:44] munki-boy commented on #2522
No, that depends on a custom path set or not...

[2015-12-01 17:58] munki-boy commented on #2522
I think there's an extra '/' before custom path in 2.6.4 that makes the if block not run.

        var_dump(getCurrentPage());
        var_dump($_GET['symphony-page']);die;

string '/admin/' (length=7)

string 'admin/' (length=6)

[2015-12-01 18:04] nitriques commented on #2522
Damn! You found it ! At least, it's not my fault hahaha https://github.com/symphonycms/symphony-2/blame/cd6ee3adf51881f9e540011d806531121111534b/symphony/lib/boot/func.utilities.php#L82

It's really important to use superglobals less and less... So I'll check every calls to `getCurrentPage()` introduced in 2.6.4, Thanks!

[2015-12-01 18:05] nitriques commented on #2522
Well it kind of is my fault tho.. ;)

[2015-12-01 19:24] munki-boy commented on #2522
Hey, did I just 'contribute' :)

[2015-12-01 19:33] nitriques commented on #2522
You certainly did!

[2015-12-02 03:39] brendo commented on #2522
Good debugging guys!

[2015-12-02 03:39] brendo commented on #2521
Also, what is the last known good version of Symphony where this functionality worked?

[2015-12-02 07:27] animaux commented on #2521
Thanks guys. No message in console.

The problem must be somewhere else. I have an installation of `Symphony 2.6.3` with `Language German 2.2.0` that works fine. Weird. Maybe some other extension interfering. Will try the old extension-deactivation-game …

[2015-12-02 07:39] animaux commented on #2521
Ok, solved. I have switched the setting from

    ###### REGION ######
    'date_format' => 'd. F Y',

to

    'date_format' => 'j. F Y',

and

    ###### LANG-GERMAN-STORAGE ######
    'date_format' => 'd.m.Y',

to

    'date_format' => 'd F Y',

Resulting in a working calendar popup. I remember there was some talk about the calendar date formats some time ago. The result was a console message li

[2015-12-02 08:40] nilshoerrmann commented on #2521
The installer and the calendar make use of the same set of predefined formats:
https://github.com/symphonycms/symphony-2/blob/master/symphony/lib/core/class.datetimeobj.php#L29-L44

If that's not true, that's the actual bug you are hunting.

[2015-12-02 10:17] animaux commented on #2521
Hmm. My uneducated guess is the calendar chokes on the interpretation of a literal date translated to german.

[2015-12-02 10:51] nilshoerrmann commented on #2521
Could you please elaborate?

[2015-12-02 10:57] animaux commented on #2521
Obviously the Calendar can interpretate the `<input value="25.11.2016 12.00">` (in case it actually looks there). But probably chokes on the translated `<input value="25. November 2016, 12.00">` because it’s the right format but german?

Hmn, thinking of it that only makes half sense since `November` should be the same in german and english. I’m lost here …

[2015-12-02 11:11] nilshoerrmann commented on #2521
I don't know if this changed in the meantime, but Symphony originally bundled Moment.js with locals.
The important question is: Why are `data-calendar` and `data-format` missing in combination with certain format settings.

Symphony needs to know the values of `data-format` in order to parse dates for the calendar widget.

I've not used the calendar for quite a while so I'm not really into it anym

[2015-12-02 13:12] animaux commented on #2521
Good point!

[2015-12-03 12:06] brendo opened #2523 "Potential crash when rotating a log file due to initialisation order"
I suddenly had a site today go down with a PHP warning about setting the default timezone. It was quite odd because the site was working fine until a random refresh.

I discovered that as the `bundle.php` uses static Symphony methods to set the configuration, start the error handler, database and extension manager, we actually aren't invoking Symphony's constructor until later on. This means the d

[2015-12-03 12:06] brendo commented on #2523
@nitriques Let me know what version you'd like me to target for this and I can make the necessary changes.

[2015-12-03 19:36] cmnstmntmn commented on #2522
does 2.6.4 branch will get fixed or, will land, later, in 2.6.5 ?

[2015-12-04 03:21] brendo commented on #2522
It'll land in 2.6.5, 2.6.4 will be swiftly replaced.

[2015-12-04 13:54] cmnstmntmn opened #2524 "2.6.3 XSRF filter does not generate any token in incognito window"
it works, if i'm logged in, and it breaks right after i log out.

[2015-12-04 18:49] michael-e commented on #2524
This is a duplicate of #2173.

[2015-12-06 19:04] nitriques commented on #2521
Because it does not find the format: https://github.com/symphonycms/symphony-2/blob/master/symphony/lib/toolkit/class.widget.php#L869

Question: @animaux Does the calendar works if you get rid of the `if ($date) {` statement ?

[2015-12-06 19:07] nitriques commented on #2523
@brendo This would need to wait until #2509 is merged. I was hitting similar problems with things being 'not initialised' for some time.

The `Symphony::boot` proposal is great, but would also mean the we need to target this to 2.7.0

[2015-12-06 19:56] nitriques commented on #2522
He indeed beat both of us :) I'am working on the fix right now

[2015-12-06 20:10] nitriques commented on #2522
Based on the diff between [2.6.3 and 2.6.4](https://github.com/symphonycms/symphony-2/compare/2.6.3...2.6.4) The only place where we need patching is in [the bundle](https://github.com/symphonycms/symphony-2/compare/2.6.3...2.6.4#diff-0b4d9877953cc72392c6f1986b21503dR34)

[getCurrentPage()](https://github.com/symphonycms/symphony-2/blob/cd6ee3adf51881f9e540011d806531121111534b/symphony/lib/boot/fu

[2015-12-06 20:30] nitriques commented on #2522
Please check the commit message ! Thanks again @munki-boy !

[2015-12-06 21:00] munki-boy commented on #2522
Thanks @nitriques I'm going to look now :)

[2015-12-07 00:59] brendo commented on #2523
There is a quick fix that can be implemented for a 2.6.5, simply move the date constant settings from the constructor to the `initialiseConfiguration` method call. I can submit a PR for this if you like?

[2015-12-07 12:26] animaux commented on #2521
@nitriques getting rid of the statement you mentioned makes the calendar open. But it displays the current date and not the date actually set in the field. Looks like it defaults since it cannot find or read the actual date.

[2015-12-07 12:46] nilshoerrmann commented on #2521
There are two things you should do:

1. Make sure that [this statement is logged in the console](https://github.com/symphonycms/symphony-2/issues/2306#issuecomment-69198634) using your initial date format (`d. F Y`).
If it's not, that's a bug.
2. Add the formats `'d. F Y' => 'DD. MMMM YYYY'` and `'d. M Y' => 'DD. MMM. YYYY'` [to the date mapping](https://github.com/symphonycms/symphony-2/blob/mast

[2015-12-07 12:51] animaux commented on #2521
1. No statement when using the initial date format.

2. Adding the two formats fixes the issue!

[2015-12-07 12:55] nilshoerrmann commented on #2521
1. So this is the actual bug that needs to be fixed.
2. Great! Just bundle that in a pull request.

[2015-12-07 13:08] animaux commented on #2521
I’m not allowed to send a pull request :’(

[2015-12-07 13:09] nilshoerrmann commented on #2521
How's that possible?

[2015-12-07 13:11] animaux commented on #2521
Maybe I’m doing it wrong … or *likely*.

[2015-12-07 13:18] animaux commented on #2521
Ah yes, I think I remember to do it properly :)

[2015-12-07 13:21] animaux commented on #2521
https://github.com/symphonycms/symphony-2/pull/2525

[2015-12-07 15:37] nitriques commented on #2522
@munki-boy Thanks! Please report any bugs :+1:

[2015-12-07 16:15] munki-boy commented on #2522
I did give it a quick try and seems to work ok.  I'm not actually using it in production, just thought I'd try to squash a bug with you. Just learning stuff :+1:

@cmnstmntmn might give it a proper test?

[2015-12-07 16:23] nitriques commented on #2522
Thanks!

[2015-12-07 16:25] nitriques commented on #2521
Thanks @animaux !

[2015-12-07 16:27] nitriques commented on #2521
Fixed in #2525

[2015-12-07 16:27] nitriques commented on #2523
Yes please !

[2015-12-08 03:49] brendo commented on #2522
Just a sidenote that this _shouldn't_ have any side effects. With PHP5.2 support, this change would of caused issues as PHP 5.2 could not derive a date from an unknown format.

[2015-12-08 07:15] animaux commented on #2521
As @nilshoerrmann mentioned the bug remains: no warning is issued in the console if the format used is incompatible with the calendar.

[2015-12-08 14:34] nitriques commented on #2521
That's true.. Should we add it ? I just do not know how: since the data attribute is not there, the plugin won't run at all.

[2015-12-08 14:35] nitriques commented on #2522
@brendo wrong issue ? This is not date related...

[2015-12-09 07:54] animaux commented on #2521
@nilshoerrmann should know when or how this should be triggered. I’ve no idea.

[2015-12-09 08:21] brendo commented on #2521
It *should* be triggered when the [`data-format` attribute is `undefined`](https://github.com/symphonycms/symphony-2/blob/master/symphony/assets/js/src/symphony.calendar.js#L19-L26). Let me take a quick look and see if I can reproduce this, it may be that this attribute is actually returning a value.

[2015-12-09 08:29] brendo commented on #2521
Interestingly, I can't reproduce this by setting my date format to `d. F Y` on `2.6.x` with that format commented out, the console is populated as shown in the screenshot below:

![Chrome](https://cloud.githubusercontent.com/assets/69268/11680203/39bef922-9ea2-11e5-8286-390903ea42fc.png)

![Firefox](https://cloud.githubusercontent.com/assets/69268/11680252/921e4adc-9ea2-11e5-87fe-da1ec6490f8f.png)

[2015-12-09 08:30] animaux commented on #2521
@brendo You need to have lang_german installed and system language set to german. I’ve tested on Safari 9.

[2015-12-09 08:36] brendo commented on #2521
Done, still cannot reproduce, I've copied the values as [described here](https://github.com/symphonycms/symphony-2/issues/2521#issuecomment-160881347):

![screen shot 2015-12-09 at 6 36 48 pm](https://cloud.githubusercontent.com/assets/69268/11680375/84d9023a-9ea3-11e5-8ec8-e0b7db476b31.png)
![screen shot 2015-12-09 at 6 36 07 pm](https://cloud.githubusercontent.com/assets/69268/11680376/85042104-

[2015-12-09 08:42] animaux commented on #2521
@brendo do you have the https://github.com/symphonycms/symphony-2/pull/2525 already running?

[2015-12-09 18:50] andrewminton opened #2528 "$arguments has extra '...' characters on integration"
I'm guessing these '...' characters should not be in the code?

https://github.com/symphonycms/symphony-2/blob/integration/symphony/lib/toolkit/class.database.php#L105

and

https://github.com/symphonycms/symphony-2/blob/integration/symphony/lib/toolkit/class.database.php#L147

and

https://github.com/symphonycms/symphony-2/blob/integration/symphony/lib/toolkit/class.database.php#L157

After insta

[2015-12-09 18:52] nitriques commented on #2528
Hum... @brendo  ?

[2015-12-09 23:22] brendo commented on #2521
Not really, I'm using `2.6.x` as the base, but I have commented out the two formats added in #2525.

Is it just Safari that doesn't have the message? Might the Console be on the 'Errors' tab instead of 'All'?

[2015-12-09 23:27] brendo commented on #2528
That my friends is the splat operator, aka [variadic functions](http://php.net/manual/en/migration56.new-features.php#migration56.new-features.variadics) available in PHP 5.6.

Integration was going to target PHP 5.6+ (a just move given that PHP 7 is now released).

[2015-12-10 07:38] andrewminton commented on #2528
Thanks for info. Just thinking about the release cycle and the adoption of php 5.6 out in the wild. Is it worth some sort of fallback?

[2015-12-10 08:11] animaux commented on #2521
D’oh! You’re right @brendo it’s no error and I had my console set to only show errors. This resets with every bloody Safari update, grrrrr!

Many thanks, I’m closing this! :D

[2015-12-10 08:11] #2521 closed

[2015-12-10 12:25] brendo commented on #2521
Woohoo, I'm glad it was something simple in the end :dancer:

[2015-12-10 12:29] animaux commented on #2521
And I’m ashamed it wasn’t a bug in the end :{

[2015-12-10 23:26] brendo commented on #2521
Don't be ashamed, always good to double check!

[2015-12-11 08:28] animaux commented on #2521
Cheers! I’ll blame Safari’s ever changing web inspector then :)

[2015-12-12 13:30] twiro opened #2529 "Installation: The default area for the default author shouldn't be "null""
While doing a fresh install of Symphony the first (default) author is created without the option to choose a "default area" that he's forwarded to after login.

So in "sym_authors" the row "default_area" simply says "null" after installation.

In my opinion this should be replaced with "/blueprints/sections/" because apart from the installation process the option to not have a default area isn't c

[2015-12-12 13:53] brendo commented on #2529
This change potentially means code can be removed from `Administration::__buildPage` which contains the logic for resolving the default section.

It was a best effort and wasn't meant to be annoying :)

[2015-12-12 15:44] twiro commented on #2529
You're speaking about [these lines](https://github.com/symphonycms/symphony-2/blob/2.6.x/symphony/lib/core/class.administration.php#L155-L161), right?

Should I update my PR by also fixing this part or would you recommend to not change the behavior at all, but rather it's misleading representation in the UI? Which would mean allowing the **Default Area**-Selectbox in the **Login Details** of the A

[2015-12-13 21:27] nitriques commented on #2528
At this stage, I do not think so!

[2015-12-13 21:27] #2528 closed

[2015-12-13 21:29] nitriques commented on #2521
@brendo Do we need to revert 8cbec80 then ?

[2015-12-13 21:33] nitriques commented on #2529
Hum... I think we should still retain the default behaviour since ensembles may rely on it.

But yeah, redirecting to the section index would be ok too I guess.

Yes why not.

[2015-12-13 21:34] brendo commented on #2521
No, it's good :)
On 14 Dec 2015 7:29 AM, "Nicolas Brassard" <notifications@github.com> wrote:

[2015-12-13 22:46] nitriques commented on #2521
Great, thanks!

[2015-12-14 01:02] AeonFr opened #2531 "404 on all pages except index page... ?"
I've just finished installing symphony on my localhost on ubuntu. I grabbed the code from this repository and then proceed as it's instructed in the [install symphony](http://www.getsymphony.com/learn/tutorials/view/install-symphony/) tutorial (I also cloned the default workspace from github).

Now, when the installation got finished a message appeared saying... would you like to access your admin

[2015-12-14 10:04] michael-e commented on #2531
In your Apache configuration, you should have `Options -Indexes` and `AllowOverride all`, e.g.:

	<Directory /var/www/www.example.com/>
		Options -Indexes
		AllowOverride all
		Order allow,deny
		Allow from all
	</Directory>

(On shared hosts, these are standard.)

[2015-12-14 17:09] nitriques commented on #2531
This is the default behavoir of Apache. Like @michael-e said `Options -Indexes` in the htaccess should fix the problem.

Can you show us the content of your .htaccess file ?

[2015-12-14 18:58] AeonFr commented on #2531
Hi, my apache config already had the AllowOverride set to All
[code]

Here's my _.htaccess_
[code]
Symphony is installed on /short_stories/symphony (relative to DocumentRoot)

[2015-12-14 19:19] michael-e commented on #2531
Glad that you figured it out!

[2015-12-14 19:19] #2531 closed

[2015-12-14 19:43] nitriques commented on #2531
Great!

[2015-12-15 13:01] twiro opened #2532 "Unify the styling of non-editable fields (simple label+value-pairs) in the publish area"
While [updating](https://github.com/symphonists/system_date_fields/pull/14) the "**System Date Fields**" extension the question came up how a field that only exists out of a label and an uneditable (and short) value should be properly styled.

![screen shot 2015-12-15 at 13 56 58](https://cloud.githubusercontent.com/assets/870227/11811148/f94e4f8c-a333-11e5-9b18-0ea61b95da3d.png)

There seems to b

[2015-12-15 14:16] twiro commented on #2529
How would Ensembles be affected?

Even if we'd remove the [abovementioned lines](https://github.com/symphonycms/symphony-2/blob/2.6.x/symphony/lib/core/class.administration.php#L155-L161) the only thing that might happen - if an older symphony installation gets updated and the default author never actively chose a default area - is that after login he no more is forwarded to the alphabetical first

[2015-12-15 17:50] nitriques commented on #2532
Yeah go ahead for solution C.

It's only a matter of adding a new css class right ? And extension will be able to build on that ?

[2015-12-15 17:55] nitriques commented on #2529
Nevermind, authors are not in ensembles.

We should update the database in that case. I do not think we need to do it for upgrades, but new install should not allow for null in that column.

Do you want to add new commits to #2530 in order to remove the lines ? This must wait for 2.7.x tho.

[2015-12-16 02:32] nonozone opened #2533 "Request was rejected for having an invalid cross-site request forgery token. Please go back and try again. in PHP7.0"
I just recently upgraded to php7.0, install a new symphonycms, when I login the backgend, after I enter the account and  password,it notice:

[code]

And,I had added this code in config.php,but the problem has not been solved

[code]

Debian 8/PHP7.0-FPM/Mysql-server-5.5

[2015-12-16 03:47] nitriques commented on #2533
Right now, php 7.0 is not supported (I never tester it)

Coud you try setting `'enable_xsrf' => 'no',` in the symphony section of the config.php file ?

[2015-12-16 03:53] nonozone commented on #2533
I set ```'enable_xsrf' => 'no' ```,and I enter the username and passwd,there is no error, but can not log in the backend.

[2015-12-16 03:54] nitriques commented on #2533
Any errors in your error_log file ? Or in symphony's logs ?

[2015-12-16 03:54] nitriques commented on #2533
And are you running 2.6.4 (latest master branch) ?

[2015-12-16 03:56] nonozone commented on #2533
in  logs/main
···

105 12/16/2015 11:50 am > User Notice: FrontendPageNotFoundException 1024 - The page you requested, <code>/favicon.ico/</code>, does not exist. on line 328 of /srv/www/n.fob.im/public_html/symphony/lib/toolkit/class.frontendpage.php
106 12/16/2015 11:50 am > Warning: GenericErrorHandler 2: session_decode(): Session is not active. You cannot decode session data on line 198 of fil

[2015-12-16 03:59] nitriques commented on #2533
This is the problem. You should stick to php 5.6 for now in order to use symphony...

[2015-12-16 04:15] nonozone commented on #2533
It does not matter, this is just my local testing.

[2015-12-16 05:33] brendo commented on #2533
Keep in mind that [there are several](http://php.net/manual/en/migration70.incompatible.php) backwards compatible changes that will need to be made to the Symphony codebase so that it's PHP 7 compatible.

I might have a poke around at doing this over the Xmas/New Year break out of curiosity.

[2015-12-16 08:47] twiro commented on #2532
Great - will do so tomorrow!
You already have a date in mind for releasing 2.6.5?

Exactly. One additonal class that offers the shown styling and can be adopted by all extensions that display simple & uneditable label/value-pairs.

I guess this has to go in [symphony.forms.css](https://github.com/symphonycms/symphony-2/blob/master/symphony/assets/css/src/symphony.forms.css) and might share most of

[2015-12-16 15:33] nitriques commented on #2532
I would try to do it tomorrow... (thursday)

Right!

[2015-12-16 15:34] nitriques commented on #2533
@brendo Thanks!

We should then updates the website with

`PHP 5.3 through 5.6`

And the readme too. Right ?

[2015-12-16 15:40] nitriques commented on #2529
@twiro ping! :)

[2015-12-16 23:08] brendo commented on #2533
Yeah, that's a good idea, would probably save some heartache for new developers.

[2015-12-17 09:50] twiro commented on #2532
Hey Nicolas - will be back at work at around 3am (GMT) and take care of this!

[ von unterwegs ]

[2015-12-17 18:49] nitriques commented on #2533
Great. I think I can update it with my new acces ? :) It's not in the backend right ?

[2015-12-17 18:51] nitriques commented on #2532
Thanks!

[2015-12-18 15:08] michael-e opened #2535 "Create 2.6.5 release"
AFAIK, there have been some important bugfixes in the 2.6.x branch. I suggest to release Symphony 2.6.5

[2015-12-21 10:26] twiro commented on #2499
I tried to fix this, but stumbled upon a bigger conflict along the way:

---

### A) Trying to fix the field

Number-field defines the "between"-filter [in these lines](https://github.com/symphonycms/numberfield/blob/master/fields/field.number.php#L230-L237). As described above this doesn't work because the `filter`-value `x to y` gets included in the URL when using the between-comparison.

As fil

[2015-12-21 11:03] twiro commented on #2529
I was wrong about that - It might not be the common case, but for sure a developer can create authors before creating the first section. In that case the "default area"-selectbox gets deactivated and the value in the database will be "null".

If after that a section is created and the author revisits his author settings it will tell him that the first section is his "default area" - though in fact

[2015-12-21 21:01] twiro commented on #2535
+1 for a 2.6.5-release for christmas :)

@nitriques - do you think about updating [**export ensemble**](https://github.com/symphonycms/export_ensemble/issues/22) before releasing a new version/bundle? Thank you!

[2015-12-24 16:01] tigerboy07 opened #2536 "Symphony CMS 2.6.4 – Multiple SQL Injection Vulnerability"
[SQL Injection.txt](https://github.com/symphonycms/symphony-2/files/71824/SQL.Injection.txt)

[2015-12-24 18:09] michael-e commented on #2536
Next time please inform the team (team@getsymphony.com) before posting vulnerabilities publically.

[2015-12-24 18:24] tigerboy07 commented on #2536
Hi michael-e,

I reported bug on www.getsymphony.com/get-support/contact/.

But no reply. So I think reporting on wrong place. Thanks.

On Thu, Dec 24, 2015 at 11:39 PM, michael-e <notifications@github.com>
wrote:

--
Best Regards,

*Sachin Wagh*
Security Consultant
m: +91 75 888 644 81
w:  secur1tyadvisory.wordpress.com

[2015-12-24 22:16] michael-e commented on #2536
Aha, I see. @nitriques and @brendo will surely find out what went wrong.

Thanks a lot for reporting the issue!

[2015-12-24 22:20] brendo commented on #2536
This has been patched in [this commit](https://github.com/symphonycms/symphony-2/commit/7f0ff795cb13995cd1492906bcff7445b43c1f07), it's awaiting release but given the holidays may take a couple of days.

[2015-12-24 22:24] michael-e commented on #2536
Great.

[2015-12-25 06:54] tigerboy07 commented on #2536
Hi michael-e,

Is there any CVE-ID for this. Can you please request for it.

Thanks.

On Fri, Dec 25, 2015 at 3:54 AM, michael-e <notifications@github.com> wrote:

--
Best Regards,

*Sachin Wagh*
Security Consultant
m: +91 75 888 644 81
w:  secur1tyadvisory.wordpress.com

[2015-12-27 22:17] nitriques commented on #2536
No there are not.

No, for 2 reasons:

1. I rather do something else on the project rather then this.
2. The SQL injection is available only to people who can actually log in the CMS, so the risk is minimal.

[2015-12-27 22:17] nitriques commented on #2535
Yes! I planned it before x-mas, but could not afford the time to do it properly.

I will try to do it ASAP.

[2015-12-27 22:19] nitriques commented on #2535
Here are the steps that needs to be made so you guys can follow my progress :)

- [ ] Create a new migration for the new version, eg. 2.6.5 which should implement getVersion and getReleaseNotes methods
- Update the version constant in the project:
- [ ] package.json
- [ ] composer.json
- [ ] .htaccess (optional)
- [ ] install/index.php
- [ ] install/includes/htaccess.txt (optional)
- [ ] LICENCE (

[2015-12-27 22:22] nitriques commented on #2529
Please submit when ready ! 2.7.x will continue where 2.6.x left off, so either way the merge can happen. Thanks!

[2015-12-27 22:25] nitriques commented on #2499
I think that's the best idea.

[2015-12-27 23:51] brendo commented on #2536
There's been a bit of a communication breakdown with this one mainly because the exploit had been found by two separate parties at the same time.

One was for the SQL injection of the `username`

[2015-12-27 23:55] brendo commented on #2535
Let me know if you want a hand with this. We need to get this out ASAP.

[2015-12-28 07:09] tigerboy07 commented on #2536
Hi Brendan,

*action[save]* parameter is also vulnerable.Tested for 2.6.3

Parameter: action[save] (POST)
    Type: boolean-based blind
    Title: AND boolean-based blind - WHERE or HAVING clause
    Payload:
xsrf=tsQYrHSsj7iDQFfZcfAcBMiWImQ&fields[first_name]=sachin&fields[last_name]=sachin&fields[email]=
sachin12@mail.com
&fields[username]=sachinnn123&fields[user_type]=author&fields[password]=sa

[2015-12-28 07:15] tigerboy07 commented on #2536
Yes. It is authenticated SQL Injection.

But its may possible to collect other user authentication detail such as
username,password hash.

Thanks.

On Mon, Dec 28, 2015 at 3:47 AM, Nicolas Brassard <notifications@github.com>
wrote:

--
Best Regards,

*Sachin Wagh*
Security Consultant
m: +91 75 888 644 81
w:  secur1tyadvisory.wordpress.com

[2015-12-28 20:02] nitriques commented on #2535
I should be ok with most of it thanks! The biggest problem is with the current download button on getsymphony.com which always points to the master branch (instead of the uploaded version)

[2015-12-28 20:02] nitriques commented on #2535
@brendo Could you generate and upload the doc for 2.6.4 since I can't do it ? And maybe the same for 2.6.5 .. ?

[2015-12-28 20:12] nitriques commented on #2536
@tigerboy07 Yeah you are right, it is still an issue.

And I do not see where *action[save]* parameter is also vulnerable. What output do you have ?

[2015-12-28 20:15] nitriques commented on #2536
Can't reproduce the issue with action[save] with this payload.

[code]

The action post key is never sent to the database, nor is it outputted back to the user.

[2015-12-29 03:56] brendo commented on #2535
Done for 2.6.4. I'll do 2.6.5 once it's released.

[2015-12-29 03:57] brendo commented on #2535
Don't stress about this. No one has noticed it for several years!

[2015-12-29 06:44] tigerboy07 commented on #2536
Hi Nicolas,

Submitted detail on team@getsymphony.com.

Please have a look.

Thanks.

On Tue, Dec 29, 2015 at 1:45 AM, Nicolas Brassard <notifications@github.com>
wrote:

--
Best Regards,

*Sachin Wagh*
Security Consultant
m: +91 75 888 644 81
w:  secur1tyadvisory.wordpress.com

[2015-12-29 08:56] diomed commented on #2535
what do you think about updating moment.js which is currently on v. 2.10.6 while symphony still has 2.9.0
https://github.com/symphonycms/symphony-2/blob/master/symphony/assets/js/lib/moment.min.js

[2015-12-29 11:22] brendo commented on #2535
I think it's a good idea so long as there are no breaking changes
On 29 Dec 2015 6:56 PM, "Kruno H" <notifications@github.com> wrote:

[2015-12-30 12:00] michael-e commented on #2497
Isn't this a bugfix, so shouldn't we try to get it into Symphony 2.6.5?

[2015-12-31 00:58] nitriques commented on #2497
Yes it can.

[2015-12-31 00:59] nitriques commented on #2536
@tigerboy07 Thanks. You check the git logs for my email :)

@brendo Can you please forward it to me ?

[2015-12-31 01:00] nitriques commented on #2535
@diomed Yes it will be done, but not in a patch release ;) Thanks!

There isn't ;)

[2015-12-31 01:00] nitriques commented on #2535
@brendo Thanks for the docs :rocket:

[2015-12-31 03:06] munki-boy commented on #2535
Sorry it was me again, spotted it while downloading a copy then mentioned it on Gitter. No hassle ;)

[2015-12-31 03:21] nitriques commented on #2535
@munki-boy No we found it before you hahaha ;)

[2015-12-31 03:58] tigerboy07 commented on #2536
Sure Nicolas.  :) :)

On Thu, Dec 31, 2015 at 6:29 AM, Nicolas Brassard <notifications@github.com>
wrote:

--
Best Regards,

*Sachin Wagh*
Security Consultant
m: +91 75 888 644 81
w:  secur1tyadvisory.wordpress.com

[2015-12-31 09:24] michael-e commented on #2497
@jensscherbl: Do you have time to code the proposed solution (preference setting)? I am not sure if I can do it, so maybe we'd have to push it into a later release otherwise.

[2015-12-31 11:14] michael-e commented on #2497
I took a look. It will be a a bit tricky, and we will have to rename some variables (like `$options['local_ip']` or `$this->_ip`) for a proper solution. I may try and implement it, but I am not sure how fast I will be.

@nitriques: Don't wait for this PR if 2.6.5 is ready to be released. We can still implement it in 2.6.6 or 2.7.

[2015-12-31 12:37] jurajkapsz opened #2537 "XSLT-based backend"
As @michael-e [mentioned here](https://github.com/symphonycms/members/pull/274#issuecomment-167992404)

I think there had been some talking about this, but could not find in a quick manner the discussions / issues.
Are there any plans to make the Symphony backend XSLT-based?

Anyway, what's the labour with it?
- Create read-only system data sources?
- Update the backend pages / templating?
- "Clea

[2015-12-31 12:58] bernardodiasc commented on #2537
Hello Juraj, as far as I remember, Nick Dunn made the REST API extension to temporary solve one need that should be a core feature. I think Wordpress did an outstanding work with https://developer.wordpress.com/calypso/ that is basically what was proposed for Symphony, build a solid API and build the Symphony backend upon it.

Not a PHP developer here, just summing up with this information. Cheers

[2015-12-31 13:37] michael-e commented on #2537
I am not sure if this discussion makes sense. Indeed there has been a lot of talking about it, but I never found many friends. :-)

So @nitriques may simply close the issue if he feels that this is not a good topic.

Switching to an XSLT driven backend would mean a lot of work, and I am rather sure that most of the extensions would have to be re-written from scratch. This would really be a breakin

[2016-01-01 19:56] nitriques commented on #2537
This is an old debate :) Haha. I am for it.

Yeah, Micheal's right.

And it was also already done in ["Symphony 3"](https://github.com/symphonycms/symphony-3/blob/master/symphony/content/publish/publish.xsl)

But

That's the mid-term goal. We already talk in depth about abstracting the render layer and diving into the PHP ecosystem with composer. Once we have that, it could be a could idea to crea

[2016-01-01 19:56] #2537 closed

[2016-01-01 20:24] nitriques commented on #2536
Thanks @tigerboy07

[2016-01-01 20:25] nitriques commented on #2497
Perfect. Also, I saw that there are some unused field in the SMTP class, like $to.

[2016-01-01 20:31] tigerboy07 commented on #2536
Welcome :)
Now is it possible to reproduce the issue for action[save] parameter.
On Jan 2, 2016 1:54 AM, "Nicolas Brassard" <notifications@github.com> wrote:

[2016-01-01 20:32] michael-e commented on #2497
Short story: I tried to implement the preferences setting for the HELO hostname today. I don't think that we can fix this without changing/breaking the API. So I suggest 3.0 as the milestone.

Long story (see https://github.com/symphonycms/symphony-2/blob/2.6.x/symphony/lib/toolkit/class.smtp.php#L47-L87): The constructor of the `SMTP` class has `$options['local_ip']`. This would have to be rename

[2016-01-02 17:33] michael-e commented on #2497
I couldn't give up on this. So now I have a suggestion in the "fix-2497" branch in my repo: https://github.com/michael-e/symphony-2/tree/fix-2497. It's just 2 commits, please take a look. @jensscherbl, it would be great ig you could test this on your server.

I will send a PR if you want me to.

[2016-01-02 18:54] nitriques commented on #2536
@tigerboy07 Can you try with the latest code, i.e. [this branch](https://github.com/symphonycms/symphony-2/tree/2.6.x) please ?

[2016-01-02 18:57] nitriques commented on #2497
Agreed.

Thanks!

But regarding [this](https://github.com/symphonycms/symphony-2/compare/2.6.x...michael-e:fix-2497?expand=1#diff-a9c0a15ad4cffad7e0a58a91f12baef7R85) you did retain the old behavior didn't you ? So it could go into 2.6.5 after all!

[2016-01-02 19:03] michael-e commented on #2497
Yes, in the end I did retain old behaviour, so I would send a PR to 2.6.x if it looks OK for you (and @jensscherbl).

[2016-01-02 19:04] michael-e commented on #2497
Or send it right away and make @jensscherbl break it. :-)

[2016-01-02 19:06] nitriques commented on #2497
LGTM ! :shipit: I very like when @jensscherbl breaks things. A good tester does break things.

[2016-01-02 19:14] michael-e commented on #2497
Here it is: https://github.com/symphonycms/symphony-2/pull/2539

[2016-01-03 02:33] brendo commented on #2536
I ran [sqlmap](http://sqlmap.org/) with [this file](https://github.com/symphonycms/symphony-2/files/76474/symphony.txt) using `sqlmap -r symphony.txt --dbms=MySQL 5.7` and the tool reported no errors on the `2.6.x` branch. I hope @tigerboy07 can produce the same result :)

[2016-01-03 14:10] tigerboy07 commented on #2536
Application still giving Databse error. That may lead to SQL injection.

I will provide the POC where its giving Database error.

Thanks.

On Sun, Jan 3, 2016 at 8:03 AM, Brendan Abbott <notifications@github.com>
wrote:

--
Best Regards,

*Sachin Wagh*
Security Consultant
m: +91 75 888 644 81
w:  secur1tyadvisory.wordpress.com

[2016-01-03 23:17] brendo commented on #2535
This needs to go out this week. #2522 is a fairly poor experience for users and with the new year there may be new users evaluating us for the first time. This isn't a great first impression.

[2016-01-04 12:16] jensscherbl commented on #2497
Sorry guys, no longer using Symphony in my current project (in favour of some old school custom coding after a rough Symphony based prototype), so no time to contribute at the moment.

[2016-01-04 12:18] michael-e commented on #2497
Never mind, it has already been pulled. Fingers crossed! (Well, I tested it.)

[2016-01-04 16:26] michael-e commented on #2497
@nitriques: The new email setting should be mentioned in the release notes.

[2016-01-04 17:42] tigerboy07 commented on #2536
Hi Brendo,

I have submitted detail on team@getsymphony.com. Please have a look.

Thanks.

[2016-01-05 08:50] andrewminton commented on #2522
Would this account for issues I experienced with 2.6.4 using a custom admin url? I set it to 'manage' instead of 'symphony' on the install page and didn't get redirected but saw an error page stating that the page did not exist.

[2016-01-05 16:20] munki-boy commented on #2522
@andrewminton Yes that's the bug we found, just grab @nitriques patched version and it works fine.

[2016-01-07 15:23] nitriques commented on #2536
@tigerboy07 please send it to me too, I'll take a look asap.

[2016-01-07 15:24] nitriques commented on #2497
Yes totally.

[2016-01-07 15:25] nitriques commented on #2535
@brendo I'd like to do it tomorrow. I've been busting my ass on some bugs in clients projects since the beginning of 2016 which delayed this. If you feel like it's urgent and want to do it, please go ahead.

[2016-01-07 16:25] tigerboy07 commented on #2536
I have submitted detail on team@getsymphony.com.

Thanks.

On Thu, Jan 7, 2016 at 8:53 PM, Nicolas Brassard <notifications@github.com>
wrote:

--
Best Regards,

*Sachin Wagh*
Security Consultant
m: +91 75 888 644 81
w:  secur1tyadvisory.wordpress.com

[2016-01-08 10:44] twiro commented on #2529
Updated my PR!

[2016-01-08 16:11] twiro commented on #2499
Thought about this a little more and came to the conclusion that it might not be such a great idea to introduce a new filtering syntax _(may it only be one additional word in the url parameters)_ just for fixing a shortcoming in the publish filtering interface.

I've set up a [branch](https://github.com/twiro/symphony-2/tree/publish-filter-data-attributes) to play around with this and came up with

[2016-01-08 19:29] nilshoerrmann commented on #2499
Sorry guys, I won't be of any help here. Haven't thought about this stuff since it landed in the core …

[2016-01-08 22:00] nitriques commented on #2499
@twiro It's an interesting solution but I really hate those pesky hard coded indexes ($comparisons[$key][0] = $comparison[2];) has it is error-prone. Can we structure the data in a better way ?

[2016-01-08 22:11] #2501 closed

[2016-01-08 22:11] #2522 closed

[2016-01-08 22:11] #2497 closed

[2016-01-08 22:12] nitriques commented on #2535
@brendo It's out! Would you mind generating the doc and uploading it please ?

[2016-01-08 22:19] nitriques commented on #2532
Merge and release with [2.6.5](https://github.com/symphonycms/symphony-2/releases/tag/2.6.5)

[2016-01-08 22:19] #2532 closed

[2016-01-08 22:22] #2503 closed

[2016-01-08 22:26] nitriques commented on #2536
Still not able to reproduce. I can't even find a place where action param in sent to the database.

@tigerboy07 Are you injecting null bytes into the payload ? I tried with it and nothing...

[code]

[2016-01-08 22:44] nitriques commented on #2535
It's out! http://www.getsymphony.com/download/releases/version/2.6.5/

[2016-01-08 22:51] michael-e commented on #2535
Great, thank you very much!

[2016-01-08 22:54] nitriques commented on #2535
My pleasure :)

[2016-01-11 14:54] michael-e opened #2540 "Include Core Email API docs in Symphony Wiki?"
A long time ago I started this: https://github.com/michael-e/core-email-api-docs

@nitriques, what do you think about including these in the Wiki? (I think that meanwhile only the "developer-documentation" file is interesting, the rest might be thrown away.)

Or should we transfer the whole repo to the Symphony owner?

[2016-01-11 19:31] twiro commented on #2499
Thanks for your feedback guys!

I hope so - actually It looks a lot cleaner to build the intended array directly in the `createFilterComparisons`-function:

https://github.com/symphonycms/symphony-2/compare/master...twiro:publish-filter-data-attributes?expand=1

The resulting markup is the same as before (see screenshot above), so this should work as well.
Does this look ok to you?

[2016-01-11 20:55] twiro commented on #2535
Thank you very much for releasing 2.6.5 Nicolas...

...and updating **export ensemble** especially for me ;)
I do hope others benefit as well :)

[2016-01-12 02:25] nitriques commented on #2535
Hehehe I like to make things personal ;)

[2016-01-12 02:39] nitriques commented on #2499
I does looks better!

But I still do not understand why we need to change the value of the select element since we do not use it as POST value but only read from it in javascript (I am maybe missing something here...)

[2016-01-12 02:43] nitriques commented on #2540
Yes please add it to [the wiki](https://github.com/symphonycms/symphony-2/wiki)

I think you can merge both of your files into a single one ! And add the entry on the wiki home page !!

You should have access to it.

[2016-01-12 08:48] tigerboy07 commented on #2536
Hi nitriques,

Just now  submitted detail on team@getsymphony.com.Please go through it.

It will help you to reproduce the issue. Sorry for delay.

Thanks

[2016-01-12 11:49] michael-e commented on #2540
Will do.

[2016-01-12 13:01] twiro commented on #2499
You're right, it's only used by javascript - but the script uses the `value`-attribute to show the matching help-text for the currently selected comparison mode. This doesn't work with multiple options that share the same value.

I could have changed the script that does the matching and use the actual readable content/title of each selectbox option as unique identifier, but using a unique value a

[2016-01-14 18:01] nitriques commented on #2536
@tigerboy07 I'll have a SMTP running soon on that domain and I'll check this out.

[2016-01-14 18:01] nitriques commented on #2540
Thanks!

[2016-01-14 18:02] nitriques commented on #2499
Oooo! I'd rather see the value be the url part and the data-attribute to be used a the help text!

[2016-01-14 18:07] tigerboy07 commented on #2536
OK Nicolas.

On Thu, Jan 14, 2016 at 11:31 PM, Nicolas Brassard <notifications@github.com

--
Best Regards,

*Sachin Wagh*
Security Consultant
m: +91 75 888 644 81
w:  secur1tyadvisory.wordpress.com

[2016-01-18 15:53] michael-e opened #2541 "Updater fails to fix Date Fields"
There must have been a change in the Date Field somewhere between Symphony 2.3.6 anbd 2.6.5. Now, the `pre_populate` column can contain words like "now" and must be left empty if you don't want to pre-populate.

I updated some websites, and the former values "yes" and "no" were left in the database fields. Both will result in the current date being populated.

The updater should remove "no" values

[2016-01-18 21:26] nitriques commented on #2541
@michael-e could you find the exact version where this breakage occurred ? I'll try to fix it.

[2016-01-18 21:51] michael-e commented on #2541
Here it is: https://github.com/symphonycms/symphony-2/blob/master/install/migrations/2.4.0.php#L54

[2016-01-18 21:57] nitriques commented on #2541
Thanks! Should we patch the 2.4.0 file ? Or do it in a new release ?

[2016-01-18 22:43] michael-e commented on #2541
Best would be both. :-)

* For 2.4.0 migration, do the right stuff.
* For the next release, check if it has been done right; if not, do it .

[2016-01-18 22:47] nitriques commented on #2541
Hum I do not see any problems with doing it twice, but I do not like the code duplication...

[2016-01-18 22:51] michael-e commented on #2541
If you want to be sure that it works for everybody, hmmm…

BTW, it was @brendo: https://github.com/symphonycms/symphony-2/commit/28afcf4dc95a93ca55cdf9c8d22f3b6dc0a73c74

[2016-01-18 22:54] nitriques commented on #2541
Interesting...

[2016-01-19 01:30] brendo commented on #2541
Hmm, the update is a little dodgy, but as the comments suggest on the commit the field goes to handle the old values. What I didn't account for was `no` :(

[2016-01-19 01:42] michael-e commented on #2541
No prob, mate. Most of the time I run into this little quirks. :-))

[2016-01-20 18:27] michael-e commented on #2540
Done: https://github.com/symphonycms/symphony-2/wiki/Email-in-Symphony

I also added a link to the wiki's homepage. I didn't know where to put it, so I created a completely new section. Please feel free to improve this.

[2016-01-20 18:28] #2540 closed

[2016-01-22 11:45] cmnstmntmn opened #2542 "Readonly dashboard authors"
as an enhancement, there would be great to limit user's access to sections entries,
per section or globally; as is implemented in [django admin](http://i.stack.imgur.com/hnXei.png).

[2016-01-22 11:57] jonmifsud commented on #2542
There is an extension which does take care of Author roles, I'm aware it might be due some love. If you're in urgent need for this ping me within the coming weeks, to see your exact needs and if the extension covers your needs as is.

[2016-01-22 14:41] michael-e opened #2543 "Deprecate DynamicXMLDatasource?"
Maybe I have overseen something, but shouldn't the DynamicXMLDatasource (`/symphony/lib/toolkit/data-sources/class.datasource.dynamic_xml.php`) be deprecated? It isn't used in Symphony anymore, because this functionality has been superseded by the Remote Datasource extension.

[2016-01-22 15:02] jonmifsud commented on #2543
I second Michael's suggestion - I don't think we want to keep it as a
legacy component indefinitely

On Fri, 22 Jan 2016 at 15:41 michael-e <notifications@github.com> wrote:

[2016-01-22 17:31] andrewminton commented on #2542
I've updated Author Roles and there is a pull request in discussion at the moment to fix a little bug. I have it working on 2.6.4 locally.

[2016-01-22 17:42] twiro commented on #2499
[I changed it!](https://github.com/symphonycms/symphony-2/compare/master...twiro:publish-filter-data-attributes?expand=1)
Now the filter "title" is used as unique identifier via `data-comparison`-attribute while the actual filter "value/prefix" (for constructing the url-filtering-params) is used as the `value`-attribute in the comparison mode selectboxes.

The result (for the default input field)